openapi: 3.2.0
info:
  title: Mesh Policy Engine Policy Based Access Control Privilege API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Policy Based Access Control Privilege
paths:
  /security/pbac/create-privileges:
    post:
      description: 'Roles allowed: entitlements-manager'
      operationId: createPrivileges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PbacPrivilegeRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Add new privileges for a role
      tags:
      - Policy Based Access Control Privilege
  /security/pbac/delete-privileges:
    post:
      description: 'Roles allowed: entitlements-manager'
      operationId: deletePrivileges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PbacPrivilegeRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete privileges for a role
      tags:
      - Policy Based Access Control Privilege
  /security/pbac/privileges/entities:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getPrivilegesForEntity
      parameters:
      - in: query
        name: entityType
        required: true
        schema:
          enum:
          - MPM_MANAGER
          type: string
      - in: query
        name: entityId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get privileges for an entity
      tags:
      - Policy Based Access Control Privilege
  /security/pbac/privileges/roles/{id}:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getPrivilegesForRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get privileges for a role
      tags:
      - Policy Based Access Control Privilege
  /security/pbac/privileges/users:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getPrivilegesForUserForEntityType
      parameters:
      - in: query
        name: userId
        required: true
        schema:
          type: string
      - in: query
        name: entityType
        required: true
        schema:
          enum:
          - MPM_MANAGER
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get privileges for user
      tags:
      - Policy Based Access Control Privilege
  /security/pbac/privileges/users/{userId}/entities:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getPrivilegesForUserForEntity
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      - in: query
        name: entityType
        required: true
        schema:
          enum:
          - MPM_MANAGER
          type: string
      - in: query
        name: entityId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get privileges for user for entity
      tags:
      - Policy Based Access Control Privilege
components:
  schemas:
    PbacPrivilegeRequest:
      properties:
        action:
          enum:
          - READ
          - WRITE
          type: string
        entityIds:
          items:
            format: uuid
            type: string
          properties:
            empty:
              type: boolean
          type: array
        entityType:
          enum:
          - MPM_MANAGER
          type: string
        roleId:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
