openapi: 3.2.0
info:
  description: Service for managing API keys and tokens
  title: Key Management Service v2 API Keys API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/api-token.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/api-token.yaml
servers:
- url: https://api.int.security.cisco.com/v1/api/applications
tags:
- name: ApiKeys
paths:
  /apiKeys:
    get:
      description: Fetch a list of API keys associated with the enterprise using a valid PIAM token. This API is accessible only to enterprise administrators.
      operationId: getApiKeys
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: List of all API keys for the enterprise
        '401':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Unauthorized - Invalid PIAM token
      security:
      - bearerAuth: []
      summary: Retrieve all API keys
      tags:
      - ApiKeys
    post:
      description: Generate a new API key for the enterprise with specific permissions using a valid PIAM token. This API is accessible only to enterprise administrators.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API key created
        '400':
          description: Invalid request
        '401':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Unauthorized - Invalid PIAM token
      security:
      - bearerAuth: []
      summary: Create a new API key
      tags:
      - ApiKeys
  /apiKeys/{apiKeyId}:
    delete:
      description: Delete a specific API key using a valid PIAM token. This API is accessible only to enterprise administrators.
      operationId: deleteApiKey
      parameters:
      - description: ID of the API key to delete
        in: path
        name: apiKeyId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Api key deleted
        '401':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrorResponse'
                type: array
          description: Unauthorized - Invalid PIAM token
        '404':
          description: API key not found
      security:
      - bearerAuth: []
      summary: Remove an API key
      tags:
      - ApiKeys
components:
  schemas:
    ApiKey:
      properties:
        createdDate:
          description: The date and time when the API key was created.
          format: date-time
          type: string
        creatorUserEmail:
          description: The email address of the user who created the API key.
          type: string
        cuiMachineAccountId:
          description: The unique identifier for the CUI machine account.
          type: string
        cuiMachineAccountName:
          description: The name of the CUI machine account.
          type: string
        description:
          description: A brief description of the API key.
          type: string
        keyExpiresAt:
          description: The expiration date and time of the API key.
          type: string
        lastModifiedDate:
          description: The date and time when the API key was last modified.
          format: date-time
          type: string
        lastRefreshed:
          description: The date and time when the API key was last refreshed.
          type: string
        lastUsed:
          description: The date and time when the API key was last used.
          format: date-time
          type: string
        piamOrgId:
          description: The organization ID in PIAM.
          type: string
        refreshExpiresAt:
          description: The expiration date and time of the refresh token.
          type: string
        tokenExpiresAt:
          description: The expiration date and time of the token.
          type: string
      type: object
    CreateApiKeyResponse:
      properties:
        accessToken:
          description: The access token generated for the API key.
          type: string
        cuiMachineAccountId:
          description: The unique identifier for the CUI machine account.
          type: string
        refreshToken:
          description: The refresh token generated for the API key.
          type: string
      type: object
    ErrorResponse:
      properties:
        message:
          description: A descriptive error message.
          type: string
        timestamp:
          description: The timestamp of when the error occurred in ISO 8601 format.
          format: date-time
          type: string
        trackingId:
          description: A unique identifier for tracking the error.
          format: uuid
          type: string
      required:
      - trackingId
      - message
      - timestamp
      type: object
    CreateApiKeyRequest:
      properties:
        apiKeyName:
          description: The name of the API key to be created.
          type: string
        description:
          description: A brief description of the API key.
          type: string
        permissions:
          description: A list of permissions to be assigned to the API key.
          items:
            $ref: '#/components/schemas/Permission'
          type: array
      type: object
    Permission:
      properties:
        applicationScopeIds:
          description: A list of application scope IDs associated with the role.
          items:
            type: string
          type: array
        product:
          description: The product associated with the role.
          type: string
        productInstanceId:
          description: The instance ID of the product.
          type: string
        productKey:
          description: The key of the product associated with the role.
          type: string
        roleDisplayName:
          description: The display name of the role.
          type: string
        roleId:
          description: The unique identifier for the role.
          type: string
        roleName:
          description: The name of the role.
          type: string
        roleType:
          description: The type of the role, either static or custom.
          enum:
          - static
          - custom
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
