openapi: 3.2.0
info:
  title: Cisco Secure Firewall Status API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Status across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 3/3
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Status
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/job/taskstatuses:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get information about pending jobs or tasks.**'
      operationId: getAllTaskStatus
      parameters:
      - description: Filter criteria can be specified using the format <code>type:{type};status:{status};</code>. <br/><br/><code>type</code> -- Type of task to be returned. It is mandatory field. Allowed values are <code>"{Deployment | Registration | Unregistration | PendingChangesRequest | DEVICE_BACKUP}"</code>. <br/><br/><code>status</code> -- Filter based on the status of the task. It is mandatory field.<br/><br/>&emsp;Allowed values for <code>Deployment</code> task are <code>"{Deploying | Cancelled | Failed | Succeeded}"</code>.<br/><br/>&emsp;Allowed values for <code>Registration</code> task are <code>"{Pending | Running | Success | Failed}"</code>.<br/><br/>&emsp;Allowed values for <code>Unregistration</code> task are <code>"{Running | Success | Failed}"</code>.<br/>&emsp;Allowed values for <code>PendingChangesRequest</code> task are <code>"{Running | Success | Failed}"</code>.<br/>&emsp;Allowed values for <code>DEVICE_BACKUP</code> task are <code>"{Running | Success | Failed | Cancelled}"</code>.
        in: query
        name: filter
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Status
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/job/taskstatuses/{objectId}:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get information about a previously submitted pending job or task with the specified ID.**'
      operationId: getTaskStatus
      parameters:
      - description: UUID of the job or task.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: 'Boolean indicating whether to show the detailed status for the device for type : DEVICE_DEPLOYMENT and DEVICE_ROLLBACK'
        in: query
        name: showDetailedDeviceStatus
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/job/taskstatuses/taskID ( GET a specific Task Status based on ID. )':
                  value:
                    description: description_about_task
                    id: taskID
                    links:
                      self: https://fmc_host_ip/api/fmc_config/v1/domain/global/job/taskstatuses/taskID
                    message: message_about_task
                    status: status_of_queried_task
                    taskType: valid_enum
                    type: TaskStatus
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/job/taskstatuses/taskID ( GET the Device Export-Import Task Status based on ID. )'
                : value:
                    description: description_about_task
                    id: taskID
                    links:
                      self: https://fmc_host_ip/api/fmc_config/v1/domain/global/job/taskstatuses/taskID
                    message: message_about_task
                    metadata:
                      checksum: d1dbda73ea77be90ae511fc7a3b633e9144eb084b97644d1a4384bb1bcf3b06e
                      downloadUrl: /importExport/device/download.cgi?type=import/export&id=task-id
                    status: COMPLETED/RUNNING/FAILED
                    subTasks:
                    - message: message_about_subtask
                      status: SUCCESS/FAILED/PENDING
                      target:
                        id: DeviceUUID1
                        type: Device
                    taskType: DeviceImport/DeviceExport
                    type: DeviceImportExportTaskStatus
              schema:
                $ref: '#/components/schemas/TaskStatus'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Status
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/job/taskstatuses/{objectId}/operational/downloadreports:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Create a request to download the reports generated as a part of the task.**'
      operationId: getTaskDownloadReport
      parameters:
      - description: ID of the task.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDownloadReportListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Status
components:
  schemas:
    IDomain:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    IReadonly:
      properties:
        reason:
          enum:
          - RBAC
          - SYSTEM
          - DOMAIN
          type: string
        state:
          type: boolean
      type: object
    PagingContainer:
      properties:
        count:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
      type: object
    TaskDownloadReport:
      properties: {}
      type: object
    TaskStatusListContainer:
      properties:
        items:
          $ref: '#/components/schemas/TaskStatus'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ILinks:
      description: This defines the self referencing links for the given resource.
      properties:
        parent:
          description: Full resource URL path to reference the parent (if any) for this resource.
          type: string
        self:
          description: Full resource URL path to reference this particular resource.
          type: string
      type: object
    ErrorMessagesContainer:
      properties:
        bulkPayloadIndex:
          description: More details about the error.
          type: string
        code:
          description: More details about the error.
          type: string
        description:
          description: More details about the error.
          type: string
        details:
          description: More details about the error.
          type: string
        errorCode:
          description: More details about the error.
          type: string
        location:
          description: More details about the error.
          type: string
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    TaskDownloadReportListContainer:
      properties:
        items:
          $ref: '#/components/schemas/TaskDownloadReport'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ITarget:
      description: This is the target device.
      properties:
        description:
          type: string
        id:
          description: Unique ID of the device.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          description: Name of the device.
          type: string
        type:
          description: Device
          type: string
        version:
          type: string
      type: object
    ErrorResponse:
      properties:
        category:
          description: Describes the category of the error thrown.
          enum:
          - FRAMEWORK
          - OTHER
          - VALIDATION
          type: string
        messages:
          description: List of error messages which the response has.
          items:
            $ref: '#/components/schemas/ErrorMessagesContainer'
            type: object
          type: array
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    TaskStatus:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        showDetailedDeviceStatus:
          type: string
        status:
          type: string
        subTasks:
          items:
            $ref: '#/components/schemas/ISubTask'
            type: object
          type: array
        taskType:
          enum:
          - DEVICE_REGISTRATION
          - SMART_LICENSE
          - DEVICE_DEPLOYMENT
          - DEVICE_ROLLBACK
          - NGFWHA_OPERATIONS
          - COPY_CONFIG_REQUEST
          - HIT_COUNT_REFRESH
          - FTD_CLUSTER_BOOTSTRAP
          - FTD_CLUSTER_CREATE
          - FTD_CLUSTER_BREAK
          - FTD_CLUSTER_ADD_NODES
          - FTD_CLUSTER_REMOVE_NODES
          - DEVICE_BACKUP
          - FTD_CLUSTER_UPDATE_BOOTSTRAP
          - FTD_CLUSTER_COMMAND
          - SSP_EPM_OIR
          - SSP_EPM_BREAKOUT_DEPLOY
          - DEVICE_EXPORT
          - DEVICE_IMPORT
          - POLICY_EXPORT
          - CHASSIS_REGISTRATION
          - CHANGE_MANAGER
          - CONFIGURE_DEVICE_VALIDATE
          - CONFIGURE_DEVICE
          - CONFIGURE_MANAGER
          - CONFIGURE_MANAGER_ADD
          - CONFIGURE_MANAGER_DELETE
          - INITIATE_MIGRATION
          - DISCARD_MIGRATION
          - SWITCH_TO_ANALYTICS
          - DELETE_DEVICE
          - GENERATE_REPORTS
          - FLEXCONFIG_MIGRATION
          - DEVICE_UNREGISTRATION
          - PENDING_CHANGES_REQUEST
          - DEVICE_TROUBLESHOOT
          - DEVICE_MODEL_MIGRATION
          - DEVICE_TEMPLATE_CREATION
          - CHASSIS_CONVERSION_REQUEST
          - SNORT_PROFILER
          - CPU_PROFILER
          - POLICY_REPORT_GENERATION
          - DEVICE_TEMPLATE_APPLY
          - LTP_ONBOARDING
          - POLICY_CLONE_OPERATION
          - DEVICE_CERTIFICATE_MANAGEMENT
          - OOB_CHANGES_REQUEST
          - UPLOAD_TROUBLESHOOT
          type: string
        type:
          type: string
      type: object
    IMetadataUser:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    IMetadata:
      properties:
        domain:
          $ref: '#/components/schemas/IDomain'
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/IMetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/IReadonly'
          type: object
        timestamp:
          format: int32
          type: integer
      type: object
    ISubTask:
      properties:
        description:
          type: string
        id:
          type: string
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        status:
          type: string
        target:
          $ref: '#/components/schemas/ITarget'
          type: object
      type: object
  parameters:
    offset:
      description: Index of first item to return.
      in: query
      name: offset
      required: false
      schema:
        format: int32
        type: integer
    domainUUID:
      description: Domain UUID
      in: path
      name: domainUUID
      required: true
      schema:
        type: string
    expanded:
      description: If set to true, the GET response displays a list of objects with additional attributes.
      in: query
      name: expanded
      required: false
      schema:
        type: boolean
    limit:
      description: Number of items to return.
      in: query
      name: limit
      required: false
      schema:
        format: int32
        type: integer
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-refined-from:
- cdfmc-openapi.yaml
- cisco-secure-firewall-cdfmc-openapi.yml
