openapi: 3.2.0
info:
  title: Cisco Secure Firewall Devices API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Devices across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml.
    Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 223/223
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Devices
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/certificates:
    get:
      deprecated: false
      description: '**Get a list of all the certificates enrolled in devices.**'
      operationId: getDeviceCertificateModel
      parameters:
      - description: Filter by <code>deviceId</code> or filter by <code>expiryInDays</code>. When filtering by <code>deviceId:{id}</code>,
          lists all certificates enrolled on the given device. If filtering by <code>expiryInDays:{number of days}</code>,
          lists only the certificates which will expire within the given number of days.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCertificateModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/certificatesexportdata/{objectId}:
    get:
      deprecated: false
      description: '**Get the exported certificate for download.**'
      operationId: getDeviceCertificateExportData
      parameters:
      - description: Unique identifier for the task.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCertificateExportData'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/copyconfigrequests:
    post:
      deprecated: false
      description: '**Copy device configuration. _Check the response section for applicable examples (if any)._**'
      operationId: createDeviceCopyConfigRequest
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/DomainUUID/devices/copyconfigrequests ( Device copy config request )':
                value:
                  copySharedPolicies: false
                  sourceDevice:
                    id: device_uuid
                    type: Device
                  targetDeviceList:
                  - id: device_uuid
                    type: Device
              ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/devices/copyconfigrequests ( Device copy config request
                for FTD HA to stanalone devices )'
              : value:
                  copySharedPolicies: false
                  sourceDevice:
                    id: container_uuid
                    type: DeviceHAPair
                  targetDeviceList:
                  - id: device_uuid
                    type: Device
            schema:
              $ref: '#/components/schemas/DeviceCopyConfigRequest'
              type: object
        description: Input for Copy configuration request.
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                'Example 1 : POST /fmc_config/v1/domain/DomainUUID/devices/copyconfigrequests ( Device copy config request )':
                  value:
                    copySharedPolicies: false
                    metadata:
                      task:
                        id: task_id
                        links:
                          self: https://fmc_host/api/fmc_config/v1/domain/domainUuid/job/taskstatuses/task_id
                        type: TaskStatus
                    sourceDevice:
                      id: device_uuid
                      type: Device
                    targetDeviceList:
                    - id: device_uuid
                      type: Device
                    type: CopyConfigRequest
                ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/devices/copyconfigrequests ( Device copy config request
                  for FTD HA to stanalone devices )'
                : value:
                    copySharedPolicies: false
                    metadata:
                      task:
                        id: task_id
                        links:
                          self: https://fmc_host/api/fmc_config/v1/domain/domainUuid/job/taskstatuses/task_id
                        type: TaskStatus
                    sourceDevice:
                      id: container_uuid
                      type: DeviceHAPair
                    targetDeviceList:
                    - id: device_uuid
                      type: Device
                    type: CopyConfigRequest
              schema:
                $ref: '#/components/schemas/DeviceCopyConfigRequest'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords:
    get:
      deprecated: false
      description: '**Get the list of all device records.**'
      operationId: getAllDevice
      parameters:
      - description: 'Filter to retrieve all device records based upon filter parameters specified. <br/><br/>Filter criteria
          should be <code>name:{name};isUZTNAEnabled:{true|false};hostName:{hostName};serialNumber:{ABCXXXXX};containerType:{value};version:{x.x.x};clusterBootstrapSupported:{true|false};analyticsOnly:{true|false};includeOtherAssociatedPolicies:{true|false};modelType:{NGFW|Chassis};isMCDManaged:{true|false}</code><br/><br/><code>containerType</code>
          -- Allowed values are <code>{DeviceCluster|DeviceHAPair|DeviceStack}</code><br/><br/><code>clusterBootstrapSupported</code>
          -- Allowed values are <code>{true|false}</code><br/><br/><code>analyticsOnly</code> -- Allowed values are <code>{true|false}</code><br/><br/><code>modelType</code>
          -- Allowed values are <code>{NGFW|Chassis}</code>. <code>NGFW</code> fetches all NGFW devices. <code>Chassis</code>
          fetches all FXOS chassis (also known as MIO). If you don''t specify the type, then all devices and chassis are fetched.</br></br><code>includeOtherAssociatedPolicies</code>
          -- Allowed values are <code>{true|false}</code>. When set to <code>true</code>, will give following policies if
          assigned to device: [<code>RAVpn</code>,<code>FTDS2SVpn</code>,<code>PlatformSettingsPolicy</code>,<code>QosPolicy</code>,<code>NatPolicy</code>,<code>FlexConfigPolicy</code>]<br/><br/><code>isMCDManaged</code>
          -- Allowed values are <code>{true|false}</code>'
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/devices/devicerecords ( Get all paginated network
                  objects without offset and limit )'
                : {}
              schema:
                $ref: '#/components/schemas/DeviceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/bridgegroupinterfaces:
    get:
      deprecated: false
      description: '**Get the list of all bridge group interfaces associated with the specified NGFW device ID. <div class="alert
        alert-warning">More details on netmod events(out of sync interfaces):<b> GET /interfaceevents</b></div>.**'
      operationId: getAllFTDBridgeGroupInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - id: '1'
                      links:
                        self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID1
                      name: s1p3.1
                      type: BridgeGroupInterface
                    - id: bridgegroupinterfaceUUID2
                      links:
                        self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID2
                      name: s1p4.2
                      type: BridgeGroupInterface
                    - id: bridgegroupinterfaceUUID3
                      links:
                        self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID3
                      name: hybrid_1
                      type: BridgeGroupInterface
                    links:
                      self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces?offset=0&limit=3
                    paging:
                      count: 3
                      limit: 3
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID?expanded=true
                  ( Success: Test GET ALL success with expanded=true )'
                : value:
                    items:
                    - MTU: 1500
                      applicationMonitoring:
                        enable: true
                      bridgeGroupId: 1
                      enabled: true
                      id: bridgegroupinterfaceUUID1
                      ifname: BVI1
                      ipAddress: 1.2.3.4
                      ipv4:
                        static:
                          address: 1.2.3.4
                          netmask: '25'
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID1
                      managementOnly: false
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814174120.0
                      mode: NONE
                      name: BVI1
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet0/1
                        type: PhysicalInterface
                      type: BridgeGroupInterface
                    - MTU: 1500
                      applicationMonitoring:
                        enable: true
                      bridgeGroupId: 2
                      enabled: true
                      id: bridgegroupinterfaceUUID2
                      ifname: BVI2
                      ipAddress: 1.2.3.4
                      ipv4:
                        static:
                          address: 1.2.3.4
                          netmask: '25'
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID2
                      managementOnly: false
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814174120.0
                      mode: NONE
                      name: BVI2
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet0/2
                        type: PhysicalInterface
                      type: BridgeGroupInterface
                    links:
                      self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID?offset=0&limit=2
              schema:
                $ref: '#/components/schemas/FTDBridgeGroupInterfaceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    post:
      deprecated: false
      description: '**Create a bridge group interface. _Check the response section for applicable examples (if any)._**'
      operationId: createFTDBridgeGroupInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FTDBridgeGroupInterface'
              type: object
        description: The input bridge group interface model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FTDBridgeGroupInterface'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/bridgegroupinterfaces/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the bridge group interface associated with the specified NGFW device ID and interface ID. _Check
        the response section for applicable examples (if any)._**'
      operationId: deleteFTDBridgeGroupInterface
      parameters:
      - description: Unique identifier of a bridge group interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgeGroupIntfUUID
                  ( Success: Test DELETE method for bridge group interface )'
                : value:
                    MTU: 1500
                    bridgeGroupId: 39
                    enabled: true
                    id: bridgeGroupIntfUUID
                    ifname: bridgeGroupIntf1
                    ipAddress: 1.2.3.5
                    ipv4:
                      static:
                        address: 1.2.3.5
                        netmask: '25'
                    ipv6:
                      addresses:
                      - address: '9090::'
                        prefix: '12'
                      dadAttempts: 1
                      enableIPV6DadLoopbackDetect: true
                      nsInterval: 10000
                      reachableTime: 0
                    links:
                      self: <fmc_host>:<port>/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgeGroupIntfUUID
                    managementOnly: false
                    metadata:
                      timestamp: 0
                    pathMonitoring:
                      enable: true
                      monitoredIp: string
                      type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                    selectedInterfaces:
                    - id: interface UUID
                      name: GigabitEthernet0/0
                      type: PhysicalInterface
                    type: BridgeGroupInterface
              schema:
                $ref: '#/components/schemas/FTDBridgeGroupInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    get:
      deprecated: false
      description: '**Get the bridge group interface associated with the specified NGFW device ID and interface ID.**'
      operationId: getFTDBridgeGroupInterface
      parameters:
      - description: Unique identifier of a bridge group interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID
                  ( Success: Test GET method for brdge group interface )'
                : value:
                    MTU: 1500
                    applicationMonitoring:
                      enable: true
                      monitoredApplications:
                      - id: '2325'
                        name: 050plus
                        type: Application
                      - id: '1553'
                        name: 1&1 Internet
                        type: Application
                    bridgeGroupId: 39
                    enabled: true
                    id: bridgegroupinterfaceUUID
                    ifname: bridgeGroupIntf1
                    ipAddress: 1.2.3.4
                    ipv4:
                      static:
                        address: 1.2.3.4
                        netmask: '25'
                    links:
                      self: /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgegroupinterfaceUUID
                    managementOnly: false
                    metadata:
                      domain:
                        id: DomainUUID
                        name: Global
                        type: domain
                      lastUser:
                        id: UserUUID
                        name: admin
                        type: user
                      readOnly:
                        state: false
                      timestamp: 1458597038.0
                    pathMonitoring:
                      enable: true
                      monitoredIp: string
                      type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                    selectedInterfaces:
                    - id: interface UUID
                      name: GigabitEthernet0/1
                      type: PhysicalInterface
                    type: BridgeGroupInterface
              schema:
                $ref: '#/components/schemas/FTDBridgeGroupInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    put:
      deprecated: false
      description: '**Modify the bridge group interface associated with the specified NGFW device ID and interface ID. _Check
        the response section for applicable examples (if any)._**'
      operationId: updateFTDBridgeGroupInterface
      parameters:
      - description: Unique identifier of a bridge group interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgeGroupIntfUUID
                ( Success: Test PUT method for bridge group interface )'
              : value:
                  MTU: 1500
                  bridgeGroupId: 39
                  enabled: true
                  id: bridgeGroupIntfUUID
                  ifname: bridgeGroupIntf1
                  ipAddress: 1.2.3.5
                  ipv4:
                    static:
                      address: 1.2.3.5
                      netmask: '25'
                  ipv6:
                    addresses:
                    - address: '9090::'
                      prefix: '12'
                    dadAttempts: 1
                    enableIPV6DadLoopbackDetect: true
                    nsInterval: 10000
                    reachableTime: 0
                  managementOnly: false
                  pathMonitoring:
                    enable: true
                    monitoredIp: string
                    type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                  selectedInterfaces:
                  - id: interface UUID
                    name: GigabitEthernet0/0
                    type: PhysicalInterface
                  type: BridgeGroupInterface
            schema:
              $ref: '#/components/schemas/FTDBridgeGroupInterface'
              type: object
        description: Input representation of bridge group interface.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgeGroupIntfUUID
                  ( Success: Test PUT method for bridge group interface )'
                : value:
                    MTU: 1500
                    applicationMonitoring:
                      enable: false
                    bridgeGroupId: 39
                    enabled: true
                    id: bridgeGroupIntfUUID
                    ifname: bridgeGroupIntf1
                    ipAddress: 1.2.3.5
                    ipv4:
                      static:
                        address: 1.2.3.5
                        netmask: '25'
                    ipv6:
                      addresses:
                      - address: '9090::'
                        prefix: '12'
                      dadAttempts: 1
                      enableIPV6DadLoopbackDetect: true
                      nsInterval: 10000
                      reachableTime: 0
                    links:
                      self: <fmc_host>:<port>/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/bridgegroupinterfaces/bridgeGroupIntfUUID
                    managementOnly: false
                    metadata:
                      timestamp: 0
                    pathMonitoring:
                      enable: true
                      monitoredIp: string
                      type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                    selectedInterfaces:
                    - id: interface UUID
                      name: GigabitEthernet0/0
                      type: PhysicalInterface
                    type: BridgeGroupInterface
              schema:
                $ref: '#/components/schemas/FTDBridgeGroupInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/ddnssettings:
    get:
      deprecated: false
      description: '**Get all DNS settings for a particular chassis platform settings policy.**'
      operationId: getAllDeviceDDNSSettingModel
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDDNSSettingModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/ddnssettings/{objectId}:
    get:
      deprecated: false
      description: '**Get the DNS setting associated with the specified ID for a particular chassis platform settings policy.**'
      operationId: getDeviceDDNSSettingModel
      parameters:
      - description: Unique identifier of the DNS setting.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/ddnssettings
                  ( GET Device DDNSSettings )'
                : value:
                    items:
                    - ddnsUpdateMethods:
                      - methodName: ddnsMethod
                        methodOption: DDNS
                        updateInterval:
                          day: '23'
                          hourOfTheDay: '23'
                          minute: '23'
                          second: '23'
                        updateRecords: BOTH_A_AND_PTR_RECORDS
                      dhcpClientIdInterfaces:
                      - id: 00505681-56C3-0ed3-0000-004294967652
                        links:
                          self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/PhysicalInterface/deviceId
                        name: gig0
                        type: PhysicalInterface
                      dhcpClientRequestType: NOT_SELECTED
                      dynamicDDNSUpdateType: NOT_SELECTED
                      enableDHCPClientBroadcast: false
                      id: deviceId
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/ddnssettings/deviceId
                      overrideDHCPClientRequest: false
                      type: DDNSSettings
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/ddnssettings?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceDDNSSettingModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    put:
      deprecated: false
      description: '**Modify the DNS setting associated with the specified ID for a particular chassis platform settings policy.
        _Check the response section for applicable examples (if any)._**'
      operationId: updateDeviceDDNSSettingModel
      parameters:
      - description: Unique identifier of the DNS setting.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/ddnssettings/deviceUUID
                ( PUT request to update DDNS Settings )'
              : value:
                  ddnsUpdateMethods:
                  - methodName: ddnsMethod
                    methodOption: DDNS
                    updateInterval:
                      day: '23'
                      hourOfTheDay: '23'
                      minute: '23'
                      second: '23'
                    updateRecords: BOTH_A_AND_PTR_RECORDS
                  dhcpClientIdInterfaces:
                  - id: 00505681-56C3-0ed3-0000-004294967652
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/PhysicalInterface/deviceId
                    name: gig0
                    type: PhysicalInterface
                  dhcpClientRequestType: NOT_SELECTED
                  dynamicDDNSUpdateType: NOT_SELECTED
                  enableDHCPClientBroadcast: false
                  id: deviceId
                  overrideDHCPClientRequest: false
                  type: DDNSSettings
            schema:
              $ref: '#/components/schemas/DeviceDDNSSettingModel'
              type: object
        description: Input representation of dynamic DNS policy.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/ddnssettings/deviceUUID
                  ( PUT request to update DDNS Settings )'
                : value:
                    ddnsUpdateMethods:
                    - methodName: ddnsMethod
                      methodOption: DDNS
                      updateInterval:
                        day: '23'
                        hourOfTheDay: '23'
                        minute: '23'
                        second: '23'
                      updateRecords: BOTH_A_AND_PTR_RECORDS
                    dhcpClientIdInterfaces:
                    - id: 00505681-56C3-0ed3-0000-004294967652
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/PhysicalInterface/deviceId
                      name: gig0
                      type: PhysicalInterface
                    dhcpClientRequestType: NOT_SELECTED
                    dynamicDDNSUpdateType: NOT_SELECTED
                    enableDHCPClientBroadcast: false
                    id: deviceId
                    overrideDHCPClientRequest: false
                    type: DDNSSettings
              schema:
                $ref: '#/components/schemas/DeviceDDNSSettingModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/dhcprelaysettings:
    get:
      deprecated: false
      description: '**Get a list of DHCP relay settings.**'
      operationId: getAllDeviceDHCPRelaySettings
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDHCPRelaySettingsListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/dhcprelaysettings/{objectId}:
    get:
      deprecated: false
      description: '**Get the DHCP relay settings associated with the specified device.**'
      operationId: getDeviceDHCPRelaySettings
      parameters:
      - description: Unique identifier of Device. Same as container UUID.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceUUID
                  ( GET Device DHCPRelaySettings by Device ID )'
                : value:
                    items:
                    - dhcpRelayAgent:
                      - enableDHCPIPv4Relay: true
                        enableDHCPIPv6Relay: false
                        interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig0
                          type: PhysicalInterface
                        setRoute: true
                      dhcpRelayServers:
                      - interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig1
                          type: PhysicalInterface
                        server:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: Server
                          type: Host
                      id: deviceId
                      ipv4TimeoutInSec: 100
                      ipv6TimeoutInSec: 200
                      isTrustAllInformation: 'true'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceId
                      type: DHCPRelaySettings
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceUUID?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings
                  ( GET Device DHCP Relay Settings )'
                : value:
                    items:
                    - dhcpRelayAgent:
                      - enableDHCPIPv4Relay: true
                        enableDHCPIPv6Relay: false
                        interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig0
                          type: PhysicalInterface
                        setRoute: true
                      dhcpRelayServers:
                      - interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig1
                          type: PhysicalInterface
                        server:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: Server
                          type: Host
                      id: deviceId
                      ipv4TimeoutInSec: 100
                      ipv6TimeoutInSec: 200
                      isTrustAllInformation: 'true'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceId
                      type: DHCPRelaySettings
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceDHCPRelaySettings'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    put:
      deprecated: false
      description: '**Modify the specified DHCP relay settings. _Check the response section for applicable examples (if any)._**'
      operationId: updateDeviceDHCPRelaySettings
      parameters:
      - description: Unique identifier of Device. Same as container UUID.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceUUID
                ( PUT request to update DHCP relay Settings )'
              : value:
                  dhcpRelayAgent:
                  - enableIPv4Relay: true
                    enableIPv6Relay: false
                    interfaces:
                      id: 00505681-5A11-0ed3-0000-008589934657
                      name: basic
                      type: PhysicalInterface
                    setRoute: true
                  dhcpRelayServers:
                  - interface:
                      id: 00505681-56C3-0ed3-0000-004294967652
                      name: gig1
                      type: PhysicalInterface
                    server:
                      id: 00505681-56C3-0ed3-0000-004294967652
                      name: Server
                      type: Host
                  id: deviceId
                  ipv4TimeoutInSec: 100
                  ipv6TimeoutInSec: 200
                  isTrustAllInformation: 'true'
                  type: DHCPRelaySettings
            schema:
              $ref: '#/components/schemas/DeviceDHCPRelaySettings'
              type: object
        description: Input representation of Device DHCP Relay policy object.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceUUID
                  ( PUT request to update DHCP relay Settings )'
                : value:
                    items:
                    - dhcpRelayAgent:
                      - enableDHCPIPv4Relay: true
                        enableDHCPIPv6Relay: false
                        interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig0
                          type: PhysicalInterface
                        setRoute: true
                      dhcpRelayServers:
                      - interface:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: gig0
                          type: PhysicalInterface
                        server:
                          id: 00505681-56C3-0ed3-0000-004294967652
                          name: host122
                          type: Host
                      id: deviceId
                      ipv4TimeoutInSec: 100
                      ipv6TimeoutInSec: 200
                      isTrustAllInformation: 'true'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings/deviceId
                      type: DHCPRelaySettings
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcprelaysettings?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceDHCPRelaySettings'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/dhcpserver:
    get:
      deprecated: false
      description: '**Get a list of DHCP server policies.**'
      operationId: getAllDeviceDHCPServerSettings
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDHCPServerSettingsListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/dhcp/dhcpserver/{objectId}:
    get:
      deprecated: false
      description: '**Get the specified DHCP server policy.**'
      operationId: getDeviceDHCPServerSettings
      parameters:
      - description: Unique identifier of Device. Same as container UUID.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                  ( GET Device DHCPServerSettings by Device ID )'
                : value:
                    items:
                    - autoConfigInterface:
                        id: 00505681-C6C9-0ed3-0000-012884902618
                        name: TEstInt
                        type: PHYSICAL
                      dhcpOptions:
                      - firstIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574898
                          name: PDNS
                          type: Host
                        optionCode: '10'
                        optionType: IP
                        secondIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574916
                          name: SDNS
                          type: Host
                      - ascii: abcd
                        optionCode: '20'
                        optionType: ASCII
                      - hex: FF
                        optionCode: '30'
                        optionType: HEX
                      dhcpServers:
                      - addressPool: 10.10.5.74-10.10.5.75
                        enableDHCP: true
                        interface:
                          id: 00505681-C6C9-0ed3-0000-073014444254
                          name: GE2
                          type: PHYSICAL
                      id: d24f056a-1efc-11ed-9dfa-f49d3d5fe4e6
                      leaseLengthInSec: '2000'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceId
                      pingTimeoutInMs: '100'
                      primaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      primaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476786
                        name: PWINS
                        type: Host
                      searchDomain: myDomain
                      secondaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                      secondaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476804
                        name: SWINS
                        type: Host
                      type: DHCPServer
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID?offset=0&limit=25&expanded=true
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                  ( GET Device DHCPServerSettings by Device ID with address pool as template variable )'
                : value:
                    items:
                    - autoConfigInterface:
                        id: 00505681-C6C9-0ed3-0000-012884902618
                        name: TEstInt
                        type: PHYSICAL
                      dhcpOptions:
                      - firstIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574898
                          name: PDNS
                          type: Host
                        optionCode: '10'
                        optionType: IP
                        secondIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574916
                          name: SDNS
                          type: Host
                      - ascii: abcd
                        optionCode: '20'
                        optionType: ASCII
                      - hex: FF
                        optionCode: '30'
                        optionType: HEX
                      dhcpServers:
                      - addressPoolVariable:
                          id: 0050568A-86DE-0ed3-0000-064424511316
                          name: ipv4_range_variable
                          type: Variable
                        enableDHCP: true
                        interface:
                          id: 00505681-C6C9-0ed3-0000-073014444254
                          name: GE2
                          type: PHYSICAL
                      id: d24f056a-1efc-11ed-9dfa-f49d3d5fe4e6
                      leaseLengthInSec: '2000'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceId
                      pingTimeoutInMs: '100'
                      primaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      primaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476786
                        name: PWINS
                        type: Host
                      searchDomain: myDomain
                      secondaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                      secondaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476804
                        name: SWINS
                        type: Host
                      type: DHCPServer
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID?offset=0&limit=25&expanded=true
                ? 'Example 3 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver (
                  GET Device DHCPServerSettings )'
                : value:
                    items:
                    - autoConfigInterface:
                        id: 00505681-C6C9-0ed3-0000-012884902618
                        name: TEstInt
                        type: PHYSICAL
                      dhcpOptions:
                      - firstIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574898
                          name: PDNS
                          type: Host
                        optionCode: '10'
                        optionType: IP
                        secondIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574916
                          name: SDNS
                          type: Host
                      - ascii: abcd
                        optionCode: '20'
                        optionType: ASCII
                      - hex: FF
                        optionCode: '30'
                        optionType: HEX
                      dhcpServers:
                      - addressPool: 10.10.5.74-10.10.5.75
                        enableDHCP: true
                        interface:
                          id: 00505681-C6C9-0ed3-0000-073014444254
                          name: GE2
                          type: PHYSICAL
                      id: d24f056a-1efc-11ed-9dfa-f49d3d5fe4e6
                      leaseLengthInSec: '2000'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceId
                      pingTimeoutInMs: '100'
                      primaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      primaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476786
                        name: PWINS
                        type: Host
                      searchDomain: myDomain
                      secondaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                      secondaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476804
                        name: SWINS
                        type: Host
                      type: DHCPServer
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
                ? 'Example 4 : GET /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver (
                  GET Device DHCPServerSettings with address pool as template variable )'
                : value:
                    items:
                    - autoConfigInterface:
                        id: 00505681-C6C9-0ed3-0000-012884902618
                        name: TEstInt
                        type: PHYSICAL
                      dhcpOptions:
                      - firstIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574898
                          name: PDNS
                          type: Host
                        optionCode: '10'
                        optionType: IP
                        secondIpAddress:
                          id: 00505681-C6C9-0ed3-0000-055834574916
                          name: SDNS
                          type: Host
                      - ascii: abcd
                        optionCode: '20'
                        optionType: ASCII
                      - hex: FF
                        optionCode: '30'
                        optionType: HEX
                      dhcpServers:
                      - addressPoolVariable:
                          id: 0050568A-86DE-0ed3-0000-064424511316
                          name: ipv4_range_variable
                          type: Variable
                        enableDHCP: true
                        interface:
                          id: 00505681-C6C9-0ed3-0000-073014444254
                          name: GE2
                          type: PHYSICAL
                      id: 357d166c-7c6d-11ee-8d26-a5ad0d3ce5d1
                      leaseLengthInSec: '2000'
                      links:
                        self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceId
                      pingTimeoutInMs: '100'
                      primaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      primaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476786
                        name: PWINS
                        type: Host
                      searchDomain: myDomain
                      secondaryDNSServer:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                      secondaryWINSServer:
                        id: 00505681-C6C9-0ed3-0000-068719476804
                        name: SWINS
                        type: Host
                      type: DHCPServer
                    links:
                      self: https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceDHCPServerSettings'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    put:
      deprecated: false
      description: '**Modify the specified DHCP server policy. _Check the response section for applicable examples (if any)._**'
      operationId: updateDeviceDHCPServerSettings
      parameters:
      - description: Unique identifier of Device. Same as container UUID.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                ( PUT request to update DHCP Server Settings )'
              : value:
                  autoConfigInterface:
                    id: 00505681-C6C9-0ed3-0000-012884902618
                    name: TEstInt
                    type: PHYSICAL
                  dhcpOptions:
                  - firstIpAddress:
                      id: 00505681-C6C9-0ed3-0000-055834574898
                      name: PDNS
                      type: Host
                    optionCode: '10'
                    optionType: IP
                    secondIpAddress:
                      id: 00505681-C6C9-0ed3-0000-055834574916
                      name: SDNS
                      type: Host
                  - ascii: abcd
                    optionCode: '20'
                    optionType: ASCII
                  - hex: FF
                    optionCode: '30'
                    optionType: HEX
                  dhcpServers:
                  - addressPool: 10.10.5.74-10.10.5.75
                    enableDHCP: true
                    interface:
                      id: 00505681-C6C9-0ed3-0000-073014444254
                      name: GE2
                      type: PHYSICAL
                  id: deviceId
                  leaseLengthInSec: '2000'
                  pingTimeoutInMs: '100'
                  primaryDNSServer:
                    id: 00505681-C6C9-0ed3-0000-055834574898
                    name: PDNS
                    type: Host
                  primaryWINSServer:
                    id: 00505681-C6C9-0ed3-0000-068719476786
                    name: PWINS
                    type: Host
                  searchDomain: myDomain
                  secondaryDNSServer:
                    id: 00505681-C6C9-0ed3-0000-055834574916
                    name: SDNS
                    type: Host
                  secondaryWINSServer:
                    id: 00505681-C6C9-0ed3-0000-068719476804
                    name: SWINS
                    type: Host
                  type: DHCPServer
              ? 'Example 2 : PUT https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                ( PUT request to update DHCP Server Settings with address pool as template variable )'
              : value:
                  autoConfigInterface:
                    id: 00505681-C6C9-0ed3-0000-012884902618
                    name: TEstInt
                    type: PHYSICAL
                  dhcpOptions:
                  - firstIpAddress:
                      id: 00505681-C6C9-0ed3-0000-055834574898
                      name: PDNS
                      type: Host
                    optionCode: '10'
                    optionType: IP
                    secondIpAddress:
                      id: 00505681-C6C9-0ed3-0000-055834574916
                      name: SDNS
                      type: Host
                  - ascii: abcd
                    optionCode: '20'
                    optionType: ASCII
                  - hex: FF
                    optionCode: '30'
                    optionType: HEX
                  dhcpServers:
                  - addressPoolVariable:
                      id: 0050568A-86DE-0ed3-0000-064424511316
                      name: ipv4_range_variable
                      type: Variable
                    enableDHCP: true
                    interface:
                      id: 00505681-C6C9-0ed3-0000-073014444254
                      name: GE2
                      type: PHYSICAL
                  id: deviceId
                  leaseLengthInSec: '2000'
                  pingTimeoutInMs: '100'
                  primaryDNSServer:
                    id: 00505681-C6C9-0ed3-0000-055834574898
                    name: PDNS
                    type: Host
                  primaryWINSServer:
                    id: 00505681-C6C9-0ed3-0000-068719476786
                    name: PWINS
                    type: Host
                  searchDomain: myDomain
                  secondaryDNSServer:
                    id: 00505681-C6C9-0ed3-0000-055834574916
                    name: SDNS
                    type: Host
                  secondaryWINSServer:
                    id: 00505681-C6C9-0ed3-0000-068719476804
                    name: SWINS
                    type: Host
                  type: DHCPServer
            schema:
              $ref: '#/components/schemas/DeviceDHCPServerSettings'
              type: object
        description: Input representation of Device DHCP Server policy object.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                  ( PUT request to update DHCP Server Settings )'
                : value:
                    autoConfigInterface:
                      id: 00505681-C6C9-0ed3-0000-012884902618
                      name: TEstInt
                      type: PHYSICAL
                    dhcpOptions:
                    - firstIpAddress:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      optionCode: '10'
                      optionType: IP
                      secondIpAddress:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                    - ascii: abcd
                      optionCode: '20'
                      optionType: ASCII
                    - hex: FF
                      optionCode: '30'
                      optionType: HEX
                    dhcpServers:
                    - addressPool: 10.10.5.74-10.10.5.75
                      enableDHCP: true
                      interface:
                        id: 00505681-C6C9-0ed3-0000-073014444254
                        name: GE2
                        type: PHYSICAL
                    id: deviceId
                    leaseLengthInSec: '2000'
                    pingTimeoutInMs: '100'
                    primaryDNSServer:
                      id: 00505681-C6C9-0ed3-0000-055834574898
                      name: PDNS
                      type: Host
                    primaryWINSServer:
                      id: 00505681-C6C9-0ed3-0000-068719476786
                      name: PWINS
                      type: Host
                    searchDomain: myDomain
                    secondaryDNSServer:
                      id: 00505681-C6C9-0ed3-0000-055834574916
                      name: SDNS
                      type: Host
                    secondaryWINSServer:
                      id: 00505681-C6C9-0ed3-0000-068719476804
                      name: SWINS
                      type: Host
                    type: DHCPServer
                ? 'Example 2 : PUT https://fmc-host:port/api/fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/dhcp/dhcpserver/deviceUUID
                  ( PUT request to update DHCP Server Settings with address pool as template variable )'
                : value:
                    autoConfigInterface:
                      id: 00505681-C6C9-0ed3-0000-012884902618
                      name: TEstInt
                      type: PHYSICAL
                    dhcpOptions:
                    - firstIpAddress:
                        id: 00505681-C6C9-0ed3-0000-055834574898
                        name: PDNS
                        type: Host
                      optionCode: '10'
                      optionType: IP
                      secondIpAddress:
                        id: 00505681-C6C9-0ed3-0000-055834574916
                        name: SDNS
                        type: Host
                    - ascii: abcd
                      optionCode: '20'
                      optionType: ASCII
                    - hex: FF
                      optionCode: '30'
                      optionType: HEX
                    dhcpServers:
                    - addressPool: 10.10.5.74-10.10.5.75
                      enableDHCP: true
                      interface:
                        id: 00505681-C6C9-0ed3-0000-073014444254
                        name: GE2
                        type: PHYSICAL
                    id: deviceId
                    leaseLengthInSec: '2000'
                    pingTimeoutInMs: '100'
                    primaryDNSServer:
                      id: 00505681-C6C9-0ed3-0000-055834574898
                      name: PDNS
                      type: Host
                    primaryWINSServer:
                      id: 00505681-C6C9-0ed3-0000-068719476786
                      name: PWINS
                      type: Host
                    searchDomain: myDomain
                    secondaryDNSServer:
                      id: 00505681-C6C9-0ed3-0000-055834574916
                      name: SDNS
                      type: Host
                    secondaryWINSServer:
                      id: 00505681-C6C9-0ed3-0000-068719476804
                      name: SWINS
                      type: Host
                    type: DHCPServer
              schema:
                $ref: '#/components/schemas/DeviceDHCPServerSettings'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devices/devicerecords/{containerUUID}/etherchannelinterfaces:
    get:
      deprecated: false
      description: '**Get the list of all ethernet channel interfaces associated with the specified NGFW device ID. <div class="alert
        alert-warning">More details on netmod events(out of sync interfaces):<b> GET /interfaceevents</b></div>.**'
      operationId: getAllFTDEtherChannelInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/devices/devicerecords/containerUUID/etherchannelinterfaces
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - id: etherChannelIntfUUID2
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID2
                      name: Port-channel2
                    - id: etherChannelIntfUUID1
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID1
                      name: Port-channel1
                    links:
                      self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces?offset=0&limit=2
                    paging:
                      count: 2
                      limit: 2
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/devices/devicerecords/containerUUID/etherchannelinterfaces?expanded=true
                  ( Success: Test GET ALL success with expanded=true )'
                : value:
                    items:
                    - LLDP:
                        receive: false
                        transmit: false
                      MTU: 1500
                      applicationMonitoring:
                        enable: true
                      enableAntiSpoofing: false
                      enableSGTPropagate: true
                      enabled: true
                      etherChannelId: 2
                      hardware:
                        autoNegState: false
                        duplex: FULL
                        flowControlSend: 'OFF'
                        speed: THOUSAND
                      id: etherChannelIntfUUID2
                      ifname: TestEtherChannel
                      ipv4:
                        static: {}
                      ipv6:
                        dadAttempts: 1
                        enableAutoConfig: false
                        enableDHCPAddrConfig: false
                        enableDHCPNonAddrConfig: false
                        enableIPV6: false
                        enableIPV6DadLoopbackDetect: false
                        enableRA: true
                        enforceEUI64: false
                        nsInterval: 1000
                        raInterval: 200
                        raLifeTime: 1800
                        reachableTime: 0
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID2
                      loadBalancing: SRC_DST_IP
                      managementOnly: false
                      maxActivePhysicalInterface: 8
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814174120.0
                      minActivePhysicalInterface: 1
                      mode: NONE
                      name: Port-channel2
                      nveOnly: false
                      overrideDefaultFragmentSetting: {}
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      priority: 10
                      securityZone:
                        id: securityZoneUUID
                        type: SecurityZone
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet1/4
                        type: PhysicalInterface
                      - id: interface UUID
                        name: GigabitEthernet1/5
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    - LLDP:
                        receive: false
                        transmit: false
                      MTU: 1500
                      applicationMonitoring:
                        enable: true
                      enableAntiSpoofing: false
                      enableSGTPropagate: true
                      enabled: true
                      etherChannelId: 1
                      hardware:
                        autoNegState: false
                        duplex: FULL
                        flowControlSend: 'OFF'
                        speed: THOUSAND
                      id: etherChannelIntfUUID1
                      ifname: NewEthChannel
                      ipv4:
                        static:
                          address: 10.20.25.10
                          netmask: '24'
                      ipv6:
                        addresses:
                        - address: 2002::/128
                          enforceEUI64: true
                        dadAttempts: 1
                        enableAutoConfig: true
                        enableDHCPAddrConfig: true
                        enableDHCPNonAddrConfig: true
                        enableIPV6: true
                        enableIPV6DadLoopbackDetect: true
                        enableRA: true
                        enforceEUI64: true
                        nsInterval: 1000
                        prefixes:
                        - default:
                            autoConfig: true
                            offlink: false
                            preferLifeTime:
                              duration:
                                preferLifeTime: 604800
                                validLifeTime: 2592000.0
                              preferLifeTime: {}
                        raInterval: 26
                        raLifeTime: 1800
                        reachableTime: 13
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID1
                      loadBalancing: SRC_IP_PORT
                      managementOnly: false
                      maxActivePhysicalInterface: 8
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814173120.0
                      minActivePhysicalInterface: 1
                      mode: NONE
                      name: Port-channel1
                      nveOnly: false
                      overrideDefaultFragmentSetting: {}
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      priority: 10
                      securityZone:
                        id: securityZoneUUID
                        type: SecurityZone
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet1/4
                        type: PhysicalInterface
                      - id: interface UUID
                        name: GigabitEthernet1/5
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    - LLDP:
                        receive: false
                        transmit: false
                      MTU: 1500
                      applicationMonitoring:
                        enable: true
                      enableAntiSpoofing: false
                      enableSGTPropagate: true
                      enabled: true
                      etherChannelId: 1
                      hardware:
                        autoNegState: true
                        duplex: FULL
                        flowControlSend: 'OFF'
                        speed: THOUSAND
                      id: etherChannelIntfUUID1
                      ifname: NewEthChannel
                      ipv4: {}
                      ipv6: {}
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID1
                      managementOnly: false
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814173120.0
                      mode: PASSIVE
                      name: Port-channel1
                      nveOnly: false
                      overrideDefaultFragmentSetting: {}
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      priority: 10
                      securityZone:
                        id: securityZoneUUID
                        type: SecurityZone
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet1/4
                        type: PhysicalInterface
                      - id: interface UUID
                        name: GigabitEthernet1/5
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    - LLDP:
                        receive: false
                        transmit: false
                      MTU: 1500
                      applicationMonitoring:
                        enable: true
                      enableAntiSpoofing: false
                      enableSGTPropagate: true
                      enabled: true
                      erspanFlowId: 1
                      erspanSourceIP: 10.20.30.50
                      etherChannelId: 1
                      hardware:
                        autoNegState: false
                        duplex: FULL
                        flowControlSend: 'OFF'
                        speed: THOUSAND
                      id: etherChannelIntfUUID1
                      ifname: NewEthChannel
                      ipv4:
                        static:
                          address: 10.20.30.40
                          netmask: '24'
                      ipv6: {}
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces/etherChannelIntfUUID1
                      managementOnly: false
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global
                        timestamp: 1462814173120.0
                      mode: ERSPAN
                      name: Port-channel1
                      nveOnly: false
                      overrideDefaultFragmentSetting: {}
                      pathMonitoring:
                        enable: true
                        monitoredIp: string
                        type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                      priority: 10
                      securityZone:
                        id: securityZoneUUID
                        type: SecurityZone
                      selectedInterfaces:
                      - id: interface UUID
                        name: GigabitEthernet1/4
                        type: PhysicalInterface
                      - id: interface UUID
                        name: GigabitEthernet1/5
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    links:
                      self: /fmc_config/v1/domain/default/devices/devicerecords/containerUUID/etherchannelinterfaces?offset=0&limit=2
                    paging:
                      count: 2
                      limit: 2
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FTDEtherChannelInterfaceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Devices
    post:
      deprecated: false
      description: '**Create an ethernet channel interface. _Check the response section for applicable examples (if any)._**'
      operationId: createFTDEtherChannelInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/devices/devicerecords/containerUUID/etherchannelinterfaces
                ( Success: Test POST method for ether channel interface )'
              : value:
                  LLDP:
                    receive: false
                    transmit: false
                  MTU: 1500
                  applicationMonitoring:
                    enable: true
                  enableAntiSpoofing: false
                  enableSGTPropagate: true
                  enabled: true
                  etherChannelId: 1
                  hardware:
                    autoNegState: true
                    duplex: FULL
                    flowControlSend: 'OFF'
                    speed: THOUSAND
                  ifname: NewEthChannel
                  ipv4:
                    static:
                      address: 1.2.3.5
                      netmask: '25'
                  ipv6:
                    addresses:
                    - address: '9090::'
                      prefix: '12'
                    dadAttempts: 1
                    nsInterval: 10000
                    reachableTime: 0
                  lacpMode: ACTIVE
                  lacpRate: DEFAULT
                  loadBalancing: SRC_IP_PORT
                  managementOnly: false
                  maxActivePhysicalInterface: 8
                  minActivePhysicalInterface: 1
                  mode: NONE
                  nveOnly: false
                  overrideDefaultFragmentSetting: {}
                  pathMonitoring:
                    enable: true
                    monitoredIp: string
                    type: PEER_IPV4 | PEER_IPV6 | AUTO | AUTO4 | AUTO6
                  priority: 10
                  securityZone:
[...]
