openapi: 3.2.0
info:
  title: Cisco Secure Firewall Chassis API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Chassis across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml.
    Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 43/43
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Chassis
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis:
    get:
      deprecated: false
      description: '**Get a list of all chassis managed devices from the Firewall Management Center**'
      operationId: getAllFMCManagedChassis
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis?expanded=true ( Success: Test
                  GET ALL success )'
                : value:
                    items:
                    - chassisName: 192.168.0.74
                      id: chassisUUID1
                      isConnected: false
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID1
                      metadata:
                        domain:
                          id: GlobalDomainUUID
                          name: Global
                          type: Domain
                      model: Cisco Secure Firewall 3120 Threat Defense
                      type: FMCManagedChassis
                    - chassisName: 192.168.0.72
                      id: chassisUUID2
                      isConnected: true
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID2
                      metadata:
                        domain:
                          id: GlobalDomainUUID
                          name: Global
                          type: Domain
                      model: Cisco Secure Firewall 3140 Threat Defense
                      type: FMCManagedChassis
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis?offset=0&limit=25&expanded=true
                    paging:
                      count: 2
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FMCManagedChassisListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/appinfo:
    get:
      deprecated: false
      description: '**Get all image versions available for instance creation on the chassis.**'
      operationId: getChassisAppInfo
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/appinfo
                  ( Example payload for GET on App Info )'
                : value:
                    items:
                    - appVersion: 7.4.0.1024
                      type: AppInfo
                    - appVersion: 7.4.0.1075
                      type: AppInfo
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/domainUUID/chassis/fmcmanagedchassis/containerUUID/appinfo?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisAppInfoListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/chassisinterfaceevents:
    get:
      deprecated: false
      description: '**Get a list of all NetMod events on the device.**'
      operationId: getChassisInterfaceEvent
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChassisInterfaceEventListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    post:
      deprecated: false
      description: '**Creates a NetMod event on the device. _Check the response section for applicable examples (if any)._**'
      operationId: createChassisInterfaceEvent
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChassisInterfaceEvent'
              type: object
        description: The input representing action to be performed on netmod events.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChassisInterfaceEvent'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/chassisinterfaces:
    get:
      deprecated: true
      description: '**Retrieve chassis interfaces.

        (deprecated) Please use /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces
        and /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces/{interfaceUUID} instead**'
      operationId: getAllChassisInterface
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces?expanded=true
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - autoNegState: 'No'
                      duplex: FULL
                      fecvalue: AUTO
                      id: chassisinterfaceUUid1
                      links:
                        self: /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces/{chassisinterfaceUUid1}
                      mediaType: rj45
                      metadata:
                        domain:
                          id: GlobalDominaUUid
                          name: Global
                          type: Domain
                        supportedSpeed: '[100mbps, 10mbps, 1gbps, auto]'
                        timestamp: 1628243570146.0
                      name: Ethernet1/1
                      sfptype: none
                      speed: 1gbps
                      type: ChassisInterface
                    - autoNegState: 'No'
                      duplex: FULL
                      fecvalue: AUTO
                      id: chassisinterfaceUUid2
                      links:
                        self: /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces/{chassisinterfaceUUid2}
                      mediaType: rj45
                      metadata:
                        domain:
                          id: GlobalDominaUUid
                          name: Global
                          type: Domain
                        supportedSpeed: '[100mbps, 10mbps, 1gbps, auto]'
                        timestamp: 1628243570146.0
                      name: Ethernet1/2
                      sfptype: none
                      speed: 1gbps
                      type: ChassisInterface
                    links:
                      self: /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces?offset=0&limit=25&expanded=true
                    paging:
                      count: 2
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisInterfaceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/chassisinterfaces/{interfaceUUID}
  : get:
      deprecated: true
      description: '**Retrieve chassis interfaces.

        (deprecated) Please use /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces
        and /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces/{interfaceUUID} instead**'
      operationId: getChassisInterface
      parameters:
      - description: Unique identifier of a chassis interface.
        in: path
        name: interfaceUUID
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces/{chassisinterfaceUUid1}
                  ( Success: Test GET success )'
                : value:
                    autoNegState: 'Yes'
                    duplex: FULL
                    fecvalue: AUTO
                    id: chassisinterfaceUUid1
                    links:
                      self: /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{chassisUUid}/chassisinterfaces/{chassisinterfaceUUid1}
                    mediaType: sfp
                    metadata:
                      domain:
                        id: GlobalDominaUUid
                        name: Global
                        type: Domain
                      supportedSpeed: '[100mbps, 10gbps, 1gbps, auto, sfpdetect]'
                      timestamp: 1628474064343.0
                    name: Ethernet2/8
                    sfptype: none
                    speed: sfpdetect
                    type: ChassisInterface
              schema:
                $ref: '#/components/schemas/ChassisInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/chassisinterfaces/{interfaceUUID}/evaluateoperation
  : get:
      deprecated: false
      description: '**Validate Interface usage.**'
      operationId: getEvaluateChassisOperation
      parameters:
      - description: UUID of the chassis interface.
        in: path
        name: interfaceUUID
        required: true
        schema:
          type: string
      - description: The specific chassis operation to be evaluated. Possible values are BREAKOUT and JOIN.
        in: query
        name: operationType
        required: true
        schema:
          type: string
      - description: The specific breakout type to be evaluated.
        in: query
        name: breakoutType
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateChassisOperationListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces:
    get:
      deprecated: false
      description: '**Get a list of chassis EtherChannel interface configurations.**'
      operationId: getAllEtherChannelInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - adminState: DISABLED
                      etherChannelId: 3
                      hardware:
                        autoNegState: true
                        duplex: FULL
                        speed: TEN_GBPS
                      id: etherChanneluuid1
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container_uuid>/etherchannelinterfaces/etherChanneluuid1
                      metadata:
                        isBreakoutCapable: false
                        isSplitInterface: false
                        mediaType: none
                        supportedSpeed: TEN_GBPS,ONE_GBPS
                      name: Port-channel3
                      portType: DATA
                      selectedInterfaces:
                      - id: memberInterfaceId
                        name: memberInterfaceName
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    - adminState: DISABLED
                      etherChannelId: 2
                      hardware:
                        autoNegState: true
                        duplex: FULL
                        speed: FORTY_GBPS
                      id: etherChanneluuid2
                      lacpMode: ACTIVE
                      lacpRate: DEFAULT
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container_uuid>/etherchannelinterfaces/etherChanneluuid2
                      metadata:
                        isBreakoutCapable: false
                        isSplitInterface: false
                        mediaType: none
                        supportedSpeed: TEN_GBPS,ONE_GBPS
                      name: Port-channel2
                      portType: DATA
                      selectedInterfaces:
                      - id: memberInterfaceId
                        name: memberInterfaceName
                        type: PhysicalInterface
                      type: EtherChannelInterface
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container_uuid>/etherchannelinterfaces?offset=0&limit=25
                    paging:
                      count: 7
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/EtherChannelInterfaceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    post:
      deprecated: false
      description: '**Create an EtherChannel interface configuration. _Check the response section for applicable examples
        (if any)._**'
      operationId: createEtherChannelInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces
                ( Success: Test POST success )'
              : value:
                  adminState: DISABLED
                  etherChannelId: 3
                  hardware:
                    autoNegState: true
                    duplex: FULL
                    speed: TEN_GBPS
                  lacpMode: ACTIVE
                  lacpRate: DEFAULT
                  portType: DATA
                  selectedInterfaces:
                  - id: memberInterfaceId
                    name: memberInterfaceName
                    type: PhysicalInterface
                  type: EtherChannelInterface
            schema:
              $ref: '#/components/schemas/EtherChannelInterface'
              type: object
        description: The input create EtherChannel interface configuration.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces
                  ( Success: Test POST success )'
                : value:
                    adminState: DISABLED
                    etherChannelId: 3
                    hardware:
                      autoNegState: true
                      duplex: FULL
                      speed: TEN_GBPS
                    id: etherChanneluuid
                    lacpMode: ACTIVE
                    lacpRate: DEFAULT
                    name: Port-channel3
                    portType: DATA
                    selectedInterfaces:
                    - id: memberInterfaceId
                      name: memberInterfaceName
                      type: PhysicalInterface
                    type: EtherChannelInterface
              schema:
                $ref: '#/components/schemas/EtherChannelInterface'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{interfaceUUID}
  : get:
      deprecated: false
      description: '**Get the specified chassis EtherChannel configuration.**'
      operationId: getEtherChannelInterface
      parameters:
      - description: UUID of the EtherChannel interface.
        in: path
        name: interfaceUUID
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{etherChanneluuid}
                  ( Success: Test GET success )'
                : value:
                    adminState: DISABLED
                    etherChannelId: 2
                    hardware:
                      autoNegState: true
                      duplex: FULL
                      speed: FORTY_GBPS
                    id: etherChanneluuid2
                    lacpMode: ACTIVE
                    lacpRate: DEFAULT
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container_uuid>/etherchannelinterfaces/etherChanneluuid2
                    metadata:
                      isBreakoutCapable: false
                      isSplitInterface: false
                      mediaType: none
                      supportedSpeed: TEN_GBPS,ONE_GBPS
                    name: Port-channel2
                    portType: DATA
                    selectedInterfaces:
                    - id: memberInterfaceId
                      name: memberInterfaceName
                      type: PhysicalInterface
                    type: EtherChannelInterface
              schema:
                $ref: '#/components/schemas/EtherChannelInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    put:
      deprecated: false
      description: '**Modify the specified chassis EtherChannel configuration _Check the response section for applicable examples
        (if any)._**'
      operationId: updateEtherChannelInterface
      parameters:
      - description: UUID of the EtherChannel interface.
        in: path
        name: interfaceUUID
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{etherchannelinterfaceUUid}
                ( Success: Test PUT success )'
              : value:
                  adminState: DISABLED
                  etherChannelId: 3
                  hardware:
                    autoNegState: true
                    duplex: FULL
                    speed: TEN_GBPS
                  id: etherchannelinterfaceUUid
                  lacpMode: ACTIVE
                  lacpRate: DEFAULT
                  portType: DATA
                  selectedInterfaces:
                  - id: memberInterfaceId
                    name: memberInterfaceName
                    type: PhysicalInterface
                  type: EtherChannelInterface
            schema:
              $ref: '#/components/schemas/EtherChannelInterface'
              type: object
        description: The input create EtherChannel interface configuration.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{etherchannelinterfaceUUid}
                  ( Success: Test PUT success )'
                : value:
                    adminState: DISABLED
                    etherChannelId: 3
                    hardware:
                      autoNegState: true
                      duplex: FULL
                      speed: TEN_GBPS
                    id: etherChanneluuid
                    lacpMode: ACTIVE
                    lacpRate: DEFAULT
                    name: Port-channel3
                    portType: DATA
                    selectedInterfaces:
                    - id: memberInterfaceId
                      name: memberInterfaceName
                      type: PhysicalInterface
                    type: EtherChannelInterface
              schema:
                $ref: '#/components/schemas/EtherChannelInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{objectId}
  : delete:
      deprecated: false
      description: '**Delete the specified chassis EtherChannel configuration _Check the response section for applicable examples
        (if any)._**'
      operationId: deleteEtherChannelInterface
      parameters:
      - description: UUID of the EtherChannel interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/etherchannelinterfaces/{etherChanneluuid}
                  ( Success: Test DELETE success )'
                : value:
                    adminState: DISABLED
                    etherChannelId: 2
                    hardware:
                      autoNegState: true
                      duplex: FULL
                      speed: FORTY_GBPS
                    id: etherChanneluuid
                    lacpMode: ACTIVE
                    lacpRate: DEFAULT
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container_uuid>/etherchannelinterfaces/etherChanneluuid
                    metadata:
                      isBreakoutCapable: false
                      isSplitInterface: false
                      mediaType: none
                      supportedSpeed: TEN_GBPS,ONE_GBPS
                    name: Port-channel2
                    portType: DATA
                    selectedInterfaces:
                    - id: memberInterfaceId
                      name: memberInterfaceName
                      type: PhysicalInterface
                    type: EtherChannelInterface
              schema:
                $ref: '#/components/schemas/EtherChannelInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/faultsummary:
    get:
      deprecated: false
      description: '**Get fault data from the chassis.**'
      operationId: getChassisFaultSummary
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/faultsummary
                  ( Example payload for GET on Chassis Fault Summary )'
                : value:
                    items:
                    - faultList:
                      - cause: device-registration-pending
                        createdTime: 2022-07-04 17:10:03.435000
                        description: Device registration for 10.10.41.6 pending.
                        highestSeverity: info
                        id: 27429
                        isAcknowledged: 'no'
                        lastTransitionTime: 2022-07-04 17:12:22.467000
                        occurrence: '1'
                        severity: cleared
                      modifiedTime: '2022-07-05T06:39:25Z'
                      type: FaultSummary
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/domainUUID/chassis/fmcmanagedchassis/containerUUID/faultsummary?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisFaultSummaryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/instancesummary:
    get:
      deprecated: false
      description: '**Get instance summary data from the chassis.**'
      operationId: getChassisInstanceSummary
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/instancesummary
                  ( Example payload for GET on Chassis Instance Summary )'
                : value:
                    items:
                    - instanceList:
                      - adminState: enabled
                        coresUsed: 6
                        deployType: container
                        ipv4:
                          gateway: 192.168.3.68
                          ip: 192.168.3.78
                          mask: 255.255.255.0
                        ipv6:
                          gateway: 3::1
                          ip: 3::2
                          prefixLength: '33'
                        managementPort: Management1
                        name: ftdmi2
                        operationalState: online
                        startupVersion: 7.3.0.1402
                      modifiedTime: '2022-07-05T06:39:25Z'
                      type: InstanceSummary
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/domainUUID/chassis/fmcmanagedchassis/containerUUID/instancesummary?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisInstanceSummaryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces:
    get:
      deprecated: false
      description: '**Get all chassis interfaces.**'
      operationId: getAllChassisAllInterfacesModel
      parameters:
      - description: Query parameter used to search interfaces by name or port type. Use <code>"name:{name}"</code> to search
          by hardware name of interface. <br /> Use <code>"type:{type1,type2}"</code> to search by interface type. Type can
          be <code>PhysicalInterface,SubInterface or EtherChannelInterface</code> <br/> Use <code>"portType:{portType1,portType2}"</code>
          to search by interface port type. Port type can be <code>DATA,MANAGEMENT,DATA_SHARING or CLUSTER</code>
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - adminState: DISABLED
                      hardware:
                        autoNegState: boolean
                        duplex: FULL
                        fecMode: AUTO
                        speed: DETECT_SFP
                      id: interfaceId2
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain_uuid>/chassis/fmcmanagedchassis/{container_UUID}/physicalinterfaces/{interfaceId2}
                      metadata:
                        isBreakoutCapable: boolean
                        isSplitInterface: boolean
                        mediaType: sfp
                        sfpType: none
                        supportedSpeed: TEN_GBPS,DETECT_SFP
                      name: Ethernet2/2/2
                      portType: DATA
                      type: PhysicalInterface
                    - id: subinterfaceuuid
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain_uuid>/chassis/fmcmanagedchassis/{container_UUID}/subinterfaces/subinterfaceuuid
                      name: Ethernet1/1.1
                      parentInterface:
                        id: parentInterfaceuuid
                        name: parentInterfaceName
                        type: PhysicalInterface
                      portType: DATA
                      subIntfId: 1
                      type: SubInterface
                      vlanId: 1
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain_uuid>/chassis/fmcmanagedchassis/<container_uuid>/physicalinterfaces?offset=0&limit=25
                    paging:
                      count: 7
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisAllInterfacesModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfaces/{interfaceUUID}:
    get:
      deprecated: false
      description: '**Get information for the specified chassis interface.**'
      operationId: getChassisAllInterfacesModel
      parameters:
      - description: UUID of the chassis interface.
        in: path
        name: interfaceUUID
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET <fmc_url>/api/fmc_config/v1/domain/<domain_uuid>/chassis/fmcmanagedchassis/{container_UUID}/interfaces/{interfaceId1}
                  ( Success: Test GET success )'
                : value:
                    adminState: DISABLED
                    hardware:
                      autoNegState: boolean
                      duplex: FULL
                      fecMode: AUTO
                      speed: DETECT_SFP
                    id: interfaceId1
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain_uuid>/chassis/fmcmanagedchassis/{container_UUID}/physicalinterfaces/{interfaceId1}
                    metadata:
                      isBreakoutCapable: boolean
                      isSplitInterface: boolean
                      mediaType: sfp
                      sfpType: none
                      supportedSpeed: TEN_GBPS,DETECT_SFP
                    name: Ethernet2/2/3
                    portType: DATA
                    type: PhysicalInterface
              schema:
                $ref: '#/components/schemas/ChassisAllInterfacesModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfacesummary:
    get:
      deprecated: false
      description: '**Get interface summary data from the chassis.**'
      operationId: getChassisInterfaceSummary
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/interfacesummary
                  ( Example payload for GET on Chassis Interface Summary )'
                : value:
                    items:
                    - interfaceList:
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/8
                        operationalSpeed: 10mbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/7
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/6
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/5
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/4
                        operationalSpeed: 10mbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: disabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/3
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: enabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/2
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: enabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Ethernet1/1
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: PhysicalInterface
                      - adminDuplex: fullDuplex
                        adminSpeed: 1gbps
                        adminState: enabled
                        autoNegotiation: 'yes'
                        mediaType: rj45
                        name: Port-channel48
                        operationalSpeed: 1gbps
                        operationalState: up
                        portType: data
                        type: EtherChannelInterface
                      modifiedTime: '2022-07-05T06:39:25Z'
                      type: InterfaceSummary
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/domainUUID/chassis/fmcmanagedchassis/containerUUID/interfacesummary?offset=0&limit=25
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisInterfaceSummaryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/inventorysummary:
    get:
      deprecated: false
      description: '**Get Inventory summary data from the chassis.**'
      operationId: getChassisInventorySummary
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/inventorysummary
                  ( Example payload for GET on Chassis Inventory Summary )'
                : value:
                    items:
                    - fanList:
                      - id: 1
                        model: N/A
                        module: 1
                        operability: operable
                        operationalState: operable
                        power: 'on'
                        thermalStatus: ok
                        tray: 1
                        vendor: N/A
                      - id: 2
                        model: N/A
                        module: 1
                        operability: operable
                        operationalState: operable
                        power: 'on'
                        thermalStatus: ok
                        tray: 1
                        vendor: N/A
                      memoryList:
                      - array: 1
                        bank: 0
                        capacity: 65536
                        id: 1
                        model: HMAA8GR7AJR4N-XN
                        operability: operable
                        operationalState: operable
                        performance: ok
                        power: not-supported
                        serialNumber: 942ECC1A
                        thermalStatus: ok
                        vendor: Hynix
                      modifiedTime: '2022-07-05T06:39:25Z'
                      powerSupplyList:
                      - id: 2
                        model: FPR2K-PWR-AC-400
                        operability: operable
                        operationalState: operable
                        serialNumber: LIT24452CCQ
                        thermalStatus: ok
                        vendor: Cisco Systems, Inc
                      processorList:
                      - id: 1
                        model: 49 AMD EPYC 7282 16-Core Processor
                        operability: operable
                        operationalState: operable
                        thermalStatus: ok
                        type: CPU
                        vendor: AuthenticAMD
                      securityModuleList:
                      - availableCores: 24
                        id: 1
                        model: FPR-3120
                        operability: operable
                        operationalState: ok
                        serialNumber: FJC25111YAW
                        totalCores: 32
                        vendor: Cisco Systems, Inc
                      storageControllerList:
                      - id: 1
                        model: FPR_SOFTRAID
                        operability: unknown
                        operationalState: unknown
                        serialNumber: '1234567'
                        storageLocalDisk:
                        - id: 1
                          model: Micron_7300_MTFDHBE960TDF
                          operability: operable
                          serialNumber: MSA244302V7
                          thermalStatus: unknown
                          vendor: Cisco Systems, Inc
                        thermalStatus: unknown
                        vendor: Cisco Systems Inc
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/domainUUID/chassis/fmcmanagedchassis/containerUUID/inventorysummary?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ChassisInventorySummaryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices:
    get:
      deprecated: false
      description: '**Get the list of all logical devices available on the specified chassis.**'
      operationId: getAllLogicalDevice
      parameters:
      - description: Data from cache. This only applies to the UI.
        in: query
        name: useCache
        required: false
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices
                  ( Success: Test GET ALL success )'
                : value:
                    items:
                    - deviceRegistration:
                        accessPolicy:
                          id: <ac policy uuid>
                          name: AC Policy name
                          type: AccessPolicy
                        deviceGroup:
                          id: <device group uuid>
                          name: DeviceGroup name
                          type: DeviceGroup
                        licenseCaps:
                        - MALWARE
                        - URLFilter
                        - CARRIER
                        - PROTECT
                      externalPortLink:
                      - id: <interface uuid>
                        name: Ethernet1/1
                        type: ChassisInterface
                      - id: <subInterface uuid>
                        name: Ethernet2/2.1
                        type: ChassisInterface
                      id: <instance uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<chassis uuid>/logicaldevices/<ObjectId>
                      managementBootstrap:
                        adminPassword: adminPwd
                        adminState: enabled
                        dnsServers: 192.168.0.123
                        firepowerManagerIP: 192.168.1.32
                        firewallMode: Routed
                        fqdn: fqdn
                        ipv4:
                          gateway: 192.168.3.68
                          ip: 192.168.3.78
                          mask: 255.255.255.0
                        natId: natId
                        permitExpertMode: 'yes'
                        registrationKey: regKey
                        searchDomain: string
                      name: ftd1
                      operationalState: string
                      type: LogicalDevice
                    - deviceRegistration:
                        accessPolicy:
                          id: <ac policy uuid>
                          name: AC Policy name
                          type: AccessPolicy
                        licenseCaps:
                        - MALWARE
                        - URLFilter
                        - CARRIER
                        - VPN
                      id: <device uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container uuid>/logicaldevices/<ObjectId>
                      managementBootstrap:
                        dnsServers: <dns servers ip>
                        firepowerManagerIP: 192.168.1.21
                        firewallMode: Routed
                        ipv4:
                          gateway: 10.10.36.1
                          ip: 10.10.36.9
                          mask: 255.255.255.0
                        ipv6: {}
                        permitExpertMode: 'yes'
                        searchDomain: string
                      name: ftd2
                      operationalState: string
                      type: LogicalDevice
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container uuid>/logicaldevices?offset=0&limit=25
                    paging:
                      count: 7
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/LogicalDeviceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    post:
      deprecated: false
      description: '**Create a logical device on the chassis. _Check the response section for applicable examples (if any)._**'
      operationId: createLogicalDevice
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices
                ( Success: Test POST success )'
              : value:
                  deviceRegistration:
                    accessPolicy:
                      id: <ac policy uuid>
                      name: AC Policy name
                      type: AccessPolicy
                    deviceGroup:
                      id: <device group uuid>
                      name: DeviceGroup name
                      type: DeviceGroup
                    licenseCaps:
                    - MALWARE
                    - URLFilter
                    - CARRIER
                    - PROTECT
                  externalPortLink:
                  - id: <interface uuid>
                    name: Ethernet1/1
                    type: ChassisInterface
                  - id: <subInterface uuid>
                    name: Ethernet2/2.1
                    type: ChassisInterface
                  managementBootstrap:
                    adminPassword: adminPwd
                    dnsServers: 192.168.0.123
                    firepowerManagerIP: 192.168.1.32
                    firewallMode: Routed
                    fqdn: fqdn
                    ipv4:
                      gateway: 192.168.3.68
                      ip: 192.168.3.78
                      mask: 255.255.255.0
                    natId: natId
                    permitExpertMode: 'yes'
                    registrationKey: regKey
                    searchDomain: string
                  name: ftd1
                  type: LogicalDevice
            schema:
              $ref: '#/components/schemas/LogicalDevice'
              type: object
        description: The input representation of logical device Model.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices
                  ( Success: Test POST success )'
                : value:
                    deviceRegistration:
                      accessPolicy:
                        id: <ac policy uuid>
                        name: AC Policy name
                        type: AccessPolicy
                      deviceGroup:
                        id: <device group uuid>
                        name: DeviceGroup name
                        type: DeviceGroup
                      licenseCaps:
                      - MALWARE
                      - URLFilter
                      - CARRIER
                      - PROTECT
                    externalPortLink:
                    - id: <interface uuid>
                      name: Ethernet1/1
                      type: ChassisInterface
                    - id: <subInterface uuid>
                      name: Ethernet2/2.1
                      type: ChassisInterface
                    id: <instance uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<chassis uuid>/logicaldevices/<ObjectId>
                    managementBootstrap:
                      adminPassword: adminPwd
                      dnsServers: 192.168.0.123
                      firepowerManagerIP: 192.168.1.32
                      firewallMode: Routed
                      fqdn: fqdn
                      ipv4:
                        gateway: 192.168.3.68
                        ip: 192.168.3.78
                        mask: 255.255.255.0
                      natId: natId
                      permitExpertMode: 'yes'
                      registrationKey: regKey
                      searchDomain: string
                    name: ftd1
                    operationalState: string
                    type: LogicalDevice
              schema:
                $ref: '#/components/schemas/LogicalDevice'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the specified logical device. _Check the response section for applicable examples (if any)._**'
      operationId: deleteLogicalDevice
      parameters:
      - description: UUID of the logical device.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices/{objectId}
                  ( Success: Test DELETE success )'
                : value:
                    deviceRegistration:
                      accessPolicy:
                        id: <ac policy uuid>
                        name: AC Policy name
                        type: AccessPolicy
                      deviceGroup:
                        id: <device group uuid>
                        name: DeviceGroup name
                        type: DeviceGroup
                      licenseCaps:
                      - MALWARE
                      - URLFilter
                      - CARRIER
                      - VPN
                    externalPortLink:
                    - id: <interface uuid>
                      name: Ethernet1/1
                      type: ChassisInterface
                    - id: <subInterface uuid>
                      name: Ethernet2/2.1
                      type: ChassisInterface
                    id: <device uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container uuid>/logicaldevices/<object
                        id>
                    managementBootstrap:
                      adminState: enabled
                      dnsServers: 10.106.134.254
                      firepowerManagerIP: 10.10.15.221
                      firewallMode: routed
                      ipv4:
                        gateway: 10.10.2.129
                        ip: 10.10.2.166
                        mask: 255.255.255.192
                      ipv6: {}
                      permitExpertMode: 'yes'
                      searchDomain: string
                    name: FTD2
                    type: LogicalDevice
              schema:
                $ref: '#/components/schemas/LogicalDevice'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    get:
      deprecated: false
      description: '**Get information on the specified logical device.**'
      operationId: getLogicalDevice
      parameters:
      - description: UUID of the logical device.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices/{objectId}
                  ( Success: Test GET success )'
                : value:
                    deviceRegistration:
                      accessPolicy:
                        id: <ac policy uuid>
                        name: AC Policy name
                        type: AccessPolicy
                      deviceGroup:
                        id: <device group uuid>
                        name: DeviceGroup name
                        type: DeviceGroup
                      licenseCaps:
                      - MALWARE
                      - URLFilter
                      - CARRIER
                      - VPN
                    externalPortLink:
                    - id: <interface uuid>
                      name: Ethernet1/1
                      type: PhysicalInterface
                    - id: <subInterface uuid>
                      name: Ethernet2/2.1
                      type: SubInterface
                    id: <device uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<container uuid>/logicaldevices/<device
                        Id>
                    managementBootstrap:
                      adminState: enabled
                      dnsServers: <dns servers ip>
                      firepowerManagerIP: 192.168.1.21
                      firewallMode: Routed
                      ipv4:
                        gateway: 10.10.36.1
                        ip: 10.10.36.9
                        mask: 255.255.255.0
                      ipv6: {}
                      permitExpertMode: 'yes'
                      searchDomain: string
                    name: ftd2
                    type: LogicalDevice
              schema:
                $ref: '#/components/schemas/LogicalDevice'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    put:
      deprecated: false
      description: '**Modify the specified logical device. _Check the response section for applicable examples (if any)._**'
      operationId: updateLogicalDevice
      parameters:
      - description: UUID of the logical device.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices/{objectId}
                ( Success: Test PUT success )'
              : value:
                  id: <instance uuid>
                  managementBootstrap:
                    adminPassword: adminPwd
                    adminState: enabled
                    dnsServers: 192.168.0.123
                    firepowerManagerIP: 192.168.1.32
                    firewallMode: Routed
                    fqdn: fqdn
                    ipv4:
                      gateway: 192.168.3.68
                      ip: 192.168.3.78
                      mask: 255.255.255.0
                    natId: natId
                    permitExpertMode: 'yes'
                    registrationKey: regKey
                    searchDomain: string
                  name: ftd1
                  type: LogicalDevice
            schema:
              $ref: '#/components/schemas/LogicalDevice'
              type: object
        description: The input representation of logical device Model.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/logicaldevices/{objectId}
                  ( Success: Test PUT success )'
                : value:
                    deviceRegistration:
                      accessPolicy:
                        id: <ac policy uuid>
                        name: AC Policy name
                        type: AccessPolicy
                      deviceGroup:
                        id: <device group uuid>
                        name: DeviceGroup name
                        type: DeviceGroup
                      licenseCaps:
                      - MALWARE
                      - URLFilter
                      - CARRIER
                      - PROTECT
                    externalPortLink:
                    - id: <interface uuid>
                      name: Ethernet1/1
                      type: ChassisInterface
                    - id: <subInterface uuid>
                      name: Ethernet2/2.1
                      type: ChassisInterface
                    id: <instance uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domain uuid>/chassis/fmcmanagedchassis/<chassis uuid>/logicaldevices/<ObjectId>
                    managementBootstrap:
                      adminPassword: adminPwd
                      adminState: enable
                      dnsServers: 192.168.0.123
                      firepowerManagerIP: 192.168.1.32
                      firewallMode: Routed
                      fqdn: fqdn
                      ipv4:
                        gateway: 192.168.3.68
                        ip: 192.168.3.78
                        mask: 255.255.255.0
                      natId: natId
                      permitExpertMode: 'yes'
                      registrationKey: regKey
                      searchDomain: string
                    name: ftd1
                    operationalState: string
                    type: LogicalDevice
              schema:
                $ref: '#/components/schemas/LogicalDevice'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules:
    get:
      deprecated: false
      description: '**Get a list of all network modules on the specified device.**'
      operationId: getAllNetworkModule
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules?expanded=true
                  ( GET All paginated on Network Modules with ?expanded=true )'
                : value:
                    items:
                    - description: 8-port 10 Gigabit Ethernet Expansion Module
                      id: networkModuleUUID1
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID/networkmodules/networkModuleUUID1
                      metadata:
                        domain:
                          id: GlobalDomainUUID
                          name: Global
                          type: Domain
                        timestamp: 1628473885490.0
                      model: FPR-X-NM-8X10G
                      moduleState: ENABLED
                      name: Network Module 2
                      numOfPorts: 8
                      operationState: online
                      slotId: '2'
                      type: NetworkModule
                      vendor: Cisco Systems, Inc.
                    - description: Cisco FPR 8X1G 8X10G 1RU Module
                      id: networkModuleUUID2
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID/networkmodules/networkModuleUUID2
                      metadata:
                        domain:
                          id: GlobalDomainUUID
                          name: Global
                          type: Domain
                        timestamp: 1628243571086.0
                      model: FPR-3120
                      moduleState: ENABLED
                      name: Network Module 1
                      numOfPorts: 16
                      operationState: ok
                      slotId: '1'
                      type: NetworkModule
                      vendor: Cisco Systems, Inc.
                    - id: networkModuleUUID3
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID/networkmodules/networkModuleUUID3
                      metadata:
                        domain:
                          id: GlobalDomainUUID
                          name: Global
                          type: Domain
                        timestamp: 1628243571086.0
                      moduleState: ENABLED
                      name: Network Module 0
                      numOfPorts: 1
                      operationState: ok
                      slotId: '0'
                      type: NetworkModule
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID/networkmodules?offset=0&limit=25&expanded=true
                    paging:
                      count: 3
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/NetworkModuleListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules/{objectId}:
    get:
      deprecated: false
      description: '**Get information on the specified network module.**'
      operationId: getNetworkModule
      parameters:
      - description: UUID of the network module.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules/networkModuleUUID
                  ( Success: Test GET success )'
                : value:
                    description: Cisco FPR 8X1G 8X10G 1RU Module
                    id: networkModuleUUID
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/DomainUUID/chassis/fmcmanagedchassis/chassisUUID/networkmodules/networkModuleUUID
                    metadata:
                      domain:
                        id: GlobalDomainUUID
                        name: Global
                        type: Domain
                      timestamp: 1628243571086.0
                    model: FPR-3120
                    moduleState: ENABLED
                    name: Network Module 1
                    numOfPorts: 16
                    operationState: ok
                    slotId: '1'
                    type: NetworkModule
                    vendor: Cisco Systems, Inc.
              schema:
                $ref: '#/components/schemas/NetworkModule'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    put:
      deprecated: false
      description: '**Modify the specified network module. _Check the response section for applicable examples (if any)._**'
      operationId: updateNetworkModule
      parameters:
      - description: UUID of the network module.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules/networkModuleUUID
                ( Example payload for PUT on Network Module )'
              : value:
                  id: networkModuleUUID
                  moduleState: DISABLED
                  type: NetworkModule
            schema:
              $ref: '#/components/schemas/NetworkModule'
              type: object
        description: The input representation of network module model.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/networkmodules/networkModuleUUID
                  ( Example payload for PUT on Network Module )'
                : value:
                    id: networkModuleUUID
                    metadata:
                      task:
                        id: <jobId>
                        links:
                          self: http://api/fmc_config/v1/domain/{domainUUID}/job/taskstatuses/jobId
                    moduleState: DISABLED
                    type: NetworkModule
              schema:
                $ref: '#/components/schemas/NetworkModule'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Chassis
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/chassis/fmcmanagedchassis/{containerUUID}/operational/breakoutinterfaces:
    post:
      deprecated: false
      description: '**Perform an interface breakout. _Check the response section for applicable examples (if any)._**'
      operationId: createBreakoutInterface
      parameters:
      - description: Boolean indicating whether to ignore warning alerts for the breakout operation.
        in: query
        name: ignoreWarning
        required: false
        schema:
          type: boolean
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
[...]
