openapi: 3.2.0
info:
  title: Mesh Policy Engine MPM App Group API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: MPM App Group
paths:
  /mpm/manager/{managerId}/app-group/{appGroupId}/{revisionId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getAppGroup
      parameters:
      - in: path
        name: managerId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: appGroupId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmAppGroupObj'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the app group in a manager at revision
      tags:
      - MPM App Group
  /mpm/manager/{managerId}/app-groups/ids/{revisionId}:
    put:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getAppGroupsByIdsInBulk
      parameters:
      - in: path
        name: managerId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MpmAppGroupObj'
                type: array
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      summary: Get the app groups in a manager at revision in Bulk
      tags:
      - MPM App Group
  /mpm/manager/{managerId}/app-groups/names/{revisionId}:
    put:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getAppGroupsByNamesInBulk
      parameters:
      - in: path
        name: managerId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MpmAppGroupObj'
                type: array
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
        '500':
          description: Internal Server Error
      summary: Get the app groups in a manager at revision in Bulk
      tags:
      - MPM App Group
  /mpm/manager/{managerId}/app-groups/{revisionId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getAppGroups
      parameters:
      - in: path
        name: managerId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmAppGroupsPage'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the app groups in a manager at revision
      tags:
      - MPM App Group
  /mpm/manager/{managerId}/relations/app-group/{appGroupId}/{revisionId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getRelationsForAppGroup
      parameters:
      - in: path
        name: managerId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: appGroupId
        required: true
        schema:
          format: uuid
          type: string
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmEntityRelations'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the Policies, Rules and App Groups related to an App Group
      tags:
      - MPM App Group
components:
  schemas:
    MpmAppObj:
      properties:
        alg:
          type: string
        anyApp:
          type: boolean
        description:
          type: string
        ianaProtocol:
          format: int32
          type: integer
        icmpCode:
          format: int32
          type: integer
        icmpType:
          format: int32
          type: integer
        id:
          format: uuid
          type: string
        name:
          type: string
        portEnd:
          format: int32
          type: integer
        portStart:
          format: int32
          type: integer
        timeout:
          format: int32
          type: integer
        value:
          type: string
      type: object
    MpmPolicyMetadataToRules:
      properties:
        description:
          type: string
        name:
          type: string
        policyId:
          format: uuid
          type: string
        ruleIds:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
      type: object
    MpmAppGroupObj:
      properties:
        aps:
          items:
            $ref: '#/components/schemas/MpmAppObj'
          type: array
        description:
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
      type: object
    MpmEntityRelations:
      properties:
        appGroups:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        endpointGroups:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        policyToRules:
          items:
            $ref: '#/components/schemas/MpmPolicyMetadataToRules'
          type: array
      type: object
    MpmAppGroupsPage:
      properties:
        appGroups:
          items:
            $ref: '#/components/schemas/MpmAppGroupObj'
          type: array
        cursor:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
