openapi: 3.2.0
info:
  title: Mesh Policy Engine Terminal Zone API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Terminal Zone
paths:
  /topology/gateway-set/{id}/terminal-zone-pairs:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro,internal'
      operationId: getTerminalZonesForGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjacentZones'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get terminal zones for gateway set
      tags:
      - Terminal Zone
  /topology/get-gateway-sets-for-terminal-zone-pairs:
    post:
      description: 'Roles allowed: support,topology-rw,topology-ro,internal'
      operationId: getGatewaySetsForTerminalZonePairs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalZonePairs'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewaySets'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get gateway sets for terminal zone pairs
      tags:
      - Terminal Zone
components:
  schemas:
    ZonePair:
      properties:
        zoneOneId:
          type: string
        zoneTwoId:
          type: string
      required:
      - zoneOneId
      - zoneTwoId
      type: object
    IdValue:
      properties:
        id:
          type: string
      type: object
    AdjacentZones:
      properties:
        adjacentZones:
          items:
            $ref: '#/components/schemas/ZonePair'
          type: array
      type: object
    GatewaySets:
      properties:
        gatewaySets:
          items:
            $ref: '#/components/schemas/IdValue'
          type: array
      type: object
    FromToZone:
      properties:
        fromZoneId:
          type: string
        toZoneId:
          type: string
      required:
      - fromZoneId
      - toZoneId
      type: object
    TerminalZonePairs:
      properties:
        terminalZonePairs:
          items:
            $ref: '#/components/schemas/FromToZone'
          type: array
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
