openapi: 3.2.0
info:
  title: Mesh Policy Engine Zone Path API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Zone Path
paths:
  /topology/zone-path:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getZonePathsForTerminalZonePair
      parameters:
      - in: query
        name: srcZone
        required: true
        schema:
          type: string
      - in: query
        name: dstZone
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonePathsApiResponse'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone paths between terminal zones
      tags:
      - Zone Path
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: addZonePath
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZonePathRequest'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateZonePathApiResponse'
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Add zone path
      tags:
      - Zone Path
  /topology/zone-path/gateway-set/{id}:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getZonePathsForGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonePaths'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone paths for gateway set id
      tags:
      - Zone Path
  /topology/zone-path/terminal-zone/{zoneId}:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getZonePathsForTerminalZone
      parameters:
      - in: path
        name: zoneId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonePathsApiResponse'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone paths for terminal zone
      tags:
      - Zone Path
  /topology/zone-path/with-gateway-sets/{zonePathId}:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getZonePathWithGatewaySets
      parameters:
      - in: path
        name: zonePathId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonePath'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone path with device-sets
      tags:
      - Zone Path
  /topology/zone-path/{zonePathId}:
    delete:
      description: 'Roles allowed: support,topology-rw'
      operationId: deleteZonePath
      parameters:
      - in: path
        name: zonePathId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteZonePathApiResponse'
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete zone path
      tags:
      - Zone Path
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getZonePath
      parameters:
      - in: path
        name: zonePathId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonePath'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone path
      tags:
      - Zone Path
components:
  schemas:
    ZonePath:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/ZonePathNode'
          type: array
      type: object
    ZonePathId:
      properties:
        id:
          format: uuid
          type: string
      type: object
    CreateZonePathApiResponse:
      properties:
        gatewaySetPushRequests:
          items:
            $ref: '#/components/schemas/ReqIdAndReqSystem'
          type: array
        zonePathId:
          format: uuid
          type: string
      type: object
    ReqIdAndReqSystem:
      properties:
        id:
          example: 03502bc3-c140-4951-b467-bd17312a9b0b
          type: string
        requestingSystem:
          enum:
          - PCM
          - SDI
          - MPM
          - RED
          - SEEDING
          - TOPOLOGY
          - PCM_TOPOLOGY_CHANGE
          - SDI_TOPOLOGY_CHANGE
          - MPM_SECURITY_TOPOLOGY_CHANGE
          - MPM_POLICY_IMPORT
          - ZONE_PATH_TOPOLOGY_CHANGE
          - MPM_MULTI_POLICY_PUSH
          - GOVERNANCE_POLICY_DYNAMIC_GROUP_CHANGE
          type: string
      type: object
    ZonePathNode:
      properties:
        ids:
          items:
            type: string
          type: array
          uniqueItems: true
        type:
          enum:
          - ZONE
          - DEVICE
          type: string
      type: object
    ZonePathRequest:
      properties:
        zonePath:
          items:
            $ref: '#/components/schemas/ZoneId'
          type: array
      type: object
    ZonePathsApiResponse:
      properties:
        zonePaths:
          items:
            $ref: '#/components/schemas/ZonePathId'
          type: array
      type: object
    ZoneId:
      properties:
        zone:
          type: string
      type: object
    DeleteZonePathApiResponse:
      properties:
        gatewaySetPushRequests:
          items:
            $ref: '#/components/schemas/ReqIdAndReqSystem'
          type: array
      type: object
    ZonePaths:
      properties:
        zonePaths:
          items:
            $ref: '#/components/schemas/ZonePath'
          type: array
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
