openapi: 3.2.0
info:
  title: Mesh Policy Engine Policy Based Access Control Role API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Policy Based Access Control Role
paths:
  /security/pbac/roles:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getAllRoles
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get all roles
      tags:
      - Policy Based Access Control Role
    post:
      description: 'Roles allowed: entitlements-manager'
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PbacRole'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Create new PBAC role
      tags:
      - Policy Based Access Control Role
  /security/pbac/roles/{id}:
    delete:
      description: 'Roles allowed: entitlements-manager'
      operationId: deleteRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete existing PBAC role
      tags:
      - Policy Based Access Control Role
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get a role
      tags:
      - Policy Based Access Control Role
components:
  schemas:
    PbacRole:
      properties:
        description:
          type: string
        id:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
