openapi: 3.2.0
info:
  title: Cisco Secure Firewall Tenant Management API
  version: 1.13.0
  contact:
    name: Cisco Security Cloud Control TAC
    email: cdo.tac@cisco.com
  description: 'Operations tagged Tenant Management across 2 of this provider''s published API definitions: cisco-secure-firewall-scc-firewall-manager-openapi.yml,
    scc-firewall-manager-openapi.yaml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-scc-firewall-manager-openapi.yml, the provider's source document.
      Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-scc-firewall-manager-openapi.yml
    operation_coverage: 5/5
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Tenant Management
paths:
  /v1/features:
    get:
      description: Get the feature flags enabled in the Security Cloud Control tenant.
      operationId: getFeatureFlags
      responses:
        '200':
          content:
            application/json:
              example:
              - feature-1
              - feature-2
              schema:
                items:
                  type: string
                type: array
          description: Set of feature flags that are enabled for the user's tenant.
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Feature Flags
      tags:
      - Tenant Management
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/settings/tenant:
    get:
      description: Get the settings for the Security Cloud Control tenant.
      operationId: getTenantSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
          description: Tenant Settings Object
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Tenant Settings
      tags:
      - Tenant Management
    patch:
      description: Modify the settings for the Security Cloud Control tenant.
      operationId: modifyTenantSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettings'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
          description: Tenant Settings Object
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Modify Tenant Settings
      tags:
      - Tenant Management
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/tenants:
    get:
      description: Get a list of tenants with which the Security Cloud Control user is associated.
      operationId: getTenants
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPage'
          description: List of Tenant Objects
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Tenants
      tags:
      - Tenant Management
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/tenants/{tenantUid}:
    get:
      description: Fetch a tenant by UID in Security Cloud Control. This will return a 200 response only if the user is associated
        with the tenant.
      operationId: getTenant
      parameters:
      - description: The unique identifier, represented as a UUID, of the tenant in Security Cloud Control.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
          description: Tenant Object
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Tenant
      tags:
      - Tenant Management
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
components:
  schemas:
    Tenant:
      properties:
        displayName:
          deprecated: true
          description: A human-readable display name for the enterprise (tenant). This is the tenant name displayed in the
            Security Cloud Control Web UI.
          example: mytenantname
          type: string
        name:
          description: The name of the enterprise (tenant) in Security Cloud Control.
          example: mytenantname@cisco.com
          type: string
        payType:
          deprecated: true
          description: An enum that describes the payment type of the tenant in Security Cloud Control.
          enum:
          - PAYING
          - NOT_PAYING
          - TRIAL
          - INTERNAL
          - PARTNER
          - DEMO
          example: TRIAL
          type: string
        securityCloudControlEnterpriseId:
          description: The unique identifier, represented as a UUID, of the Security Cloud Control Enterprise this tenant
            is associated with.
          example: dda3ce52-312c-477a-aa86-1fd1866ddab7
          format: uuid
          type: string
        uid:
          description: The unique identifier, represented as a UUID, of the enterprise (tenant) in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      type: object
    AuthenticationError:
      properties:
        error:
          description: A human-readable error description in English.
          example: invalid_token
          type: string
        errorDescription:
          description: A human-readable error description in English.
          example: Your token is invalid
          type: string
    TenantPage:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int32
          type: integer
        items:
          description: The list of items retrieved.
          items:
            $ref: '#/components/schemas/Tenant'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int32
          type: integer
        offset:
          description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
            the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int32
          type: integer
      type: object
    ConflictDetectionInterval:
      enum:
      - EVERY_10_MINUTES
      - EVERY_HOUR
      - EVERY_6_HOURS
      - EVERY_24_HOURS
      type: string
    TenantSettings:
      properties:
        aiAssistant:
          description: Indicates if the tenant has the AI assistant enabled.
          example: true
          type: boolean
        asaHealthMetrics:
          description: Indicates if the tenant collects ASA health metrics.
          example: false
          type: boolean
        autoAcceptDeviceChanges:
          description: Indicates if changes made out-of-band on devices on the tenant are automatically accepted without manual
            approval.
          example: true
          type: boolean
        autoDiscoverOnPremFmcs:
          description: Indicates if the system automatically discovers on-premise FMCs.
          example: true
          type: boolean
        changeRequestSupport:
          description: Indicates if the tenant supports change requests.
          example: true
          type: boolean
        conflictDetectionInterval:
          $ref: '#/components/schemas/ConflictDetectionInterval'
          description: Specifies the default interval at which Security Cloud Control checks for changes made out-of-band
            on the devices on the tenant.
          example: EVERY_6_HOURS
        denyCiscoSupportAccessToTenant:
          description: Indicates if Cisco support is denied access to the tenant.
          example: true
          type: boolean
        multicloudDefense:
          description: Indicates if the tenant has the multicloud defense enabled.
          example: false
          type: boolean
        policyAnalyzer:
          description: Indicates if the tenant has the policy analyzer enabled.
          example: true
          type: boolean
        scheduledDeployments:
          description: Indicates if the tenant has scheduled deployments enabled.
          example: false
          type: boolean
        uid:
          description: The unique identifier, represented as a UUID, of the tenant in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        webAnalytics:
          description: Indicates if web analytics are enabled for the tenant.
          example: true
          type: boolean
      type: object
    CommonApiError:
      properties:
        details:
          additionalProperties:
            description: Additional details, if any, on the error
            example: {}
            type: object
          description: Additional details, if any, on the error
          example: {}
          type: object
        errorCode:
          description: A unique code that describes the error.
          enum:
          - INVALID_INPUT
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - CONFLICT
          - TOO_MANY_REQUESTS
          - SERVER_ERROR
          - PROXY_ERROR
          - BAD_REQUEST
          - UNPROCESSABLE_ENTITY
          example: INVALID_INPUT
          type: string
        errorMsg:
          description: A human-readable error description in English.
          example: sample error
          type: string
  responses:
    http403Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonApiError'
      description: User does not have sufficient privileges to perform this operation.
    http404NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonApiError'
      description: Entity not found.
    http400BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonApiError'
      description: Invalid input provided. Check the response for details.
    http401Unauthorised:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationError'
      description: Request not authorized.
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-refined-from:
- cisco-secure-firewall-scc-firewall-manager-openapi.yml
- scc-firewall-manager-openapi.yaml
