openapi: 3.2.0
info:
  title: Mesh Policy Engine Install Target API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Install Target
paths:
  /mpm/install-targets/ids/{revisionId}:
    put:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getInstallTargetsByIds
      parameters:
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MpmGatewaySetResp'
                type: array
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the install-targets by ids for a particular revision
      tags:
      - Install Target
  /mpm/install-targets/{revisionId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getInstallTargets
      parameters:
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmGatewaySetsPage'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the install-targets for a particular revision
      tags:
      - Install Target
components:
  schemas:
    MpmGatewaySetsPage:
      properties:
        cursor:
          type: string
        gatewaySets:
          items:
            $ref: '#/components/schemas/MpmGatewaySetResp'
          type: array
      type: object
    MpmPolicy:
      properties:
        deleted:
          type: boolean
        description:
          type: string
        managerId:
          format: uuid
          type: string
        name:
          type: string
        policyId:
          format: uuid
          type: string
        policyType:
          enum:
          - SECURITY
          - GOVERNANCE_PREPEND
          - GOVERNANCE_APPEND
          - NAT
          type: string
        revisionId:
          format: int32
          type: integer
      type: object
    MpmGatewaySetResp:
      properties:
        createdTimestamp:
          format: date-time
          type: string
        deviceType:
          enum:
          - PALO_ALTO
          - JUNIPER
          - PENSANDO_DSC
          - PENSANDO_DSS
          - FORTI_GATE
          - PENSANDO_DSC_PDT
          - CMCD
          - ASA_INTERFACE
          - ASA_GLOBAL
          type: string
        gateways:
          items:
            $ref: '#/components/schemas/MpmGatewayResp'
          type: array
        id:
          type: string
        modifiedTimestamp:
          format: date-time
          type: string
        policies:
          items:
            $ref: '#/components/schemas/MpmPolicy'
          type: array
        status:
          enum:
          - ACTIVE
          - HELD
          - SKIPPED
          - UNMANAGED
          type: string
      type: object
    MpmGatewayResp:
      properties:
        hostname:
          type: string
        managementIp:
          type: string
        name:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
