openapi: 3.2.0
info:
  title: Cisco Secure Firewall Integration API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Integration across 2 of this provider''s published API definitions: cdfmc-openapi.yaml,
    cisco-secure-firewall-cdfmc-openapi.yml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 29/29
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Integration
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/aiops/configure:
    get:
      deprecated: false
      description: '****'
      operationId: getAiOpsModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/aiops/configure ( Get the status of the Prometheus onboard )':
                  value:
                    items:
                    - blockDetails:
                      - blockName: 01J4RTAYM8PXNVVCQ388MCTVFP
                        checksum: a4255b42a6ce279c1a8d1ff211b04d32e775bc5c35a639aba9af424ca436791c
                      status: COMPLETED
                    links:
                      self: https://u32c01p06-vrouter.cisco.com:22522/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/integration/aiops/configure?offset=0&limit=25
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AiOpsModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    post:
      deprecated: false
      description: '** _Check the response section for applicable examples (if any)._**'
      operationId: createAiOpsModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/integration/aiops/configure ( Configure Aiops Enable/Disable
                on FMC and upload the Prometheus TSDB data to cloud )'
              : value:
                  enabled: true
                  tenantUuid: tenantUuid
                  uploadUrl: http://link-to-s3-bucket
            schema:
              $ref: '#/components/schemas/AiOpsModel'
              type: object
        description: ''
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/integration/aiops/configure ( Configure Aiops Enable/Disable
                  on FMC and upload the Prometheus TSDB data to cloud )'
                : value:
                    message: Enable remote-write and upload prometheus TSDB to S3 bucket task scheduled
                    status: IN_PROGRESS
              schema:
                $ref: '#/components/schemas/AiOpsModel'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/aiops/tsdbupload:
    post:
      deprecated: false
      description: '** _Check the response section for applicable examples (if any)._**'
      operationId: createPrometheusTSDBUpload
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/integration/aiops/uploadtsdb ( Upload the Prometheus TSDB
                data to cloud )'
              : value:
                  uploadUrl: http://link-to-s3-bucket
            schema:
              $ref: '#/components/schemas/PrometheusTSDBUpload'
              type: object
        description: ''
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/integration/aiops/uploadtsdb ( Upload the Prometheus
                  TSDB data to cloud )'
                : value:
                    message: Upload task scheduled
                    status: IN_PROGRESS
              schema:
                $ref: '#/components/schemas/PrometheusTSDBUpload'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/aiops/tsdbupload/status:
    get:
      deprecated: false
      description: '****'
      operationId: getPrometheusTSDBUpload
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/aiops/uploadtsdb/status ( Get the status of
                  the Prometheus TSDB upload )'
                : value:
                    message: Upload task completed
                    status: COMPLETED
              schema:
                $ref: '#/components/schemas/PrometheusTSDBUploadListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/cloudeventsconfigs:
    get:
      deprecated: false
      description: '**Get the list of the singleton cloud event configuration objects.**'
      operationId: getAllCloudEvents
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs ( GET ALL method for Cloud Events )':
                  value:
                    items:
                    - id: CloudEventsConfigsUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                      type: CloudEventsConfigs
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudeventsconfigs?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs?expanded=true ( GET ALL
                  method for CloudEventsConfigs with expanded set to true )'
                : value:
                    items:
                    - devicesExcludedFromSendingEvents: []
                      id: CloudEventsConfigsUUID
                      links:
                        self: /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                      sendAllConnectionEvents: false
                      sendConnectionEvents: true
                      sendFileEvents: true
                      sendIntrusionEvents: true
                      sendNetworkDiscoveryEvents: true
                      sendPackets: true
                      type: CloudEventsConfig
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs?offset=0&limit=1&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/CloudEventsListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/cloudeventsconfigs/{objectId}:
    get:
      deprecated: false
      description: '**Get the the cloud event configuration associated with the specified ID.**'
      operationId: getCloudEvents
      parameters:
      - description: Identifier for the cloud event configuration.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                  ( GET Cloud Events for the given UUID )'
                : value:
                    devicesExcludedFromSendingEvents: []
                    id: CloudEventsConfigsUUID
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                    sendAllConnectionEvents: false
                    sendConnectionEvents: true
                    sendFileEvents: true
                    sendIntrusionEvents: true
                    sendNetworkDiscoveryEvents: true
                    sendPackets: true
                    type: CloudEventsConfig
              schema:
                $ref: '#/components/schemas/CloudEvents'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    put:
      deprecated: false
      description: '**Modify the the cloud event configuration associated with the specified ID. _Check the response section
        for applicable examples (if any)._**'
      operationId: updateCloudEvents
      parameters:
      - description: Identifier for the cloud event configuration.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID (
                PUT to update the Cloud Event Config )'
              : value:
                  devicesExcludedFromSendingEvents: []
                  id: CloudEventsConfigsUUID
                  sendAllConnectionEvents: true
                  sendConnectionEvents: false
                  sendFileEvents: true
                  sendIntrusionEvents: false
                  sendNetworkDiscoveryEvents: false
                  sendPackets: false
                  type: CloudEventsConfig
            schema:
              $ref: '#/components/schemas/CloudEvents'
              type: object
        description: Input representation of cloud event configuration.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                  ( PUT to update the Cloud Event Config )'
                : value:
                    devicesExcludedFromSendingEvents: []
                    id: CloudEventsConfigsUUID
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudeventsconfigs/CloudEventsConfigsUUID
                    sendAllConnectionEvents: true
                    sendConnectionEvents: false
                    sendFileEvents: true
                    sendIntrusionEvents: false
                    sendNetworkDiscoveryEvents: false
                    sendPackets: false
                    type: CloudEventsConfig
              schema:
                $ref: '#/components/schemas/CloudEvents'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/cloudintegrations/cloudintegrations:
    get:
      deprecated: false
      description: '****'
      operationId: getAllCloudIntegrationStatus
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudIntegrationStatusListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/cloudregions:
    get:
      deprecated: false
      description: '**Get the list of all cloud regions.**'
      operationId: getAllCloudRegion
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/integration/cloudregions ( GET ALL method for CloudRegion )':
                  value:
                    items:
                    - id: cloudRegionUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID
                      type: CloudRegion
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudregions?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/integration/cloudregions?expanded=true ( GET ALL method
                  for CloudRegion with expanded set to true )'
                : value:
                    items:
                    - current: true
                      description: Example
                      domain: region.example.com
                      id: cloudRegionUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID
                      name: example-region
                      type: CloudRegion
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudregions?offset=0&limit=1&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/CloudRegionListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/cloudregions/{objectId}:
    get:
      deprecated: false
      description: '**Get the the cloud region configuration associated with the specified ID.**'
      operationId: getCloudRegion
      parameters:
      - description: Identifier for the cloud region.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID ( GET CloudRegion
                  for the given UUID )'
                : value:
                    current: true
                    description: Example
                    domain: region.example.com
                    id: cloudRegionUUID
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID
                    name: example-region
                    type: CloudRegion
              schema:
                $ref: '#/components/schemas/CloudRegion'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    put:
      deprecated: false
      description: '**Modify the the cloud region configuration associated with the specified ID. _Check the response section
        for applicable examples (if any)._**'
      operationId: updateCloudRegion
      parameters:
      - description: Identifier for the cloud region.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID ( PUT to update
                the CloudRegion )'
              : value:
                  current: true
                  id: cloudRegionUUID
                  type: CloudRegion
            schema:
              $ref: '#/components/schemas/CloudRegion'
              type: object
        description: Input representation of cloud region.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID ( PUT to update
                  the CloudRegion )'
                : value:
                    current: true
                    description: Example
                    domain: region.example.com
                    id: cloudRegionUUID
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/cloudregions/cloudRegionUUID
                    name: example-region
                    type: CloudRegion
              schema:
                $ref: '#/components/schemas/CloudRegion'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/externallookups:
    get:
      deprecated: false
      description: '**Get the list of all external lookups.**'
      operationId: getAllExternalLookup
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/externallookups ( GET ALL method for External Lookup )':
                  value:
                    items:
                    - id: ExternalLookupUUID
                      links:
                        self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                      name: test1055
                      type: ExternalLookup
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups?offset=0&limit=25
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/integration/externallookups?expanded=true ( GET ALL method
                  for ExternalLookup with expanded set to true )'
                : value:
                    items:
                    - enabled: true
                      id: ExternalLookupUUID
                      links:
                        self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                      name: test1055
                      template: http://www.example.com/{ip}
                      type: ExternalLookup
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ExternalLookupListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    post:
      deprecated: false
      description: '**Create an external lookup. _Check the response section for applicable examples (if any)._**'
      operationId: createExternalLookup
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/domainUUID/integration/externallookups ( POST operation on External Lookup. )':
                value:
                  enabled: true
                  name: test
                  template: http://www.example.com
                  type: ExternalLookup
            schema:
              $ref: '#/components/schemas/ExternalLookup'
              type: object
        description: Input representation of external lookup.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                'Example 1 : POST /fmc_config/v1/domain/domainUUID/integration/externallookups ( POST operation on External Lookup. )':
                  value:
                    enabled: true
                    id: ExternalLookupUUID
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                    name: test
                    template: http://www.example.com
                    type: ExternalLookup
              schema:
                $ref: '#/components/schemas/ExternalLookup'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/externallookups/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the external lookup associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteExternalLookup
      parameters:
      - description: Identifier for the external lookup.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/domainUUID/integration/externallookups/ExternalLookupUUID ( DELETE
                  an External Lookup for the given UUID )'
                : value:
                    enabled: true
                    id: ExternalLookupUUID
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                    name: test
                    template: http://www.example.com
                    type: ExternalLookup
              schema:
                $ref: '#/components/schemas/ExternalLookup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    get:
      deprecated: false
      description: '**Get the external lookup associated with the specified ID.**'
      operationId: getExternalLookup
      parameters:
      - description: Identifier for the external lookup.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID ( GET External
                  Lookup for the given UUID )'
                : value:
                    enabled: true
                    id: ExternalLookupUUID
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                    name: test1055
                    template: http://www.example.com/{ip}
                    type: ExternalLookup
              schema:
                $ref: '#/components/schemas/ExternalLookup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    put:
      deprecated: false
      description: '**Modify the external lookup associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: updateExternalLookup
      parameters:
      - description: Identifier for the external lookup.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/externallookups/ExternalLookupUUID ( PUT to
                update an ExternalLookup )'
              : value:
                  enabled: true
                  id: ExternalLookupUUID
                  name: change_name
                  template: http://www.example.com
                  type: ExternalLookup
            schema:
              $ref: '#/components/schemas/ExternalLookup'
              type: object
        description: Input representation of external lookup.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/externallookups/ExternalLookupUUID ( PUT to
                  update an ExternalLookup )'
                : value:
                    enabled: true
                    id: ExternalLookupUUID
                    links:
                      self: /fmc_config/v1/domain/DomainUUID/integration/externallookups/ExternalLookupUUID
                    name: change_name
                    template: http://www.example.com
                    type: ExternalLookup
              schema:
                $ref: '#/components/schemas/ExternalLookup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/externalstorage:
    get:
      deprecated: false
      description: '**Get the list of external event storage configurations.**'
      operationId: getAllExternalStorage
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/integration/externalstorage ( GET ALL method for ExternalStorage )':
                  value:
                    items:
                    - id: externalStorageUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID
                      type: ExternalStorage
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/externalstorage?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/integration/externalstorage?expanded=true ( GET ALL method
                  for ExternalStorage with expanded set to true )'
                : value:
                    items:
                    - crossLaunchEnabled: true
                      description: Example
                      deviceMap:
                        deviceUUID: logHostUUID
                      doNotStoreConnectionEvents: false
                      id: externalStorageUUID
                      isLinaLoggingEnabled: false
                      links:
                        self: /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID
                      logHosts:
                      - logHost: 10.20.30.40
                        logId: logHostUUID
                        logPort: 8514
                      name: ExternalStorage externalStorageUUID
                      remoteQueryCert: Remote Query Cert
                      remoteQueryHost: example.com
                      remoteQueryPort: 443
                      type: ExternalStorage
                      uiHost: example.com
                      uiPort: 443
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/externalstorage?offset=0&limit=1&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ExternalStorageListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/externalstorage/{objectId}:
    get:
      deprecated: false
      description: '**Get the external event storage configuration associated with the specified ID.**'
      operationId: getExternalStorage
      parameters:
      - description: Identifier for the external event storage.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID ( GET
                  ExternalStorage for the given UUID )'
                : value:
                    crossLaunchEnabled: true
                    description: Example
                    deviceMap:
                      deviceUUID: logHostUUID
                    doNotStoreConnectionEvents: false
                    id: externalStorageUUID
                    isLinaLoggingEnabled: false
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID
                    logHosts:
                    - logHost: 10.20.30.40
                      logId: logHostUUID
                      logPort: 8514
                    name: ExternalStorage externalStorageUUID
                    remoteQueryCert: Remote Query Cert
                    remoteQueryHost: example.com
                    remoteQueryPort: 443
                    type: ExternalStorage
                    uiHost: example.com
                    uiPort: 443
              schema:
                $ref: '#/components/schemas/ExternalStorage'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    put:
      deprecated: false
      description: '**Modify the external event storage configuration associated with the specified ID. _Check the response
        section for applicable examples (if any)._**'
      operationId: updateExternalStorage
      parameters:
      - description: Identifier for the external event storage.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID ( PUT to
                update the ExternalStorage )'
              : value:
                  crossLaunchEnabled: true
                  deviceMap:
                    deviceUUID: logHostUUID
                  doNotStoreConnectionEvents: false
                  id: externalStorageUUID
                  isLinaLoggingEnabled: false
                  logHosts:
                  - logHost: 10.20.30.40
                    logId: logHostUUID
                    logPort: 8514
                  remoteQueryCert: Remote Query Cert
                  remoteQueryHost: example.com
                  remoteQueryPort: 443
                  type: ExternalStorage
                  uiHost: example.com
                  uiPort: 443
              ? 'Example 2 : PUT /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID ( PUT with
                credentials to update the ExternalStorage and create Remote Query API user )'
              : value:
                  crossLaunchEnabled: true
                  deviceMap:
                    deviceUUID: logHostUUID
                  doNotStoreConnectionEvents: false
                  id: externalStorageUUID
                  isLinaLoggingEnabled: false
                  logHosts:
                  - logHost: 10.20.30.40
                    logId: logHostUUID
                    logPort: 8514
                  password: '********'
                  remoteQueryCert: Remote Query Cert
                  remoteQueryHost: example.com
                  remoteQueryPort: 443
                  type: ExternalStorage
                  uiHost: example.com
                  uiPort: 443
                  username: admin
            schema:
              $ref: '#/components/schemas/ExternalStorage'
              type: object
        description: Input representation of external event storage config.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID ( PUT
                  to update the ExternalStorage )'
                : value:
                    crossLaunchEnabled: true
                    description: Example
                    deviceMap:
                      deviceUUID: logHostUUID
                    doNotStoreConnectionEvents: false
                    id: externalStorageUUID
                    isLinaLoggingEnabled: false
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID
                    logHosts:
                    - logHost: 10.20.30.40
                      logId: logHostUUID
                      logPort: 8514
                    name: ExternalStorage externalStorageUUID
                    remoteQueryCert: Remote Query Cert
                    remoteQueryHost: example.com
                    remoteQueryPort: 443
                    type: ExternalStorage
                    uiHost: example.com
                    uiPort: 443
                ? 'Example 2 : PUT /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID ( PUT
                  with credentials to update the ExternalStorage and create Remote Query API user )'
                : value:
                    crossLaunchEnabled: true
                    description: Example
                    deviceMap:
                      deviceUUID: logHostUUID
                    doNotStoreConnectionEvents: false
                    id: externalStorageUUID
                    isLinaLoggingEnabled: false
                    links:
                      self: /fmc_config/v1/domain/domainUUID/integration/externalstorage/externalStorageUUID
                    logHosts:
                    - logHost: 10.20.30.40
                      logId: logHostUUID
                      logPort: 8514
                    name: ExternalStorage externalStorageUUID
                    remoteQueryCert: Remote Query Cert
                    remoteQueryHost: example.com
                    remoteQueryPort: 443
                    type: ExternalStorage
                    uiHost: example.com
                    uiPort: 443
              schema:
                $ref: '#/components/schemas/ExternalStorage'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/fmchastatuses:
    get:
      deprecated: false
      description: '**Get information about the High Availability status of the Secure Firewall Management Center.**'
      operationId: getFMCHAStatus
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/integration/fmchastatuses ( Success: Sample response of
                  getfmchastatuses api )'
                : value:
                    items:
                    - fmcPrimary:
                        hwRole: Primary
                        ipAddress: 10.10.10.161
                        modelId: 66
                        role: Active
                        swVersion: 7.1.0
                        uuid: 40679bee-a400-11eb-876e-ae901b2860b3
                      fmcSecondary:
                        hwRole: Secondary
                        ipAddress: 10.10.10.162
                        modelId: 66
                        role: Standby
                        swVersion: 7.1.0
                        uuid: 4446d45a-a400-11eb-8175-b07e3c71576f
                      haOpInProgress: false
                      haStatusMessages:
                      - Synchronization task is in progress.
                      id: 40679bee-a400-11eb-876e-ae901b2860b3
                      overallStatus: GOOD
                      syncStatus: IN_PROGRESS
                      type: FMCHAStatus
                    links:
                      self: https://example.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/integration/fmchastatuses?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FMCHAStatusListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/operational/refreshsecurexconfigs:
    post:
      deprecated: false
      description: '**Refresh SecureX configurations. _Check the response section for applicable examples (if any)._**'
      operationId: createSecurexConfigRefresh
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurexConfigRefresh'
              type: object
        description: The input SecureX configuration refresh model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurexConfigRefresh'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/operational/testumbrellaconnections:
    post:
      deprecated: false
      description: '**Test connection to the Umbrella cloud _Check the response section for applicable examples (if any)._**'
      operationId: createTestUmbrellaConnection
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestUmbrellaConnection'
              type: object
        description: JSON data which will be used to test connection to the umbrella cloud.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestUmbrellaConnection'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrella/datacenters:
    get:
      deprecated: false
      description: '**Get the list of all Umbrella data centers.**'
      operationId: getAllUmbrellaDataCenter
      parameters:
      - description: Boolean value, if set to false, Data Center list will be fetched from the Umbrella site ignoring the
          cached data.
        in: query
        name: useCache
        required: false
        schema:
          type: boolean
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaDataCenterListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrella/tunneldeployments:
    post:
      deprecated: false
      description: '**Create a tunnel deployment. _Check the response section for applicable examples (if any)._**'
      operationId: createUmbrellaDeploymentData
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmbrellaDeploymentData'
              type: object
        description: Input payload containing topology UUID.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaDeploymentData'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrella/tunneldeployments/{containerUUID}/transcripts/{objectId}
  : get:
      deprecated: false
      description: '**Get transcript for Umbrella deployment from a given device and topology.**'
      operationId: getUmbrellaDeploymentTranscript
      parameters:
      - description: Unique identifier of the Device from which to fetch the Umbrella transcript.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaDeploymentTranscript'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrella/tunneldeployments/{objectId}:
    get:
      deprecated: false
      description: '**Get tunnel deployment data on Umbrella.**'
      operationId: getUmbrellaDeploymentData
      parameters:
      - description: Unique identifier of the Umbrella topology being deployed.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaDeploymentData'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrellaconnections:
    get:
      deprecated: false
      description: '**Get the list of Umbrella connection configurations.**'
      operationId: getAllUmbrellaConnection
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaConnectionListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/integration/umbrellaconnections/{objectId}:
    get:
      deprecated: false
      description: '**Get the specified Umbrella connection configuration.**'
      operationId: getUmbrellaConnection
      parameters:
      - description: Unique identifier of the Umbrella connection configuration.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET ​/api​/fmc_config​/v1​/domain​/{domainUUID}​/integration​/umbrellaconnection ( Example
                  payloads for GET listing on umbrella connection settings. )'
                : value:
                    items:
                    - dnsCryptPublicKey: ' B735:1140:206F:225D:3E2B:D822:D7FD:691E:A1C3:3CC8:D666:8D0C:BE04:BFAB:CA43:FB79'
                      id: 00505681-7A0C-0ed3-0000-000000002959
                      legacyNetworkDeviceToken: 4AEC7D925F80507148C377D3DA41B49300649837
                      links:
                        self: <fmc_ip>/api/fmc_config/v1/domain/{domainUUID}/integration​/umbrellaconnections/UmbrellaConnectionuuid1
                      managementKey: 1c907b0e9738411884e6fb35e6dda88b
                      managementSecret: 85edc0c7b1f841d4be417414fd8224f5
                      networkDeviceKey: bc467062e69444148703211bcdf73449
                      networkDeviceSecret: b29b53ce6fe242129d844174e45eef41
                      organizationId: '6592567'
                      type: UmbrellaConnection
                    links:
                      self: <fmc_ip>/api/fmc_config/v1/domain/{domainUUID}/integration​/umbrellaconnections
                    paging:
                      count: 2
                      limit: 2
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/UmbrellaConnection'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    put:
      deprecated: false
      description: '**Modify the specified Umbrella connection configuration. _Check the response section for applicable examples
        (if any)._**'
      operationId: updateUmbrellaConnection
      parameters:
      - description: Unique identifier of the Umbrella connection configuration.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmbrellaConnection'
              type: object
        description: Input representation of an Umbrella Connection.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmbrellaConnection'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Integration
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
components:
  schemas:
    CloudRegionListContainer:
      properties:
        items:
          $ref: '#/components/schemas/CloudRegion'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ExternalLookupListContainer:
      properties:
        items:
          $ref: '#/components/schemas/ExternalLookup'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    AiOpsModel:
      properties:
        blockDetails:
          items:
            $ref: '#/components/schemas/IBlockDetails'
            type: object
          type: array
        deviceUuids:
          items:
            type: string
          type: array
        enabled:
          type: boolean
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        status:
          enum:
          - STARTED
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - ALREADY_INITIATED
          - NOT_INITIATED
          type: string
        tenantUuid:
          type: string
        type:
          type: string
        uploadUrl:
          type: string
      type: object
    UmbrellaDeploymentData:
      properties:
        datacenterIPAddress:
          type: string
        deployToFTD:
          type: boolean
        deploymentStatus:
          enum:
          - PENDING
          - SUCCESS
          - FAILURE
          - PARTIAL
          - IN_PROGRESS
          type: string
        description:
          type: string
        endTime:
          type: string
        endpoints:
          items:
            $ref: '#/components/schemas/IUmbrellaDeployEndpointsInfo'
            type: object
          type: array
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/Metadata'
          type: object
        name:
          type: string
        startTime:
          type: string
        type:
          type: string
        umbrellaDatacenter:
          type: string
        version:
          type: string
      type: object
    Domain:
      description: The details about the domain.
      properties:
        id:
          description: Unique UUID of this domain
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Links to the domain resource URLs.
          type: object
        name:
          description: Name of the domain.
          type: string
        type:
          description: Domain type definition (fixed).
          type: string
        uuid:
          type: string
      type: object
    IReference:
      description: Contains reference information.
      properties:
        id:
          description: Unique identifier representing resource.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        name:
          description: User chosen resource name.
          type: string
        type:
          description: Response object associated with resource.
          type: string
      type: object
    ExternalStorage:
      properties:
        crossLaunchEnabled:
          type: boolean
        description:
          type: string
        deviceMap:
          $ref: '#/components/schemas/LLDeviceMap'
          type: object
        doNotStoreConnectionEvents:
          type: boolean
        enabled:
          type: boolean
        id:
          type: string
        intValue:
          format: int32
          type: integer
        isLinaLoggingEnabled:
          type: boolean
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        logHosts:
          items:
            $ref: '#/components/schemas/ILogHost'
            type: object
          type: array
        longValue:
          format: int32
          type: integer
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        network:
          $ref: '#/components/schemas/NetworkObject'
          type: object
        password:
          type: string
        remoteQueryCert:
          type: string
        remoteQueryHost:
          type: string
        remoteQueryPort:
          format: int32
          type: integer
        template:
          type: string
        type:
          type: string
        uiHost:
          type: string
        uiPort:
          format: int32
          type: integer
        username:
          type: string
        version:
          type: string
      type: object
    CloudRegion:
      description: A model representing a cloud region
      properties:
        current:
          description: Boolean indicating whether this is the region used by the system
          type: boolean
        description:
          description: Region description
          type: string
        domain:
          description: The domain used to connect to the region
          type: string
        id:
          description: Unique identifier of the object
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Related links
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          description: Region name
          type: string
        type:
          description: 'Type of the object: CloudRegion'
          type: string
        version:
          type: string
      type: object
    Metadata:
      description: Defines read only details about the object - whether it is system defined, last user who modified the object
        etc.
      properties:
        domain:
          $ref: '#/components/schemas/Domain'
          description: Defines the domains this instance belongs to (if applicable).
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/MetadataUser'
          description: The last user who modified this instance.
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/ReadOnly'
          description: Details regarding the read only status of this instance
          type: object
        timestamp:
          description: The last updated timestamp.
          format: int32
          type: integer
      type: object
    CloudIntegrationStatusListContainer:
      properties:
        items:
          $ref: '#/components/schemas/CloudIntegrationStatus'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IReadonly:
      properties:
        reason:
          enum:
          - RBAC
          - SYSTEM
          - DOMAIN
          type: string
        state:
          type: boolean
      type: object
    Links:
      properties:
        parent:
          type: string
        self:
          type: string
      type: object
    CloudIntegrationStatusInfo:
      properties:
        cdoUrl:
          type: string
        connected:
          type: boolean
        deviceId:
          type: string
        onboardingStatus:
          type: string
        sseTenantName:
          type: string
        tenantId:
          type: string
      type: object
    MetadataUser:
      description: This object defines details about the user.
      properties:
        id:
          description: The unique UUID of the user
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Contains the self referencing links to this resource
          type: object
        name:
          description: Name of the user.
          type: string
        type:
          description: The user type (fixed).
          type: string
      type: object
    CloudEventsListContainer:
      properties:
        items:
          $ref: '#/components/schemas/CloudEvents'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    CloudIntegrationStatus:
      properties:
        enabled:
          type: boolean
        info:
          $ref: '#/components/schemas/CloudIntegrationStatusInfo'
          type: object
      type: object
    IBlockDetails:
      properties:
        blockName:
          type: string
        checksum:
          type: string
      type: object
    FMCHAStatus:
      description: Represents the Firepower Management Center High Availability Status Object.
      properties:
        fmcPrimary:
          $ref: '#/components/schemas/IFMCServerInfo'
          description: Object specifying the details of the Primary FMC.
          type: object
        fmcSecondary:
          $ref: '#/components/schemas/IFMCServerInfo'
          description: Object specifying the details of the Secondary FMC.
          type: object
        haOpInProgress:
          description: Boolean which specifies FMC HA operation is in progress.
          type: boolean
        haStatusMessages:
          description: Array of status messages of FMC HA.
          items:
            type: string
          type: array
        id:
          description: UUID of Firepower Management Center.
          type: string
        overallStatus:
          description: String specifies the overall status of FMC HA.
          enum:
          - GOOD
          - DEGRADED
          - SPLIT_BRAIN
          type: string
        pendingDeviceInfo:
          description: Specifies the devices pending for registration.
          items:
            $ref: '#/components/schemas/IPendingDeviceRegInfo'
            type: object
          type: array
        syncStatus:
          description: String specifies the sync status of FMC HA.
          enum:
          - GOOD
          - IN_PROGRESS
          - PAUSED
          - FAILED
          type: string
        type:
          description: Type of the Response object. This value is always FMCHAStatus.
          type: string
      type: object
    IMetadataUser:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    ErrorResponse:
      properties:
        category:
          description: Describes the category of the error thrown.
          enum:
          - FRAMEWORK
          - OTHER
          - VALIDATION
          type: string
        messages:
          description: List of error messages which the response has.
          items:
            $ref: '#/components/schemas/ErrorMessagesContainer'
            type: object
          type: array
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    SecurexConfigRefresh:
      description: Refresh SecureX configurations.
      properties:
        description:
          type: string
        devices:
          description: List of devices for which configurations has to be refreshed
          items:
            $ref: '#/components/schemas/IReference'
            type: object
          type: array
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/Metadata'
          type: object
        name:
          type: string
        type:
          description: Type of the request object. This value is always 'SecurexConfigRefresh'.
          type: string
        version:
          type: string
      type: object
    CloudEvents:
      description: details of the configuration object for sending events to cloud
      properties:
        description:
          type: string
        devicesExcludedFromSendingEvents:
          description: 'List of devices excluded from sending events to cloud '
          items:
            type: string
          type: array
        id:
          description: Unique UUID of the configuration object
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Links to the configuration object
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        sendAllConnectionEvents:
          description: Boolean indicating whether to send all connection events to cloud
          type: boolean
        sendConnectionEvents:
          description: Boolean indicating whether to send connection events to cloud
          type: boolean
        sendFileEvents:
          description: Boolean indicating whether to send file/malware events to cloud
          type: boolean
        sendIntrusionEvents:
          description: Boolean indicating whether to send intrusion events to cloud
          type: boolean
        sendNetworkDiscoveryEvents:
          description: Boolean indicating whether to send network discovery events to cloud
          type: boolean
        sendPackets:
          description: Boolean indicating whether to send packets to cloud
          type: boolean
        type:
          description: 'Type of the configuration object: CloudEventsConfigs'
          type: string
        version:
          type: string
      type: object
    AiOpsModelListContainer:
      properties:
        items:
          $ref: '#/components/schemas/AiOpsModel'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ExternalStorageListContainer:
      properties:
        items:
          $ref: '#/components/schemas/ExternalStorage'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ILinks:
      description: This defines the self referencing links for the given resource.
      properties:
        parent:
          description: Full resource URL path to reference the parent (if any) for this resource.
          type: string
        self:
          description: Full resource URL path to reference this particular resource.
          type: string
      type: object
    TestUmbrellaConnection:
      description: Represents the request object used to test the umbrella connection.
      properties:
        networkDeviceKey:
          description: Represents the network device key in the umbrella cloud.
          type: string
        networkDeviceSecret:
          description: Represents the network device secret in the umbrella cloud.
          type: string
        type:
          description: Type of the request object. This value is always 'TestUmbrellaConnection'.
          type: string
      type: object
    IFMCServerInfo:
      description: Represents the FMC Server Object.
      properties:
        hwRole:
          description: String represents the hardware role of the FMC.
          type: string
        ipAddress:
          description: String represents the IP address of the FMC.
          type: string
        modelId:
          description: Integer represents the model of the FMC.
          format: int32
          type: integer
        modelName:
          description: String specifies the model of the FMC.
          type: string
        role:
          description: String represents the role of the FMC.
          type: string
        swVersion:
          description: String represents the software version of the FMC.
          type: string
        uuid:
          description: String represents the UUID of the FMC.
          type: string
      type: object
    UmbrellaDataCenterListContainer:
      properties:
        items:
          $ref: '#/components/schemas/UmbrellaDataCenter'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IPendingDeviceRegInfo:
      description: Represents the Pending Device Registration info.
      properties:
        deviceName:
          description: String represents the name of the device.
          type: string
        deviceUuid:
          description: String represents the UUID of the device.
          type: string
        ipAddress:
          description: String represents the IP address of the device.
          type: string
        regStatus:
          description: String represents the registration status of the device.
          enum:
          - PENDING
          - FAILED
          type: string
      type: object
    LLDeviceMap:
      additionalProperties:
        type: string
      type: object
    PagingContainer:
      properties:
        count:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
      type: object
    UmbrellaConnection:
      description: The details about the Umbrella Connection.
      properties:
        dnsCryptPublicKey:
          description: Field for dns crypt public key of umbrella connection
          type: string
        id:
          description: Unique Identifier, in `UUID` format, of the Umbrella connection object id
          type: string
        legacyNetworkDeviceToken:
          description: Field for legacy network device token, used to deploy in FTD
          type: string
        links:
          $ref: '#/components/schemas/Links'
          type: object
        managementKey:
          description: Field for management key of umbrella connection for VPN config
          type: string
        managementSecret:
          description: Field for management secret of umbrella connection for VPN config
          type: string
        networkDeviceKey:
          description: Field for network device key of umbrella connection
          type: string
        networkDeviceSecret:
          description: Field for network device secret of umbrella connection, Must not be empty for PUT.
          type: string
        organizationId:
          description: Field for Organization id of umbrella connection
          type: string
        overridable:
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          type: object
        type:
          description: Value is 'UmbrellaConnection'. Read only fixed value.
          type: string
      type: object
    ExternalLookup:
      properties:
        description:
          type: string
        enabled:
          type: boolean
        id:
          type: string
        intValue:
          format: int32
          type: integer
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        longValue:
          format: int32
          type: integer
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        network:
          $ref: '#/components/schemas/NetworkObject'
          type: object
        template:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    PrometheusTSDBUpload:
      properties:
        blockDetails:
          items:
            $ref: '#/components/schemas/IBlockDetails'
            type: object
          type: array
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        status:
          enum:
          - STARTED
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - ALREADY_INITIATED
          - NOT_INITIATED
          type: string
        type:
          type: string
        uploadUrl:
          type: string
        version:
          type: string
      type: object
    IMetadata:
      properties:
        domain:
          $ref: '#/components/schemas/IDomain'
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/IMetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/IReadonly'
          type: object
        timestamp:
          format: int32
          type: integer
      type: object
    ILogHost:
      properties:
        logHost:
          type: string
        logId:
          type: string
        logPort:
          format: int32
          type: integer
      type: object
    UmbrellaDeploymentTranscript:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/Metadata'
          type: object
        name:
          type: string
        transcript:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    UmbrellaDataCenter:
      description: Description of Umbrella Data center
      properties:
        city:
          description: City in which Data center is located
          type: string
        continent:
          description: Continent in which Data center is located
          type: string
        description:
          type: string
        id:
          type: string
        ipAddress:
          description: IP Adress of the Data center
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/Metadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IDomain:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    FMCHAStatusListContainer:
      properties:
        items:
          $ref: '#/components/schemas/FMCHAStatus'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IOverride:
      description: Defines the override details for this object.
      properties:
        parent:
          $ref: '#/components/schemas/IReference'
          description: Link to the parent/global resource which is overriden.
          type: object
        target:
          $ref: '#/components/schemas/IReference'
          description: The device or the domain target on which this override is enabled.
          type: object
      type: object
    ErrorMessagesContainer:
      properties:
        bulkPayloadIndex:
          description: More details about the error.
          type: string
        code:
          description: More details about the error.
          type: string
        description:
          description: More details about the error.
          type: string
        details:
          description: More details about the error.
          type: string
        errorCode:
          description: More details about the error.
          type: string
        location:
          description: More details about the error.
          type: string
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    PrometheusTSDBUploadListContainer:
      properties:
        items:
          $ref: '#/components/schemas/PrometheusTSDBUpload'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    UmbrellaConnectionListContainer:
      properties:
        items:
          $ref: '#/components/schemas/UmbrellaConnection'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IUmbrellaDeployEndpointsInfo:
      properties:
        device:
          $ref: '#/components/schemas/IReference'
          type: object
        message:
          type: string
        umbrellaDeploymentState:
          enum:
          - PENDING
          - SUCCESS
          - FAILURE
          - PARTIAL
          - IN_PROGRESS
          type: string
      type: object
[...]
