openapi: 3.2.0
info:
  title: Cisco Secure Firewall Device Groups API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Device Groups across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 5/5
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Device Groups
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicegroups/devicegrouprecords:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get a list of all device groups.**'
      operationId: getAllDeviceGroup
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/devicegroups/devicegrouprecords ( Get all paginated network objects without offset and limit )'
                : value:
                    items:
                    - id: devicegroupUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/devicegroups/devicegrouprecords/devicegroupUUID
                      name: test1
                      type: DeviceGroup
                    - id: devicegroupUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/devicegroups/devicegrouprecords/devicegroupUUID
                      name: test2
                      type: DeviceGroup
                    - id: devicegroupUUID
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/devicegroups/devicegrouprecords/devicegroupUUID
                      name: test3
                      type: DeviceGroup
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/devicegroups/devicegrouprecords?offset=0&limit=3
                    paging:
                      count: number
                      limit: number
                      offset: number
                      pages: number
              schema:
                $ref: '#/components/schemas/DeviceGroupListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device Groups
    post:
      deprecated: false
      description: '**Create a device group. _Check the response section for applicable examples (if any)._**'
      operationId: createDeviceGroup
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords ( Test adding of device group to create a new record )'
              : value:
                  members:
                  - id: deviceUUID
                    name: deviceName
                    type: Device
                  name: zoom
                  type: DeviceGroup
            schema:
              $ref: '#/components/schemas/DeviceGroup'
              type: object
        description: Input representation of device group model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device Groups
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicegroups/devicegrouprecords/{objectId}:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    delete:
      deprecated: false
      description: '**Delete the specified device group. _Check the response section for applicable examples (if any)._**'
      operationId: deleteDeviceGroup
      parameters:
      - description: UUID of the device group.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords/devicegroupUUID ( Test DELETE of Device Group )'
                : value:
                    id: devicegroupUUID
                    links:
                      self: /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords/devicegroupUUID
                    members:
                    - id: deviceUUID
                      links:
                        self: /api/fmc_config/v1/domain/default/devices/devicerecords/deviceUUID
                      name: deviceName
                      type: Device
                    name: test1
                    type: DeviceGroup
              schema:
                $ref: '#/components/schemas/DeviceGroup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device Groups
    get:
      deprecated: false
      description: '**Get the specified device group.**'
      operationId: getDeviceGroup
      parameters:
      - description: UUID of the device group.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords/deviceGroupUUID ( Test GET of device group )'
                : value:
                    id: deviceGroupUUID
                    links:
                      self: /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords/deviceGroupUUID
                    members:
                    - id: deviceUUID
                      links:
                        self: /api/fmc_config/v1/domain/default/devices/devicerecords/deviceUUID
                      name: deviceName
                      type: Device
                    metadata:
                      domain:
                        id: domainUUID
                        name: Global
                        type: Domain
                      lastUser:
                        id: userUUID
                        name: admin
                        type: User
                      readOnly:
                        state: true
                    name: zoom2
                    type: DeviceGroup
              schema:
                $ref: '#/components/schemas/DeviceGroup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device Groups
    put:
      deprecated: false
      description: '**Modify the specified device group. _Check the response section for applicable examples (if any)._**'
      operationId: updateDeviceGroup
      parameters:
      - description: UUID of the device group.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/domainUUID/devicegroups/devicegrouprecords/deviceGroupUUID ( Test PUT of network object to update record )'
              : value:
                  id: deviceGroupUUID
                  members:
                  - id: deviceUUID
                    name: deviceName
                    type: Device
                  name: zoom3_upd
                  type: DeviceGroup
            schema:
              $ref: '#/components/schemas/DeviceGroup'
              type: object
        description: Input representation of device group model.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device Groups
components:
  schemas:
    HealthAlertConfig:
      properties:
        enabled:
          type: boolean
        name:
          type: string
        thresholds:
          items:
            $ref: '#/components/schemas/HealthThreshold'
            type: object
          type: array
      type: object
    HealthSetting:
      properties:
        alertEvaluationInterval:
          format: int32
          type: integer
        certFileContent:
          type: string
        certFileName:
          type: string
        certFileType:
          type: string
        certPassphrase:
          type: string
        configType:
          type: string
        dataCollectionInterval:
          format: int32
          type: integer
        dialInHosts:
          items:
            $ref: '#/components/schemas/DialHost'
            type: object
          type: array
        dialOutHosts:
          items:
            $ref: '#/components/schemas/DialHost'
            type: object
          type: array
        enabledOpenConfig:
          type: boolean
        grpcPassword:
          type: string
        grpcUsername:
          type: string
        readOnly:
          type: boolean
      type: object
    DeviceGroup:
      description: A model representing a DeviceGroup.
      properties:
        description:
          description: 'User provided resource description. '
          type: string
        id:
          description: Unique identifier of response object.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing related links.
          type: object
        members:
          description: Represents devices included in group.
          items:
            $ref: '#/components/schemas/IBaseDevice'
            type: object
          type: array
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata properties of DeviceGroup.
          type: object
        name:
          description: User assigned resource name.
          type: string
        type:
          description: 'Response object associated with resource: DeviceGroup.'
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    DialHost:
      properties:
        host:
          type: string
        port:
          format: int32
          type: integer
      type: object
    IAdvanced:
      properties:
        enableOGS:
          type: boolean
      type: object
    IReadonly:
      properties:
        reason:
          enum:
          - RBAC
          - SYSTEM
          - DOMAIN
          type: string
        state:
          type: boolean
      type: object
    ILinks:
      description: This defines the self referencing links for the given resource.
      properties:
        parent:
          description: Full resource URL path to reference the parent (if any) for this resource.
          type: string
        self:
          description: Full resource URL path to reference this particular resource.
          type: string
      type: object
    ErrorMessagesContainer:
      properties:
        bulkPayloadIndex:
          description: More details about the error.
          type: string
        code:
          description: More details about the error.
          type: string
        description:
          description: More details about the error.
          type: string
        details:
          description: More details about the error.
          type: string
        errorCode:
          description: More details about the error.
          type: string
        location:
          description: More details about the error.
          type: string
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    IPolicyModel:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IDomain:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    HealthThreshold:
      properties:
        type:
          type: string
        value:
          format: int32
          type: integer
      type: object
    HealthModule:
      properties:
        alertConfig:
          items:
            $ref: '#/components/schemas/HealthAlertConfig'
            type: object
          type: array
        alertEnabled:
          type: boolean
        criticalThreshold:
          format: int32
          type: integer
        customThresholds:
          items:
            $ref: '#/components/schemas/HealthThreshold'
            type: object
          type: array
        enabled:
          type: boolean
        moduleId:
          type: string
        severity:
          type: string
        type:
          type: string
        warningThreshold:
          format: int32
          type: integer
      type: object
    IMetadataUser:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    PagingContainer:
      properties:
        count:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
      type: object
    DeviceGroupListContainer:
      properties:
        items:
          $ref: '#/components/schemas/DeviceGroup'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IMetadata:
      properties:
        domain:
          $ref: '#/components/schemas/IDomain'
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/IMetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/IReadonly'
          type: object
        timestamp:
          format: int32
          type: integer
      type: object
    IHealthPolicy:
      description: Description of Health Policy.
      properties:
        basePolicyID:
          type: string
        defaultPolicy:
          type: boolean
        description:
          description: Description of Health Policy.
          type: string
        healthModules:
          items:
            $ref: '#/components/schemas/HealthModule'
            type: object
          type: array
        id:
          description: Unique identifier (UUID) representing the Health policy.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the Health policy.
          type: object
        name:
          description: User-specified name of the Health policy.
          type: string
        policyType:
          type: string
        setting:
          $ref: '#/components/schemas/HealthSetting'
          type: object
        type:
          description: Type of the Health policy; this value is always HealthPolicy.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    ErrorResponse:
      properties:
        category:
          description: Describes the category of the error thrown.
          enum:
          - FRAMEWORK
          - OTHER
          - VALIDATION
          type: string
        messages:
          description: List of error messages which the response has.
          items:
            $ref: '#/components/schemas/ErrorMessagesContainer'
            type: object
          type: array
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    IBaseDevice:
      properties:
        accessPolicy:
          $ref: '#/components/schemas/IPolicyModel'
          type: object
        advanced:
          $ref: '#/components/schemas/IAdvanced'
          type: object
        description:
          type: string
        healthMessage:
          type: string
        healthPolicy:
          $ref: '#/components/schemas/IHealthPolicy'
          type: object
        healthStatus:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        model:
          type: string
        modelId:
          type: string
        modelNumber:
          type: string
        modelType:
          type: string
        name:
          type: string
        role:
          type: string
        status:
          type: string
        sw_version:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
  parameters:
    limit:
      description: Number of items to return.
      in: query
      name: limit
      required: false
      schema:
        format: int32
        type: integer
    domainUUID:
      description: Domain UUID
      in: path
      name: domainUUID
      required: true
      schema:
        type: string
    offset:
      description: Index of first item to return.
      in: query
      name: offset
      required: false
      schema:
        format: int32
        type: integer
    expanded:
      description: If set to true, the GET response displays a list of objects with additional attributes.
      in: query
      name: expanded
      required: false
      schema:
        type: boolean
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-refined-from:
- cdfmc-openapi.yaml
- cisco-secure-firewall-cdfmc-openapi.yml
