openapi: 3.2.0
info:
  title: Mesh Policy Engine Gateway Status API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Gateway Status
paths:
  /gateway-sets/{id}/activate:
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: activate
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Set gateway set status to ACTIVE
      tags:
      - Gateway Status
  /gateway-sets/{id}/decommission:
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: decommission
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Set gateway set status to SKIPPED
      tags:
      - Gateway Status
  /gateway-sets/{id}/maintenance:
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: maintenanceForFwSet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Set gateway set status to HELD
      tags:
      - Gateway Status
  /gateway-sets/{id}/unmanaged:
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: unmanaged
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Set gateway set status to UNMANAGED
      tags:
      - Gateway Status
components:
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
