openapi: 3.2.0
info:
  title: Mesh Policy Engine Zone API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Zone
paths:
  /topology/default-parent-zone:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro,internal'
      operationId: getDefaultParentZone
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneResp'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get default parent zone
      tags:
      - Zone
  /topology/default-parent-zone/{zoneId}:
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: createDefaultParentZone
      parameters:
      - in: path
        name: zoneId
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      summary: Create default parent zone
      tags:
      - Zone
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: updateDefaultParentZone
      parameters:
      - in: path
        name: zoneId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Update default parent zone
      tags:
      - Zone
  /topology/zone:
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: createZones
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zones'
        required: true
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      summary: Create zones
      tags:
      - Zone
  /topology/zone-ids:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro,internal'
      operationId: getZoneIds
      parameters:
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneIdPage'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone ids
      tags:
      - Zone
  /topology/zone/{zoneId}:
    delete:
      description: 'Roles allowed: support,topology-rw,internal'
      operationId: deleteZone
      parameters:
      - in: path
        name: zoneId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneIds'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete zone
      tags:
      - Zone
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro,internal'
      operationId: getZone
      parameters:
      - in: path
        name: zoneId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get zone by id
      tags:
      - Zone
components:
  schemas:
    ZoneIds:
      properties:
        zones:
          items:
            $ref: '#/components/schemas/IdValue'
          type: array
      type: object
    Zone:
      properties:
        aggregatedStubby:
          type: boolean
        child:
          type: boolean
        createdTime:
          format: date-time
          type: string
        id:
          type: string
        parentZone:
          type: string
        stubby:
          type: boolean
        type:
          enum:
          - DEFAULT
          - PSM_HOST
          - PSM_SUBNET
          type: string
      required:
      - id
      type: object
    IdValue:
      properties:
        id:
          type: string
      type: object
    Zones:
      properties:
        zones:
          items:
            $ref: '#/components/schemas/Zone'
          type: array
      type: object
    ZoneIdPage:
      properties:
        cursor:
          type: string
        zoneIds:
          items:
            type: string
          type: array
      type: object
    ZoneResp:
      properties:
        id:
          type: string
      required:
      - id
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
