openapi: 3.2.0
info:
  title: Cisco Secure Firewall Object API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Object across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml.
    Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 508/508
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Object
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes:
    get:
      deprecated: false
      description: '**Get the list of all AnyConnect Custom Attribute objects.**'
      operationId: getAllAnyConnectCustomAttributeModel
      parameters:
      - description: To be used in conjunction with <code>"unusedOnly:true"</code> to search for unused objects and <code>"nameOrValue:{nameOrValue}"</code>
          to search for both name and value.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes?limit=1 ( Get all paginated
                  anyconnect custom attribute objects with limit=1 )'
                : value:
                    items:
                    - attributeType: ALLOW_DEFER_UPDATE
                      id: 00505681-5111-0ed3-0000-008589934595
                      links:
                        self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes
                      name: custAttr1
                      type: AnyConnectCustomAttribute
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes?offset=0&limit=25&expanded=true
                  ( Get all paginated anyconnect custom attribute objects with expanded=true )'
                : value:
                    items:
                    - attributeType: PER_APP_VPN
                      description: Per App VPN
                      id: 00505681-5111-0ed3-0000-012884901891
                      links:
                        self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-012884901891
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: ma
                        timestamp: 1649698834000.0
                      name: custAttr2
                      overridable: false
                      perAppVpnBase64EncodedValue: dGVzdA==
                      type: AnyConnectCustomAttribute
                    - attributeType: DYNAMIC_SPLIT_TUNNELING
                      description: Dynamic Split Tunneling
                      dynamicSplitTunnel:
                        excludeDomains:
                        - cisco3.com
                        - cisco4.com
                        includeDomains:
                        - cisco1.com
                        - cisco2.com
                      id: 00505681-5111-0ed3-0000-012884901909
                      links:
                        self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-012884901909
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: ma
                        timestamp: 1649698904000.0
                      name: custAttr3
                      overridable: false
                      type: AnyConnectCustomAttribute
                    - attributeType: ALLOW_DEFER_UPDATE
                      deferUpdate:
                        defaultAction: DEFER
                        minimumAnyConnectVersion: 7.2.0
                        promptType: NO_PROMPT_AUTO_ACTION
                      description: ' Post from rest'
                      id: 00505681-6B90-0ed3-0000-021474836509
                      links:
                        self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-6B90-0ed3-0000-021474836509
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: ma
                        timestamp: 0
                      name: custAttr2
                      overridable: false
                      type: AnyConnectCustomAttribute
                    - attributeType: USER_DEFINED_CUSTOM_ATTR
                      description: AnyConnect Custom Attribute User Defined in PUT
                      id: 00505681-5111-0ed3-0000-064424509586
                      links:
                        self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509586
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: ma
                        timestamp: 0
                      name: custAttr4_put
                      overridable: false
                      type: AnyConnectCustomAttribute
                      userDefinedAttribute:
                        name: Test_put
                        value: Cisco_put
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes?offset=0&limit=25&expanded=true
                    paging:
                      count: 4
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    post:
      deprecated: false
      description: '**Create an AnyConnect Custom Attribute. _Check the response section for applicable examples (if any)._**'
      operationId: createAnyConnectCustomAttributeModel
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                anyconnect custom attribute objects )'
              : value:
                  attributeType: DYNAMIC_SPLIT_TUNNELING
                  description: Dynamic Split Tunneling rest
                  dynamicSplitTunnel:
                    excludeDomains:
                    - cisco3.com
                    - cisco4.com
                    includeDomains:
                    - cisco1.com
                    - cisco2.com
                  name: AnyConnectCustAttr_DynamicSplitTunnel1
                  overridable: false
                  type: AnyConnectCustomAttribute
              ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                anyconnect custom attribute objects )'
              : value:
                  attributeType: ALLOW_DEFER_UPDATE
                  deferUpdate:
                    defaultAction: DEFER
                    minimumAnyConnectVersion: 7.2.0
                    promptType: NO_PROMPT_AUTO_ACTION
                  description: ' Post from rest'
                  name: AnyConnectCustAttr_AllowDeferUpdate1
                  overridable: false
                  type: AnyConnectCustomAttribute
              ? 'Example 3 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                anyconnect custom attribute objects )'
              : value:
                  attributeType: USER_DEFINED_CUSTOM_ATTR
                  description: AnyConnect Custom Attribute User Defined
                  name: AnyConnectCustAttr_UserDefinedCustomAttr1
                  overridable: false
                  type: AnyConnectCustomAttribute
                  userDefinedAttribute:
                    name: Test_b1
                    value: Cisco
              ? 'Example 4 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                anyconnect custom attribute objects )'
              : value:
                  attributeType: PER_APP_VPN
                  description: Per App VPN
                  name: AnyConnectCustAttr_PerAppVpn1
                  overridable: false
                  perAppVpnBase64EncodedValue: dGVzdA==
                  type: AnyConnectCustomAttribute
            schema:
              $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
              type: object
        description: Input representation of AnyConnect Custom Attribute object.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                  anyconnect custom attribute objects )'
                : value:
                    attributeType: DYNAMIC_SPLIT_TUNNELING
                    description: Dynamic Split Tunneling rest
                    dynamicSplitTunnel:
                      excludeDomains:
                      - cisco7.com
                      - cisco8.com
                      includeDomains:
                      - cisco5.com
                      - cisco6.com
                    id: 00505681-5111-0ed3-0000-064424509605
                    links:
                      self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509605
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 0
                    name: AnyConnectCustAttr_DynamicSplitTunnel1
                    overridable: false
                    type: AnyConnectCustomAttribute
                ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                  anyconnect custom attribute objects )'
                : value:
                    attributeType: ALLOW_DEFER_UPDATE
                    deferUpdate:
                      defaultAction: DEFER
                      minimumAnyConnectVersion: 7.2.0
                      promptType: NO_PROMPT_AUTO_ACTION
                    description: ' Post from rest'
                    id: 00505681-5111-0ed3-0000-064424509605
                    links:
                      self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509605
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 0
                    name: AnyConnectCustAttr_AllowDeferUpdate1
                    overridable: false
                    type: AnyConnectCustomAttribute
                ? 'Example 3 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                  anyconnect custom attribute objects )'
                : value:
                    attributeType: USER_DEFINED_CUSTOM_ATTR
                    description: AnyConnect Custom Attribute User Defined
                    id: 00505681-5111-0ed3-0000-064424509605
                    links:
                      self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509605
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 0
                    name: AnyConnectCustAttr_UserDefinedCustomAttr1
                    overridable: false
                    type: AnyConnectCustomAttribute
                    userDefinedAttribute:
                      name: Test_b1
                      value: Cisco
                ? 'Example 4 : POST /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes ( POST operation for
                  anyconnect custom attribute objects )'
                : value:
                    attributeType: PER_APP_VPN
                    description: Per App VPN
                    id: 00505681-5111-0ed3-0000-064424509605
                    links:
                      self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509605
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 0
                    name: AnyConnectCustAttr_PerAppVpn1
                    overridable: false
                    perAppVpnBase64EncodedValue: dGVzdA==
                    type: AnyConnectCustomAttribute
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{containerUUID}/overrides:
    get:
      deprecated: false
      description: '**Get all (Domain and Device) overrides on a AnyConnect Custom Attribute object. Response will always
        be in expanded form. If passed, the "expanded" query parameter will be ignored.**'
      operationId: getAnyConnectCustomAttributeOverride
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{containerUUID}/overrides?offset=0&limit=1
                  ( Get all overrides on given anyconnect custom attribute objects )'
                : value:
                    items:
                    - anyConnectAttribute: DYNAMIC_SPLIT_TUNNELING
                      description: CustomAttr-4 desc
                      id: AnyConnectCustomAttributeUUID
                      links:
                        self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{containerUUID}?overrideTargetId=targetUUID
                      metadata:
                        domain:
                          id: domainUUID
                          name: Global \ dom2
                          type: Domain
                        lastUser:
                          name: admin
                        timestamp: number
                      name: CustomAttr-4
                      overridable: true
                      overrides:
                        parent:
                          id: AnyConnectCustomAttributeUUID
                          type: AnyConnectCustomAttribute
                        target:
                          id: targetUUID
                          name: Global \ dom2
                          type: Domain
                      type: AnyConnectCustomAttribute
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{containerUUID}/overrides?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeOverrideListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the AnyConnect Custom Attribute associated with the specified ID. _Check the response section
        for applicable examples (if any)._**'
      operationId: deleteAnyConnectCustomAttributeModel
      parameters:
      - description: Unique identifier of the AnyConnect Custom Attribute.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes/objectId ( Delete
                  anyconnect custom attribute for particuler object ID )'
                : value:
                    attributeType: USER_DEFINED_CUSTOM_ATTR
                    description: AnyConnect Custom Attribute User Defined in PUT
                    id: 00505681-5111-0ed3-0000-064424509586
                    links:
                      self: https://u35c01p01-vrouter.cisco.com:10421/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/anyconnectcustomattributes/00505681-5111-0ed3-0000-064424509586
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 1650479640000.0
                    name: custAttr4_put
                    overridable: false
                    type: AnyConnectCustomAttribute
                    userDefinedAttribute:
                      name: Test_put
                      value: Cisco_put
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    get:
      deprecated: false
      description: '**Get the AnyConnect Custom Attribute associated with the specified ID.**'
      operationId: getAnyConnectCustomAttributeModel
      parameters:
      - description: Unique identifier of the AnyConnect Custom Attribute.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectcustomattributes/objectId ( Get anyconnect
                  custom attribute for particuler object ID )'
                : value:
                    attributeType: USER_DEFINED_CUSTOM_ATTR
                    description: AnyConnect Custom Attribute User Defined in PUT
                    id: 00505681-5111-0ed3-0000-064424509586
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectcustomattributes/{objectId}
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: ma
                      timestamp: 1650479640000.0
                    name: custAttr4_put
                    overridable: false
                    type: AnyConnectCustomAttribute
                    userDefinedAttribute:
                      name: Test_put
                      value: Cisco_put
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    put:
      deprecated: false
      description: '**Modify the AnyConnect Custom Attribute associated with the specified ID. _Check the response section
        for applicable examples (if any)._**'
      operationId: updateAnyConnectCustomAttributeModel
      parameters:
      - description: Unique identifier of the AnyConnect Custom Attribute.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
              type: object
        description: Input representation of AnyConnect Custom Attribute object.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConnectCustomAttributeModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectexternalbrowserpackages:
    get:
      deprecated: false
      description: '**Get list of all AnyConnect External Browser Package objects.**'
      operationId: getAllAnyConnectExternalBrowserPackageModel
      parameters:
      - description: To be used in conjunction with <code>"unusedOnly:true"</code> to search for unused objects and <code>"nameOrValue:{nameOrValue}"</code>
          to search for both name and value.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectexternalbrowserpackages?limit=1 ( Get
                  all paginated anyconnect package objects with limit=1 )'
                : value:
                    items:
                    - fileName: BrowserPackage_1.pkg
                      id: AnyConnectExternalBrowserPackageUUID
                      links:
                        self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectexternalbrowserpackages
                      name: AnyConnectExternalBrowserPackage1
                      type: AnyConnectExternalBrowserPackage
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectexternalbrowserpackages?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AnyConnectExternalBrowserPackageModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    post:
      deprecated: false
      description: '**Create an AnyConnect External Browser Package. _Check the response section for applicable examples (if
        any)._**'
      operationId: createAnyConnectExternalBrowserPackageModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a Package file. <code>.pkg, .zip</code> are the supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConnectExternalBrowserPackageModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectexternalbrowserpackages/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the AnyConnect External Browser Package associated with the specified ID. _Check the response
        section for applicable examples (if any)._**'
      operationId: deleteAnyConnectExternalBrowserPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Browser Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/object/anyconnectexternalbrowserpackages/objectId (
                  DELETE operation for External Browser Package )'
                : value:
                    description: Test211-desc
                    fileName: external-sso-4.9.0-webdeploy-k9.pkg
                    id: 00505681-1EBF-0ed3-0000-519691042871
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1636457682943.0
                    name: Test211
                    type: AnyConnectExternalBrowserPackage
              schema:
                $ref: '#/components/schemas/AnyConnectExternalBrowserPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    get:
      deprecated: false
      description: '**Get the AnyConnect External Browser Package associated with the specified ID.**'
      operationId: getAnyConnectExternalBrowserPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Browser Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectexternalbrowserpackages/objectId ( Get
                  anyconnect package for particuler object ID )'
                : value:
                    fileName: BrowserPackage_1.pkg
                    id: AnyConnectExternalBrowserPackageUUID
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectexternalbrowserpackages/{objectId}
                    metadata:
                      domain:
                        id: domainUUID
                    name: AnyConnectExternalBrowserPackage1
                    type: AnyConnectExternalBrowserPackage
              schema:
                $ref: '#/components/schemas/AnyConnectExternalBrowserPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    put:
      deprecated: false
      description: '**Modify the AnyConnect External Browser Package associated with the specified ID. _Check the response
        section for applicable examples (if any)._**'
      operationId: updateAnyConnectExternalBrowserPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Browser Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectexternalbrowserpackages/anyconnectexternalbrowserpackageUUID
                ( Success: Test PUT method for AnyConnect External Browser Package )'
              : value:
                  description: string
                  id: string
                  name: string
                  payloadFile: .pkg or .zip file
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                id:
                  description: Unique identifier of the AnyConnect Browser Package.
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a Package file. <code>.pkg, .zip</code> are the supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectexternalbrowserpackages/anyconnectexternalbrowserpackageUUID
                  ( Success: Test PUT method for AnyConnect External Browser Package )'
                : value:
                    description: Test211-desc
                    fileName: external-sso-4.9.0-webdeploy-k9.pkg
                    id: 00505681-1EBF-0ed3-0000-519691042871
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1636457682943.0
                    name: Test211
                    type: AnyConnectExternalBrowserPackage
              schema:
                $ref: '#/components/schemas/AnyConnectExternalBrowserPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectpackages:
    get:
      deprecated: false
      description: '**Get the list of all AnyConnect Packages.**'
      operationId: getAllAnyConnectPackageModel
      parameters:
      - description: To be used in conjunction with <code>"unusedOnly:true"</code> to search for unused objects and <code>"nameOrValue:{nameOrValue}"</code>
          to search for both name and value.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectpackages?limit=1 ( Get all paginated
                  anyconnect package objects with limit=1 )'
                : value:
                    items:
                    - fileName: string
                      id: string
                      links:
                        self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectpackages
                      name: string
                      type: AnyConnectPackage
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectpackages?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AnyConnectPackageModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    post:
      deprecated: false
      description: '**Create an AnyConnect Package. _Check the response section for applicable examples (if any)._**'
      operationId: createAnyConnectPackageModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a Package file. <code>.pkg</code> is the supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConnectPackageModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectpackages/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the AnyConnect Package associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteAnyConnectPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/object/anyconnectpackages/objectId ( DELETE operation
                  for anyconnect package )'
                : value:
                    description: desc
                    fileName: anyconnect-win-4.5.03040-webdeploy-k9.pkg
                    id: 00505681-1EBF-0ed3-0000-489626271834
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1635851000923.0
                    name: abc
                    type: AnyConnectPackage
              schema:
                $ref: '#/components/schemas/AnyConnectPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    get:
      deprecated: false
      description: '**Get the AnyConnect Package associated with the specified ID.**'
      operationId: getAnyConnectPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectpackages/objectId ( Get anyconnect package
                  for particuler object ID )'
                : value:
                    fileName: string
                    id: string
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectpackages/{objectId}
                    metadata:
                      domain:
                        id: string
                    name: string
                    type: AnyConnectPackage
              schema:
                $ref: '#/components/schemas/AnyConnectPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    put:
      deprecated: false
      description: '**Modify the AnyConnect Package associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: updateAnyConnectPackageModel
      parameters:
      - description: Unique identifier of the AnyConnect Package.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectpackages/anyconnectpackageUUID ( Success:
                Test PUT method for anyconnect package )'
              : value:
                  description: string
                  id: string
                  name: string
                  payloadFile: .pkg file
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                id:
                  description: Unique identifier of the AnyConnect Package.
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a Package file. <code>.pkg</code> is the supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectpackages/anyconnectpackageUUID ( Success:
                  Test PUT method for anyconnect package )'
                : value:
                    description: desc
                    fileName: anyconnect-win-4.5.03040-webdeploy-k9.pkg
                    id: 00505681-1EBF-0ed3-0000-489626271834
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1635851000923.0
                    name: abc
                    type: AnyConnectPackage
              schema:
                $ref: '#/components/schemas/AnyConnectPackageModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectprofiles:
    get:
      deprecated: false
      description: '**Get the list of all AnyConnect Profiles.**'
      operationId: getAllAnyConnectProfileModel
      parameters:
      - description: To be used in conjunction with <code>"unusedOnly:true"</code> to search for unused objects and <code>"nameOrValue:{nameOrValue}"</code>
          to search for both name and value.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectprofiles?limit=1 ( Get all paginated
                  anyconnect profile objects with limit=1 )'
                : value:
                    items:
                    - fileName: string
                      fileType: string
                      id: string
                      links:
                        self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectprofiles/{objectId}
                      name: string
                      type: AnyConnectProfile
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectprofiles?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/AnyConnectProfileModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    post:
      deprecated: false
      description: '**Create an AnyConnect Profile. _Check the response section for applicable examples (if any)._**'
      operationId: createAnyConnectProfileModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                fileType:
                  description: Provided resource file type. <code>*required</code>. [ ANYCONNECT_MANAGEMENT_VPN_PROFILE, AMP_ENABLER,
                    FEEDBACK, WEB_SECURITY, ANYCONNECT_VPN_PROFILE, UMBRELLA_ROAMING, NETWORK_ACCESS_MANAGER, ISE_POSTURE,
                    NETWORK_VISIBILITY ].
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a file. <code>.xml, .asp, .fsp, .isp, .nsp, .nvmsp, .json, .wsp, .wso</code> are the
                    supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyConnectProfileModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectprofiles/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the AnyConnect Profile associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteAnyConnectProfileModel
      parameters:
      - description: Unique identifier of the AnyConnect Profile.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/object/anyconnectprofiles/objectId ( DELETE operation
                  for anyconnect profile )'
                : value:
                    description: Test-331-desc
                    fileName: acvpn_profile-1.xml
                    fileType: ANYCONNECT_VPN_PROFILE
                    id: 00505681-1EBF-0ed3-0000-528280977498
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1636461364733.0
                    name: Test-331
                    type: AnyConnectProfile
              schema:
                $ref: '#/components/schemas/AnyConnectProfileModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    get:
      deprecated: false
      description: '**Get the AnyConnect Profile associated with the specified ID.**'
      operationId: getAnyConnectProfileModel
      parameters:
      - description: Unique identifier of the AnyConnect Profile.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyconnectprofiles/objectId ( Get anyconnect profile
                  for particuler object ID )'
                : value:
                    fileName: string
                    fileType: string
                    id: string
                    links:
                      self: https://<IP:PORT>/api/fmc_config/v1/domain/{domainUUID}/object/anyconnectprofiles/{objectId}
                    metadata:
                      domain:
                        id: string
                    name: string
                    type: AnyConnectProfile
              schema:
                $ref: '#/components/schemas/AnyConnectProfileModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    put:
      deprecated: false
      description: '**Modify the AnyConnect Profile associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: updateAnyConnectProfileModel
      parameters:
      - description: Unique identifier of the AnyConnect Profile.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          multipart/form-data:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectprofiles/anyconnectprofileUUID ( Success:
                Test PUT method for anyconnect profile )'
              : value:
                  description: string
                  fileType: string
                  id: string
                  name: string
                  payloadFile: .xml, .asp, .fsp, .isp, .nsp, .nvmsp, .json, .wsp or .wso file
            schema:
              properties:
                description:
                  description: Provided resource description.
                  type: string
                fileType:
                  description: Provided resource file type. <code>*required</code>. [ ANYCONNECT_MANAGEMENT_VPN_PROFILE, AMP_ENABLER,
                    FEEDBACK, WEB_SECURITY, ANYCONNECT_VPN_PROFILE, UMBRELLA_ROAMING, NETWORK_ACCESS_MANAGER, ISE_POSTURE,
                    NETWORK_VISIBILITY ].
                  type: string
                id:
                  description: Unique identifier of the AnyConnect Profile.
                  type: string
                name:
                  description: Provided resource name. <code>*required</code>
                  type: string
                payloadFile:
                  description: Select a file. <code>.xml, .asp, .fsp, .isp, .nsp, .nvmsp, .json, .wsp, .wso</code> are the
                    supported file format. <code>*required</code>
                  format: binary
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/object/anyconnectprofiles/anyconnectprofileUUID ( Success:
                  Test PUT method for anyconnect profile )'
                : value:
                    description: Test-331-desc
                    fileName: acvpn_profile-1.xml
                    fileType: ANYCONNECT_VPN_PROFILE
                    id: 00505681-1EBF-0ed3-0000-528280977498
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1636461364733.0
                    name: Test-331
                    type: AnyConnectProfile
              schema:
                $ref: '#/components/schemas/AnyConnectProfileModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyprotocolportobjects:
    get:
      deprecated: false
      description: '**Get the list of all protocol port objects (all port objects with a protocol value of All).**'
      operationId: getAllAnyProtocolPortObject
      parameters:
      - description: To be used in conjunction with <code>"unusedOnly:true"</code> to search for unused objects and <code>"nameOrValue:{nameOrValue}"</code>
          to search for both name and value.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/object/anyprotocolportobjects ( Success Test GET ALL of
                  AnyProtocolPort Objects )'
                : value:
                    description: ' '
                    id: anyProtocolPortObjUUID
                    links:
                      parent: https://fmc_host_ip/api/fmc_config/v1/domain/global/object/ports
                      self: https://fmc_host_ip/api/fmc_config/v1/domain/global/object/anyprotocolportobjects/anyProtocolPortObjUUID
                    name: myAny
                    type: AnyProtocolPortObject
              schema:
                $ref: '#/components/schemas/AnyProtocolPortObjectListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/anyprotocolportobjects/{objectId}:
    get:
      deprecated: false
      description: '**Get any protocol port object associated with the specified ID.**'
      operationId: getAnyProtocolPortObject
      parameters:
      - description: Unique identifier of the protocol port object.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyProtocolPortObject'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationcategories:
    get:
      deprecated: false
      description: '**Get the list of all application categories.**'
      operationId: getAllApplicationCategory
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationcategories?limit=2 ( Get all paginated
                  ApplicationCategory with limit set 2 )'
                : value:
                    items:
                    - id: '2325'
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationcategories/2325
                      name: Low
                      type: ApplicationCategory
                    - id: '1234'
                      links:
                        self: /fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/applicationcategories/1234
                      name: Medium
                      type: ApplicationCategory
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=0&limit=2
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=4&limit=1
                      offset: 0
                      pages: 3
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/object/applicationcategories?limit=2&expanded=true ( Get
                  all paginated application with limit set 2 )'
                : value:
                    items:
                    - id: '1234'
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationcategories/1234
                      metadata:
                        count: 1094
                      name: Very Low 1234
                      type: ApplicationCategory
                    - id: '2325'
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationcategories/2325
                      metadata:
                        count: 808
                      name: 050plus
                      type: ApplicationCategory
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=0&limit=5
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationcategories?offset=4&limit=1
                      offset: 0
                      pages: 3
              schema:
                $ref: '#/components/schemas/ApplicationCategoryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationcategories/{objectId}:
    get:
      deprecated: false
      description: '**Get the application category with the specified ID.**'
      operationId: getApplicationCategory
      parameters:
      - description: Unique identifier of the application category.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationcategories/2325 ( Get ApplicationCategory by id )':
                  value:
                    id: '2325'
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationcategories/2325
                    metadata:
                      count: 1094
                    name: 050plus
                    type: ApplicationCategory
              schema:
                $ref: '#/components/schemas/ApplicationCategory'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationfilters:
    get:
      deprecated: false
      description: '**Get the list of all application filters.**'
      operationId: getAllApplicationFilter
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationfilters ( Get all paginated ApplicationFilter )':
                  value:
                    items:
                    - id: 907b5452-e4e0-11e5-87ba-df5089dc85eb
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationfilters/907b5452-e4e0-11e5-87ba-df5089dc85eb
                      name: test1
                      type: ApplicationFilter
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationfilters?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/object/applicationfilters?expanded=true ( Get all paginated
                  application filters )'
                : value:
                    items:
                    - appConditions:
                      - productivities:
                        - id: VERY_LOW
                          metadata:
                            count: 218
                          name: Very Low
                          type: ApplicationProductivity
                        risks:
                        - id: VERY_LOW
                          name: Very Low
                          type: ApplicationRisk
                        search: Risks:Very Low Business Relevance:Very Low
                      applications:
                      - appProductivity:
                          id: VERY_LOW
                          metadata:
                            count: 0
                          name: Very Low
                          type: ApplicationProductivity
                        applicationTypes:
                        - id: WEBAPP
                          metadata:
                            count: 0
                          name: Webapp
                          type: ApplicationType
                        decrypted: false
                        name: 21 Questions
                        risk:
                          id: VERY_LOW
                          name: Very Low
                          type: ApplicationRisk
                        type: Application
                      id: 907b5452-e4e0-11e5-87ba-df5089dc85eb
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationfilters/907b5452-e4e0-11e5-87ba-df5089dc85eb
                      metadata:
                        count: 218
                      name: test1
                      type: ApplicationFilter
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationfilters?offset=0&limit=1
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/ApplicationFilterListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    post:
      deprecated: false
      description: '**Create an application filter. _Check the response section for applicable examples (if any)._**'
      operationId: createApplicationFilter
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFilter'
              type: object
        description: The input application filter object model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFilter'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationfilters/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the application filter associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteApplicationFilter
      parameters:
      - description: Unique identifier of the application filter.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFilter'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    get:
      deprecated: false
      description: '**Get the application filter associated with the specified ID.**'
      operationId: getApplicationFilter
      parameters:
      - description: Unique identifier of the application filter.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationfilters/907b5452-e4e0-11e5-87ba-df5089dc85eb
                  ( Get Application Filter by id )'
                : value:
                    appConditions:
                    - productivities:
                      - id: VERY_LOW
                        metadata:
                          count: 218
                        name: Very Low
                        type: ApplicationProductivity
                      risks:
                      - id: VERY_LOW
                        name: Very Low
                        type: ApplicationRisk
                      search: Risks:Very Low Business Relevance:Very Low
                    applications:
                    - appProductivity:
                        id: VERY_LOW
                        metadata:
                          count: 0
                        name: Very Low
                        type: ApplicationProductivity
                      applicationTypes:
                      - id: WEBAPP
                        metadata:
                          count: 0
                        name: Webapp
                        type: ApplicationType
                      decrypted: false
                      name: 21 Questions
                      risk:
                        id: VERY_LOW
                        name: Very Low
                        type: ApplicationRisk
                      type: Application
                    id: 907b5452-e4e0-11e5-87ba-df5089dc85eb
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationfilters/907b5452-e4e0-11e5-87ba-df5089dc85eb
                    metadata:
                      count: 218
                    name: test1
                    type: ApplicationFilter
              schema:
                $ref: '#/components/schemas/ApplicationFilter'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    put:
      deprecated: false
      description: '**Modify the application filter associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: updateApplicationFilter
      parameters:
      - description: Unique identifier of the application filter.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFilter'
              type: object
        description: The input application filter object model.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFilter'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationproductivities:
    get:
      deprecated: false
      description: '**Get the list of all application producticvities.**'
      operationId: getAllApplicationProductivity
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationproductivities?limit=2 ( Get all paginated
                  Application Risk with limit set 2 )'
                : value:
                    items:
                    - id: LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities/LOW
                      name: Low
                      type: ApplicationProductivity
                    - id: MEDIUM
                      links:
                        self: /fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/applicationproductivities/MEDIUM
                      name: Medium
                      type: ApplicationProductivity
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=0&limit=2
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=4&limit=1
                      offset: 0
                      pages: 3
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/object/applicationproductivities?limit=2&expanded=true
                  ( Get all paginated application risk with limit set 2 )'
                : value:
                    items:
                    - id: VERY_LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities/VERY_LOW
                      metadata:
                        count: 1094
                      name: Very Low
                      type: ApplicationProductivity
                    - id: LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities/LOW
                      metadata:
                        count: 808
                      name: Low
                      type: ApplicationProductivity
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=0&limit=5
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationproductivities?offset=4&limit=1
                      offset: 0
                      pages: 3
              schema:
                $ref: '#/components/schemas/ApplicationProductivityListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationproductivities/{objectId}:
    get:
      deprecated: false
      description: '**Get the application productivity with the specified ID.**'
      operationId: getApplicationProductivity
      parameters:
      - description: Unique identifier of the application productivity.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationproductivities/VERY_LOW ( Get country object by id )':
                  value:
                    id: VERY_LOW
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationproductivities/VERY_LOW
                    metadata:
                      count: 1094
                    name: Very Low
                    type: ApplicationProductivity
              schema:
                $ref: '#/components/schemas/ApplicationProductivity'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationrisks:
    get:
      deprecated: false
      description: '**Get the list of all application risks.**'
      operationId: getAllApplicationRisk
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationrisks?limit=2 ( Get all paginated Application
                  Risk with limit set 2 )'
                : value:
                    items:
                    - id: LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationrisks/LOW
                      name: Low
                      type: ApplicationRisk
                    - id: MEDIUM
                      links:
                        self: /fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/object/applicationrisks/MEDIUM
                      name: Medium
                      type: ApplicationRisk
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=0&limit=2
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=4&limit=1
                      offset: 0
                      pages: 3
                ? 'Example 2 : GET /fmc_config/v1/domain/domainUUID/object/applicationrisks?limit=2&expanded=true ( Get all
                  paginated application risk with limit set 2 )'
                : value:
                    items:
                    - id: VERY_LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationrisks/VERY_LOW
                      metadata:
                        count: 1094
                      name: Very Low
                      type: ApplicationRisk
                    - id: LOW
                      links:
                        self: /fmc_config/v1/domain/domainUUID/object/applicationrisks/LOW
                      metadata:
                        count: 808
                      name: Low
                      type: ApplicationRisk
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=0&limit=5
                    paging:
                      count: 5
                      limit: 2
                      next:
                      - /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=2&limit=2
                      - /fmc_config/v1/domain/domainUUID/object/applicationrisks?offset=4&limit=1
                      offset: 0
                      pages: 3
              schema:
                $ref: '#/components/schemas/ApplicationRiskListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/object/applicationrisks/{objectId}:
    get:
      deprecated: false
      description: '**Get the application risk with the specified ID.**'
      operationId: getApplicationRisk
      parameters:
      - description: Unique identifier of the application risk.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/domainUUID/object/applicationrisks/VERY_LOW ( Get country object by id )':
                  value:
                    id: VERY_LOW
                    links:
                      self: /fmc_config/v1/domain/domainUUID/object/applicationrisks/VERY_LOW
                    metadata:
                      count: 1094
                    name: Very Low
                    type: ApplicationRisk
              schema:
                $ref: '#/components/schemas/ApplicationRisk'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Object
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
[...]
