openapi: 3.2.0
info:
  title: Mesh Policy Engine MPM Revision API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: MPM Revision
paths:
  /mpm/head-revision:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getHeadRevision
      responses:
        '200':
          content:
            application/json:
              schema:
                format: int32
                type: integer
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable, Manual policy manager pipeline is yet to complete the initial setup, please retry in sometime
      summary: Get the head revision
      tags:
      - MPM Revision
  /mpm/revision/{revisionId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getRevisionById
      parameters:
      - in: path
        name: revisionId
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmRevision'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the Revision by it's ID
      tags:
      - MPM Revision
components:
  schemas:
    MpmRevision:
      properties:
        createdBy:
          type: string
        createdTime:
          format: date-time
          type: string
        description:
          type: string
        revisionId:
          format: int32
          type: integer
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
