openapi: 3.2.0
info:
  title: Mesh Policy Engine Policy Based Access Control User API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Policy Based Access Control User
paths:
  /security/pbac/create-user-roles:
    post:
      description: 'Roles allowed: entitlements-manager'
      operationId: createUserToRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PbacUserToRolesRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Assign roles for user
      tags:
      - Policy Based Access Control User
  /security/pbac/delete-user-roles:
    post:
      description: 'Roles allowed: entitlements-manager'
      operationId: deleteUserToRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PbacUserToRolesRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete roles for user
      tags:
      - Policy Based Access Control User
  /security/pbac/roles/{id}/users:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getUsersForRole
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get users for role
      tags:
      - Policy Based Access Control User
  /security/pbac/users/{id}/roles:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getRolesForUser
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get roles for user
      tags:
      - Policy Based Access Control User
components:
  schemas:
    PbacUserToRolesRequest:
      properties:
        roleIds:
          items:
            type: string
          properties:
            empty:
              type: boolean
          type: array
        userId:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
