openapi: 3.2.0
info:
  title: Mesh Policy Engine Gateway API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Gateway
paths:
  /gateway-sets:
    get:
      description: 'Roles allowed: support,topology-rw'
      operationId: getGatewaySets
      parameters:
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewaySetRespPage'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get gateway sets
      tags:
      - Gateway
  /gateway-sets/status/{status}:
    get:
      description: 'Roles allowed: support,topology-rw'
      operationId: getGatewaySetsByStatus
      parameters:
      - in: path
        name: status
        required: true
        schema:
          enum:
          - ACTIVE
          - HELD
          - SKIPPED
          - UNMANAGED
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GatewaySetResp'
                type: array
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '500':
          description: Internal Server Error
      summary: Retrieve firewalls in a particular status
      tags:
      - Gateway
  /gateway-sets/{id}:
    delete:
      description: "Preconditions for deletion of GatewaySet : \nGatewaySet is not locked and is in [SKIPPED or UNMANAGED] state\nSubRequests are in [ERRORED,SUCCEDED,SKIPPED,HELD] State\nNo Task associated with GatewaySet\nRoles allowed: support,topology-rw"
      operationId: deleteGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete gateway set by id
      tags:
      - Gateway
    get:
      description: 'Roles allowed: support,topology-rw'
      operationId: getGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewaySetResp'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get gateway set by id
      tags:
      - Gateway
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: createGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          example: id1
          format: 'Id should match this regex: ^[A-Za-z-_0-9~.]+$'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewaySetApi'
        required: true
      responses:
        '200':
          description: Ok
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Add gateway set
      tags:
      - Gateway
    put:
      description: 'Roles allowed: support,topology-rw'
      operationId: updateGatewaySet
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewaySetApi'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Update gateway set
      tags:
      - Gateway
  /gateway-sets/{id}/credential-name:
    patch:
      description: 'Roles allowed: support,topology-rw'
      operationId: updateCredentialName
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialNameRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Update gateway set's credential name
      tags:
      - Gateway
components:
  schemas:
    NetworkDevice:
      properties:
        hostname:
          type: string
        id:
          type: string
        ipAddress:
          type: string
        osVersion:
          type: string
        port:
          format: int32
          type: integer
      required:
      - id
      - port
      type: object
    GatewaySetRespPage:
      properties:
        cursor:
          type: string
        gatewaySets:
          items:
            $ref: '#/components/schemas/GatewaySetResp'
          type: array
      type: object
    CredentialNameRequest:
      properties:
        credentialName:
          type: string
      type: object
    GatewaySetApi:
      properties:
        credentialName:
          type: string
        deviceType:
          enum:
          - PALO_ALTO
          - JUNIPER
          - PENSANDO_DSC
          - PENSANDO_DSS
          - FORTI_GATE
          - PENSANDO_DSC_PDT
          - CMCD
          - ASA_INTERFACE
          - ASA_GLOBAL
          type: string
        id:
          type: string
        networkDevices:
          items:
            $ref: '#/components/schemas/NetworkDevice'
          type: array
        status:
          enum:
          - ACTIVE
          - HELD
          - SKIPPED
          - UNMANAGED
          type: string
        useBuckets:
          type: boolean
      required:
      - deviceType
      - networkDevices
      - status
      type: object
    GatewaySetResp:
      properties:
        credentialName:
          type: string
        deviceType:
          enum:
          - PALO_ALTO
          - JUNIPER
          - PENSANDO_DSC
          - PENSANDO_DSS
          - FORTI_GATE
          - PENSANDO_DSC_PDT
          - CMCD
          - ASA_INTERFACE
          - ASA_GLOBAL
          type: string
        enforcementPointIds:
          items:
            type: string
          type: array
        id:
          type: string
        networkDevices:
          items:
            $ref: '#/components/schemas/NetworkDevice'
          type: array
        status:
          enum:
          - ACTIVE
          - HELD
          - SKIPPED
          - UNMANAGED
          type: string
        useBuckets:
          type: boolean
      required:
      - deviceType
      - networkDevices
      - status
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
