openapi: 3.2.0
info:
  title: Cisco Secure Firewall MSP API
  contact:
    name: Cisco Security Cloud Control TAC
    email: cdo.tac@cisco.com
  version: '1.0'
  description: 'Operations tagged MSP across 3 of this provider''s published API definitions: cisco-secure-firewall-scc-firewall-manager-openapi.yml,
    cisco-secure-firewall-scc-msp-api-openapi-openapi.json, scc-firewall-manager-openapi.yaml. Each path carries the servers
    of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-scc-firewall-manager-openapi.yml, the provider's source document.
      Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-scc-firewall-manager-openapi.yml
    operation_coverage: 30/33
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
- url: https://edge.us.cdo.cisco.com/api/rest
  description: US
- url: https://edge.eu.cdo.cisco.com/api/rest
  description: EU
- url: https://edge.apj.cdo.cisco.com/api/rest
  description: APJ
- url: https://edge.aus.cdo.cisco.com/api/rest
  description: AUS
- url: https://edge.in.cdo.cisco.com/api/rest
  description: IN
- url: https://edge.staging.cdo.cisco.com/api/rest
  description: Staging
- url: https://edge.scale.cdo.cisco.com/api/rest
  description: Scale
- url: https://edge.ci.cdo.cisco.com/api/rest
  description: CI
tags:
- name: MSP
paths:
  /v1/msp/inventory/devices:
    get:
      description: Get devices, across all tenants, managed by the MSP portal.
      operationId: getMspManagedDevices
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The fields to sort results by.
        example: name:DESC
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDevicePage'
          description: List of MSP-managed devices
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed devices
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/devices/{deviceUid}:
    get:
      description: Get the device managed by the MSP portal using its UID.
      operationId: getMspManagedDevice
      parameters:
      - description: The unique identifier of MSP-managed device.
        in: path
        name: deviceUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDevice'
          description: MSP-managed device
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed device by UID
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/devices/attribute-values:
    get:
      description: Get distinct values for multiple fields in the MSP-managed devices across all tenants managed by the MSP
        portal.
      operationId: getMspManagedDevicesAttributeValues
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDeviceDistinctAttributeValues'
          description: Distinct attribute values for MSP-managed devices
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get distinct attribute values for MSP-managed devices
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/devices/export:
    post:
      description: This is an asynchronous operation to export MSP-managed devices in CSV format. Once complete, the file
        can be downloaded using a presigned AWS S3 URL specified in the entityUrl field of the transaction that expires in
        1 hour.
      operationId: exportMspManagedDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspExportInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the export. Once
            complete, the <code>entityUrl</code> field of the transaction will contain a presigned AWS S3 URL, valid for 1
            hour, to download the exported file.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Export MSP-managed Devices
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/devices/ftds/upgrades/versions:
    get:
      operationId: getFtdUpgradeVersions
      parameters:
      - description: 'A list of unique identifiers, represented as UUIDs, of the devices in Security Cloud Control. Note:
          All of the devices specified have to be on tenants managed by the MSP portal.'
        in: query
        name: deviceUids
        required: true
        schema:
          items:
            format: uuid
            type: string
          maxItems: 50
          minItems: 1
          type: array
          uniqueItems: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: OK
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/managers:
    get:
      description: Get device managers, across all tenants, managed by the MSP portal.
      operationId: getMspManagedDeviceManagers
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The fields to sort results by.
        example: name:DESC
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDeviceManagersPage'
          description: List of MSP-managed device managers
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed device managers
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/managers/{deviceManagerUid}:
    get:
      description: Get the device manager managed by the MSP portal using its UID.
      operationId: getMspManagedDeviceManager
      parameters:
      - description: The unique identifier of MSP-managed device manager.
        in: path
        name: deviceManagerUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDeviceManager'
          description: MSP-managed device manager
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed device manager by UID
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/managers/attribute-values:
    get:
      description: Get distinct values for multiple fields in the MSP-managed device managers across all tenants managed by
        the MSP portal.
      operationId: getMspManagedDeviceManagersAttributeValues
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedDeviceManagerDistinctAttributeValues'
          description: Distinct attribute values for MSP-managed device managers
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get distinct attribute values for MSP-managed device managers
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/managers/export:
    post:
      description: This is an asynchronous operation to export MSP-managed device managers in CSV format. Once complete, the
        file can be downloaded using a presigned AWS S3 URL specified in the entityUrl field of the transaction that expires
        in 1 hour.
      operationId: exportMspManagedDeviceManagers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspExportInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the export. Once
            complete, the <code>entityUrl</code> field of the transaction will contain a presigned AWS S3 URL, valid for 1
            hour, to download the exported file.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Export MSP-managed Device Managers
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/services:
    get:
      description: Get cloud services, across all tenants, managed by the MSP portal.
      operationId: getMspManagedCloudServices
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The fields to sort results by.
        example: name:DESC
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedCloudServicePage'
          description: List of MSP-managed cloud services
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed cloud services
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/services/{cloudServiceUid}:
    get:
      description: Get the cloud service managed by the MSP portal using its UID.
      operationId: getMspManagedCloudService
      parameters:
      - description: The unique identifier of MSP-managed cloud service.
        in: path
        name: cloudServiceUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedCloudService'
          description: MSP-managed cloud service
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed cloud service by UID
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/services/attribute-values:
    get:
      description: Get distinct values for multiple fields in the MSP-managed cloud services across all tenants managed by
        the MSP portal.
      operationId: getMspManagedCloudServicesAttributeValues
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedCloudServiceDistinctAttributeValues'
          description: Distinct attribute values for MSP-managed cloud services
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get distinct attribute values for MSP-managed cloud services
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/services/export:
    post:
      description: This is an asynchronous operation to export MSP-managed cloud services in CSV format. Once complete, the
        file can be downloaded using a presigned AWS S3 URL specified in the entityUrl field of the transaction that expires
        in 1 hour.
      operationId: exportMspManagedCloudServices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspExportInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the export. Once
            complete, the <code>entityUrl</code> field of the transaction will contain a presigned AWS S3 URL, valid for 1
            hour, to download the exported file.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Export MSP-managed Cloud Services
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/templates:
    get:
      description: Get templates, across all tenants, managed by the MSP portal.
      operationId: getMspManagedTemplates
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The fields to sort results by.
        example: name:DESC
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedTemplatesPage'
          description: List of MSP-managed templates
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed templates
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/templates/{templateUid}:
    get:
      description: Get the template managed by the MSP portal using its UID.
      operationId: getMspManagedTemplate
      parameters:
      - description: The unique identifier of MSP-managed template.
        in: path
        name: templateUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedTemplate'
          description: MSP-managed template
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get MSP-managed template by UID
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/templates/attribute-values:
    get:
      description: Get distinct values for multiple fields in the MSP-managed templates across all tenants managed by the
        MSP portal.
      operationId: getMspManagedTemplateAttributeValues
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedTemplateDistinctAttributeValues'
          description: Distinct attribute values for MSP-managed templates
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get distinct attribute values for MSP-managed templates
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/inventory/templates/export:
    post:
      description: This is an asynchronous operation to export MSP-managed templates in CSV format. Once complete, the file
        can be downloaded using a presigned AWS S3 URL specified in the entityUrl field of the transaction that expires in
        1 hour.
      operationId: exportMspManagedTemplates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspExportInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the export. Once
            complete, the <code>entityUrl</code> field of the transaction will contain a presigned AWS S3 URL, valid for 1
            hour, to download the exported file.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Export MSP-managed Templates
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants:
    get:
      description: Get a list of Security Cloud Control tenants managed by the MSP Portal.
      operationId: getMspManagedTenants
      parameters:
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedTenantPage'
          description: List of Security Cloud Control tenant objects
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Security Cloud Control tenants managed by MSP Portal
      tags:
      - MSP
    post:
      description: 'Add a tenant to the MSP Portal by providing an API token for the tenant. Use this endpoint to add a tenant
        that the user performing the operation is not associated with, or a tenant in a different region to that of the MSP
        Portal. Note: This endpoint can only be executed by a super-admin in an MSP Portal.'
      operationId: addMspTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspAddTenantInput'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInfo'
          description: Status
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Add Tenant to MSP Portal (API token)
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}:
    delete:
      description: 'Removes a tenant currently associated with the MSP Portal. Note: this endpoint can only be executed by
        a super-admin in the MSP Portal.'
      operationId: removeTenantFromMspPortal
      parameters:
      - description: The unique identifier, represented as a UUID, of the tenant in Security Cloud Control.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Remove tenant from MSP Portal
      tags:
      - MSP
    get:
      description: Get a Security Cloud Control tenant managed by the MSP Portal.
      operationId: getMspManagedTenant
      parameters:
      - description: The unique identifier of the tenant in Security Cloud Control.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MspManagedTenant'
          description: Security Cloud Control tenant object
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          $ref: '#/components/responses/http404NotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get Security Cloud Control tenant managed by MSP Portal
      tags:
      - MSP
    post:
      deprecated: true
      description: 'This is an asynchronous operation to add an existing tenant that the user making the API call is associated
        with to the MSP Portal. This endpoint will add an API-only user to the tenant, generate an API token for the API-only
        user, and add the tenant to the MSP Portal. Note: this endpoint can only be executed by a super-admin in the MSP Portal
        who is also associated with the tenant being added.'
      operationId: addTenantToMspPortal
      parameters:
      - description: Unique identifier of the tenant to add to the MSP portal.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '409':
          $ref: '#/components/responses/http409Conflict'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Add tenant to MSP Portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/cdfmc:
    post:
      description: This is an asynchronous operation to provision a cdFMC for a tenant associated with the MSP Portal. This
        operation does not wait for the cdFMC to be provisioned on the target tenant, and will be marked as successful once
        the provisioning has been successfully triggered. To monitor the transaction on the target tenant, use the UID in
        the `TRANSACTION_UID_IN_TARGET_TENANT` key in the transaction details.
      operationId: provisionCdFmcForTenantInMspPortal
      parameters:
      - description: Unique identifier of the tenant that cdFMC provisioning will be enabled for.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Provision cdFMC for Security Cloud Control tenant in MSP Portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/mcd:
    post:
      description: This is an asynchronous operation to enable Multicloud Defense for a tenant associated with the MSP Portal.
      operationId: enableMulticloudDefenseForTenantInMspPortal
      parameters:
      - description: Unique identifier of the tenant that Multicloud Defense will be enabled for.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Enable Multicloud Defense for Security Cloud Control tenant in MSP Portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/users:
    get:
      description: Get a list of (non-API-only) users associated with the Security Cloud Control tenant managed by MSP portal.
      operationId: getHumanUsersInMspManagedTenant
      parameters:
      - description: Unique identifier of the tenant to retrieve the users for.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
          description: List of User objects
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get non-API-only Users associated with tenant in MSP portal
      tags:
      - MSP
    post:
      description: This is an asynchronous operation to add a list of users to a tenant associated with the MSP Portal.
      operationId: addUsersToTenantInMspPortal
      parameters:
      - description: Unique identifier of the tenant to which the users will be added.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspAddUsersToTenantInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Add users to Security Cloud Control tenant in MSP Portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/users/{apiUserUid}/token:
    post:
      description: Generate API Token for API-only user on a tenant managed by the MSP portal. API-only users are used for
        building automations with Security Cloud Control. If the user ID provided is not that of an API-only user, this operation
        will fail.
      operationId: generateApiTokenForUserInTenant
      parameters:
      - description: The unique identifier of the tenant in Security Cloud Control.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      - description: The unique identifier of the API-only user in Security Cloud Control.
        in: path
        name: apiUserUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenInfo'
          description: API Token
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Generate token for API-only user on tenant managed by MSP portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/users/api-only:
    get:
      description: Get a list of API-only users associated with the Security Cloud Control tenant managed by MSP portal.
      operationId: getApiOnlyUsersInMspManagedTenant
      parameters:
      - description: Unique identifier of the tenant to retrieve the users for.
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The query to execute. Use the Lucene Query Syntax to construct your query.
        example: fieldName:fieldValue
        in: query
        name: q
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
          description: List of User objects
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Get API-only Users associated with tenant in MSP portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/users/delete:
    post:
      description: This is an asynchronous operation to remove a list of users from a tenant associated with the MSP Portal.
      operationId: deleteUsersFromTenantInMspPortal
      parameters:
      - description: Unique identifier of the tenant from which the users will be deleted
        in: path
        name: tenantUid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspDeleteUsersFromTenantInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Remove users from Security Cloud Control tenant in MSP Portal
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/create:
    post:
      description: 'Create a new tenant in Security Cloud Control from an MSP Portal. This endpoint creates a tenant, adds
        the tenant to the MSP Portal. If the user creating the tenant is not an API-only user, the user is also added to the
        tenant. Note: This endpoint can only be executed by a super-admin in an MSP Portal. You can create no more than 1
        tenant every 30 seconds. Additionally, you are limited to creating a total of 100 tenants: please speak to support
        to raise this limit.'
      operationId: createTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspCreateTenantInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdoTransaction'
          description: Security Cloud Control Transaction object that can be used to track the status of the tenant creation.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '409':
          $ref: '#/components/responses/http409Conflict'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      security:
      - bearerAuth: []
      summary: Create Security Cloud Control Tenant
      tags:
      - MSP
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/msp/tenants/{tenantUid}/users/groups:
    get:
      tags:
      - MSP
      summary: Get user groups associated with tenant in MSP portal
      description: Get a list of user groups associated with the CDO tenant managed by MSP portal.
      operationId: getUserGroupsInTenantInMspPortal
      parameters:
      - name: tenantUid
        in: path
        description: Unique identifier of the tenant to retrieve the users groups for.
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: The number of results to retrieve.
        required: false
        schema:
          maximum: 200
          minimum: 0
          type: string
          default: '50'
      - name: offset
        in: query
        description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
          the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        required: false
        schema:
          minimum: 0
          type: string
          default: '0'
      - name: q
        in: query
        description: The query to execute. Use the Lucene Query Syntax to construct your query.
        required: false
        schema:
          type: string
        example: fieldName:fieldValue
      responses:
        '200':
          description: List of UserGroup objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryGroupPage'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError_2'
      security:
      - bearerAuth: []
    post:
      tags:
      - MSP
      summary: Add Active Directory Groups to Security Cloud Control tenant in MSP Portal
      description: This is an asynchronous operation to add a list of Active Directory Groups to a tenant associated with
        the MSP Portal.
      operationId: addActiveDirectoryGroupsToTenantInMspPortal
      parameters:
      - name: tenantUid
        in: path
        description: Unique identifier of the tenant to which the user groups will be added. You can add a maximum of 50 user
          groups at a time.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              maxItems: 50
              minItems: 0
              type: array
              items:
                $ref: ./public-api-openapi.yaml#/components/schemas/ActiveDirectoryGroupCreateOrUpdateInput
        required: true
      responses:
        '202':
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
          content:
            application/json:
              schema:
                $ref: ./public-api-openapi.yaml#/components/schemas/CdoTransaction
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError_2'
      security:
      - bearerAuth: []
    servers:
    - url: https://edge.us.cdo.cisco.com/api/rest
      description: US
    - url: https://edge.eu.cdo.cisco.com/api/rest
      description: EU
    - url: https://edge.apj.cdo.cisco.com/api/rest
      description: APJ
    - url: https://edge.aus.cdo.cisco.com/api/rest
      description: AUS
    - url: https://edge.in.cdo.cisco.com/api/rest
      description: IN
    - url: https://edge.staging.cdo.cisco.com/api/rest
      description: Staging
    - url: https://edge.scale.cdo.cisco.com/api/rest
      description: Scale
    - url: https://edge.ci.cdo.cisco.com/api/rest
      description: CI
  /v1/msp/tenants/{tenantUid}/users/groups/delete:
    post:
      tags:
      - MSP
      summary: Remove user groups from Security Cloud Control tenant in MSP Portal
      description: This is an asynchronous operation to remove a list of user groups from a tenant associated with the MSP
        Portal.
      operationId: deleteUserGroupsFromTenantInMspPortal
      parameters:
      - name: tenantUid
        in: path
        description: Unique identifier of the tenant from which the user groups will be deleted
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MspDeleteUserGroupsFromTenantInput'
        required: true
      responses:
        '202':
          description: Security Cloud Control Transaction object that can be used to track the status of the operation.
          content:
            application/json:
              schema:
                $ref: ./public-api-openapi.yaml#/components/schemas/CdoTransaction
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError_2'
      security:
      - bearerAuth: []
    servers:
    - url: https://edge.us.cdo.cisco.com/api/rest
      description: US
    - url: https://edge.eu.cdo.cisco.com/api/rest
      description: EU
    - url: https://edge.apj.cdo.cisco.com/api/rest
      description: APJ
    - url: https://edge.aus.cdo.cisco.com/api/rest
      description: AUS
    - url: https://edge.in.cdo.cisco.com/api/rest
      description: IN
    - url: https://edge.staging.cdo.cisco.com/api/rest
      description: Staging
    - url: https://edge.scale.cdo.cisco.com/api/rest
      description: Scale
    - url: https://edge.ci.cdo.cisco.com/api/rest
      description: CI
components:
  schemas:
    MspManagedCloudService:
      properties:
        address:
          description: The address of the cloud service (if applicable), in <code>host:port</code> format. Security Cloud
            Control connects to the cloud service at this address.
          example: my-example-duo.example.com:443
          type: string
        cloudServiceType:
          $ref: '#/components/schemas/EntityType'
          description: The type of the cloud service.
          example: UMBRELLA
        configState:
          $ref: '#/components/schemas/ConfigState'
          description: The state of the cloud service configuration in CDO. CDO stages configuration changes which have to
            be manually applied to the cloud service; this field indicates whether the configuration on CDO does not match
            the configuration on the cloud service, which indicates whether there are changes to be deployed from Security
            Cloud Control to the cloud service.
          example: SYNCED
        conflictDetectionState:
          $ref: '#/components/schemas/ConflictDetectionState'
          description: Indicates whether there have been changes made to the cloud service's configuration outside of Security
            Cloud Control.
          example: NO_CONFLICTS
        connectivityState:
          $ref: '#/components/schemas/ConnectivityState'
          description: The connectivity state of the cloud service to CDO. A connectivity state that is not ONLINE can indicate
            either a problem with the cloud service, or the communication pathways between the cloud service and Security
            Cloud Control.
          example: ONLINE
        managedTenantDisplayName:
          description: The display name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantName:
          description: The name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantRegion:
          description: The region of the managed tenant in CDO. This is the region where the cloud service is located.
          example: us1
          type: string
        managedTenantUid:
          description: The unique identifier, represented as a UUID, of the managed tenant in Security Cloud Control that
            this cloud service belongs to.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        name:
          description: The name of the cloud service in CDO. Cloud service names are unique in Security Cloud Control.
          example: my-example-duo-admin-panel
          type: string
        tenantUid:
          format: uuid
          type: string
        uid:
          description: The unique identifier, represented as a UUID, of the cloud service in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      required:
      - name
      type: object
    MspExportInput:
      properties:
        query:
          description: The query to execute in order to generate the export. Use the Lucene Query Syntax to construct your
            query. You can use this to filter the entities included in your export.
          example: deviceType:CDFMC_MANAGED_FTD AND connectivityState:ONLINE
          type: string
      type: object
    MspManagedTenantPage:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int32
          type: integer
        items:
          description: The list of items retrieved.
          items:
            $ref: '#/components/schemas/MspManagedTenant'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int32
          type: integer
        offset:
          description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
            the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int32
          type: integer
      type: object
    CommonApiError:
      properties:
        details:
          additionalProperties:
            description: Additional details, if any, on the error
            example: {}
            type: object
          description: Additional details, if any, on the error
          example: {}
          type: object
        errorCode:
          description: A unique code that describes the error.
          enum:
          - INVALID_INPUT
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - CONFLICT
          - TOO_MANY_REQUESTS
          - SERVER_ERROR
          - PROXY_ERROR
          - BAD_REQUEST
          - UNPROCESSABLE_ENTITY
          example: INVALID_INPUT
          type: string
        errorMsg:
          description: A human-readable error description in English.
          example: sample error
          type: string
    MspDeleteUsersFromTenantInput:
      properties:
        usernames:
          description: The list of usernames to be removed from the MSP-managed tenant. You can remove a maximum of 50 users
            at a time.
          example:
          - username@example.com
          - username2@example.com
          items:
            type: string
          maxItems: 50
          minItems: 0
          type: array
      required:
      - usernames
      type: object
    Labels:
      description: Labels used to identify/tag Security Cloud Control entities.
      properties:
        groupedLabels:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: Groups of labels used to identify/tag Security Cloud Control entities.
          example:
            group1:
            - label-1
            - label-2
            group2:
            - label-1
            - label-2
          type: object
        ungroupedLabels:
          description: Set of free-labels used to identify/tag Security Cloud Control entities.
          example:
          - label-a
          - label-b
          - label-c
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    MspManagedDeviceDistinctAttributeValues:
      properties:
        configStates:
          description: The distinct config states for the devices managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConfigState'
          type: array
          uniqueItems: true
        conflictDetectionStates:
          description: The distinct conflict detection states for the devices managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConflictDetectionState'
          type: array
          uniqueItems: true
        connectivityStates:
          description: The distinct connectivity states for the devices managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConnectivityState'
          type: array
          uniqueItems: true
        deviceTypes:
          description: The distinct device types for the devices managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/EntityType'
          type: array
          uniqueItems: true
        managedTenantDisplayNames:
          description: The display names of the tenants that have devices onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        managedTenantNames:
          description: The names of the tenants that have devices onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        softwareVersions:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The software versions of the devices managed by the MSP Portal.
          type: object
      type: object
    ConflictDetectionState:
      enum:
      - CONFLICT_DETECTED
      - NO_CONFLICTS
      type: string
    MspManagedTemplatesPage:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int32
          type: integer
        items:
          description: The list of items retrieved.
          items:
            $ref: '#/components/schemas/MspManagedTemplate'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int32
          type: integer
        offset:
          description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
            the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int32
          type: integer
      type: object
    User:
      properties:
        apiOnlyUser:
          description: Whether the user is API-only, an API-only user cannot access Security Cloud Control in the UI.
          example: false
          type: boolean
        emailAddress:
          description: The e-mail address in Security Cloud Control.
          example: ram.singh@cisco.com
          type: string
        firstName:
          description: The first name of the user in Security Cloud Control.
          example: Ram
          type: string
        lastName:
          description: The last name of the user in Security Cloud Control.
          example: Singh
          type: string
        lastSuccessfulLogin:
          description: The time (UTC; represented using the RFC-3339 standard) that indicate the last time the user successfully
            logged in to Security Cloud Control.
          example: 2023-12-13 05:15:44+00:00
          format: date-time
          type: string
        name:
          deprecated: true
          description: The username (e-mail address) in Security Cloud Control.
          example: ram.singh@cisco.com
          type: string
        roles:
          description: Roles associated with this user in Security Cloud Control.
          example: '[ROLE_ADMIN]'
          items:
            $ref: '#/components/schemas/UserRole'
          type: array
        uid:
          description: The unique identifier of the user in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          type: string
      type: object
    UserInput:
      properties:
        apiOnlyUser:
          description: Whether the user is an API-only user
          example: false
          type: boolean
        firstName:
          description: 'The first name of the user in Security Cloud Control. If this is not set, the first name is set to
            the username. Note: This field must not be specified for API-only users.'
          example: Ram
          type: string
        lastName:
          description: 'The last name of the user in Security Cloud Control. If this is not set, the last name is set to the
            username. Note: This field must not be specified for API-only users.'
          example: Singh
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
          description: The role to assign to the user in the Security Cloud Control tenant.
          example: ROLE_ADMIN
        username:
          description: The name of the user in Security Cloud Control. This must be a valid e-mail address if the user is
            not an API-only user.
          example: smith@jones.com
          minLength: 1
          type: string
      required:
      - role
      - username
      type: object
    MspManagedDeviceManager:
      properties:
        address:
          description: The address of the device, in <code>host:port</code> format. Security Cloud Control connects to the
            device at this address.
          example: my-example-device.example.com:443
          type: string
        connectivityState:
          $ref: '#/components/schemas/ConnectivityState'
          description: The connectivity state of the device to CDO. A connectivity state that is not ONLINE can indicate either
            a problem with the device, or the communication pathways between the device and Security Cloud Control.
          example: ONLINE
        deviceManagerType:
          $ref: '#/components/schemas/EntityType'
          description: The type of the device manager.
          example: CDFMC
        fmcDomainUid:
          description: (FMC-only) The Domain UID of the FMC.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        managedTenantDisplayName:
          description: The display name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantName:
          description: The name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantRegion:
          description: The region of the managed tenant in CDO. This is the region where the device manager is located.
          example: us1
          type: string
        managedTenantUid:
          description: The unique identifier, represented as a UUID, of the managed tenant in Security Cloud Control that
            this device manager belongs to.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        name:
          description: The name of the device manager in CDO. Device manager names are unique in Security Cloud Control.
          example: my-example-device
          type: string
        softwareVersion:
          description: The version of the software running on the device.
          example: 7.4.1
          type: string
        tenantUid:
          format: uuid
          type: string
        uid:
          description: The unique identifier, represented as a UUID, of the device manager in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      required:
      - name
      type: object
    MspAddUsersToTenantInput:
      properties:
        users:
          description: The list of users to be added to the tenant. You can add a maximum of 50 users at a time.
          example: '[username: burak@cisco.com, role: ROLE_ADMIN]'
          items:
            $ref: '#/components/schemas/UserInput'
          maxItems: 50
          minItems: 0
          type: array
      required:
      - users
      type: object
    ApiTokenInfo:
      properties:
        apiToken:
          description: The API Access Token.
          example: FaKE-toKeN
          type: string
      type: object
    AuthenticationError:
      properties:
        error:
          description: A human-readable error description in English.
          example: invalid_token
          type: string
        errorDescription:
          description: A human-readable error description in English.
          example: Your token is invalid
          type: string
    MspManagedDevicePage:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int32
          type: integer
        items:
          description: The list of items retrieved.
          items:
            $ref: '#/components/schemas/MspManagedDevice'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int32
          type: integer
        offset:
          description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
            the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int32
          type: integer
      type: object
    MspManagedTemplateDistinctAttributeValues:
      properties:
        configStates:
          description: The distinct config states for the templates managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConfigState'
          type: array
          uniqueItems: true
        managedTenantDisplayNames:
          description: The display names of the tenants that have templates managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        managedTenantNames:
          description: The names of the tenants that have templates managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        softwareVersions:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The software versions of the templates managed by the MSP Portal.
          type: object
        templateTypes:
          description: The distinct templates types for the templates managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/EntityType'
          type: array
          uniqueItems: true
      type: object
    StatusInfo:
      properties:
        status:
          description: The Status of the request.
          example: OK
          type: string
      type: object
    MspManagedDeviceManagerDistinctAttributeValues:
      properties:
        connectivityStates:
          description: The distinct connectivity states for the device managers managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConnectivityState'
          type: array
          uniqueItems: true
        deviceManagerTypes:
          description: The distinct device manager types for the device managers managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/EntityType'
          type: array
          uniqueItems: true
        managedTenantDisplayNames:
          description: The display names of the tenants that have device managers onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        managedTenantNames:
          description: The names of the tenants that have device managers onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        softwareVersions:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The software versions of the device managers managed by the MSP Portal.
          type: object
      type: object
    ConnectivityState:
      enum:
      - ONLINE
      - UNREACHABLE
      - BAD_CREDENTIALS
      - UNKNOWN
      - PENDING_SETUP
      - PENDING
      - NEW_CERT_DETECTED
      type: string
    UserRole:
      enum:
      - ROLE_ADMIN
      - ROLE_SUPER_ADMIN
      - ROLE_READ_ONLY
      - ROLE_DEPLOY_ONLY
      - ROLE_EDIT_ONLY
      - ROLE_VPN_SESSIONS_MANAGER
      - ROLE_FWAAS
      - ROLE_PASSIVE_IDENTITY_AGENT
      type: string
    CdoTransaction:
      properties:
        cdoTransactionStatus:
          description: The status of the transaction
          enum:
          - PENDING
          - IN_PROGRESS
          - DONE
          - ERROR
          example: IN_PROGRESS
          type: string
        entityUid:
          description: The unique identifier of the entity that the transaction is triggered on. This can be empty, for a
            transaction that is not tied to an entity, such as transactions which refresh RA VPN sessions.
          example: f5f660d4-4b81-4374-877d-fbc4bee894e2
          format: uuid
          type: string
        entityUrl:
          description: A URL to access the entity that the transaction is triggered on. This can also be empty
          example: https://edge.us.cdo.cisco.com/platform/public-api/v1/inventory/devices/f5f660d4-4b81-4374-877d-fbc4bee894e2
          type: string
        errorDetails:
          additionalProperties:
            type: string
          description: Transaction error details, if any
          type: object
        errorMessage:
          description: Transaction error message, if any
          type: string
        lastUpdatedTime:
          description: The time (UTC; represented using the RFC-3339 standard) at which the transaction status was last updated
          example: 2023-12-13 08:15:44+00:00
          format: date-time
          type: string
        submissionTime:
          description: The time (UTC; represented using the RFC-3339 standard) at which the transaction was triggered
          example: 2023-12-13 05:15:44+00:00
          format: date-time
          type: string
        tenantUid:
          description: The unique identifier of the tenant that the transaction triggered on.
          example: 5131daad-e813-4b8f-8f42-be1e241e2cdb
          format: uuid
          type: string
        transactionDetails:
          additionalProperties:
            type: string
          description: Transaction details, if any
          type: object
        transactionPollingUrl:
          description: The URL to poll to track the progress of the transaction.
          example: https://edge.us.cdo.cisco.com/platform/v1/transactions/7131daad-e813-4b8f-8f42-be1e241e8cdb
          type: string
        transactionType:
          description: the type of the transaction
          enum:
          - ONBOARD_ASA
          - ONBOARD_IOS
          - ONBOARD_DUO_ADMIN_PANEL
          - CREATE_FTD
          - ONBOARD_FTD_ZTP
          - REGISTER_FTD
          - DELETE_CDFMC_MANAGED_FTD
          - RECONNECT_ASA
          - READ_ASA
          - BULK_READ_ASA
          - EXECUTE_CLI_COMMAND
          - BULK_ACCEPT_ASA_CERTIFICATES
          - DEPLOY_ASA_DEVICE_CHANGES
          - DEPLOY_FTD_DEVICE_CHANGES
          - INDEX_TENANT
          - TERMINATE_DEVICE_RA_VPN_SESSIONS
          - REFRESH_RA_VPN_SESSIONS
          - TERMINATE_USER_RA_VPN_SESSIONS
          - UPGRADE_ASA
          - UPGRADE_FTD
          - UPGRADE_FTD_CACHE
          - MSP_UPGRADE_FTDS
          - MSP_GET_COMPATIBLE_FTD_UPGRADE_PACKAGES
          - CREATE_SDC
          - SEND_AI_ASSISTANT_MESSAGE
          - MSP_CREATE_TENANT
          - MSP_ADD_USERS_TO_TENANT
          - MSP_ADD_USER_GROUPS_TO_TENANT
          - MSP_DELETE_USERS_FROM_TENANT
          - MSP_DELETE_USER_GROUPS_FROM_TENANT
          - MSP_ADD_EXISTING_TENANT
          - MSP_ENABLE_MULTICLOUD_DEFENSE
          - MSP_PROVISION_CDFMC
          - CREATE_USERS
          - DELETE_USERS
          - EXECUTE_ASA_COMMAND
          - ANALYZE_POLICIES
          - TRIGGER_FMC_DATA_EXPORT
          - EXPORT_DEVICES
          - EXPORT_CLOUD_SERVICES
          - EXPORT_MANAGERS
          - EXPORT_TEMPLATES
          - PROVISION_SDWAN_SAL_RESOURCES
          - DEPROVISION_SDWAN_SAL_RESOURCES
          - PROVISION_FIREWALL_SAL_RESOURCES
          - DEPROVISION_FIREWALL_SAL_RESOURCES
          - ASA_HEALTH_METRICS_TENANT_OPT_IN
          - ASA_HEALTH_METRICS_TENANT_OPT_OUT
          example: ONBOARD_ASA
          type: string
        transactionUid:
          description: The unique identifier of the transaction triggered.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      type: object
    MspAddTenantInput:
      properties:
        apiToken:
          description: The Tenant API Access Token.
          example: FaKE-toKeN
          minLength: 1
          type: string
      required:
      - apiToken
      type: object
    MspManagedDeviceManagersPage:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int32
          type: integer
        items:
          description: The list of items retrieved.
          items:
            $ref: '#/components/schemas/MspManagedDeviceManager'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int32
          type: integer
        offset:
          description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine
            the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int32
          type: integer
      type: object
    EntityType:
      enum:
      - ASA
      - CDFMC_MANAGED_FTD
      - ONPREM_FMC_MANAGED_FTD
      - ONPREM_FMC_MANAGED_FIREPOWER
      - ONPREM_FMC_NGIPS
      - FDM_MANAGED_FTD
      - IOS
      - ISR
      - SSH_DEVICE
      - GENERIC_DEVICE
      - MERAKI_MX
      - CLOUD_DNG
      - SFCN
      - SFCN_DNG
      - SFCN_STS
      - ONPREM_FMC
      - CDFMC
      - AWS_VPC
      - AZURE_VNET
      - DUO_ADMIN_PANEL
      - UMBRELLA_ORGANIZATION
      type: string
    MspManagedTenant:
      properties:
        displayName:
          description: A human-readable display name for the tenant. This is the tenant name displayed in the Security Cloud
            Control Web UI.
          example: mytenantname
          type: string
        name:
          description: The name of the device in CDO. Device names are unique in Security Cloud Control.
          example: my-example-device
          type: string
        region:
          description: The Security Cloud Control region the tenant exists in.
          enum:
          - US
          - EU
          - APJ
          - AUS
          - IN
          - CI
          - SCALE
          - STAGING
          - UNKNOWN
          example: US
          type: string
        uid:
          description: The unique identifier of the tenant in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      type: object
    MspManagedTemplate:
      properties:
        configState:
          $ref: '#/components/schemas/ConfigState'
          description: The connectivity state of the template to CDO. A connectivity state that is not ONLINE can indicate
            either a problem with the template, or the communication pathways between the template and Security Cloud Control.
          example: ONLINE
        managedTenantDisplayName:
          description: The display name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantName:
          description: The name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantRegion:
          description: The region of the managed tenant in CDO. This is the region where the template is located.
          example: us1
          type: string
        managedTenantUid:
          description: The unique identifier, represented as a UUID, of the managed tenant in Security Cloud Control that
            this template belongs to.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        name:
          description: The name of the template in CDO. Template names are unique in Security Cloud Control.
          example: my-example-device
          type: string
        softwareVersion:
          description: The software version that the template is applicable to.
          example: 7.4.1
          type: string
        templateType:
          $ref: '#/components/schemas/EntityType'
          description: The type of the template.
          example: CDFMC
        tenantUid:
          format: uuid
          type: string
        uid:
          description: The unique identifier, represented as a UUID, of the template in Security Cloud Control.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      required:
      - name
      type: object
    MspManagedCloudServiceDistinctAttributeValues:
      properties:
        cloudServiceTypes:
          description: The distinct device types for the cloud services managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/EntityType'
          type: array
          uniqueItems: true
        configStates:
          description: The distinct config states for the cloud services managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConfigState'
          type: array
          uniqueItems: true
        conflictDetectionStates:
          description: The distinct conflict detection states for the cloud services managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConflictDetectionState'
          type: array
          uniqueItems: true
        connectivityStates:
          description: The distinct connectivity states for the cloud services managed by the MSP Portal.
          items:
            $ref: '#/components/schemas/ConnectivityState'
          type: array
          uniqueItems: true
        managedTenantDisplayNames:
          description: The display names of the tenants that have cloud services onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
        managedTenantNames:
          description: The names of the tenants that have cloud services onboarded and are managed by the MSP Portal.
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    MspManagedDevice:
      properties:
        address:
          description: The address of the device, in <code>host:port</code> format. Security Cloud Control connects to the
            device at this address.
          example: my-example-device.example.com:443
          type: string
        chassisSerial:
          description: The serial number on the chassis of the device (ASA-only). This is typically used to type up to Cisco
            SmartNet, and is not the same as the serial number.
          example: JMX2450Xxxx
          type: string
        configState:
          $ref: '#/components/schemas/ConfigState'
          description: The state of the device configuration in CDO. CDO stages configuration changes which have to be manually
            applied to the device; this field indicates whether the configuration on CDO does not match the configuration
            on the device, which indicates whether there are changes to be deployed from Security Cloud Control to the device.
          example: SYNCED
        conflictDetectionState:
          $ref: '#/components/schemas/ConflictDetectionState'
          description: Indicates whether there have been changes made to the device's configuration outside of Security Cloud
            Control.
          example: NO_CONFLICTS
        connectivityState:
          $ref: '#/components/schemas/ConnectivityState'
          description: The connectivity state of the device to CDO. A connectivity state that is not ONLINE can indicate either
            a problem with the device, or the communication pathways between the device and Security Cloud Control.
          example: ONLINE
        deviceType:
          $ref: '#/components/schemas/EntityType'
          description: The type of the device.
          example: CDFMC_MANAGED_FTD
        hardwareModel:
          description: (ASAs, FDM-managed FTDs, and FMC-managed FTDs only) The hardware model of the device
          type: string
        labels:
          $ref: '#/components/schemas/Labels'
          description: The labels associated with the device.
        managedTenantDisplayName:
          description: The display name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantName:
          description: The name of the managed tenant in CDO.
          example: my-example-tenant
          type: string
        managedTenantRegion:
          description: The region of the managed tenant in CDO. This is the region where the device is located.
          example: us1
          type: string
        managedTenantUid:
          description: The unique identifier, represented as a UUID, of the managed tenant in Security Cloud Control that
            this device belongs to.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        modelNumber:
          description: The hardware, or virtualized hardware platform, that the device is running on (ASA-only). This field
            can be missing in the case of a partially onboarded device.
          type: string
        name:
          description: The name of the device in CDO. Device names are unique in Security Cloud Control.
          example: my-example-device
          type: string
        redundancyMode:
          description: 'The redundancy mode this firewall is running in. Note: for High Availability pairs and clusters, Security
            Cloud Control represents all of the devices as part of one record.'
          enum:
          - HA
          - CLUSTER
          - STANDALONE
          type: string
        serial:
          description: The serial number of the device. This is typically used for licensing, and is not the same as the chassis'
[...]
