openapi: 3.2.0
info:
  title: Cisco Secure Firewall Deployment API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Deployment across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml.
    Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 11/11
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Deployment
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/deployabledevices:
    get:
      deprecated: false
      description: '**Get a list of all devices with configuration changes which are ready to be deployed.**'
      operationId: getDeployableDevice
      parameters:
      - description: Boolean indicating whether the policies ready to deploy have group dependencies. Group dependency value
          helps to add dependent policies in Selective Policy Deployment. Results will be shown only when expanded is set
          to <code>true</code>. It may affect the performance of the API.
        in: query
        name: groupDependency
        required: false
        schema:
          type: boolean
      - description: 'Boolean value indicating whether to return a list of devices with universal zero trust setting enabled. '
        in: query
        name: uZTNADevicesOnly
        required: false
        schema:
          type: boolean
      - description: Boolean value indicating whether to return a list of devices with universal zero trust settings which
          are out of date.
        in: query
        name: uZTNAConfigOnly
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/deployment/deployabledevices ( Get all paginated DeployableDevice
                  instances with group dependency is false. )'
                : value:
                    items:
                    - canBeDeployed: true
                      device:
                        id: ec6fcb5e-d891-11ea-9600-f0f82ba3e0ab
                        keepLocalEvents: false
                        name: 10.10.6.71
                        type: SENSOR
                      deviceMembers:
                      - id: ec6fcb5e-d891-11ea-9600-f0f82ba3e0ab
                        keepLocalEvents: false
                        name: 10.10.6.71
                        type: SENSOR
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                        uuid: e276abec-e0f2-11e3-8169-6d9ed49b625f
                      isDeploying: true
                      message: Cannot perform deployment to the device, as another deployment is in progress for the device.
                      name: 10.10.6.71
                      policyStatusList:
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-025769804572
                          type: PG.RA.PkiPolicy
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-017179869404
                          type: PG.PLATFORM.PixInterface
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-017179869872
                          type: PG.PLATFORM.NgfwVirtualRouterPage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825642070.0
                          userName: System
                        policy:
                          id: 0050568A-ADDB-0ed3-0000-042949673276
                          type: PG.PLATFORM.NgfwInlineSetPage
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825642070.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825348030.0
                          userName: restadmin
                        - lastModifiedTime: 1597825448031.0
                          userName: admin
                        policy:
                          id: 0050568A-ADDB-0ed3-0000-008589934595
                          name: AC
                          type: PG.FIREWALL.NGFWAccessControlPolicy
                        referredPolicyList:
                        - policy:
                            id: 23ccacf2-d950-11ea-86ff-e9faf973fe30
                            name: IPS
                            type: IntrusionPolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597640332.0
                        - policy:
                            id: d6aea7e0-d94f-11ea-86ff-e9faf973fe30
                            name: File
                            type: FilePolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597640332.0
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825448031.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825490063.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-025769804386
                          name: Platform
                          type: PG.PLATFORM.NgfwPFSettings
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825490063.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-309237645506
                          type: PG.PLATFORM.AsaBGPPage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825642070.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-309237645534
                          type: PG.PLATFORM.PixDhcpdPage
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825642070.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825616301.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-309237645554
                          type: PG.PLATFORM.PixRipPix72Page
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825616301.0
                      - policy:
                          id: 9f97b5ac-d892-11ea-9e54-cf1b2ca3e0ab
                          name: 10.10.6.71
                          type: NGFWPolicy
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597825640.0
                      - policy:
                          id: deviceConfigurationId
                          type: DeviceConfiguration
                        referredPolicyList:
                        - policy:
                            id: 0050568A-CF43-0ed3-0000-017179869404
                            type: PG.PLATFORM.PixInterface
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597810841104.0
                        - modifiedUserInfoList:
                          - lastModifiedTime: 1597825642070.0
                            userName: System
                          policy:
                            id: 0050568A-CF43-0ed3-0000-017179869900
                            type: PG.PLATFORM.NgfwInlineSetPage
                          trafficInterrupting: false
                          upToDate: false
                          versionTimeStamp: 1597825642070.0
                        - modifiedUserInfoList:
                          - lastModifiedTime: 1597825642070.0
                            userName: System
                          policy:
                            id: 0050568A-CF43-0ed3-0000-309237645534
                            type: PG.PLATFORM.PixDhcpdPage
                          trafficInterrupting: false
                          upToDate: false
                          versionTimeStamp: 1597825642070.0
                        - policy:
                            id: 9f97b5ac-d892-11ea-9e54-cf1b2ca3e0ab
                            name: 10.10.6.71
                            type: NGFWPolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597825640.0
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 0
                      trafficInterruption: 'NO'
                      type: DeployableDevice
                      upToDate: false
                      version: '1597825642070'
                    links:
                      self: https://10.76.157.35:13006/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/deployabledevices?offset=0&limit=1&groupDependency=true&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/deployment/deployabledevices ( Get all paginated DeployableDevice
                  instances with group dependency is true. )'
                : value:
                    items:
                    - canBeDeployed: true
                      device:
                        id: ec6fcb5e-d891-11ea-9600-f0f82ba3e0ab
                        keepLocalEvents: false
                        name: 10.10.6.71
                        type: SENSOR
                      deviceMembers:
                      - id: ec6fcb5e-d891-11ea-9600-f0f82ba3e0ab
                        keepLocalEvents: false
                        name: 10.10.6.71
                        type: SENSOR
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                        uuid: e276abec-e0f2-11e3-8169-6d9ed49b625f
                      groupDependencyDetails:
                        dependentPolicyList:
                        - dependencyReason: You must always deploy policies with global object changes.
                          dependentTypeList:
                          - PG.FIREWALL.NGFWAccessControlPolicy
                          - SSLPolicy
                        - dependencyReason: Deploy these out-of-date policies together. Interdependent changes found in policies.
                          dependentTypeList:
                          - SSLPolicy
                          - PG.FIREWALL.NGFWAccessControlPolicy
                        - dependencyReason: Routing Group policies should be deployed together
                          dependentTypeList:
                          - PG.PLATFORM.PixRipPix72Page
                          - PG.PLATFORM.PixOSPFPage
                        mandatoryDeployablePolicies:
                        - PG.FIREWALL.NGFWAccessControlPolicy
                        - SSLPolicy
                        - PG.PLATFORM.NgfwInlineSetPage
                        - PG.PLATFORM.NgfwPFSettings
                        selectivelyDeployablePolicies:
                        - PG.PLATFORM.PixRipPix72Page
                        - PG.PLATFORM.PixOSPFPage
                        - PG.PLATFORM.ManualNat64Rule
                      isDeploying: false
                      name: 10.10.6.71
                      policyStatusList:
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-025769804572
                          type: PG.RA.PkiPolicy
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-017179869404
                          type: PG.PLATFORM.PixInterface
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-017179869872
                          type: PG.PLATFORM.NgfwVirtualRouterPage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825642070.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-017179869900
                          type: PG.PLATFORM.NgfwInlineSetPage
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825642070.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825348030.0
                          userName: restadmin
                        - lastModifiedTime: 1597825448031.0
                          userName: admin
                        policy:
                          id: 0050568A-ADDB-0ed3-0000-008589934595
                          name: AC
                          type: PG.FIREWALL.NGFWAccessControlPolicy
                        referredPolicyList:
                        - policy:
                            id: 23ccacf2-d950-11ea-86ff-e9faf973fe30
                            name: IPS
                            type: IntrusionPolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597640332.0
                        - policy:
                            id: 64c07d0e-d88f-11ea-a923-966839a3df85
                            type: NetworkDiscovery
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597810833.0
                        - policy:
                            id: d6aea7e0-d94f-11ea-86ff-e9faf973fe30
                            name: File
                            type: FilePolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597640332.0
                        - modifiedUserInfoList:
                          - lastModifiedTime: 1597825446.0
                            userName: System
                          policy:
                            id: dd627c6a-d94f-11ea-86ff-e9faf973fe30
                            name: SSL
                            type: SSLPolicy
                          trafficInterrupting: false
                          upToDate: false
                          versionTimeStamp: 1597825446.0
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825448031.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825468136.0
                          userName: admin
                        policy:
                          id: 0050568A-CF43-0ed3-0000-025769804290
                          name: NAT
                          type: PG.PLATFORM.ManualNat64Rule
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825468136.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825490063.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-025769804386
                          name: Platform
                          type: PG.PLATFORM.NgfwPFSettings
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825490063.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-309237645506
                          type: PG.PLATFORM.AsaBGPPage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-309237645514
                          type: PG.PLATFORM.PixStaticRouteTablePage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - policy:
                          id: 0050568A-CF43-0ed3-0000-309237645518
                          type: PG.PLATFORM.PixMBoundaryPage
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597810841104.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825600655.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-309237645530
                          type: PG.PLATFORM.PixOSPFPage
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825600655.0
                      - modifiedUserInfoList:
                        - lastModifiedTime: 1597825616301.0
                          userName: System
                        policy:
                          id: 0050568A-CF43-0ed3-0000-309237645554
                          type: PG.PLATFORM.PixRipPix72Page
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 1597825616301.0
                      - policy:
                          id: 9f97b5ac-d892-11ea-9e54-cf1b2ca3e0ab
                          name: 10.10.6.71
                          type: NGFWPolicy
                        trafficInterrupting: false
                        upToDate: true
                        versionTimeStamp: 1597825640.0
                      - policy:
                          id: deviceConfigurationId
                          type: DeviceConfiguration
                        referredPolicyList:
                        - policy:
                            id: 0050568A-CF43-0ed3-0000-017179869404
                            type: PG.PLATFORM.PixInterface
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597810841104.0
                        - modifiedUserInfoList:
                          - lastModifiedTime: 1597825642070.0
                            userName: System
                          policy:
                            id: 0050568A-CF43-0ed3-0000-017179869900
                            type: PG.PLATFORM.NgfwInlineSetPage
                          trafficInterrupting: false
                          upToDate: false
                          versionTimeStamp: 1597825642070.0
                        - policy:
                            id: 9f97b5ac-d892-11ea-9e54-cf1b2ca3e0ab
                            name: 10.10.6.71
                            type: NGFWPolicy
                          trafficInterrupting: false
                          upToDate: true
                          versionTimeStamp: 1597825640.0
                        trafficInterrupting: false
                        upToDate: false
                        versionTimeStamp: 0
                      trafficInterruption: 'NO'
                      type: DeployableDevice
                      upToDate: false
                      version: '1597825642070'
                    links:
                      self: https://10.76.157.35:13006/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/deployabledevices?offset=0&limit=1&groupDependency=true&expanded=true
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeployableDeviceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/deployabledevices/{containerUUID}/deployments:
    get:
      deprecated: false
      description: '**Get deployment details for a device.**'
      operationId: getDeploymentDetail
      parameters:
      - description: Selects time range for the deployment.<br/>Value is of format <code>startTime:start_time_in_secs;endTime:end_time_in_secs;</code>.
          <br/><br/><code>startTime</code> -- start time in unix format (in seconds). startTime and endTime should be specified
          together.<br/><code>endTime</code> -- end time in unix format (in seconds). startTime and endTime should be specified
          together.<br/>
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/deployment/{containerUUID}/deploymentdetails ( Get all
                  paginated Deployment Detail instances. )'
                : value:
                    items:
                    - endTime: 1592899423.0
                      name: cbv_job_2020-06-23 08:01:22.862
                      policyList:
                      - type: PG.FIREWALL.NGFWAccessControlPolicy
                      - type: IntrusionPolicy
                      startTime: 1592899282.0
                      status: SUCCEEDED
                      type: DeploymentDetail
                      uuid: 0050568B-B74A-0ed3-0000-330712481831
                    links:
                      self: https://10.76.157.67:16286/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/deployabledevices/d8c5ada2-a949-11ea-986f-83a5cef58c55/deployments?offset=0&limit=1&filter=startTime:1591683568537;endTime:1591683569038&expanded=false
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeploymentDetailListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/deployabledevices/{containerUUID}/pendingchanges:
    get:
      deprecated: false
      description: '**Get all policy and object changes.**'
      operationId: getPendingChanges
      parameters:
      - description: 'The filter criteria for which the details have to be fetched - Only works when "expanded" is set to
          "true". Examples: ParentEntityTypes:AccessPolicy, EntityUUID:0050568C-35A0-0ed3-0000-004294969351.To fetch the historical
          data pass the left and right job UUID. Example LeftJobUUID:4b9fe31c-34cc-11ea-8b36-8eb5492fc3a5;RightJobUUID:4b9fe31c-34cc-11ea-8b36-8eb5492fc3a3.For
          filter based on User add a filter using key word UserList.Example: UserList : user1,user2.'
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingChangesListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/deploymentrequests:
    post:
      deprecated: false
      description: '**Create a request for deploying configuration changes to devices. _Check the response section for applicable
        examples (if any)._**'
      operationId: createDeploymentRequest
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request. )':
                value:
                  deploymentNote: yournotescomehere
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  forceDeploy: false
                  ignoreWarning: true
                  type: DeploymentRequest
                  version: '1457566762351'
              ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request
                for Selective Policy Deployment )'
              : value:
                  deploymentNote: yournotescomehere
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  forceDeploy: false
                  ignoreWarning: true
                  selectedPoliciesforDevices:
                  - deviceUUID: d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    selectedPolicies:
                    - PG.FIREWALL.NGFWAccessControlPolicy
                    - DNSPolicy
                    - SSLPolicy
                  type: DeploymentRequest
                  version: '1457566762351'
              ? 'Example 3 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request
                for Full Deployment and Selective Policy Deployment  )'
              : value:
                  deploymentNote: yournotescomehere
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  - 88a4b666-9372-11ea-babd-9ebaf536312a
                  forceDeploy: false
                  ignoreWarning: true
                  selectedPoliciesforDevices:
                  - deviceUUID: d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    selectedPolicies:
                    - PG.FIREWALL.NGFWAccessControlPolicy
                    - DNSPolicy
                    - SSLPolicy
                  type: DeploymentRequest
                  version: '1589689510428'
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
              type: object
        description: The input representation of deployment request model.
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                'Example 1 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request. )':
                  value:
                    deploymentNote: yournotescomehere
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    forceDeploy: false
                    ignoreWarning: true
                    metadata:
                      task:
                        id: '133143986189'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143986189
                    type: DeploymentRequest
                    version: '1457566762351'
                ? 'Example 2 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request
                  for Selective Policy Deployment )'
                : value:
                    deploymentNote: yournotescomehere
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    forceDeploy: false
                    ignoreWarning: true
                    metadata:
                      task:
                        id: '133143997176'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143997176
                    selectedPoliciesforDevices:
                    - deviceUUID: d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                      selectedPolicies:
                      - PG.FIREWALL.NGFWAccessControlPolicy
                      - DNSPolicy
                      - SSLPolicy
                    type: DeploymentRequest
                    version: '1457566762351'
                ? 'Example 3 : POST /fmc_config/v1/domain/DomainUUID/deployment/deploymentrequests ( POST a deployment request
                  for Full Deployment and Selective Policy Deployment  )'
                : value:
                    deploymentNote: yournotescomehere
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    - 88a4b666-9372-11ea-babd-9ebaf536312a
                    forceDeploy: false
                    ignoreWarning: true
                    metadata:
                      task:
                        id: '133143996156'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143996156
                    selectedPoliciesforDevices:
                    - deviceUUID: d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                      selectedPolicies:
                      - PG.FIREWALL.NGFWAccessControlPolicy
                      - DNSPolicy
                      - SSLPolicy
                    type: DeploymentRequest
                    version: '1589689510428'
              schema:
                $ref: '#/components/schemas/DeploymentRequest'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/jobhistories:
    get:
      deprecated: false
      description: '**Gets all deployment jobs.**'
      operationId: getAllJobHistory
      parameters:
      - description: Various filter criteria can be specified using the format <code>deviceUUID:{uuid};startTime:start_time_in_secs;endTime:end_time_in_secs;rollbackApplicable:true_or_false;status:job_status;jobType:job_type</code>.
          <br/><br/><code>startTime</code> -- start time in unix format (in seconds). startTime and endTime should be specified
          together.<br/><br/><code>endTime</code> -- end time in unix format (in seconds). startTime and endTime should be
          specified together.<br/><br/><code>rollbackApplicable</code> -- true/false. Not a mandatory field.<br/><br/><code>status</code>
          -- {DEPLOYING, DEPLOYED, FAILED, ABORTED, EDIT_INUSE}. Not a mandatory field.<br/><br/><code>jobType</code> -- {DEPLOYMENT,
          ROLLBACK, CERTIFICATE}. Not a mandatory field.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/deployment/jobhistories ( GET All paginated Job Histories instances. )':
                  value:
                    items:
                    - deploymentNote: yournotescomehere
                      deviceList:
                      - deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.104
                        deviceUUID: d0c422c8-9756-11ea-acb6-961f407b1a9c
                      - containerName: vFTD-HA
                        containerUUID: 8c363564-518d-11eb-899b-e37ea1f51142
                        deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.100
                        deviceUUID: a6b42c18-50c8-11eb-8556-880cc814430c
                      - deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.102
                        deviceUUID: 73dee6c4-9756-11ea-b7d5-c46fa36556b5
                      endTime: '2020-05-16T10:30:26Z'
                      id: 0050568B-9937-0ed3-0000-463856468766
                      jobName: Deploy_Job_6
                      jobStatus: Deployed
                      jobType: DEPLOYMENT
                      startTime: '2020-05-16T10:29:01Z'
                      type: JobHistory
                      user: admin
                    - deploymentNote: yournotescomehere
                      endTime: '2020-05-16T10:16:56Z'
                      id: 0050568B-AFA9-0ed3-0000-017179869494
                      jobName: Deploy_Job_5
                      jobStatus: DEPLOYED
                      jobType: UNKNOWN
                      startTime: '2020-05-16T10:15:19Z'
                      type: JobHistory
                      user: System
                    - deploymentNote: yournotescomehere
                      deviceList:
                      - deployedVersion: -1
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.104
                        deviceUUID: d0c422c8-9756-11ea-acb6-961f407b1a9c
                      endTime: '2020-05-16T10:10:45Z'
                      id: 0050568B-9937-0ed3-0000-463856468569
                      jobName: Deploy_Job_4
                      jobStatus: Deployed
                      jobType: ROLLBACK
                      startTime: '2020-05-16T10:09:10Z'
                      type: JobHistory
                      user: System
                    - deploymentNote: yournotescomehere
                      deviceList:
                      - deployedVersion: 1
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.102
                        deviceUUID: 73dee6c4-9756-11ea-b7d5-c46fa36556b5
                      endTime: '2020-05-16T10:06:28Z'
                      id: 0050568B-9937-0ed3-0000-463856468258
                      jobName: Deploy_Job_3
                      jobStatus: Deployed
                      jobType: DEPLOYMENT
                      startTime: '2020-05-16T10:04:22Z'
                      type: JobHistory
                      user: System
                    links:
                      self: https://example.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/jobhistories?offset=0&limit=41&expanded=true
                    paging:
                      count: 3
                      limit: 3
                      offset: 0
                      pages: 1
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/deployment/jobhistories ( GET ALL paginated Job Histories
                  instances with canRollback response where filter param rollbackApplicable is set as true. )'
                : value:
                    items:
                    - deviceList:
                      - canRollback: false
                        deviceName: 10.10.18.28
                        deviceUUID: 9b1a4496-f191-11ea-a46b-dbe601ec8233
                      - canRollback: true
                        deviceName: 10.10.18.11
                        deviceUUID: 6bc51b26-401f-11eb-8a50-866b03f66226
                      - canRollback: true
                        deviceName: 10.10.18.12
                        deviceUUID: 4f1e003c-401f-11eb-9c14-d0c01de8132e
                      id: 0050568A-6DDA-0ed3-0000-012884903748
                      jobName: Deploy_Job_4
                      jobType: DEPLOYMENT
                      type: JobHistory
                    - deviceList:
                      - canRollback: false
                        deviceName: 10.10.18.28
                        deviceUUID: 9b1a4496-f191-11ea-a46b-dbe601ec8233
                      id: 0050568A-6DDA-0ed3-0000-012884903564
                      jobName: Deploy_Job_3
                      jobType: DEPLOYMENT
                      type: JobHistory
                    - deviceList:
                      - canRollback: true
                        deviceName: 10.10.18.12
                        deviceUUID: 4f1e003c-401f-11eb-9c14-d0c01de8132e
                      id: 0050568A-6DDA-0ed3-0000-012884903413
                      jobName: Deploy_Job_2
                      jobType: DEPLOYMENT
                      type: JobHistory
                    - deviceList:
                      - canRollback: true
                        deviceName: 10.10.18.11
                        deviceUUID: 6bc51b26-401f-11eb-8a50-866b03f66226
                      id: 0050568A-6DDA-0ed3-0000-012884902592
                      jobName: Deploy_Job_1
                      jobType: DEPLOYMENT
                      type: JobHistory
                    links:
                      self: https://example.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/jobhistories?filter=rollbackApplicable%3Atrue&offset=0&limit=1000&expanded=true
                    paging:
                      count: 4
                      limit: 4
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/JobHistoryListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/jobhistories/{containerUUID}/operational/downloadreports:
    get:
      deprecated: false
      description: '**Get the deployment job report for download.**'
      operationId: getDownloadReport
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadReportListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/jobhistories/{containerUUID}/operational/emailreports:
    post:
      deprecated: false
      description: '**Email the deployment job report. _Check the response section for applicable examples (if any)._**'
      operationId: createEmailReport
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/DomainUUID/deployment/jobhistories/{containerUUID}/operational/emailreports
                ( POST download report request. )'
              : value:
                  recipientList:
                  - mail1@cisco.com
                  - mail2@cisco.com
            schema:
              $ref: '#/components/schemas/EmailReport'
              type: object
        description: The input representation of email report model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailReport'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/jobhistories/{objectId}:
    get:
      deprecated: false
      description: '**Get the specified deployment job.**'
      operationId: getJobHistory
      parameters:
      - description: UUID of the deployment job.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /fmc_config/v1/domain/DomainUUID/deployment/jobhistories/{jobId} ( Get details of a job. )':
                  value:
                    deploymentNote: yournotescomehere
                    deviceList:
                    - deployedVersion: 10
                      deploymentStatus: SUCCEEDED
                      deviceName: Device-2
                      deviceUUID: 1535479e-c2f2-11eb-bbbb-ef2177cd37aa
                    - deployedVersion: 10
                      deploymentStatus: SUCCEEDED
                      deviceName: Device-1
                      deviceUUID: 00e629d4-c2f2-11eb-b348-810d8547fb4e
                    endTime: '2021-06-02T10:01:25Z'
                    id: 0050568A-9521-0ed3-0000-012884902671
                    jobName: Scheduled_Deploy_Job_10
                    jobStatus: DEPLOYED
                    jobType: DEPLOYMENT
                    links:
                      self: https://example.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/jobhistories/0050568A-9521-0ed3-0000-012884902671
                    startTime: '2021-06-02T10:00:05Z'
                    type: JobHistory
                    user: System
              schema:
                $ref: '#/components/schemas/JobHistory'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    put:
      deprecated: false
      description: '**Modify the specified deployment job. _Check the response section for applicable examples (if any)._**'
      operationId: updateJobHistory
      parameters:
      - description: UUID of the deployment job.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/deployment/jobhistories/{jobId} ( Update job note for a job. )':
                value:
                  deploymentNote: Updated note
                  id: 0050568B-9937-0ed3-0000-463856468766
                  type: JobHistory
            schema:
              $ref: '#/components/schemas/JobHistory'
              type: object
        description: The input representation of Job History model.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/deployment/jobhistories/{jobId} ( Update job note for a job. )':
                  value:
                    items:
                    - deploymentNote: Updated note
                      deviceList:
                      - deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.104
                        deviceUUID: d0c422c8-9756-11ea-acb6-961f407b1a9c
                      - containerName: vFTD-HA
                        containerUUID: 8c363564-518d-11eb-899b-e37ea1f51142
                        deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.100
                        deviceUUID: a6b42c18-50c8-11eb-8556-880cc814430c
                      - deployedVersion: 2
                        deploymentStatus: SUCCEEDED
                        deviceName: 10.10.6.102
                        deviceUUID: 73dee6c4-9756-11ea-b7d5-c46fa36556b5
                      endTime: '2020-05-16T10:30:26Z'
                      id: 0050568B-9937-0ed3-0000-463856468766
                      jobName: Deploy_Job_6
                      jobStatus: Deployed
                      jobType: DEPLOYMENT
                      startTime: '2020-05-16T10:29:01Z'
                      type: JobHistory
                      user: admin
                    links:
                      self: https://example.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/deployment/jobhistories/{0050568B-9937-0ed3-0000-463856468766}
                    paging:
                      count: 1
                      limit: 1
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/JobHistory'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/pendingchangesrequests:
    post:
      deprecated: false
      description: '**Create a request for generating pending policy changes or pending CLI changes or both on devices. _Check
        the response section for applicable examples (if any)._**'
      operationId: createPendingChangesRequest
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST a
                pending changes request with request type as CLI_AND_POLICY_DIFF. )'
              : value:
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  - 77bb6cd0-f613-11ed-b040-ec1fd6f081d6
                  requestType: CLI_AND_POLICY_DIFF
              ? 'Example 2 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST a
                pending changes request with request type as CLI_DIFF. )'
              : value:
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  - 77bb6cd0-f613-11ed-b040-ec1fd6f081d6
                  requestType: CLI_DIFF
              ? 'Example 3 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST a
                pending changes request with request type as POLICY_DIFF. )'
              : value:
                  deviceList:
                  - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                  - 77bb6cd0-f613-11ed-b040-ec1fd6f081d6
                  requestType: POLICY_DIFF
            schema:
              $ref: '#/components/schemas/PendingChangesRequest'
              type: object
        description: The input representation of pending changes request model.
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST
                  a pending changes request with request type as CLI_AND_POLICY_DIFF. )'
                : value:
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    metadata:
                      task:
                        description: Pending changes request task queued
                        id: '133143986189'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143986189
                        status: '200'
                        taskType: PENDING_CHANGES_REQUEST
                    requestType: CLI_AND_POLICY_DIFF
                ? 'Example 2 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST
                  a pending changes request with request type as CLI_DIFF. )'
                : value:
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    metadata:
                      task:
                        description: Pending changes request task queued
                        id: '133143986189'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143986189
                        status: '200'
                        taskType: PENDING_CHANGES_REQUEST
                    requestType: CLI_DIFF
                ? 'Example 3 : POST <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/deployment/pendingchangesrequests ( POST
                  a pending changes request with request type as POLICY_DIFF. )'
                : value:
                    deviceList:
                    - d94f7ada-d141-11e5-acf3-c41f7e67fb1b
                    metadata:
                      task:
                        description: Pending changes request task queued
                        id: '133143986189'
                        links:
                          self: <fmc_ip>/api/fmc_config/v1/domain/DomainUUID/job/taskstatuses/133143986189
                        status: '200'
                        taskType: PENDING_CHANGES_REQUEST
                    requestType: POLICY_DIFF
              schema:
                $ref: '#/components/schemas/PendingChangesRequest'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/deployment/rollbackrequests:
    post:
      deprecated: false
      description: '**Create a request for rollback configuration to devices. _Check the response section for applicable examples
        (if any)._**'
      operationId: createRollbackRequest
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/DomainUUID/deployment/rollbackrequests ( POST a rollback request. )':
                value:
                  rollbackDeviceList:
                  - deploymentJobId: 0050568B-9937-0ed3-0000-296352743514
                    deviceList:
                    - d0c422c8-9756-11ea-acb6-961f407b1a9c
                    - 73dee6c4-9756-11ea-b7d5-c46fa36556b5
                  - deploymentJobId: 0050568B-9937-0ed3-0000-300647710810
                    deviceList:
                    - 88a4b666-9372-11ea-babd-9ebaf536312a
                  type: RollbackRequest
            schema:
              $ref: '#/components/schemas/RollbackRequest'
              type: object
        description: The input representation of rollback request model.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollbackRequest'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Deployment
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
components:
  schemas:
    IGroupDependencyDetailEntry:
      description: Represents the dependency information between out-of-date policies
      properties:
        dependentPolicyList:
          description: Describes the dependency between the out-of-date policies with the reason
          items:
            $ref: '#/components/schemas/IDependentPolicy'
            type: object
          type: array
        mandatoryDeployablePolicies:
          description: List of out-of-date policies which must get deployed always in the upcoming deployment. These policies
            will get added into the deployment by default.
          items:
            type: string
          type: array
        selectivelyDeployablePolicies:
          description: List of out-of-date policies which can be selectively deployed.
          items:
            type: string
          type: array
      type: object
    IDeviceGroup:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        members:
          items:
            $ref: '#/components/schemas/IBaseDevice'
            type: object
          type: array
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IValueDelete:
      properties:
        fieldName:
          type: string
        oldValue:
          type: string
      type: object
    Domain:
      description: The details about the domain.
      properties:
        id:
          description: Unique UUID of this domain
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Links to the domain resource URLs.
          type: object
        name:
          description: Name of the domain.
          type: string
        type:
          description: Domain type definition (fixed).
          type: string
        uuid:
          type: string
      type: object
    PendingChangesRequestMetadata:
      properties:
        deployInProgressSkippedDeviceList:
          items:
            type: string
          type: array
        domain:
          $ref: '#/components/schemas/Domain'
          type: object
        downloadUrl:
          type: string
        failedDeviceList:
          items:
            type: string
          type: array
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/MetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/ReadOnly'
          type: object
        task:
          $ref: '#/components/schemas/ITaskStatus'
          type: object
        taskInProgressSkippedDeviceList:
          items:
            type: string
          type: array
        timestamp:
          format: int32
          type: integer
      type: object
    IReference:
      description: Contains reference information.
      properties:
        id:
          description: Unique identifier representing resource.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        name:
          description: User chosen resource name.
          type: string
        type:
          description: Response object associated with resource.
          type: string
      type: object
    IAdvanced:
      properties:
        enableOGS:
          type: boolean
      type: object
    IReadonly:
      properties:
        reason:
          enum:
          - RBAC
          - SYSTEM
          - DOMAIN
          type: string
        state:
          type: boolean
      type: object
    ITaskStatus:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        status:
          type: string
        subTasks:
          items:
            $ref: '#/components/schemas/ISubTask'
            type: object
          type: array
        taskType:
          enum:
          - DEVICE_REGISTRATION
          - SMART_LICENSE
          - DEVICE_DEPLOYMENT
          - DEVICE_ROLLBACK
          - NGFWHA_OPERATIONS
          - COPY_CONFIG_REQUEST
          - HIT_COUNT_REFRESH
          - FTD_CLUSTER_BOOTSTRAP
          - FTD_CLUSTER_CREATE
          - FTD_CLUSTER_BREAK
          - FTD_CLUSTER_ADD_NODES
          - FTD_CLUSTER_REMOVE_NODES
          - DEVICE_BACKUP
          - FTD_CLUSTER_UPDATE_BOOTSTRAP
          - FTD_CLUSTER_COMMAND
          - SSP_EPM_OIR
          - SSP_EPM_BREAKOUT_DEPLOY
          - DEVICE_EXPORT
          - DEVICE_IMPORT
          - POLICY_EXPORT
          - CHASSIS_REGISTRATION
          - CHANGE_MANAGER
          - CONFIGURE_DEVICE_VALIDATE
          - CONFIGURE_DEVICE
          - CONFIGURE_MANAGER
          - CONFIGURE_MANAGER_ADD
          - CONFIGURE_MANAGER_DELETE
          - INITIATE_MIGRATION
          - DISCARD_MIGRATION
          - SWITCH_TO_ANALYTICS
          - DELETE_DEVICE
          - GENERATE_REPORTS
          - FLEXCONFIG_MIGRATION
          - DEVICE_UNREGISTRATION
          - PENDING_CHANGES_REQUEST
          - DEVICE_TROUBLESHOOT
          - DEVICE_MODEL_MIGRATION
          - DEVICE_TEMPLATE_CREATION
          - CHASSIS_CONVERSION_REQUEST
          - SNORT_PROFILER
          - CPU_PROFILER
          - POLICY_REPORT_GENERATION
          - DEVICE_TEMPLATE_APPLY
          - LTP_ONBOARDING
          - POLICY_CLONE_OPERATION
          - DEVICE_CERTIFICATE_MANAGEMENT
          - OOB_CHANGES_REQUEST
          - UPLOAD_TROUBLESHOOT
          type: string
        type:
          type: string
      type: object
    RollbackRequest:
      description: Represents the rollback request object which will be used for config rollback of a device.
      properties:
        metadata:
          $ref: '#/components/schemas/RollbackRequestMetadata'
          description: Object representing metadata attributes for the rollback request entry.
          type: object
        rollbackDeviceList:
          description: A list containing job UUID and device UUIDs combination for the rollback.
          items:
            $ref: '#/components/schemas/IRollbackDeviceListEntry'
            type: object
          type: array
        type:
          description: Type must be RollbackRequest.
          type: string
      type: object
    ITarget:
      description: This is the target device.
      properties:
        description:
          type: string
        id:
          description: Unique ID of the device.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          description: Name of the device.
          type: string
        type:
          description: Device
          type: string
        version:
          type: string
      type: object
    MetadataUser:
      description: This object defines details about the user.
      properties:
        id:
          description: The unique UUID of the user
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Contains the self referencing links to this resource
          type: object
        name:
          description: Name of the user.
          type: string
        type:
          description: The user type (fixed).
          type: string
      type: object
    JobHistoryListContainer:
      properties:
        items:
          $ref: '#/components/schemas/JobHistory'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    DeploymentRequest:
      description: Represents the deployment request object which will be used for policy deployment of a device.
      properties:
        deploymentNote:
          description: User provided job note with max of 512 characters
          type: string
        description:
          description: User provided description of the object.
          type: string
        deviceList:
          description: List of device UUIDs for which the deployment has to triggered.
          items:
            type: string
          type: array
        failedDevicesList:
          items:
            $ref: '#/components/schemas/FailedDevices'
            type: object
          type: array
        forceDeploy:
          description: Boolean indicating the deployment is force deploy or not. Value set to `true` only if device is not
            out-of-date and user wants to force a deployment. This should not be used unless needed. Default is `false`.
          type: boolean
        id:
          description: Id created as part of the deployment.
          type: string
        ignoreWarning:
          description: Boolean indicating whether the warnings needs to be ignored during the prevalidation of deployment
            job. Default is `false`.
          type: boolean
        links:
          $ref: '#/components/schemas/ILinks'
          description: Link to the deployment request with the job id.
          type: object
        metadata:
          $ref: '#/components/schemas/DeploymentRequestMetadata'
          type: object
        name:
          description: String represents the name to the device.
          type: string
        recipients:
          type: string
        selectedPoliciesforDevices:
          description: List of devices for Selective Policy Deployment. </br> The devices mentioned here should be part of
            the 'devicelist' attribute.
          items:
            $ref: '#/components/schemas/ISelectedPoliciesforDevices'
            type: object
          type: array
        type:
          description: Type of the Request object. This value is always DeploymentRequest.
          type: string
        version:
          description: Integer indicating the version to which the deployment should be done.
          type: string
      type: object
    IHybridZeroTrustDeviceSetting:
      properties:
        autoDeployEnabled:
          type: boolean
        domainSettings:
          items:
            $ref: '#/components/schemas/IHybridZeroTrustFQDNConfig'
            type: object
          type: array
        universalZeroTrustEnabled:
          type: boolean
      type: object
    IMetadataUser:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    ErrorResponse:
      properties:
        category:
          description: Describes the category of the error thrown.
          enum:
          - FRAMEWORK
          - OTHER
          - VALIDATION
          type: string
        messages:
          description: List of error messages which the response has.
          items:
            $ref: '#/components/schemas/ErrorMessagesContainer'
            type: object
          type: array
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    LLUniversalZeroTrustSetting:
      additionalProperties:
        $ref: '#/components/schemas/IHybridZeroTrustDeviceSetting'
        type: object
      type: object
    IPolicyStatus:
      properties:
        modifiedUserInfoList:
          description: List of ModifiedUserInfo objects containing LastModifiedTime and UserName.
          items:
            $ref: '#/components/schemas/IModifiedUserInfo'
            type: object
          type: array
        policy:
          $ref: '#/components/schemas/IPolicyModel'
          description: Object which contains Policy Information such as id, name and policy type.
          type: object
        referredPolicyList:
          description: List of PolicyStatus objects which are referred by the policy.
          items:
            $ref: '#/components/schemas/IPolicyStatus'
            type: object
          type: array
        trafficInterrupting:
          description: Boolean indicating a deployment can cause traffic interruption.
          type: boolean
        upToDate:
          description: Boolean indicating whether the policy is out-of-date.
          type: boolean
        versionTimeStamp:
          description: Epoch time, indicating last modified time of the policy.
          format: int32
          type: integer
      type: object
    IDependentPolicy:
      description: Represents the inter-dependent out-of-date policies with the reason.
      properties:
        dependencyReason:
          description: Describes the reason for the inter-dependency between the out-of-date policies.
          type: string
        dependentTypeList:
          description: List of out-of-date policies which are inter-dependent.
          items:
            type: string
          type: array
      type: object
    DeploymentDetailListContainer:
      properties:
        items:
          $ref: '#/components/schemas/DeploymentDetail'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IModifiedUserInfo:
      description: Modified User Information
      properties:
        lastModifiedTime:
          description: Timestamp indicating the time when user has last modified the policy.
          format: int32
          type: integer
        userName:
          description: Name of the user.
          type: string
      type: object
    IActionInfo:
      type: object
    ILinks:
      description: This defines the self referencing links for the given resource.
      properties:
        parent:
          description: Full resource URL path to reference the parent (if any) for this resource.
          type: string
        self:
          description: Full resource URL path to reference this particular resource.
          type: string
      type: object
    IDevice_2:
      properties:
        accessPolicy:
          $ref: '#/components/schemas/IPolicyModel'
          type: object
        actions:
          items:
            $ref: '#/components/schemas/IPreDeployAction'
            type: object
          type: array
        advanced:
          $ref: '#/components/schemas/IAdvanced'
          type: object
        analyticsOnly:
          type: boolean
        changeManager:
          type: boolean
        cloudDeviceId:
          type: string
        deploymentStatus:
          type: string
        description:
          type: string
        deviceGroup:
          $ref: '#/components/schemas/IDeviceGroup'
          type: object
        ftdMode:
          enum:
          - ROUTED
          - TRANSPARENT
          type: string
        healthMessage:
          type: string
        healthPolicy:
          $ref: '#/components/schemas/IHealthPolicy'
          type: object
        healthStatus:
          type: string
        hostName:
          type: string
        id:
          type: string
        isConnected:
          type: boolean
        isMCDManaged:
          type: boolean
        keepLocalEvents:
          type: boolean
        license_caps:
          items:
            type: string
          type: array
        licenseType:
          enum:
          - BYOL
          - SAAS
          - PAYG
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        managementState:
          enum:
          - MANAGED
          - UNMANAGED
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        model:
          type: string
        modelId:
          type: string
        modelNumber:
          type: string
        modelType:
          type: string
        name:
          type: string
        natID:
          type: string
        performanceTier:
          type: string
        prohibitPacketTransfer:
          type: boolean
        regKey:
          type: string
        role:
          type: string
        secondaryHostname:
          type: string
        serialNumber:
          type: string
        skipDeployment:
          type: boolean
        snortEngine:
          enum:
          - SNORT2
          - SNORT3
          type: string
        status:
          type: string
        sw_version:
          type: string
        type:
          type: string
        version:
          type: string
      required:
      - hostName
      - license_caps
      - regKey
      type: object
    ISelectedPoliciesforDevices:
      description: Represents the object which is responsible for enabling the Selective Policy Deployment
      properties:
        deviceUUID:
          description: Corresponding device UUID for which the selection is mentioned.
          type: string
        selectedPolicies:
          description: 'List of Policy Types which have to be selectively deployed. Note: mandatoryDeployablePolicies should
            not be included in this list.'
          items:
            type: string
          type: array
      type: object
    DialHost:
      properties:
        host:
          type: string
        port:
          format: int32
          type: integer
      type: object
    HealthThreshold:
      properties:
        type:
          type: string
        value:
          format: int32
          type: integer
      type: object
    IHybridZeroTrustFQDNConfig:
      properties:
        FQDN:
          type: string
        certificate:
          $ref: '#/components/schemas/IReference'
          type: object
        interfaces:
          items:
            $ref: '#/components/schemas/IReference'
            type: object
          type: array
      type: object
    IReferenceUpdate:
      properties:
        entityName:
          type: string
        entityType:
          type: string
        fieldName:
          type: string
      type: object
    EmailReport:
      description: Email Job Report. Configure and test System->Configuration->Email Notification prior using this request
      properties:
        recipientList:
          description: string array of recipient mailers
          items:
            type: string
          type: array
      type: object
    PendingChangesListContainer:
      properties:
        items:
          $ref: '#/components/schemas/PendingChanges'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    ISubTask:
      properties:
        description:
          type: string
        id:
          type: string
        message:
          type: string
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        status:
          type: string
        target:
          $ref: '#/components/schemas/ITarget'
          type: object
      type: object
    PendingChanges:
      description: Retrieves list changes between the last successful deployment and current saved configuration for the device,.
      properties:
        action:
          description: Action done on the entity
          enum:
          - ADD
          - DELETE
          - UPDATE
          - NOCHANGE
          type: string
        entityName:
          description: 'A name field value of modified Entity. '
          type: string
        entityType:
          description: An Entity type type that has been modified.
          type: string
        entityUUID:
          description: ' An identifier of entity which does not change with time.'
          type: string
        lastUpdatedByUsers:
          description: List of users who have modified the entity after last successful deployment.
          items:
            type: string
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        message:
          description: In case for an entity there is no diff, due to no modification or some error during generation proper
            message will be given for that entity.
          type: string
        parentUUID:
          description: UUID of the entity to which this entity is grouped to. If it's empty, it means the entity is the parent
            entity.
          type: string
        referencesAdded:
          description: References that were added compared to its other state.
          items:
            $ref: '#/components/schemas/IReferenceUpdate'
            type: object
          type: array
        referencesDeleted:
          description: References that were deleted compared to its other state.
          items:
            $ref: '#/components/schemas/IReferenceUpdate'
            type: object
          type: array
        valueAdded:
          description: 'Values that were added compared to its other state. '
          items:
            $ref: '#/components/schemas/IValueAdd'
            type: object
          type: array
        valueDeleted:
          description: Values that were deleted compared to its other state.
          items:
            $ref: '#/components/schemas/IValueDelete'
            type: object
          type: array
        valueUpdated:
          description: 'Values that were specified compared to its other state. '
          items:
            $ref: '#/components/schemas/IValueUpdate'
            type: object
          type: array
        version:
          type: string
      type: object
    PagingContainer:
      properties:
        count:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
      type: object
    JobHistory:
      properties:
        deploymentNote:
          description: User provided job note
          type: string
        deviceList:
          description: List of devices which have been part of the job.
          items:
            $ref: '#/components/schemas/IDeviceListEntry'
            type: object
          type: array
        endTime:
          description: Indicates the end time (in ISO 8601 format) of the deployment job.
          type: string
        id:
          description: UUID of the deployment job.
          type: string
        jobName:
          description: Name of the deployed job
          type: string
        jobStatus:
          description: Represents the status of the job
          enum:
          - DEPLOYING
          - DEPLOYED
          - FAILED
          - ABORTED
          - EDIT_INUSE
          type: string
        jobType:
          enum:
          - DEPLOYMENT
          - ROLLBACK
          - CERTIFICATE
          - UNKNOWN
          type: string
        startTime:
          description: Indicates the start time (in ISO 8601 format) of the deployment job.
          type: string
        type:
          description: Type must be JobHistory.
          type: string
        user:
          description: Creator of the deployment task.
          type: string
      type: object
    FailedDevices:
      description: Represents the devices which got failed during the deployment of a devices.
      properties:
        deviceUUID:
          description: UUID of device.
          type: string
        failureReason:
          description: The reason for which device got failed.
          type: string
      type: object
    IDeviceListEntry:
      properties:
        canRollback:
          description: Indicates whether the deployed version to device in the deployment job is rollback capable. This field
            is available only if context filter parameter has value as RollbackApplicable.
          type: boolean
        containerName:
          description: Name of the container. This will still be displayed after deletion.
          type: string
        containerUUID:
          description: UUID of the container
          type: string
        deployedVersion:
          description: Config version of the device in the deployment job
          format: int32
          type: integer
        deploymentStatus:
          description: Deployment status of the device in the deployment job
          enum:
          - DEPLOYING
          - SUCCEEDED
          - PARTIALLY_SUCCEEDED
          - FAILED
          - SSP_SUCCEEDED
          - SSP_FAILED
          - SSP_PRIMARY_BOOTSTRAP_SUCCEEDED
          - SSP_PRIMARY_BOOTSTRAP_FAILED
          - SSP_SECONDARY_BOOTSTRAP_SUCCEEDED
          - SSP_SECONDARY_BOOTSTRAP_FAILED
          - PRIMARY_BOOTSTRAP_SUCCEEDED
          - PRIMARY_BOOTSTRAP_FAILED
          - SECONDARY_BOOTSTRAP_SUCCEEDED
          - SECONDARY_BOOTSTRAP_FAILED
          - BREAK_SUCCEEDED
          - BREAK_FAILED
          - PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SSP_PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SSP_SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - BREAK_PARTIALLY_SUCCEEDED
          - CANCELLED
          - NONE
          type: string
        deviceName:
          description: Name of the device
          type: string
        deviceUUID:
          description: UUID of the device
          type: string
      type: object
    IMetadata:
      properties:
        domain:
          $ref: '#/components/schemas/IDomain'
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/IMetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/IReadonly'
          type: object
        timestamp:
          format: int32
          type: integer
      type: object
    DeploymentDetail:
      description: An object representing the deployment details on a device
      properties:
        description:
          type: string
        endTime:
          description: Time in seconds at which the deployment ended, timestamp is in unix format
          format: int32
          type: integer
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          description: 'Name of the deployment job '
          type: string
        policyList:
          description: Details of policies which were deployed to the device.
          items:
            $ref: '#/components/schemas/IPolicyModel'
            type: object
          type: array
        startTime:
          description: Time in seconds at which the deployment was started, timestamp is in unix format
          format: int32
          type: integer
        status:
          description: 'Status of the deployment, can be one of DEPLOYING, SUCCEEDED, PARTIALLY_SUCCEEDED, FAILED, SSP_SUCCEEDED,
            SSP_FAILED, SSP_PRIMARY_BOOTSTRAP_SUCCEEDED, SSP_PRIMARY_BOOTSTRAP_FAILED, SSP_SECONDARY_BOOTSTRAP_SUCCEEDED,
            SSP_SECONDARY_BOOTSTRAP_FAILED, PRIMARY_BOOTSTRAP_SUCCEEDED, PRIMARY_BOOTSTRAP_FAILED, SECONDARY_BOOTSTRAP_SUCCEEDED,
            SECONDARY_BOOTSTRAP_FAILED, BREAK_SUCCEEDED, BREAK_FAILED, PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED, SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED,
            SSP_PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED, SSP_SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED, BREAK_PARTIALLY_SUCCEEDED,
            CANCELLED and NONE '
          enum:
          - DEPLOYING
          - SUCCEEDED
          - PARTIALLY_SUCCEEDED
          - FAILED
          - SSP_SUCCEEDED
          - SSP_FAILED
          - SSP_PRIMARY_BOOTSTRAP_SUCCEEDED
          - SSP_PRIMARY_BOOTSTRAP_FAILED
          - SSP_SECONDARY_BOOTSTRAP_SUCCEEDED
          - SSP_SECONDARY_BOOTSTRAP_FAILED
          - PRIMARY_BOOTSTRAP_SUCCEEDED
          - PRIMARY_BOOTSTRAP_FAILED
          - SECONDARY_BOOTSTRAP_SUCCEEDED
          - SECONDARY_BOOTSTRAP_FAILED
          - BREAK_SUCCEEDED
          - BREAK_FAILED
          - PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SSP_PRIMARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - SSP_SECONDARY_BOOTSTRAP_PARTIALLY_SUCCEEDED
          - BREAK_PARTIALLY_SUCCEEDED
          - CANCELLED
          - NONE
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    DeployableDevice:
      description: Represents the Deployable Device Object.
      properties:
        canBeDeployed:
          description: Boolean indicating whether the device can be deployed.
          type: boolean
        device:
          $ref: '#/components/schemas/IDevice_2'
          description: Object indicating the device object.
          type: object
        deviceMembers:
          description: Describes the member information of the Device.
          items:
            $ref: '#/components/schemas/IDevice'
            type: object
          type: array
        domain:
          $ref: '#/components/schemas/IDomain'
          description: Object indicating the domain information of the device.
          type: object
        groupDependencyDetails:
          $ref: '#/components/schemas/IGroupDependencyDetailEntry'
          type: object
        id:
          description: String indicating the id of the device.
          type: string
        isDeploying:
          description: Boolean indicating whether the deployment operation for the device is in progress.
          type: boolean
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        message:
          description: Describes the reason for not allowing the deployment for a device.
          type: string
        name:
          description: String indicating the device name.
          type: string
        policyStatusList:
          description: List of policy objects which are part of the device.
          items:
            $ref: '#/components/schemas/IPolicyStatus'
            type: object
          type: array
        trafficInterruption:
          description: Boolean indicating a deployment can cause traffic interruption.
          enum:
          - 'YES'
          - 'NO'
          - UNDETERMINED
          - ERROR
          type: string
        type:
          description: Type of the Response object. This value is always DeployableDevice.
          type: string
        upToDate:
          description: Boolean indicating whether the device has any out-of-date policies.
          type: boolean
        version:
          description: Integer, indicating the latest deployed version of the device.
          type: string
      type: object
    IHealthPolicy:
      description: Description of Health Policy.
      properties:
        basePolicyID:
          type: string
        defaultPolicy:
          type: boolean
        description:
          description: Description of Health Policy.
          type: string
        healthModules:
          items:
            $ref: '#/components/schemas/HealthModule'
            type: object
          type: array
        id:
          description: Unique identifier (UUID) representing the Health policy.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the Health policy.
          type: object
        name:
          description: User-specified name of the Health policy.
          type: string
        policyType:
          type: string
        setting:
          $ref: '#/components/schemas/HealthSetting'
          type: object
        type:
          description: Type of the Health policy; this value is always HealthPolicy.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IDeviceInventoryData:
      properties:
        cpuCores:
          type: string
        cpuType:
          type: string
        memoryInMB:
          type: string
        storageInGB:
          type: string
      type: object
    DownloadReport:
      description: Download Job report
      properties: {}
      type: object
    IValueUpdate:
      properties:
        fieldName:
          type: string
        newValue:
          type: string
        oldValue:
          type: string
      type: object
    DeviceMetadata:
      properties:
        chassisData:
          $ref: '#/components/schemas/DeviceChassisData'
          description: This field holds information related to chassis.
          type: object
        chassisDetails:
          $ref: '#/components/schemas/IDeviceChassisData'
          type: object
        clusterBootstrapSupported:
          type: boolean
        containerDetails:
          $ref: '#/components/schemas/IBaseDevice'
          description: If 'isPartOfContainer' field is true then this field will hold the information of container.
          type: object
        deviceSerialNumber:
          type: string
        domain:
          $ref: '#/components/schemas/Domain'
          description: Lists the domains to which this instance belongs if applicable.
          type: object
        dummyDevice:
          type: boolean
        inventoryData:
          $ref: '#/components/schemas/DeviceInventoryData'
          description: Inventory details of the device.
          type: object
        inventoryDetails:
          $ref: '#/components/schemas/IDeviceInventoryData'
          type: object
        isDummyDevice:
          type: boolean
        isLocked:
          type: boolean
        isMultiInstance:
          description: Indicated if the device is in multiinstance or native mode.
          type: boolean
        isPartOfContainer:
          description: This field indicates whether it is part of any cluster. This will be true for a device which is part
            of NGFWHA, NGFW cluster and firepower devices which is part of Stack.
          type: boolean
        isSnort3:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/MetadataUser'
          description: The last user who modified this instance.
          type: object
        lspVersion:
          type: string
        matches:
          items:
            type: string
          type: array
        otherAssociatedPolicies:
          description: assigned policies to device other than Access Policy
          items:
[...]
