openapi: 3.2.0
info:
  title: Mesh Policy Engine Dynamic Group API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Dynamic Group
paths:
  /mpm/entities-referenced-by-rules/dynamic-groups:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getMpmDynamicGroupMpmRuleList
      parameters:
      - in: query
        name: revisionId
        schema:
          format: int32
          type: integer
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmDynamicGroupMpmRulesPage'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the list of dynamic group Id used in mpm rules based on revision id
      tags:
      - Dynamic Group
  /mpm/relations/dynamic-group/{dynamicGroupId}:
    get:
      description: 'Roles allowed: support, mpm-rw, mpm-ro'
      operationId: getRelationsForDynamicGroup
      parameters:
      - in: path
        name: dynamicGroupId
        required: true
        schema:
          type: string
      - in: query
        name: revisionId
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MpmDynamicGroupRelations'
          description: Ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get the MPM Managers, Policies, Rules related to the Dynamic Group
      tags:
      - Dynamic Group
components:
  schemas:
    MpmDynamicGroupRelation:
      properties:
        managerId:
          format: uuid
          type: string
        policyId:
          format: uuid
          type: string
        ruleId:
          format: uuid
          type: string
      type: object
    MpmDynamicGroupRelations:
      properties:
        relations:
          items:
            $ref: '#/components/schemas/MpmDynamicGroupRelation'
          type: array
        revision:
          format: int32
          type: integer
      type: object
    IdValue:
      properties:
        id:
          type: string
      type: object
    MpmDynamicGroupMpmRulesPage:
      properties:
        cursor:
          type: string
        dynamicGroupIds:
          items:
            $ref: '#/components/schemas/IdValue'
          type: array
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
