openapi: 3.2.0
info:
  contact:
    email: sigopi@cisco.com
    name: Sindhu Gopi
    url: http://cisco.com
  description: '## Integration endpoint for Config Service'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Config Service Integration Integrations API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/config.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/config.yaml
servers:
- url: https://api.security.cisco.com/context/integrations/v1
tags:
- name: Integrations
paths:
  /integrationHub/details/{integrationType}:
    get:
      description: Get data to load ISE specific integration description page
      operationId: getIntegrationDetails
      parameters:
      - description: The type of the integration
        in: path
        name: integrationType
        required: true
        schema:
          type: string
      - description: 'The header defines which languages the client is able to understand.

          '
        in: header
        name: Accept-Language
        schema:
          enum:
          - en
          - fr
          - de
          example: en
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDetails'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get data to load the ISE integration details page
      tags:
      - Integrations
  /integrationHub/instructions/{integrationType}:
    get:
      description: Get data to load the create ISE integration page
      operationId: getIntegrationInstructions
      parameters:
      - description: The type of the integration
        in: path
        name: integrationType
        required: true
        schema:
          type: string
      - description: 'The header defines which languages the client is able to understand.

          '
        in: header
        name: Accept-Language
        schema:
          enum:
          - en
          - fr
          - de
          example: fr
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationDetails'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get data to load the add new ISE integration page
      tags:
      - Integrations
  /integrationHub/integrationApps:
    get:
      description: Get static data to load the integrations hub page
      operationId: getIntegrationsHubData
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationHub'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
            Location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get data to load the integrations hub page
      tags:
      - Integrations
  /integrationHub/integrationApps/logo/{integrationType}:
    get:
      description: Get ISE icon file to load Integration Hub pages
      operationId: getISEIntegrationIcon
      parameters:
      - description: The type of the integration
        in: path
        name: integrationType
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            image/svg+sml:
              schema:
                example: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZsAAAFQCAIAAADm1UTYAAA
                format: binary
                type: string
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get icon by type
      tags:
      - Integrations
  /integrations:
    get:
      description: Get all integrations which are part of provided Enterprise
      operationId: getAllEnterprisesIntegration
      parameters:
      - description: Token issued by PIAM
        in: header
        name: authToken
        required: true
        schema:
          type: string
      - description: Page number
        in: query
        name: page
        required: false
        schema:
          example: 0
          type: integer
      - description: Maximum of records to be returned
        in: query
        name: max
        required: false
        schema:
          example: 10
          type: integer
      - description: 'Return items that match the filter criteria only. The format of the filter value is SCIM filter/search:


          integrationType eq "intune"'
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: 'Return items that match the search criteria only. The format of the search is SCIM filter/search:


          integrationName co "abc"'
        in: query
        name: search
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationList'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
            Link:
              description: Contains links to other pages (next, prev, self)
              schema:
                example: https://cisco-stage/link
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get all integrations which are part of provided Enterprise
      tags:
      - Integrations
  /ise:
    get:
      description: Get all ISE integrations
      operationId: getAllIntegrations
      parameters:
      - description: Current Page
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
      - description: Maximum number of items to return per page
        in: query
        name: max
        required: false
        schema:
          default: 10
          type: integer
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationList'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
            Link:
              description: Contains links to other pages (next, prev, self)
              schema:
                example: https://cisco-stage/link
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Get all integrations
      tags:
      - Integrations
    post:
      description: Creates a new ISE integrations
      operationId: createIntegrations
      parameters:
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationReq'
        description: created
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Create integrations
      tags:
      - Integrations
  /ise/{integrationId}:
    delete:
      description: Deletes an ISE integration matching the integrationId
      operationId: deleteIntegration
      parameters:
      - description: The ID of the integration
        in: path
        name: integrationId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      responses:
        '204':
          description: No Content
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Deletes an integration
      tags:
      - Integrations
    get:
      description: Fetches an ISE integration matching the integrationId
      operationId: fetchIntegration
      parameters:
      - description: The ID of the integration
        in: path
        name: integrationId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Fetches an integration
      tags:
      - Integrations
    patch:
      description: Updates an ISE integration matching the integrationId
      operationId: updateIntegration
      parameters:
      - description: The ID of the integration
        in: path
        name: integrationId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationReq'
        description: Update integration, users can either update the name or disable the integration
      responses:
        '204':
          description: No Content
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Updates an integration
      tags:
      - Integrations
components:
  schemas:
    IntegrationDetails:
      description: Object needed for integration details related pages and components rendering
      properties:
        advantagesOverview:
          $ref: '#/components/schemas/Instruction'
        compatibleProducts:
          description: contains the list of compatible products by the integration app
          items:
            properties:
              description:
                description: description content details of the product
                properties:
                  description:
                    description: description content
                    example: Through identity Service (ISE) integration, XDR gains comprehensive endpoint visibility and control,  enhancing it's ability to detect and and respond to threats across the network
                    type: string
                  scopes:
                    description: list of scopes supported by the product
                    example:
                    - SGTs
                    - SGACLS
                    - Session Data
                    - User Data
                    - Endpoint Data
                    items:
                      type: string
                    type: array
                  title:
                    description: title of the description content
                    example: Scopes Available
                    type: string
                required:
                - title
                - scopes
                - description
                type: object
              productLogo:
                description: logo details of the product
                properties:
                  appId:
                    description: ID of the integration app
                    enum:
                    - ise
                    - intune
                    - jamf
                    example: ise
                    type: string
                  title:
                    description: title of the product
                    example: Cisco XDR
                    type: string
                type: object
            type: object
          type: array
        generalInformation:
          description: contains general information of the integration
          properties:
            appId:
              description: Integration App type
              example: ise
              type: string
            description:
              description: Description to de displayed, after title
              example: ISE is an identity-based network access control and policy enforcement system that functions as a common policy engine
              type: string
            title:
              description: Title to de displayed, after icon
              example: Identity service engine (ISE)
              type: string
          required:
          - icon
          - title
          - description
          type: object
        integrationOverview:
          description: contains the integration overview details
          properties:
            description:
              description: Short overview of the ise features
              example: Identity service engine enables endpoint access control and network device administration for enterprises. For more information go to Help
              type: string
            helpLink:
              $ref: '#/components/schemas/HelpLink'
            title:
              description: Title of the ISE overview part
              example: Overview
              type: string
          required:
          - title
          - description
          - helpLink
          type: object
        setupInstructions:
          description: contains the setup instructions to configure a new integration
          properties:
            instructions:
              $ref: '#/components/schemas/Instruction'
            scopeSelection:
              description: scope selection details
              properties:
                text:
                  description: description content for the scope
                  example: To ensure seamless functionality between Identity Service Engine (ISE) and Cisco Security products,  you must select specific data types called scopes for each integrated Cisco product.  For more information about scopes for Cisco products, review <a href="link_here">Compatible products</a>
                  type: string
                title:
                  description: title of the scope
                  example: Scope selection
                  type: string
              type: object
          type: object
      required:
      - compatibleProducts
      type: object
    CreateIntegrationReq:
      description: Create integration payload object
      properties:
        name:
          description: Integration name
          example: ISE_Demo_400
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_.-]*'
          type: string
        otp:
          description: otp for integration creation
          example: ibyo14652V8r9GXxc4FTbPO8tImmggJsAieRbZCaGRmc4jERfyYsKtN9kYUj9c9Z
          pattern: '[a-zA-Z0-9]+'
          type: string
        region:
          description: Region where created Integration will be working in
          example: us-west-2
          type: string
      required:
      - name
      - region
      - otp
      type: object
    HelpLink:
      description: Object needed for Help link components rendering and routing
      properties:
        title:
          description: Help link text to be displayed
          example: Help
          type: string
        url:
          description: URL to the help documentation for current instructions
          example: https://www.cisco.com/c/en_uk/support/index.html
          type: string
      required:
      - title
      - url
      type: object
    UpdateIntegrationReq:
      description: Update integration payload object
      properties:
        integrationStatus:
          description: enabled / disabled status of the integration
          enum:
          - enabled
          - disabled
          example: enabled
          type: string
        name:
          description: updated name of the integration
          example: ISE_Demo_400
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_.-]*'
          type: string
      type: object
    '403':
      description: Typical 403 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 403
          type: integer
        message:
          description: brief description of the error
          example: Forbidden
          type: string
        timestamp:
          description: timestamp of the error event
          example: '2024-01-22T03:12:46.090049959'
          format: date-time
          type: string
        trackingId:
          description: logs tracking ID
          example: trackingId_placeholder
          type: string
      type: object
    '401':
      description: Typical 401 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 401
          type: integer
        message:
          description: brief description of the error
          example: Authorization Header not found.
          type: string
        timestamp:
          description: timestamp of the error event
          example: '2024-01-22T03:12:46.090049959'
          format: date-time
          type: string
        trackingId:
          description: logs tracking ID
          example: trackingId_placeholder
          type: string
      type: object
    Integration:
      description: Integration object
      properties:
        connectorStatus:
          description: current connector health status of the integration
          enum:
          - unknown
          - active
          - warning
          - error
          example: active
          type: string
        connectorStatusMessage:
          description: brief description about the connector health status
          example: Integration is active
          type: string
        connectorType:
          description: type of the connector
          enum:
          - pxgrid
          example: pxgrid
          type: string
        integrationId:
          description: ID of the integration
          example: f0702ab8-2fc7-40d2-8dd2-5b2301b21960
          format: uuid
          type: string
        integrationName:
          description: name of the integration
          example: ISE_Demo_400
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_.-]*'
          type: string
        integrationScope:
          description: scopes configured for the integration
          items:
            example: SGTs, Configuration, ISE Session Directory, Echo Service for testing
            type: string
          type: array
        integrationStatus:
          description: current status of the integration
          enum:
          - enabled
          - disabled
          example: enabled
          type: string
        integrationType:
          description: type of the integration
          enum:
          - ise
          example: ise
          type: string
        metadata:
          description: extra metadata of the integration
          example:
            createdAt: '2024-01-22T03:12:46.090049959'
            updatedAt: '2024-01-23T03:12:46.090049959'
          properties:
            createdAt:
              description: integration creation time
              format: date-time
              type: string
            updatedAt:
              description: last integration updation time
              format: date-time
              type: string
          type: object
        region:
          description: region of the integration
          example: us-west-2
          type: string
      type: object
    '404':
      description: Typical 404 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 404
          type: integer
        message:
          description: brief description of the error
          example: Integration matching the id is not found
          type: string
      type: object
    IntegrationHub:
      description: IntegrationHub object needed for integration hub page rendering
      properties:
        integrationHubCategories:
          description: list of integration app categories
          items:
            properties:
              description:
                description: description content of the integration category
                example: Unlock the full potential of your cybersecurity ecosystem with easy-to-use integrations that enhance visibility, streamline operations, and strengthen your overall security posture
                type: string
              integrationApps:
                description: list of apps in the integration category
                items:
                  properties:
                    appDescription:
                      description: description content for the integration app
                      example: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec.
                      type: string
                    appId:
                      description: ID of the integration app
                      example: ise
                      type: string
                    appName:
                      description: name of the integration app
                      example: Identity Services Engine (ISE)
                      type: string
                    subType:
                      description: integration app sub type
                      enum:
                      - COMMON_INTEGRATION
                      - SECURE_ACCESS_INTEGRATION
                      example: COMMON_INTEGRATION
                      type: string
                    supportedProducts:
                      description: list of supported products by the integration app
                      items:
                        example: scc, secure access
                        type: string
                      type: array
                    tag:
                      description: category tags of the integration app
                      enum:
                      - NETWORK_SECURITY
                      - NETWORK_MONITORING_AND_INTELLIGENCE
                      - MOBILE_DEVICE_MANAGEMENT
                      example: NETWORK_SECURITY
                      type: string
                  required:
                  - entityId
                  - iconUrl
                  - name
                  - subText
                  - tag
                  - description
                  - buttons
                  - dashboards
                  type: object
                type: array
              type:
                description: type of integration category
                example: Cisco Integrations
                type: string
            required:
            - type
            - description
            - integrationCategoryEntity
            type: object
          type: array
      required:
      - integrationCategory
      type: object
    IntegrationList:
      description: A page of Integration objects
      example:
        integrations:
        - connectorStatus: active
          connectorStatusMessage: Integration is active
          connectorType: pxgrid
          integrationId: f0702ab8-2fc7-40d2-8dd2-5b2301b21960
          integrationName: ISE_Demo_400
          integrationScope:
          - SGTs
          - Configuration
          - ISE Session Directory
          - Echo Service for testing
          integrationStatus: enabled
          integrationType: ise
          metadata:
            createdAt: '2024-01-22T03:12:46.090049959'
            updatedAt: '2024-01-23T03:12:46.090049959'
          region: us-west-2
        itemsPerPage: 10
        startIndex: 1
        totalResults: 100
      properties:
        integrations:
          description: list of configured integrations
          items:
            $ref: '#/components/schemas/Integration'
          type: array
        itemsPerPage:
          description: number of items to be displayed per page
          example: 10
          type: integer
        startIndex:
          description: current index page value
          example: 1
          type: integer
        totalResults:
          description: total number of configured integrations
          example: 100
          type: integer
      type: object
    CreateIntegrationDetails:
      description: Object needed for create integration related pages and components rendering
      properties:
        addIntegrationDetails:
          description: details related create new integration steps
          properties:
            description:
              description: general description and necessary links for Integration creation process
              example: Configure Security Cloud Control with your application connector's One-Time Password (OTP).  This allows Security Cloud Control to consume ISE data <a href="https://cisco-public.com/help">Help</a>
              type: string
            hint:
              description: hint message with explanations of integration creation specifics
              example: This integration modules will be configured in the same integration group where this Secure  Access instance belongs. Only customers in this group can use the integration module.
              type: string
            instructionsHelp:
              $ref: '#/components/schemas/HelpLink'
            integrationDetailsParameters:
              description: list of input field details for create integration form
              items:
                properties:
                  defaultValue:
                    description: "Supposed default value for input component. \nShould be parsed as a value of type listed in this object\n"
                    example: Security_Group_1
                    type: string
                  info:
                    description: Additional information to be listed in hint near the input column title.
                    example: Integration group is default for all applications for now.  This field might become editable in future.
                    type: string
                  key:
                    description: property name to be sent on the backend for Integration creation
                    example: integrationGroup
                    type: string
                  required:
                    description: "Flag if the property is required for Integration creation process. \nShould be marked with * on UI side.\n"
                    example: true
                    type: boolean
                  title:
                    description: description for current property input component
                    example: Integration group
                    type: string
                  type:
                    description: type of the input field and parameter to be sent on the backend respectively
                    example: string
                    type: string
                  validationRegex:
                    description: regular expression to validate current parameter inheritance. E.g. is it a valid email
                    example: /^((?!\.)[\w-_.]*[^.])(@\w+)(\.\w+(\.\w+)?[^.\W])$/gim;
                    type: string
                required:
                - title
                - validationRegex
                - type
                - info
                - required
                - key
                type: object
              type: array
            title:
              description: title of the add new integration component
              example: Integration Details
              type: string
          required:
          - title
          - description
          - integrationDetailsParameters
          type: object
        integrationCreationInstructions:
          $ref: '#/components/schemas/Instruction'
      required:
      - integrationCreationInstructions
      - addIntegrationDetails
      type: object
    Instruction:
      description: Main item of IntegrationDetails and CreateIntegrationDetails objects
      properties:
        instructionChapters:
          description: list of create integration steps
          items:
            properties:
              hint:
                description: text to be displayed in the chapter's hint component
                example: You must be an ISE admin to be able to complete the initial part of this integration
                type: string
              instructionChapterSteps:
                description: list of create integration sub steps
                items:
                  properties:
                    actionItems:
                      description: list of action items
                      example:
                      - Log into Identity Service Engine (ISE) > Administration > Integration catalog
                      - Select <b>Security Cloud Control application</b>
                      - Ensure that you select appropriate scopes for all the consumer tenants that will be  using that integration. More information about scopes in  <a href="https://cisco-public.com/compatible-products">Compatible products</a>
                      items:
                        type: string
                      type: array
                    title:
                      description: instruction step name to be described on top of action items
                      example: Register Security Cloud Control application in ISE
                      type: string
                  required:
                  - title
                  - actionItems
                  type: object
                type: array
              title:
                description: subtitle of the instruction chapter component
                example: Sign in to Identity Service Engine (ISE)
                type: string
            required:
            - title
            - instructionChapterSteps
            type: object
          type: array
        title:
          description: title to be displayed on the top of the instructions component
          example: Set Up Security Cloud Control application in Identity Service Engine (ISE)
          type: string
      required:
      - title
      - instructionChapters
      type: object
    '400':
      description: Typical 400 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 400
          type: integer
        message:
          description: brief description of the error
          example: Integration Id is not a valid UUID
          type: string
      type: object
    '500':
      description: Typical 500 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 500
          type: integer
        message:
          description: brief description of the error
          example: Something went wrong
          type: string
      type: object
  parameters:
    ProductTenantId:
      description: Tenant ID of the product
      in: header
      name: x-Product-Tenant-Id
      required: true
      schema:
        type: string
    ProductId:
      description: Name of the product
      example: Secure Access
      in: header
      name: x-Product-Id
      required: true
      schema:
        type: string
  headers:
    Location:
      description: Location for the resource created/updated
      example: /integrations/v1/ise/
      schema:
        type: string
    Date:
      description: Response date and time
      example: Tue, 23 Jul 2024 16:13:30 UTC
      schema:
        pattern: (((Mon|Tue|Wed|Thu|Fri|Sat|Sun))[,]\s[0-9]{1,2})\s(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s([0-9]{4})\s([0-9]{2}):([0-9]{2})(:([0-9]{2}))?\sUTC\s?
        type: string
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: security scheme
      scheme: bearer
      type: http
