openapi: 3.2.0
info:
  title: Mesh Policy Engine Topology Tag API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Topology Tag
paths:
  /topology/tags:
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: upsertTopologyTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopologyTagsApi'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Upsert tags
      tags:
      - Topology Tag
components:
  schemas:
    TopologyTagsApi:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/TopologyTag'
          type: array
      type: object
    TopologyTag:
      properties:
        priority:
          format: int32
          type: integer
        tagKey:
          type: string
        tagValue:
          type: string
      required:
      - tagKey
      - tagValue
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
