openapi: 3.2.0
info:
  title: Cisco Secure Firewall Device HA Pairs API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Device HA Pairs across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 13/13
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Device HA Pairs
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get a list of all Firewall Threat Defense High Availability pairs.**'
      operationId: getAllFTDHADeviceContainer
      parameters:
      - description: Filter for analytics only HA<br/><code>analyticsOnly</code> -- Allowed values are <code>{true|false}</code><br/>
        in: query
        name: filter
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs ( Get all paginated HA container objects without offset and limit )'
                : value:
                    items:
                    - id: <container_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                      name: <HA_NAME>
                    - id: <container_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                      name: <HA_NAME>
                    - id: <container_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                      name: <HA_NAME>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs?offset=0&limit=3
                    paging:
                      count: 3
                      limit: 3
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FTDHADeviceContainerListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    post:
      deprecated: false
      description: '**Create a Firewall Threat Defense High Availability pair. _Check the response section for applicable examples (if any)._**'
      operationId: createFTDHADeviceContainer
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs ( Creation of FTD HA )':
                value:
                  ftdHABootstrap:
                    encKeyGenerationScheme: CUSTOM
                    isEncryptionEnabled: 'false'
                    lanFailover:
                      activeIP: 1.1.1.1
                      interfaceObject:
                        id: <uuid>
                        name: GigabitEthernet0/0
                        type: PhysicalInterface
                      logicalName: LAN-INTERFACE
                      standbyIP: 1.1.1.2
                      subnetMask: 255.255.255.0
                      useIPv6Address: 'false'
                    sharedKey: cisco123
                    statefulFailover:
                      activeIP: 1.1.1.1
                      interfaceObject:
                        id: <uuid>
                        name: GigabitEthernet0/0
                        type: PhysicalInterface
                      logicalName: STATEFUL-INTERFACE
                      standbyIP: 1.1.1.2
                      subnetMask: 255.255.255.0
                      useIPv6Address: 'true'
                    useSameLinkForFailovers: 'true'
                  name: <ha-name>
                  primary:
                    id: primary_uuid
                  secondary:
                    id: secondary_uuid
                  type: DeviceHAPair
            schema:
              $ref: '#/components/schemas/FTDHADeviceContainer'
              type: object
        description: Input representation of Firewall Threat Defense HA pair.
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                'Example 1 : POST /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs ( Creation of FTD HA )':
                  value:
                    ftdHABootstrap:
                      isEncryptionEnabled: false
                      lanFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          MTU: 0
                          enabled: false
                          managementOnly: false
                          mode: NONE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                      statefulFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          MTU: 0
                          enabled: false
                          managementOnly: false
                          mode: NONE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                      useSameLinkForFailovers: true
                    metadata:
                      task:
                        id: <Task Id>
                        name: FTD HA Device Registration
                        type: Task
                    version: 6.0.1
              schema:
                $ref: '#/components/schemas/FTDHADeviceContainer'
                type: object
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs/{containerUUID}/failoverinterfacemacaddressconfigs
  : servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get the a list of all Firewall Threat Defense High Availability failover policy interface MAC addresses records.**'
      operationId: getAllFTDHAInterfaceMACAddresses
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FTDHAInterfaceMACAddressesListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    post:
      deprecated: false
      description: '**Create a Firewall Threat Defense High Availability failover policy interface MAC addresses record. _Check the response section for applicable examples (if any)._**'
      operationId: createFTDHAInterfaceMACAddresses
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
              type: object
        description: Input representation of Firewall Threat Defense HA failover policy interface MAC addresses.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs/{containerUUID}/failoverinterfacemacaddressconfigs/{objectId}
  : servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    delete:
      deprecated: false
      description: '**Delete the Firewall Threat Defense High Availability failover policy interface MAC addresses record associated with the specified Firewall Threat Defense High Availability pair. _Check the response section for applicable examples (if any)._**'
      operationId: deleteFTDHAInterfaceMACAddresses
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability failover policy interface MAC addresses record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid> ( Deletes the FTD HA device container failover interface MAC addresses object. )'
                : value:
                    failoverActiveMac: 0050.56a9.603c
                    failoverStandbyMac: 0050.56a9.603d
                    id: <failover_interface_mac-address_uuid>
                    physicalInterface:
                      MTU: 1500
                      enabled: false
                      id: <uuid>
                      managementOnly: false
                      name: GigabitEthernet0/0
                      type: PhysicalInterface
                    type: FailoverInterfaceMACAddressConfig
              schema:
                $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    get:
      deprecated: false
      description: '**Get the Firewall Threat Defense High Availability failover policy interface MAC addresses record associated with the specified Firewall Threat Defense High Availability pair.**'
      operationId: getFTDHAInterfaceMACAddresses
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability failover policy interface MAC addresses record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid> ( Get of a specific failover interface MAC addresses object for FTD HA device container. Failover interface MAC addresses object UUID should be passed as Object id. )'
                : value:
                    failoverActiveMac: 0050.56a9.603c
                    failoverStandbyMac: 0050.56a9.603d
                    id: <failover_interface_mac-address_uuid>
                    physicalInterface:
                      MTU: 1500
                      enabled: false
                      id: <uuid>
                      managementOnly: false
                      name: GigabitEthernet0/0
                      type: PhysicalInterface
                    type: FailoverInterfaceMACAddressConfig
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs ( GetAll of FTD HA device container failover interface MAC addresses object. )'
                : value:
                    items:
                    - id: <failover_interface_mac-address_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid>
                      type: FailoverInterfaceMACAddressConfig
                    - id: <failover_interface_mac-address_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid>
                      type: FailoverInterfaceMACAddressConfig
                    - id: <failover_interface_mac-address_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid>
                      type: FailoverInterfaceMACAddressConfig
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs?offset=0&limit=3
                    paging:
                      count: 3
                      limit: 3
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    put:
      deprecated: false
      description: '**Modify the Firewall Threat Defense High Availability failover policy interface MAC addresses record associated with the specified Firewall Threat Defense HA pair. _Check the response section for applicable examples (if any)._**'
      operationId: updateFTDHAInterfaceMACAddresses
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability failover policy interface MAC addresses record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid> ( Update of  failover interface MAC addresses object for a FTD HA device container. Failover interface MAC addresses object UUID should be passed as Object id. )'
              : value:
                  failoverActiveMac: 0050.56a9.603c
                  failoverStandbyMac: 0050.56a9.603d
                  id: <failover_interface_mac-address_uuid>
                  type: FailoverInterfaceMACAddressConfig
            schema:
              $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
              type: object
        description: Input representation of Firewall Threat Defense HA failover policy interface MAC addresses.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/failoverinterfacemacaddressconfigs/<failover-interface-mac-address-uuid> ( Update of  failover interface MAC addresses object for a FTD HA device container. Failover interface MAC addresses object UUID should be passed as Object id. )'
                : value:
                    failoverActiveMac: 0050.56a9.603c
                    failoverStandbyMac: 0050.56a9.603d
                    id: <failover_interface_mac-address_uuid>
                    physicalInterface:
                      MTU: 1500
                      enabled: false
                      id: <uuid>
                      managementOnly: false
                      name: GigabitEthernet0/0
                      type: PhysicalInterface
                    type: FailoverInterfaceMACAddressConfig
              schema:
                $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs/{containerUUID}/monitoredinterfaces:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get a list of all Firewall Threat Defense HA monitored interface policy records.**'
      operationId: getAllFTDHAMonitoredInterfaces
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FTDHAMonitoredInterfacesListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
  ? /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs/{containerUUID}/monitoredinterfaces/{objectId}
  : servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      deprecated: false
      description: '**Get the Firewall Threat Defense High Availabiliy Monitored interface policy record associated with the specified Firewall Threat Defense High Availability pair.**'
      operationId: getFTDHAMonitoredInterfaces
      parameters:
      - description: UUID of the Firewall Threat Defense High Availabiliy Monitored interface policy record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid> ( Get of HA device container monitored interfaces object. Monitored interface policy UUID should be passed as Object id. )'
                : value:
                    id: <monitored_interface_policy_uuid>
                    interfaceLogicalName: <interface-nameif>
                    ipv4Configuration:
                      activeIPv4Address: 192.0.2.1
                      activeIPv4Mask: '25'
                      standbyIPv4Address: 192.0.2.2
                    ipv6Configuration:
                      activeIPv6LinkLocalAddress: FE80::C800:EFF:FE74:8
                      ipv6ActiveStandbyPair:
                      - activeIPv6: 2006::/32
                        standbyIPv6: 2006::/31
                      - activeIPv6: 2005::/32
                        standbyIPv6: 2005::/31
                      standbyIPv6LinkLocalAddress: FE80::C800:EFF:FE74:9
                    monitorForFailures: 'true'
                ? 'Example 2 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces ( GetAll of HA device container monitored interfaces object. )'
                : value:
                    items:
                    - id: <monitored_interface_policy_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid>
                      name: <Monitored-interface-logical-name>
                      type: PixFailoverIntfMonitorTable
                    - id: <monitored_interface_policy_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid>
                      name: <Monitored-interface-logical-name>
                      type: PixFailoverIntfMonitorTable
                    - id: <monitored_interface_policy_uuid>
                      links:
                        self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid>
                      name: <Monitored-interface-logical-name>
                      type: PixFailoverIntfMonitorTable
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces?offset=0&limit=3
                    paging:
                      count: 3
                      limit: 3
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/FTDHAMonitoredInterfaces'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    put:
      deprecated: false
      description: '**Modify the Firewall Threat Defense High Availability Monitored interface policy record associated with the specified Firewall Threat Defense High Availability pair. _Check the response section for applicable examples (if any)._**'
      operationId: updateFTDHAMonitoredInterfaces
      parameters:
      - description: UUID of the Firewall Threat Defense High Availabiliy Monitored interface policy record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid> ( Modify monitored interfaces object for HA device container. Monitored interface policy UUID should be passed as Object id. )'
              : value:
                  id: <monitored_interface_policy_uuid>
                  ipv4Configuration:
                    standbyIPv4Address: 192.0.2.2
                  ipv6Configuration:
                    ipv6ActiveStandbyPair:
                    - activeIPv6: 2006::/32
                      standbyIPv6: 2006::31
                    - activeIPv6: 2005::/32
                      standbyIPv6: 2005::31
                    standbyIPv6LinkLocalAddress: FE80::C800:EFF:FE74:9
                  monitorForFailures: 'true'
                  name: <interface-nameif>
            schema:
              $ref: '#/components/schemas/FTDHAMonitoredInterfaces'
              type: object
        description: Input representation of Firewall Threat Defense HA Monitored interface policy.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid/monitoredinterfaces/<monitored_interface_policy_uuid> ( Modify monitored interfaces object for HA device container. Monitored interface policy UUID should be passed as Object id. )'
                : value:
                    id: <monitored_interface_policy_uuid>
                    ipv4Configuration:
                      activeIPv4Address: 192.0.2.1
                      activeIPv4Mask: '25'
                      standbyIPv4Address: 192.0.2.2
                    ipv6Configuration:
                      activeIPv6LinkLocalAddress: FE80::C800:EFF:FE74:8
                      ipv6ActiveStandbyPair:
                      - activeIPv6: 2006::/32
                        standbyIPv6: 2006::1
                      - activeIPv6: 2005::/32
                        standbyIPv6: 2005::1
                      standbyIPv6LinkLocalAddress: FE80::C800:EFF:FE74:9
                    monitorForFailures: 'true'
                    name: <interface-nameif>
              schema:
                $ref: '#/components/schemas/FTDHAMonitoredInterfaces'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/devicehapairs/ftddevicehapairs/{objectId}:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    delete:
      deprecated: false
      description: '**Delete the Firewall Threat Defense High Availability record associated with the specified ID _Check the response section for applicable examples (if any)._**'
      operationId: deleteFTDHADeviceContainer
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Delete the HA Container by the container id. This operation will remove the devices as well. )'
                : value:
                    ftdHABootstrap:
                      isEncryptionEnabled: false
                      lanFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          MTU: 0
                          enabled: false
                          managementOnly: false
                          mode: NONE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                      statefulFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          MTU: 0
                          enabled: false
                          managementOnly: false
                          mode: NONE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                      useSameLinkForFailovers: true
                    version: 6.0.1
              schema:
                $ref: '#/components/schemas/FTDHADeviceContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    get:
      deprecated: false
      description: '**Get the Firewall Threat Defense High Availability record associated with the specified ID**'
      operationId: getFTDHADeviceContainer
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( GET of HA container details for a ha_container_uuid )'
                : value:
                    ftdHABootstrap:
                      encKeyGenerationScheme: CUSTOM
                      isEncryptionEnabled: 'false'
                      lanFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          id: <uuid>
                          name: GigabitEthernet0/0
                          type: PhysicalInterface
                        logicalName: LAN-INTERFACE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                        useIPv6Address: 'false'
                      sharedKey: cisco123
                      statefulFailover:
                        activeIP: 1.1.1.1
                        interfaceObject:
                          id: <uuid>
                          name: GigabitEthernet0/0
                          type: PhysicalInterface
                        logicalName: STATEFUL-INTERFACE
                        standbyIP: 1.1.1.2
                        subnetMask: 255.255.255.0
                        useIPv6Address: 'true'
                      useSameLinkForFailovers: 'true'
                    ftdHAFailoverTriggerCriteria:
                      interfaceHoldTime: 25
                      interfacePollTime: 5
                      interfacePollTimeUnit: SEC
                      noOfFailedInterfaceLimit: 1
                      peerHoldTime: 34
                      peerHoldTimeUnit: SEC
                      peerPollTime: 3
                      peerPollTimeUnit: SEC
                    metadata:
                      analyticsOnly: false
                      configStatus: HEALTHY_CONFIG | MISSING_CONFIG
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        type: Domain
                      lastUser:
                        name: admin
                        type: User
                      primaryStatus:
                        currentStatus: Active
                        device:
                          id: primary_uuid
                          name: primary_device_name
                      secondaryStatus:
                        currentStatus: Standby
                        device:
                          id: secondary_uuid
                          name: secondary_device_name
                    name: <ha-name>
                    primary:
                      id: primary_uuid
                    secondary:
                      id: secondary_uuid
                    type: DeviceHAPair
              schema:
                $ref: '#/components/schemas/FTDHADeviceContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
    put:
      deprecated: false
      description: '**Modify the Firewall Threat Defense High Availability record associated with the specified ID _Check the response section for applicable examples (if any)._**'
      operationId: updateFTDHADeviceContainer
      parameters:
      - description: UUID of the Firewall Threat Defense High Availability record.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.<br/>Applicable only for <code>Failover Trigger Criteria</code><br/>
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Name change of HA device container object. HA container UUID should be passed as Object id. The name field should contain the new HA name )'
              : value:
                  id: ha_container_uuid
                  name: new_ha_name
              ? 'Example 2 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Switch operation for HA device container object. HA container UUID should be passed as Object id. The action must be SWITCH )'
              : value:
                  action: SWITCH
                  id: ha_container_uuid
              ? 'Example 3 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Break operation for HA device container object. HA container UUID should be passed as Object id. The action must be HABREAK )'
              : value:
                  action: HABREAK
                  forceBreak: 'true'
                  id: ha_container_uuid
              ? 'Example 4 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Set the Fail over Trigger Criteria of HA device container object. HA container UUID should be passed as Object id. All the attributes are mandatory. Either of noOfFailedInterfaceLimit or percentFailedInterfaceExceed is optional )'
              : value:
                  ftdHAFailoverTriggerCriteria:
                    interfaceHoldTime: 65
                    interfacePollTime: 13
                    interfacePollTimeUnit: SEC or MSEC
                    noOfFailedInterfaceLimit: 11
                    peerHoldTime: 37
                    peerHoldTimeUnit: SEC or MSEC
                    peerPollTime: 12
                    peerPollTimeUnit: SEC or MSEC
                    percentFailedInterfaceExceed: 96
                  id: ha_container_uuid
            schema:
              $ref: '#/components/schemas/FTDHADeviceContainer'
              type: object
        description: Input representation of Firewall Threat Defense HA pair.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Name change of HA device container object. HA container UUID should be passed as Object id. The name field should contain the new HA name )'
                : value:
                    ftdHABootstrap:
                      isEncryptionEnabled: false
                      useSameLinkForFailovers: false
                    id: <Container uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                    name: new_ha_name
                    type: DeviceHAPair
                ? 'Example 2 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Switch operation for HA device container object. HA container UUID should be passed as Object id. The action must be SWITCH )'
                : value:
                    action: SWITCH
                    ftdHABootstrap:
                      isEncryptionEnabled: false
                      useSameLinkForFailovers: false
                    id: <Container uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                    metadata:
                      task:
                        id: <Task Id>
                        name: FTD HA Active Switch
                        type: Task
                ? 'Example 3 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Break operation for HA device container object. HA container UUID should be passed as Object id. The action must be HABREAK )'
                : value:
                    action: HABREAK
                    ftdHABootstrap:
                      isEncryptionEnabled: false
                      useSameLinkForFailovers: false
                    id: <Container uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
                    metadata:
                      task:
                        id: <Task Id>
                        name: FTD HA Active Switch
                        type: Task
                ? 'Example 4 : PUT /fmc_config/v1/domain/DomainUUID/devicehapairs/ftddevicehapairs/ha_container_uuid ( Set the Fail over Trigger Criteria of HA device container object. HA container UUID should be passed as Object id. All the attributes are mandatory. Either of noOfFailedInterfaceLimit or percentFailedInterfaceExceed is optional )'
                : value:
                    ftdHAFailoverTriggerCriteria:
                      interfaceHoldTime: 65
                      interfacePollTime: 13
                      interfacePollTimeUnit: SEC
                      noOfFailedInterfaceLimit: 11
                      peerHoldTime: 37
                      peerHoldTimeUnit: SEC
                      peerPollTime: 12
                      peerPollTimeUnit: SEC
                      percentFailedInterfaceExceed: 96
                    id: <Container uuid>
                    links:
                      self: <fmc_url>/api/fmc_config/v1/domain/<domainUuid>/devicehapairs/ftddevicehapairs/<container_uuid>
              schema:
                $ref: '#/components/schemas/FTDHADeviceContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Device HA Pairs
components:
  schemas:
    IARPConfigContainer:
      properties:
        enableAlias:
          type: boolean
        ipAddress:
          type: string
        macAddress:
          type: string
      type: object
    INetworkAddress:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        overridable:
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          type: object
        type:
          type: string
        version:
          type: string
      type: object
    FTDHADeviceContainer:
      description: Input representation of FTD HA pair.
      properties:
        accessPolicy:
          $ref: '#/components/schemas/IPolicyModel'
          description: Object representing the access control policy associated with device
          type: object
        action:
          description: FTD HA PUT operation action. Specifically used for breaking FTD HA or manual switch.
          enum:
          - SWITCH
          - HABREAK
          type: string
        advanced:
          $ref: '#/components/schemas/IAdvanced'
          description: Object representing Device Advanced Configuration.
          type: object
        description:
          description: Retrieves or modifies the FTD HA record associated with the specified ID. Creates or breaks or deletes a FTD HA pair. If no ID is specified for a GET, retrieves list of all FTD HA pairs.
          type: string
        forceBreak:
          description: FTD HA Force Break option.
          type: boolean
        ftdHABootstrap:
          $ref: '#/components/schemas/IFTDDeviceHABootStrap'
          description: FTD HA Bootstrap object used during POST operation.
          type: object
        ftdHAFailoverTriggerCriteria:
          $ref: '#/components/schemas/IFTDHAFailoverInterfacePolicyTrigger'
          description: Conditions on which HA failover would be triggered.
          type: object
        healthMessage:
          type: string
        healthPolicy:
          $ref: '#/components/schemas/IHealthPolicy'
          description: Health Policy of the FTD Devices used in FTD HA pair.
          type: object
        healthStatus:
          description: Health status of the FTD Devices used in FTD HA pair.
          type: string
        id:
          description: FTD HA container UUID.
          type: string
        isAWSDevice:
          type: boolean
        isAzureDevice:
          type: boolean
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing related links.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata properties
          type: object
        model:
          description: FTDHADeviceContainer
          type: string
        modelId:
          description: Model ID of the FTD Devices used in FTD HA pair.
          type: string
        modelNumber:
          description: Model Number of the FTD Devices used in FTD HA pair.
          type: string
        modelType:
          description: Model type of the FTD Devices used in FTD HA pair.
          type: string
        name:
          description: User-chosen name.
          type: string
        primary:
          $ref: '#/components/schemas/IBaseDevice'
          description: Primary Device object for FTD HA.
          type: object
        role:
          type: string
        secondary:
          $ref: '#/components/schemas/IBaseDevice'
          description: Represents the secondary device.
          type: object
        status:
          type: string
        sw_version:
          description: FTD HA device version.
          type: string
        type:
          description: DeviceHAPair.
          type: string
        version:
          description: FTD HA model version.
          type: string
      required:
      - ftdHABootstrap
      - primary
      - secondary
      type: object
    ExpirationLifeTime:
      properties:
        preferDateTime:
          type: string
        validDateTime:
          type: string
      type: object
    HealthAlertConfig:
      properties:
        enabled:
          type: boolean
        name:
          type: string
        thresholds:
          items:
            $ref: '#/components/schemas/HealthThreshold'
            type: object
          type: array
      type: object
    HealthSetting:
      properties:
        alertEvaluationInterval:
          format: int32
          type: integer
        certFileContent:
          type: string
        certFileName:
          type: string
        certFileType:
          type: string
        certPassphrase:
          type: string
        configType:
          type: string
        dataCollectionInterval:
          format: int32
          type: integer
        dialInHosts:
          items:
            $ref: '#/components/schemas/DialHost'
            type: object
          type: array
        dialOutHosts:
          items:
            $ref: '#/components/schemas/DialHost'
            type: object
          type: array
        enabledOpenConfig:
          type: boolean
        grpcPassword:
          type: string
        grpcUsername:
          type: string
        readOnly:
          type: boolean
      type: object
    FTDHAIPv6Configuration:
      properties:
        activeIPv6LinkLocalAddress:
          type: string
        ipv6ActiveStandbyPair:
          items:
            $ref: '#/components/schemas/IFTDHAIPv6ActiveStandbyPair'
            type: object
          type: array
        standbyIPv6LinkLocalAddress:
          type: string
      type: object
    IOverride:
      description: Defines the override details for this object.
      properties:
        parent:
          $ref: '#/components/schemas/IReference'
          description: Link to the parent/global resource which is overriden.
          type: object
        target:
          $ref: '#/components/schemas/IReference'
          description: The device or the domain target on which this override is enabled.
          type: object
      type: object
    IOverrideDefaultFragmentSetting:
      properties:
        chain:
          format: int32
          type: integer
        size:
          format: int32
          type: integer
        timeout:
          format: int32
          type: integer
      type: object
    IDHCPIPv6Pool:
      properties:
        description:
          type: string
        dnsServer:
          $ref: '#/components/schemas/IDHCPIPv6DNSServer'
          type: object
        domainName:
          $ref: '#/components/schemas/IDHCPIPv6DomainName'
          type: object
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        otherServerOptions:
          items:
            $ref: '#/components/schemas/IDHCPIPv6OtherServerOptions'
            type: object
          type: array
        type:
          type: string
        version:
          type: string
      type: object
    IDHCPIPv6OtherServerOptions:
      properties:
        address:
          $ref: '#/components/schemas/IDHCPIPv6DNSServer'
          type: object
        domainName:
          $ref: '#/components/schemas/IDHCPIPv6DomainName'
          type: object
        option:
          enum:
          - NIS
          - NISP
          - SIP
          - SNTP
          type: string
      type: object
    DialHost:
      properties:
        host:
          type: string
        port:
          format: int32
          type: integer
      type: object
    IAdvanced:
      properties:
        enableOGS:
          type: boolean
      type: object
    IFTDDeviceHABootStrap:
      properties:
        encKeyGenerationScheme:
          enum:
          - AUTO
          - CUSTOM
          type: string
        isEncryptionEnabled:
          type: boolean
        lanFailover:
          $ref: '#/components/schemas/IFTDDeviceHAFailoverLink'
          type: object
        sharedKey:
          type: string
        statefulFailover:
          $ref: '#/components/schemas/IFTDDeviceHAFailoverLink'
          type: object
        useSameLinkForFailovers:
          type: boolean
      required:
      - lanFailover
      - statefulFailover
      - useSameLinkForFailovers
      type: object
    IApplicationCategory:
      description: Represents an ApplicationCategory.
      properties:
        description:
          description: Application category resource description.
          type: string
        id:
          description: Unique identifier for the application category.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application category.
          type: object
        name:
          description: Name of the application category.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        type:
          description: Type of the response object. This value is always ApplicationCategory.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IInterfaceDeviceModel:
      properties:
        description:
          type: string
        id:
          type: string
        interfaces:
          items:
            $ref: '#/components/schemas/IFTDInterface'
            type: object
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    Duration:
      properties:
        preferLifeTime:
          format: int32
          type: integer
        validLifeTime:
          format: int32
          type: integer
      type: object
    IDHCPIPv6DNSServer:
      properties:
        importFromInternalServer:
          type: boolean
        ipAddresses:
          items:
            type: string
          type: array
      type: object
    IIPv6Container:
      properties:
        DHCP:
          $ref: '#/components/schemas/IIPv6DHCPContainer'
          type: object
        addresses:
          items:
            $ref: '#/components/schemas/IAddressContainer'
            type: object
          type: array
        dadAttempts:
          format: int32
          type: integer
        enableAutoConfig:
          type: boolean
        enableDADLoopback:
          type: boolean
        enableDHCPAddrConfig:
          type: boolean
        enableDHCPNonAddrConfig:
          type: boolean
        enableIPV6:
          type: boolean
        enableRA:
          type: boolean
        enforceEUI64:
          type: boolean
        linkLocalAddress:
          type: string
        nsInterval:
          format: int32
          type: integer
        pool:
          $ref: '#/components/schemas/IReference'
          type: object
        prefixes:
          items:
            $ref: '#/components/schemas/IPrefixContainer'
            type: object
          type: array
        raInterval:
          format: int32
          type: integer
        raLifeTime:
          format: int32
          type: integer
        reachableTime:
          format: int32
          type: integer
      type: object
    IReadonly:
      properties:
        reason:
          enum:
          - RBAC
          - SYSTEM
          - DOMAIN
          type: string
        state:
          type: boolean
      type: object
    PreferLifeTime:
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
          type: object
        expirationLifeTime:
          $ref: '#/components/schemas/ExpirationLifeTime'
          type: object
      type: object
    IDHCPContainer:
      properties:
        dhcpRouteMetric:
          format: int32
          type: integer
        enableDefaultRouteDHCP:
          type: boolean
      type: object
    ILinks:
      description: This defines the self referencing links for the given resource.
      properties:
        parent:
          description: Full resource URL path to reference the parent (if any) for this resource.
          type: string
        self:
          description: Full resource URL path to reference this particular resource.
          type: string
      type: object
    ErrorMessagesContainer:
      properties:
        bulkPayloadIndex:
          description: More details about the error.
          type: string
        code:
          description: More details about the error.
          type: string
        description:
          description: More details about the error.
          type: string
        details:
          description: More details about the error.
          type: string
        errorCode:
          description: More details about the error.
          type: string
        location:
          description: More details about the error.
          type: string
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    FTDHAInterfaceMACAddressesListContainer:
      properties:
        items:
          $ref: '#/components/schemas/FTDHAInterfaceMACAddresses'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IAddressContainer:
      properties:
        address:
          type: string
        addressVariable:
          $ref: '#/components/schemas/IReference'
          type: object
        enforceEUI64:
          type: boolean
        prefix:
          type: string
      type: object
    IApplicationMonitoring:
      properties:
        enable:
          type: boolean
        monitoredApplications:
          items:
            $ref: '#/components/schemas/IApplicationModel'
            type: object
          type: array
      type: object
    IPolicyModel:
      properties:
        description:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IPPPoEContianer:
      properties:
        enableRouteSettings:
          type: boolean
        ipAddress:
          type: string
        pppAuth:
          enum:
          - PAP
          - CHAP
          - MSCHAP
          type: string
        pppoePassword:
          type: string
        pppoeRouteMetric:
          format: int32
          type: integer
        pppoeUser:
          type: string
        storeCredsInFlash:
          type: boolean
        vpdnGroupName:
          type: string
      type: object
    FTDBaseInterface:
      properties:
        MTU:
          format: int32
          type: integer
        activeMACAddress:
          type: string
        applicationMonitoring:
          $ref: '#/components/schemas/IApplicationMonitoring'
          type: object
        arpConfig:
          items:
            $ref: '#/components/schemas/IARPConfigContainer'
            type: object
          type: array
        description:
          type: string
        enableAntiSpoofing:
          type: boolean
        enableDNSLookup:
          type: boolean
        enableSGTPropagate:
          type: boolean
        enabled:
          type: boolean
        fmcAccessConfig:
          $ref: '#/components/schemas/IFMCAccessConfig'
          type: object
        fragmentReassembly:
          type: boolean
        id:
          type: string
        ifname:
          type: string
        ipv4:
          $ref: '#/components/schemas/IIPv4Container'
          type: object
        ipv6:
          $ref: '#/components/schemas/IIPv6Container'
          type: object
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        macAddressPool:
          $ref: '#/components/schemas/IReference'
          type: object
        macLearn:
          type: boolean
        macTable:
          items:
            type: string
          type: array
        managementOnly:
          type: boolean
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        mode:
          enum:
          - INLINE
          - PASSIVE
          - TAP
          - ERSPAN
          - NONE
          - SWITCHPORT
          type: string
        name:
          type: string
        overrideDefaultFragmentSetting:
          $ref: '#/components/schemas/IOverrideDefaultFragmentSetting'
          type: object
        pathMonitoring:
          $ref: '#/components/schemas/IPathMonitoring'
          type: object
        priority:
          format: int32
          type: integer
        securityZone:
          $ref: '#/components/schemas/ISecurityZoneObjectModel'
          type: object
        standbyMACAddress:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IFMCAccessConfig:
      properties:
        allowedNetworks:
          items:
            $ref: '#/components/schemas/INetworkAddress'
            type: object
          type: array
        enableAccess:
          type: boolean
      type: object
    IIPv6DHCPContainer:
      properties:
        clientPd:
          $ref: '#/components/schemas/IIPv6ClientPdContainer'
          type: object
        enableDHCPClient:
          type: boolean
        ipv6DHCPPool:
          $ref: '#/components/schemas/IDHCPIPv6Pool'
          type: object
        ipv6Prefixes:
          items:
            $ref: '#/components/schemas/IIPv6PrefixContainer'
            type: object
          type: array
        obtainIPV6DefaultRouteDHCP:
          type: boolean
      type: object
    IDomain:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    IMetadataUser:
      properties:
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        name:
          type: string
        type:
          type: string
      type: object
    HealthModule:
      properties:
        alertConfig:
          items:
            $ref: '#/components/schemas/HealthAlertConfig'
            type: object
          type: array
        alertEnabled:
          type: boolean
        criticalThreshold:
          format: int32
          type: integer
        customThresholds:
          items:
            $ref: '#/components/schemas/HealthThreshold'
            type: object
          type: array
        enabled:
          type: boolean
        moduleId:
          type: string
        severity:
          type: string
        type:
          type: string
        warningThreshold:
          format: int32
          type: integer
      type: object
    HealthThreshold:
      properties:
        type:
          type: string
        value:
          format: int32
          type: integer
      type: object
    PagingContainer:
      properties:
        count:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
      type: object
    IIPv6PrefixContainer:
      properties:
        length:
          type: string
        name:
          type: string
      type: object
    FTDHAInterfaceMACAddresses:
      description: Input Representation of Firepower Threat Defense high availability failover interface MAC addresses record associated with the specified FTD HA pair
      properties:
        description:
          description: User provided resource description
          type: string
        failoverActiveMac:
          description: Interface MAC address in H.H.H format, where H is a 16-bit hexadecimal digit. For example, the MAC address 00-0C-F1-42-4C-DE would be entered as 000C.F142.4CDE
          type: string
        failoverStandbyMac:
          description: Standby MAC Address
          type: string
        id:
          description: Identifier of a Firepower Threat Defense high availability failover interface MAC address
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing related links
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata properties
          type: object
        name:
          description: System chosen name
          type: string
        physicalInterface:
          $ref: '#/components/schemas/FTDBaseInterface'
          description: User chosen physical interface
          type: object
        type:
          description: Type of the Firepower Threat Defense high availability failover interface MAC address
          type: string
        version:
          description: version
          type: string
      required:
      - failoverActiveMac
      - failoverStandbyMac
      - physicalInterface
      type: object
    FTDHAMonitoredInterfaces:
      description: Input representation of Firepower Threat Defense high availability monitored interface
      properties:
        description:
          description: Description of the Firepower Threat Defense high availability monitored interface
          type: string
        id:
          description: Unique identifier (UUID) for the Firepower Threat Defense high availability monitored interface
          type: string
        ipv4Configuration:
          $ref: '#/components/schemas/FTDHAIPv4Configuration'
          description: Global
          type: object
        ipv6Configuration:
          $ref: '#/components/schemas/FTDHAIPv6Configuration'
          description: IPv6 Configuration
          type: object
        links:
          $ref: '#/components/schemas/ILinks'
          description: URL of the Firepower Threat Defense high availability monitored interface
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata properties
          type: object
        monitorForFailures:
          description: Flag indicating failure for monitored interfaces
          type: boolean
        name:
          description: Name of the Firepower Threat Defense high availability monitored interface
          type: string
        type:
          description: Type of the Firepower Threat Defense high availability monitored interface
          type: string
        version:
          description: Firepower Threat Defense high availability monitored interface model version
          type: string
      required:
      - monitorForFailures
      type: object
    IApplicationRisk:
      description: Represents an ApplicationRisk.
      properties:
        description:
          description: Application risk resource description.
          type: string
        id:
          description: Unique identifier for the application risk.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application risk.
          type: object
        name:
          description: Name of the application risk.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        type:
          description: Type of the response object. This value is always ApplicationRisk.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IApplicationModel:
      description: Represents an ApplicationModel containing Application Types, Tags, Productivity, Risk, and Categories.
      properties:
        appId:
          description: Application Identifier stored in internal database (VDB).
          format: int32
          type: integer
        applicationTypes:
          description: List of objects representing application types.
          items:
            $ref: '#/components/schemas/IApplicationType'
            type: object
          type: array
        categories:
          description: List of objects representing application categories.
          items:
            $ref: '#/components/schemas/IApplicationCategory'
            type: object
          type: array
        deprecated:
          description: Boolean representing if the application has been deprecated.
          type: boolean
        description:
          description: Application resource description.
          type: string
        id:
          description: Unique identifier (UUID) for the application.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application model.
          type: object
        name:
          description: Name of the application.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        productivity:
          $ref: '#/components/schemas/IApplicationProductivity'
          description: The application productivity associated with this application.
          type: object
        risk:
          $ref: '#/components/schemas/IApplicationRisk'
          description: The application risk associated with this application.
          type: object
        tags:
          description: List of objects representing application tags.
          items:
            $ref: '#/components/schemas/IApplicationTag'
            type: object
          type: array
        type:
          description: Type of the response object. This value is always Application.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IDHCPIPv6DomainName:
      properties:
        importFromInternalServer:
          type: boolean
        names:
          items:
            type: string
          type: array
      type: object
    IHealthPolicy:
      description: Description of Health Policy.
      properties:
        basePolicyID:
          type: string
        defaultPolicy:
          type: boolean
        description:
          description: Description of Health Policy.
          type: string
        healthModules:
          items:
            $ref: '#/components/schemas/HealthModule'
            type: object
          type: array
        id:
          description: Unique identifier (UUID) representing the Health policy.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the Health policy.
          type: object
        name:
          description: User-specified name of the Health policy.
          type: string
        policyType:
          type: string
        setting:
          $ref: '#/components/schemas/HealthSetting'
          type: object
        type:
          description: Type of the Health policy; this value is always HealthPolicy.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IStaticIPContainer:
      properties:
        address:
          type: string
        addressVariable:
          $ref: '#/components/schemas/IReference'
          type: object
        netmask:
          type: string
        pool:
          $ref: '#/components/schemas/IReference'
          type: object
      type: object
    IAdvertisement:
      properties:
        autoConfig:
          type: boolean
        offlink:
          type: boolean
        preferLifeTime:
          $ref: '#/components/schemas/PreferLifeTime'
          type: object
      type: object
    IMetadata:
      properties:
        domain:
          $ref: '#/components/schemas/IDomain'
          type: object
        isLocked:
          type: boolean
        lastUser:
          $ref: '#/components/schemas/IMetadataUser'
          type: object
        matches:
          items:
            type: string
          type: array
        readOnly:
          $ref: '#/components/schemas/IReadonly'
          type: object
        timestamp:
          format: int32
          type: integer
      type: object
    FTDHAIPv4Configuration:
      properties:
        activeIPv4Address:
          type: string
        activeIPv4Mask:
          type: string
        standbyIPv4Address:
          type: string
      type: object
    IIPv4Container:
      properties:
        dhcp:
          $ref: '#/components/schemas/IDHCPContainer'
          type: object
        pppoe:
          $ref: '#/components/schemas/IPPPoEContianer'
          type: object
        static:
          $ref: '#/components/schemas/IStaticIPContainer'
          type: object
      type: object
    IPathMonitoring:
      properties:
        enable:
          type: boolean
        monitoredIp:
          type: string
        type:
          enum:
          - AUTO
          - PEER_IPV4
          - PEER_IPV6
          - AUTO4
          - AUTO6
          type: string
      type: object
    IFTDDeviceHAFailoverLink:
      properties:
        activeIP:
          type: string
        interfaceObject:
          $ref: '#/components/schemas/IFTDBaseInterface'
          type: object
        logicalName:
          type: string
        standbyIP:
          type: string
        subnetMask:
          type: string
        useIPv6Address:
          type: boolean
      required:
      - activeIP
      - interfaceObject
      - logicalName
      - standbyIP
      type: object
    IFTDHAFailoverInterfacePolicyTrigger:
      properties:
        description:
          type: string
        id:
          type: string
        interfaceHoldTime:
          format: int32
          type: integer
        interfacePollTime:
          format: int32
          type: integer
        interfacePollTimeUnit:
          enum:
          - SEC
          - MSEC
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        noOfFailedInterfaceLimit:
          format: int32
          type: integer
        peerHoldTime:
          format: int32
          type: integer
        peerHoldTimeUnit:
          enum:
          - SEC
          - MSEC
          type: string
        peerPollTime:
          format: int32
          type: integer
        peerPollTimeUnit:
          enum:
          - SEC
          - MSEC
          type: string
        percentFailedInterfaceExceed:
          format: int32
          type: integer
        type:
          type: string
        version:
          type: string
      required:
      - interfaceHoldTime
      - interfacePollTime
      - interfacePollTimeUnit
      - peerHoldTime
      - peerHoldTimeUnit
      - peerPollTime
      - peerPollTimeUnit
      type: object
    IFTDBaseInterface:
      properties:
        MTU:
          format: int32
          type: integer
        activeMACAddress:
          type: string
        applicationMonitoring:
          $ref: '#/components/schemas/IApplicationMonitoring'
          type: object
        arpConfig:
          items:
            $ref: '#/components/schemas/IARPConfigContainer'
            type: object
          type: array
        description:
          type: string
        enableAntiSpoofing:
          type: boolean
        enableDNSLookup:
          type: boolean
        enableSGTPropagate:
          type: boolean
        enabled:
          type: boolean
        fmcAccessConfig:
          $ref: '#/components/schemas/IFMCAccessConfig'
          type: object
        fragmentReassembly:
          type: boolean
        id:
          type: string
        ifname:
          type: string
        ipv4:
          $ref: '#/components/schemas/IIPv4Container'
          type: object
        ipv6:
          $ref: '#/components/schemas/IIPv6Container'
          type: object
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        macAddressPool:
          $ref: '#/components/schemas/IReference'
          type: object
        macLearn:
          type: boolean
        macTable:
          items:
            type: string
          type: array
        managementOnly:
          type: boolean
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        mode:
          enum:
          - INLINE
          - PASSIVE
          - TAP
          - ERSPAN
          - NONE
          - SWITCHPORT
          type: string
        name:
          type: string
        overrideDefaultFragmentSetting:
          $ref: '#/components/schemas/IOverrideDefaultFragmentSetting'
          type: object
        pathMonitoring:
          $ref: '#/components/schemas/IPathMonitoring'
          type: object
        priority:
          format: int32
          type: integer
        securityZone:
          $ref: '#/components/schemas/ISecurityZoneObjectModel'
          type: object
        standbyMACAddress:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    FTDHADeviceContainerListContainer:
      properties:
        items:
          $ref: '#/components/schemas/FTDHADeviceContainer'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
    IApplicationType:
      description: Represents an ApplicationType.
      properties:
        description:
          description: Application type resource description.
          type: string
        id:
          description: Unique identifier for the application type.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application type.
          type: object
        name:
          description: Name of the application type.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        type:
          description: Type of the response object. This value is always ApplicationType.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    IPrefixContainer:
      properties:
        address:
          type: string
        addressVariable:
          $ref: '#/components/schemas/IReference'
          type: object
        advertisement:
          $ref: '#/components/schemas/IAdvertisement'
          type: object
        default:
          type: boolean
      type: object
    IIPv6ClientPdContainer:
      properties:
        hintPrefixes:
          items:
            type: string
          type: array
        prefixName:
          type: string
      type: object
    IBaseDevice:
      properties:
        accessPolicy:
          $ref: '#/components/schemas/IPolicyModel'
          type: object
        advanced:
          $ref: '#/components/schemas/IAdvanced'
          type: object
        description:
          type: string
        healthMessage:
          type: string
        healthPolicy:
          $ref: '#/components/schemas/IHealthPolicy'
          type: object
        healthStatus:
          type: string
        id:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        model:
          type: string
        modelId:
          type: string
        modelNumber:
          type: string
        modelType:
          type: string
        name:
          type: string
        role:
          type: string
        status:
          type: string
        sw_version:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IReference:
      description: Contains reference information.
      properties:
        id:
          description: Unique identifier representing resource.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        name:
          description: User chosen resource name.
          type: string
        type:
          description: Response object associated with resource.
          type: string
      type: object
    IApplicationTag:
      description: Represents an ApplicationTag.
      properties:
        description:
          description: Application tag resource description.
          type: string
        id:
          description: Unique identifier for the application tag.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application tag.
          type: object
        name:
          description: Name of the application tag.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        type:
          description: Type of the response object. This value is always ApplicationTag.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    ErrorResponse:
      properties:
        category:
          description: Describes the category of the error thrown.
          enum:
          - FRAMEWORK
          - OTHER
          - VALIDATION
          type: string
        messages:
          description: List of error messages which the response has.
          items:
            $ref: '#/components/schemas/ErrorMessagesContainer'
            type: object
          type: array
        severity:
          description: Specifies the Highest level severity among all the error messages.
          enum:
          - ERROR
          - WARN
          type: string
      type: object
    IFTDHAIPv6ActiveStandbyPair:
      properties:
        activeIPv6:
          type: string
        standbyIPv6:
          type: string
      type: object
    IFTDInterface:
      properties:
        description:
          type: string
        id:
          type: string
        ifname:
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    IApplicationProductivity:
      description: Represents an ApplicationProductivity.
      properties:
        description:
          description: Application productivity resource description.
          type: string
        id:
          description: Unique identifier for the application productivity.
          type: string
        links:
          $ref: '#/components/schemas/ILinks'
          description: Object containing links to this resource.
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          description: Object representing metadata attributes for the application productivity.
          type: object
        name:
          description: Name of the application productivity.
          type: string
        overridable:
          description: Boolean indicating whether object values can be overridden.
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          description: An object override allows you to define an alternate value for an object on a device or domain.
          type: object
        type:
          description: Type of the response object. This value is always ApplicationProductivity.
          type: string
        version:
          description: Version number of the response object.
          type: string
      type: object
    ISecurityZoneObjectModel:
      properties:
        description:
          type: string
        devices:
          items:
            $ref: '#/components/schemas/IInterfaceDeviceModel'
            type: object
          type: array
        id:
          type: string
        interfaceMode:
          enum:
          - PASSIVE
          - INLINE
          - SWITCHED
          - ROUTED
          - ASA
          type: string
        interfaces:
          items:
            $ref: '#/components/schemas/IFTDInterface'
            type: object
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        metadata:
          $ref: '#/components/schemas/IMetadata'
          type: object
        name:
          type: string
        overridable:
          type: boolean
        overrides:
          $ref: '#/components/schemas/IOverride'
          type: object
        subType:
          type: string
        type:
          type: string
        version:
          type: string
      type: object
    FTDHAMonitoredInterfacesListContainer:
      properties:
        items:
          $ref: '#/components/schemas/FTDHAMonitoredInterfaces'
          type: array
        links:
          $ref: '#/components/schemas/ILinks'
          type: object
        paging:
          $ref: '#/components/schemas/PagingContainer'
          type: object
      type: object
  parameters:
    limit:
      description: Number of items to return.
      in: query
      name: limit
      required: false
      schema:
        format: int32
        type: integer
    domainUUID:
      description: Domain UUID
      in: path
      name: domainUUID
      required: true
      schema:
        type: string
    offset:
      description: Index of first item to return.
      in: query
      name: offset
      required: false
      schema:
        format: int32
        type: integer
    expanded:
      description: If set to true, the GET response displays a list of objects with additional attributes.
      in: query
      name: expanded
      required: false
      schema:
        type: boolean
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-refined-from:
- cdfmc-openapi.yaml
- cisco-secure-firewall-cdfmc-openapi.yml
