openapi: 3.2.0
info:
  title: Mesh Policy Engine AWS Client Credentials API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: AWS Client Credentials
paths:
  /support/client_credential:
    get:
      description: 'Roles allowed: entitlements-manager'
      operationId: getSecretFromAWS
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentials'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get secret value from AWS secret
      tags:
      - AWS Client Credentials
    put:
      description: 'Roles allowed: entitlements-manager'
      operationId: updateSecretToAWS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCredentials'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Update secret value for secret in AWS
      tags:
      - AWS Client Credentials
components:
  schemas:
    TokenCredentialDetails:
      properties:
        token:
          type: string
      type: object
    CredentialDetails:
      properties:
        cmcdCredentials:
          $ref: '#/components/schemas/CMCDCredentialDetails'
        tokenCredentials:
          $ref: '#/components/schemas/TokenCredentialDetails'
        type:
          enum:
          - USERNAME_PASSWORD
          - TOKEN
          - CMCD_CREDENTIALS
          type: string
        usernamePasswordCredentials:
          $ref: '#/components/schemas/UsernamePasswordCredentialDetails'
      type: object
    UsernamePasswordCredentialDetails:
      properties:
        password:
          type: string
        username:
          type: string
      type: object
    ClientCredentials:
      properties:
        integrationCredentials:
          additionalProperties:
            $ref: '#/components/schemas/CredentialDetails'
          type: object
      type: object
    CMCDCredentialDetails:
      properties:
        accountName:
          type: string
        apiKeyId:
          type: string
        apiKeySecret:
          type: string
        url:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
