openapi: 3.2.0
info:
  contact:
    email: sigopi@cisco.com
    name: Sindhu Gopi
    url: http://cisco.com
  description: '## Integration endpoint for Config Service'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Config Service Integration Integration Health API
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/config.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/config.yaml
servers:
- url: https://api.security.cisco.com/context/integrations/v1
tags:
- name: Integration Health
paths:
  /health/ise/{integrationId}:
    get:
      description: Fetches the health of ISE integration by fetching the health of connector and adapter
      operationId: fetchHealth
      parameters:
      - description: The ID of the integration
        in: path
        name: integrationId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ProductTenantId'
      - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationHealth'
          description: OK
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Bad Request
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Unauthorized
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Forbidden
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
          description: Not Found
          headers:
            Date:
              $ref: '#/components/headers/Date'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500'
          description: Internal Server Error
          headers:
            Date:
              $ref: '#/components/headers/Date'
      security:
      - bearerAuth: []
      summary: Fetch health of ISE integration
      tags:
      - Integration Health
components:
  parameters:
    ProductTenantId:
      description: Tenant ID of the product
      in: header
      name: x-Product-Tenant-Id
      required: true
      schema:
        type: string
    ProductId:
      description: Name of the product
      example: Secure Access
      in: header
      name: x-Product-Id
      required: true
      schema:
        type: string
  schemas:
    IntegrationHealth:
      description: IntegrationHealth object
      properties:
        message:
          description: integration health status message
          example: Integration is active
          type: string
        status:
          description: integration health status
          enum:
          - unknown
          - active
          - warning
          - error
          example: active
          type: string
      type: object
    '403':
      description: Typical 403 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 403
          type: integer
        message:
          description: brief description of the error
          example: Forbidden
          type: string
        timestamp:
          description: timestamp of the error event
          example: '2024-01-22T03:12:46.090049959'
          format: date-time
          type: string
        trackingId:
          description: logs tracking ID
          example: trackingId_placeholder
          type: string
      type: object
    '401':
      description: Typical 401 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 401
          type: integer
        message:
          description: brief description of the error
          example: Authorization Header not found.
          type: string
        timestamp:
          description: timestamp of the error event
          example: '2024-01-22T03:12:46.090049959'
          format: date-time
          type: string
        trackingId:
          description: logs tracking ID
          example: trackingId_placeholder
          type: string
      type: object
    '404':
      description: Typical 404 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 404
          type: integer
        message:
          description: brief description of the error
          example: Integration matching the id is not found
          type: string
      type: object
    '400':
      description: Typical 400 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 400
          type: integer
        message:
          description: brief description of the error
          example: Integration Id is not a valid UUID
          type: string
      type: object
    '500':
      description: Typical 500 response body for Context Service requests
      properties:
        code:
          description: HTTP error code
          example: 500
          type: integer
        message:
          description: brief description of the error
          example: Something went wrong
          type: string
      type: object
  headers:
    Date:
      description: Response date and time
      example: Tue, 23 Jul 2024 16:13:30 UTC
      schema:
        pattern: (((Mon|Tue|Wed|Thu|Fri|Sat|Sun))[,]\s[0-9]{1,2})\s(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s([0-9]{4})\s([0-9]{2}):([0-9]{2})(:([0-9]{2}))?\sUTC\s?
        type: string
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: security scheme
      scheme: bearer
      type: http
