openapi: 3.2.0
info:
  title: Cisco Secure Firewall Object Management API
  contact:
    name: Cisco Security Cloud Control TAC
    email: cdo.tac@cisco.com
  version: '1.0'
  description: 'Operations tagged Object Management across 3 of this provider''s published API definitions: cisco-secure-firewall-scc-firewall-manager-openapi.yml, cisco-secure-firewall-scc-object-service-openapi-openapi.json, scc-firewall-manager-openapi.yaml. Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-scc-firewall-manager-openapi.yml, the provider's source document. Operations and schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-scc-firewall-manager-openapi.yml
    operation_coverage: 12/12
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
- url: https://edge.us.cdo.cisco.com/api/rest
  description: US
- url: https://edge.eu.cdo.cisco.com/api/rest
  description: EU
- url: https://edge.apj.cdo.cisco.com/api/rest
  description: APJ
- url: https://edge.aus.cdo.cisco.com/api/rest
  description: AUS
- url: https://edge.in.cdo.cisco.com/api/rest
  description: IN
- url: https://edge.staging.cdo.cisco.com/api/rest
  description: Staging
- url: https://edge.scale.cdo.cisco.com/api/rest
  description: Scale
- url: https://edge.ci.cdo.cisco.com/api/rest
  description: CI
tags:
- name: Object Management
paths:
  /v1/objects:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      description: 'Get objects in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getObjects
      parameters:
      - description: The query to execute. Use the Lucene Query Syntax to construct your query. Possible fields to search by are name, content.
        example: content:*2.2.* AND name:Lab1
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: If enabled, the search will also include results from override objects.
        in: query
        name: includeOverrides
        required: false
        schema:
          default: false
          type: boolean
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: string
      - deprecated: true
        description: The fields to sort results by. This parameter is deprecated.
        example: name:DESC
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: The fields to sort results by.
        example: name:DESC
        in: query
        name: sort
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObjectResponse'
          description: A paginated view of the Security Cloud Control objects.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Objects
      tags:
      - Object Management
    post:
      description: 'Create an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: createObject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
          description: A descriptive representation of the created Security Cloud Control object.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Create Object
      tags:
      - Object Management
  /v1/objects/{uid}:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    delete:
      description: 'Delete an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: deleteObject
      parameters:
      - description: The unique identifier of the object being deleted.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          content:
            '*/*':
              schema:
                type: object
          description: No content
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Delete Object
      tags:
      - Object Management
    get:
      description: 'Gets an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getObject
      parameters:
      - description: The unique identifier of the object being retrieved.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      - description: The scope of the fields to be retrieved. One of ["@basic", "@detailed"]. Defaults to "@basic".
        example: '@detailed'
        in: query
        name: fields
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
          description: OK
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Object
      tags:
      - Object Management
    patch:
      description: 'Modify an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: modifyObject
      parameters:
      - description: The unique identifier of the object being updated.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
          description: A descriptive representation of the updated Security Cloud Control object.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Modify Object
      tags:
      - Object Management
  /v1/objects/{uid}/duplicates:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      description: 'Get objects in the Security Cloud Control tenant that are duplicates of the given object. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getDuplicateObjects
      parameters:
      - description: The unique identifier of the object to retrieve duplicates for.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      - description: the unique identifier of the target to restrict the duplicate search to.
        example: 6131daad-e813-4b8f-8f42-be1e241e8cdb
        in: query
        name: targetUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DuplicateGroupDto'
                type: array
          description: Duplicates of the object.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Duplicate Objects
      tags:
      - Object Management
  /v1/objects/{uid}/targets:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    delete:
      description: 'Delete targets from an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: deleteTargets
      parameters:
      - description: the unique identifier of the object for which the targets are being removed from.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      - description: The list of UIDs of the targets being removed.
        example: '[7131daad-e813-4b8f-8f42-be1e241e8cdb, yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy]'
        in: query
        name: targetUuids
        required: true
        schema:
          items:
            type: string
          type: array
      responses:
        '204':
          content:
            '*/*':
              schema:
                type: object
          description: No content
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          content:
            '*/*':
              schema:
                type: object
          description: Not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Delete Targets
      tags:
      - Object Management
    get:
      description: 'Get targets from an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getTargets
      parameters:
      - description: The unique identifier of the object for which the targets are being retrieved.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      - description: 'The query to execute. Use the Lucene Query Syntax to construct your query. Possible fields to search by are: targetType.'
        example: targetType:MCD
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The offset of the results retrieved. The Security Cloud Control API uses the offset field to determine the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: string
      - description: The number of results to retrieve.
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObjectResponse'
          description: A paginated view of the Security Cloud Control targets.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Targets
      tags:
      - Object Management
    post:
      description: 'Create targets for an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: createTargets
      parameters:
      - description: the unique identifier of the object for which the targets are being added to.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetsRequest'
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                type: object
          description: No content
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '404':
          content:
            '*/*':
              schema:
                type: object
          description: Not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Create Targets
      tags:
      - Object Management
  /v1/objects/{uid}/usage:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      description: 'Get usages of an object in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getObjectUsages
      parameters:
      - description: The unique identifier of the object to retrieve usages for.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReferenceInfo'
                type: array
          description: A descriptive representation of the created Security Cloud Control object.
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Object Usages
      tags:
      - Object Management
  /v1/objects/issues-count:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      description: 'Get issues count in the Security Cloud Control tenant. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getIssuesCount
      parameters:
      - description: The query to execute. Use the Lucene Query Syntax to construct your query. Possible fields to search by are name, content.
        example: content:*2.2.* AND name:Lab1
        in: query
        name: q
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesCount'
          description: OK
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Issues Count
      tags:
      - Object Management
  /v1/objects/overrides/{uid}:
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
    get:
      description: 'Gets an object in the Security Cloud Control tenant with values for specific target uid. To use the object APIs, contact customer support or provision Multicloud Defense and turn on object sharing. Note: the object APIs only support operations on network objects and groups.'
      operationId: getOverrideObject
      parameters:
      - description: The unique identifier of the object being retrieved.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: path
        name: uid
        required: true
        schema:
          format: uuid
          type: string
      - description: The target UID to calculate values for.
        example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
        in: query
        name: targetUid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
          description: OK
        '400':
          $ref: '#/components/responses/http400BadRequest'
        '401':
          $ref: '#/components/responses/http401Unauthorised'
        '403':
          $ref: '#/components/responses/http403Forbidden'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonApiError'
          description: Internal server error.
      summary: Get Override Object With Values For Specific Target
      tags:
      - Object Management
components:
  schemas:
    SharedObjectValue:
      properties:
        defaultContent:
          $ref: '#/components/schemas/ObjectContent'
          description: The default value of the object
        objectType:
          description: The type of object
          enum:
          - NETWORK_OBJECT
          - URL_OBJECT
          - SERVICE_OBJECT
          - NETWORK_GROUP
          - URL_GROUP
          - SERVICE_GROUP
          example: NETWORK_OBJECT
          type: string
        overrides:
          description: The list of target overrides for the object. Each override the default content for its target.
          items:
            $ref: '#/components/schemas/Override'
          type: array
      required:
      - defaultContent
      - objectType
      type: object
    SingleContent:
      oneOf:
      - $ref: '#/components/schemas/ServiceObjectContent'
      - $ref: '#/components/schemas/UrlObjectContent'
      - $ref: '#/components/schemas/NetworkObjectContent'
      properties:
        type:
          enum:
          - NETWORK_OBJECT
          - URL_OBJECT
          - SERVICE_OBJECT
          - ICMP_4
          - ICMP_6
          - SOURCE_DESTINATION_PORT
          - PORT
          - PROTOCOL_VALUE
          type: string
      type: object
    UpdateRequest:
      properties:
        description:
          description: The description of the object
          example: My object description
          type: string
        labels:
          description: The labels for the object
          example:
          - migration
          items:
            type: string
          type: array
          uniqueItems: true
        name:
          description: The name of the object to update
          example: my-object
          type: string
        tags:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The tags for the object
          example:
            location:
            - London
            - Head-office
          type: object
        value:
          $ref: '#/components/schemas/SharedObjectValue'
          description: The value of the object
      type: object
    ListObjectResponse:
      properties:
        count:
          description: The total number of results available.
          example: 100
          format: int64
          type: integer
        items:
          description: The list of objects retrieved.
          items:
            $ref: '#/components/schemas/UnifiedObjectListView'
          type: array
        limit:
          description: The number of results retrieved.
          example: 50
          format: int64
          maximum: 200
          type: integer
        offset:
          description: The offset of the results retrieved. The CDO API uses the offset field to determine the index of the first result retrieved, and will retrieve `limit` results from the offset specified.
          example: 0
          format: int64
          type: integer
      type: object
    ObjectContent:
      example:
        literal: a:b:c::1
      oneOf:
      - $ref: '#/components/schemas/ServiceObjectContent'
      - $ref: '#/components/schemas/UrlObjectContent'
      - $ref: '#/components/schemas/GroupContent'
      - $ref: '#/components/schemas/NetworkObjectContent'
    CommonApiError:
      properties:
        details:
          additionalProperties:
            description: Additional details, if any, on the error
            example: {}
            type: object
          description: Additional details, if any, on the error
          example: {}
          type: object
        errorCode:
          description: A unique code that describes the error.
          enum:
          - INVALID_INPUT
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - METHOD_NOT_ALLOWED
          - CONFLICT
          - TOO_MANY_REQUESTS
          - SERVER_ERROR
          - PROXY_ERROR
          - BAD_REQUEST
          - UNPROCESSABLE_ENTITY
          example: INVALID_INPUT
          type: string
        errorMsg:
          description: A human-readable error description in English.
          example: sample error
          type: string
    Target:
      properties:
        displayName:
          description: The display name of the target
          example: My ASA
          type: string
        id:
          description: The ID of the target with which the object is associated. A target can be, for example, a device, service, or a shared policy (Ruleset).
          example: '[7131daad-e813-4b8f-8f42-be1e241e8cdb]'
          type: string
        type:
          description: The target type
          enum:
          - ASA
          - FDM_MANAGED_FTD
          - CDFMC
          - CDFMC_MANAGED_FTD
          - SFCN
          - AWS_VPC
          - ONPREM_FMC
          - MERAKI_MX
          - FDM_RULESET
          - ONPREM_FMC_MANAGED_FTD
          - MCD
          - SDWAN
          - SECURE_ACCESS
          example: ASA
          type: string
      type: object
    SourceDestinationPortsValue:
      properties:
        destination:
          $ref: '#/components/schemas/PortsValue'
        source:
          $ref: '#/components/schemas/PortsValue'
      type: object
    AuthenticationError:
      properties:
        error:
          description: A human-readable error description in English.
          example: invalid_token
          type: string
        errorDescription:
          description: A human-readable error description in English.
          example: Your token is invalid
          type: string
    UrlObjectContent:
      properties:
        url:
          description: The URL literal
          example: https://www.cisco.com/
          minLength: 1
          type: string
      required:
      - url
      type: object
    Icmp4Value:
      properties:
        icmp4Code:
          enum:
          - NET_UNREACHABLE
          - HOST_UNREACHABLE
          - PROTOCOL_UNREACHABLE
          - PORT_UNREACHABLE
          - FRAGMENTATION_NEEDED
          - SOURCE_ROUTE_FAILED
          - DEST_NETWORK_UNKNOWN
          - DEST_HOST_UNKNOWN
          - SRC_HOST_ISOLATED
          - COMMUNICATION_DEST_NET_PROHIBITED
          - COMMUNICATION_DEST_HOST_PROHIBITED
          - DEST_NET_UNREACHABLE_FOR_TOS
          - DEST_HOST_UNREACHABLE_FOR_TOS
          - COMM_ADMINISTRATIVELY_PROHIBITED
          - HOST_PRECEDENCE_VIOLATION
          - PRECEDENCE_CUTOFF
          - REDIRECT_DATAGRAM_NETWORK
          - REDIRECT_DATAGRAM_HOST
          - REDIRECT_DATAGRAM_SERVICE_NETWORK
          - REDIRECT_DATAGRAM_SERVICE_HOST
          - ALTERNATE_HOST_ADDR
          - DO_NOT_ROUTE_COMMON_TRAFFIC
          - NORMAL_ROUTER_ADV
          - TTL_EXPIRED_TRANSIT
          - FRAG_ASSEMBLY
          - PTR_ERROR
          - MISSING_REQD_OPTION
          - BAD_LENGTH
          - BAD_SPI
          - AUTH_FAILED
          - DECOMPRESSION_FAILED
          - DECRYPTION_FAILED
          - NEED_AUTHENTICATION
          - NEED_AUTHORIZATION
          example: NET_UNREACHABLE
          type: string
        icmp4Type:
          enum:
          - ANY
          - ECHO_REPLY
          - DESTINATION_UNREACHABLE
          - SOURCE_QUENCH
          - REDIRECT_MESSAGE
          - ALTERNATE_HOST_ADDRESS
          - ECHO_REQUEST
          - ROUTER_ADVERTISEMENT
          - ROUTER_SOLICITATION
          - TIME_EXCEEDED
          - PARAMETER_PROBLEM
          - TIMESTAMP
          - TIMESTAMP_REPLY
          - INFO_REQUEST
          - INFO_REPLY
          - ADDR_MASK_REQUEST
          - ADDR_MASK_REPLY
          - TRACEROUTE
          - DATAGRAM_CONVERSION_ERROR
          - MOBILE_HOST_REDIRECT
          - WHERE_ARE_YOU
          - HERE_I_AM
          - MOBILE_REG_REQUEST
          - MOBILE_REG_REPLY
          - DOMAIN_NAME_REQUEST
          - DOMAIN_NAME_REPLY
          - SKIP_ALGORITHM_DISCOVERY_PROTOCOL
          - PHOTURIS
          - EXPERIMENTAL_MOB_PROTOCOLS
          example: DESTINATION_UNREACHABLE
          type: string
      type: object
    IssuesDto:
      properties:
        duplicateTargetIds:
          items:
            type: string
          type: array
          uniqueItems: true
        unusedTargetIds:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    IssuesCount:
      properties:
        duplicates:
          description: Number of duplicate Objects
          example: 2
          format: int64
          type: integer
        totalObjects:
          description: Total number of objects for the tenant
          example: 4
          format: int64
          type: integer
        unAssociated:
          description: Number of UnAssociated Objects
          example: 1
          format: int64
          type: integer
        unUseds:
          description: Number of unAssigned Objects
          example: 1
          format: int64
          type: integer
      type: object
    NetworkObjectContent:
      description: The content of a network object
      properties:
        literal:
          description: The literal content of the network object
          example: a:b:c::1
          minLength: 1
          type: string
      required:
      - literal
      type: object
    CreateRequest:
      properties:
        description:
          description: The human-readable description of the object
          example: My object description
          type: string
        labels:
          description: The labels for the object
          example:
          - migration
          items:
            type: string
          type: array
          uniqueItems: true
        name:
          description: The name of the object
          example: my-object
          minLength: 1
          type: string
        tags:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The tags for the object
          example:
            location:
            - London
            - Head-office
          type: object
        targetIds:
          description: Set of IDs for targets that contain the object. A target can be, for example, a device, service, or a shared policy (Ruleset).
          example:
          - 7131daad-e813-4b8f-8f42-be1e241e8cdb
          items:
            type: string
          type: array
          uniqueItems: true
        value:
          $ref: '#/components/schemas/SharedObjectValue'
          description: The value of the object
      required:
      - name
      - value
      type: object
    DuplicateGroupDto:
      properties:
        targetUid:
          description: The unique identifier of the target to search in.
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        unifiedObjectUids:
          description: The set of unique identifiers of the duplicate objects.
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
      type: object
    PortsValue:
      properties:
        literal:
          description: The literal port or range of port values
          example: 8000-8080
          type: string
      type: object
    Icmp6Value:
      properties:
        icmp6Code:
          enum:
          - NO_ROUTE_DEST
          - COMMUNICATION_PROHIBITED
          - BEYOND_SCOPE_SRC_ADDR
          - ADDRESS_UNREACHABLE
          - PORT_UNREACHABLE
          - SOURCE_ADDRESS_FAILED
          - REJECT_ROUTE
          - ERROR_SRC_ROUTING_HEADER
          - HOP_LIMIT_EXCEEDED
          - FRAGMENT_REASSEMBLY_TIME_EXCEEDED
          - ERRONEOUS_HEADER_ENCOUNTERED
          - UNRECOGNIZED_NEXT_HEADER_TYPE_ENCOUNTERED
          - UNRECOGNIZED_IPV6_OPTION_ENCOUNTERED
          - IPV6_FIRST_FRAG_HAS_INCOMPLETE_HEADER_CHAIN
          - SR_UPPER_LAYER_HEADER_ERROR
          - ROUTER_RENUMBERING_COMMAND
          - ROUTER_RENUMBERING_RESULT
          - DATA_CONTAINS_IPV6
          - DATA_CONTAINS_NAME
          - DATA_CONTAINS_IPV4
          - SUCCESSFUL_REPLY
          - RESPONDER_REFUSES_ANSWER
          - QTYPE_UNKNOWN
          example: ADDRESS_UNREACHABLE
          type: string
        icmp6Type:
          enum:
          - ANY
          - DESTINATION_UNREACHABLE
          - PACKET_TOO_BIG
          - TIME_EXCEEDED
          - PARAMETER_PROBLEM
          - ECHO_REQUEST
          - ECHO_REPLY
          - MULTICAST_LISTENER_QUERY
          - MULTICAST_LISTENER_REPORT
          - MULTICAST_LISTENER_DONE
          - ROUTER_SOLICITATION
          - ROUTER_ADVERTISEMENT
          - NEIGHBOUR_SOLICITATION
          - NEIGHBOUR_ADVERTISEMENT
          - REDIRECT_MESSAGE
          - ROUTER_RENUMBERING
          - ICMP_NODE_INFO_QUERY
          - ICMP_NODE_INFO_RESPONSE
          - INVERSE_NEIGHBOR_DISCOVERY_SOLICITATION
          - INVERSE_NEIGHBOR_DISCOVERY_ADVERTISEMENT
          - VER2_MULTICAST_LISTENER_REPORT
          - HOME_AGENT_ADDR_DISCOVERY_REQUEST
          - HOME_AGENT_ADDR_DISCOVERY_REPLY
          - MOBILE_PREFIX_SOLICITATION
          - MOBILE_PREFIX_ADVERTISEMENT
          - CERT_PATH_SOLICITATION
          - CERT_PATH_ADVERTISEMENT
          - ICMP_EXP_MOBILITY_PROTOCOLS
          - MULTICAST_ROUTER_ADVERTISEMENT
          - MULTICAST_ROUTER_SOLICITATION
          - MULTICAST_ROUTER_TERMINATION
          - FMIPV6_MESSAGE
          - RPL_CONTROL_MESSAGE
          - PRIVATE_EXPERIMENTATION
          - PRIVATE_EXPERIMENTATION_EXTENDED
          example: DESTINATION_UNREACHABLE
          type: string
      type: object
    ReferenceInfo:
      properties:
        name:
          description: The name of the referenced object
          example: another-object
          type: string
        objectType:
          description: The object type
          enum:
          - NETWORK_OBJECT
          - URL_OBJECT
          - SERVICE_OBJECT
          - NETWORK_GROUP
          - URL_GROUP
          - SERVICE_GROUP
          example: NETWORK_OBJECT
          type: string
        uid:
          description: The unique identifier of the referenced object
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
      type: object
    GroupContent:
      description: The contents of an object group
      properties:
        literals:
          description: List of content literals
          items:
            $ref: '#/components/schemas/SingleContent'
          type: array
        referencedObjectUids:
          description: Set of UIDs of the group's referenced objects
          example:
          - 7131daad-e813-4b8f-8f42-be1e241e8cdb
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
      type: object
    ProtocolValueContent:
      properties:
        protocolValue:
          description: The literal for a custom protocol value
          example: www
          type: string
      type: object
    UnifiedObjectListView:
      properties:
        description:
          type: string
        issues:
          $ref: '#/components/schemas/IssuesDto'
        labels:
          items:
            type: string
          type: array
          uniqueItems: true
        name:
          type: string
        overrideIds:
          items:
            type: string
          type: array
          uniqueItems: true
        tags:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          type: object
        targetIds:
          items:
            type: string
          type: array
          uniqueItems: true
        uid:
          format: uuid
          type: string
        value:
          $ref: '#/components/schemas/SharedObjectValue'
      type: object
    ServiceObjectContent:
      properties:
        protocol:
          description: The service object protocol
          enum:
          - TCP
          - UDP
          - ICMP
          - ICMP4
          - ICMP6
          - TCP_UDP
          - IGMP
          - GGP
          - ST2
          - CBT
          - EGP
          - IGP
          - BBNRCCMON
          - NVP2
          - PUP
          - ARGUS
          - EMCON
          - XNET
          - CHAOS
          - MUX
          - DCNMEAS
          - HMP
          - PRM
          - XNSIDP
          - TRUNK1
          - TRUNK2
          - LEAF1
          - LEAF2
          - RDP
          - IRTP
          - ISOTP4
          - NETBLT
          - MFENSP
          - MERITINP
          - SEP
          - THREEPC
          - IDPR
          - XTP
          - DDP
          - IDPRCMTP
          - TPPLUSPLUS
          - IL
          - SDRP
          - IDRP
          - RSVP
          - GRE
          - MHRP
          - BNA
          - ESP
          - AH
          - INLSP
          - SWIPE
          - NARP
          - MOBILE
          - TLSP
          - SKIP
          - IPv6NONXT
          - CFTP
          - SATEXPAK
          - KRYPTOLAN
          - RVD
          - IPPC
          - SATMON
          - VISA
          - IPCV
          - CPNX
          - CPHB
          - WSN
          - PVP
          - BRSATMON
          - SUNND
          - WBMON
          - WBEXPAK
          - ISOIP
          - VMTP
          - SECUREVMTP
          - VINES
          - TTP
          - NSFNETIGP
          - DGP
          - TCF
          - EIGRP
          - OSPFIGP
          - SPRITERPC
          - LARP
          - MTP
          - AX25
          - IPIP
          - MICP
          - SCCSP
          - ETHERIP
          - ENCAP
          - GMTP
          - IFMP
          - PNNI
          - PIM
          - ARIS
          - SCPS
          - QNX
          - AN
          - IPCOMP
          - SNP
          - COMPAQPEER
          - IPXINIP
          - VRRP
          - PGM
          - L2TP
          - DDX
          - IATP
          - ST
          - SRP
          - UTI
          - SMP
          - SM
          - PTP
          - ISIS
          - FIRE
          - CRTP
          - CRUDP
          - SSCOPMCE
          - IPLT
          - SPS
          - PIPE
          - SCTP
          - FC
          - DIVERT
          - CUSTOM
          example: TCP
          type: string
        serviceValue:
          $ref: '#/components/schemas/ServiceObjectValueContent'
          description: The value of the service object
          example:
          - '80'
          - '81'
      type: object
    ServiceObjectValueContent:
      example: '{ "8000-9000"] }'
      oneOf:
      - $ref: '#/components/schemas/Icmp4Value'
      - $ref: '#/components/schemas/Icmp6Value'
      - $ref: '#/components/schemas/SourceDestinationPortsValue'
      - $ref: '#/components/schemas/PortsValue'
      - $ref: '#/components/schemas/ProtocolValueContent'
      properties:
        type:
          enum:
          - NETWORK_OBJECT
          - URL_OBJECT
          - SERVICE_OBJECT
          - ICMP_4
          - ICMP_6
          - SOURCE_DESTINATION_PORT
          - PORT
          - PROTOCOL_VALUE
          type: string
      type: object
    ObjectResponse:
      properties:
        description:
          description: The human-readable description of the object
          example: My object description
          type: string
        elements:
          description: A flattened list of the content value of the object
          example: '[a:b:c::1]'
          items:
            type: string
          type: array
        issues:
          $ref: '#/components/schemas/IssuesDto'
          description: The issues for the object
          example:
            unusedTargetIds:
            - 7131daad-e813-4b8f-8f42-be1e241e8cdb
        labels:
          description: The labels for the object
          example:
          - migration
          items:
            type: string
          type: array
          uniqueItems: true
        name:
          description: The name of the object
          example: my-object
          type: string
        referencesInfoFromDefaultAndOverrides:
          description: List of objects referenced in the default content or in any of the overrides.
          items:
            $ref: '#/components/schemas/ReferenceInfo'
          type: array
        tags:
          additionalProperties:
            items:
              type: string
            type: array
            uniqueItems: true
          description: The tags for the object
          example:
            location:
            - London
            - Head-office
          type: object
        targets:
          description: Set of targets that contain the object. A target can be, for example, a device, service, or a shared policy (Ruleset).
          items:
            $ref: '#/components/schemas/Target'
          type: array
        uid:
          description: The unique identifier of the object
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          format: uuid
          type: string
        value:
          $ref: '#/components/schemas/SharedObjectValue'
          description: The value of the object
      type: object
    Override:
      example:
        content: a:b:c::2
        targetId: 7131daad-e813-4b8f-8f42-be1e241e8cdb
      properties:
        content:
          $ref: '#/components/schemas/ObjectContent'
          description: The content value of the override. This overrides the object's default content.
        targetId:
          description: The ID of the target. A target can be, for example, a device, service, or a shared policy (Ruleset).
          example: 7131daad-e813-4b8f-8f42-be1e241e8cdb
          type: string
      required:
      - content
      type: object
    TargetsRequest:
      properties:
        targetsUuids:
          description: The list of UIDs of the targets to be deleted.
          example:
          - 7131daad-e813-4b8f-8f42-be1e241e8cdb
          items:
            type: string
          type: array
      type: object
  responses:
    http400BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonApiError'
      description: Invalid input provided. Check the response for details.
    http403Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonApiError'
      description: User does not have sufficient privileges to perform this operation.
    http401Unauthorised:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationError'
      description: Request not authorized.
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
x-refined-from:
- cisco-secure-firewall-scc-firewall-manager-openapi.yml
- cisco-secure-firewall-scc-object-service-openapi-openapi.json
- scc-firewall-manager-openapi.yaml
