openapi: 3.2.0
info:
  title: Mesh Policy Engine Topology Tag Key API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: Topology Tag Key
paths:
  /topology/tag-keys:
    get:
      description: 'Roles allowed: support,topology-rw,topology-ro'
      operationId: getTopologyTagKeys
      parameters:
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: count
        required: true
        schema:
          format: int32
          maximum: 256
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagKeyPage'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get tag keys
      tags:
      - Topology Tag Key
    post:
      description: 'Roles allowed: support,topology-rw'
      operationId: upsertTopologyTagKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopologyTagKeysApi'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Upsert tag keys
      tags:
      - Topology Tag Key
components:
  schemas:
    TopologyTagKey:
      properties:
        id:
          type: string
        mutuallyExclusive:
          type: boolean
        required:
          type: boolean
        strict:
          type: boolean
      required:
      - id
      - mutuallyExclusive
      - required
      - strict
      type: object
    TagKeyPage:
      properties:
        cursor:
          type: string
        tagKeys:
          items:
            type: string
          type: array
      type: object
    TopologyTagKeysApi:
      properties:
        tagKeys:
          items:
            $ref: '#/components/schemas/TopologyTagKey'
          type: array
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
