openapi: 3.2.0
info:
  title: Cisco Secure Firewall Templates API
  version: 1.13.0
  contact:
    name: Cisco Firepower TAC
    email: ngfw-support@cisco.com
  description: 'Operations tagged Templates across 2 of this provider''s published API definitions: cdfmc-openapi.yaml, cisco-secure-firewall-cdfmc-openapi.yml.
    Each path carries the servers of the definition it was published in.'
  x-provenance:
    method: harvested
    first_party: true
    harvested: '2026-08-19'
    source: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    source_repo: https://github.com/CiscoDevNet/scc-public-api-docs
    note: Verbatim first-party OpenAPI published by Cisco in the CiscoDevNet scc-public-api-docs repository, the source of
      record for developer.cisco.com/docs/cisco-security-cloud-control-firewall-manager/. Not authored or modified by API
      Evangelist.
    derived_view: Per-tag view of cisco-secure-firewall-cdfmc-openapi.yml, the provider's source document. Operations and
      schemas are the provider's, unmodified; only the partition is ours.
    derived_from: cisco-secure-firewall-cdfmc-openapi.yml
    operation_coverage: 29/29
  x-evidence:
    fetched: '2026-08-19'
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/cdo/cdfmc-openapi.yaml
    http_status: 200
servers:
- url: https://api.us.security.cisco.com/firewall
  description: US
- url: https://api.eu.security.cisco.com/firewall
  description: EU
- url: https://api.apj.security.cisco.com/firewall
  description: APJ
- url: https://api.au.security.cisco.com/firewall
  description: AUS
- url: https://api.in.security.cisco.com/firewall
  description: IN
- url: https://api.int.security.cisco.com/firewall
  description: Staging
- url: https://scale.manage.security.cisco.com/api/rest
  description: Scale
- url: https://ci.manage.security.cisco.com/api/rest
  description: CI
- url: https://manage.stg.secure.cisco/api/rest
  description: Stgf9
tags:
- name: Templates
paths:
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates:
    get:
      deprecated: false
      description: '**Get all device templates**'
      operationId: getAllDeviceTemplates
      parameters:
      - description: 'Filter by <code>includeOtherAssociatedPolicies </code> -- Allowed values are <code>{true|false}</code>.
          When set to <code>true</code>, will give following policies if assigned to device: [<code>HealthPolicy</code>,<code>RAVpn</code>,<code>FTDS2SVpn</code>,<code>PlatformSettingsPolicy</code>,<code>QosPolicy</code>,<code>NatPolicy</code>,<code>FlexConfigPolicy</code>]'
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: Boolean indicating whether to include metadata in the response. Metadata includes associated variables,
          model mappins, and number of devices associated with the template.
        in: query
        name: addOnMetadata
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates ( Get all DeviceTemplates )':
                  value:
                    items:
                    - accessPolicy:
                        id: 0050568A-02BD-0ed3-0000-008589934661
                        name: ACpolicy
                        type: AccessPolicy
                      description: Template description
                      firewallMode: ROUTED
                      id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                      name: DeviceTemplateExample
                      type: DeviceTemplate
                    - accessPolicy:
                        id: 0050568A-02BD-0ed3-0000-008589934661
                        name: ACPolicy1
                        type: AccessPolicy
                      description: Template 2 description
                      firewallMode: TRANSPARENT
                      id: cd7655b0-ab61-11ed-b37b-cf540e11c570
                      name: DeviceTemplateExample2
                      type: Templates
                    links:
                      self: api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates
              schema:
                $ref: '#/components/schemas/DeviceTemplatesListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    post:
      deprecated: false
      description: '**Add device template with the given payload. _Check the response section for applicable examples (if
        any)._**'
      operationId: createDeviceTemplates
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              'Example 1 : POST /fmc_config/v1/domain/DomainUUID/templates/devicetemplates ( Add a device template )':
                value:
                  accessPolicy:
                    id: 0050568A-02BD-0ed3-0000-008589934661
                    type: AccessPolicy
                  description: Example of a Device Template
                  firewallMode: ROUTED
                  name: DeviceTemplateExample
            schema:
              $ref: '#/components/schemas/DeviceTemplates'
              type: object
        description: Device template payload.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                'Example 1 : POST /fmc_config/v1/domain/DomainUUID/templates/devicetemplates ( Add a device template )':
                  value:
                    accessPolicy:
                      id: 0050568A-02BD-0ed3-0000-008589934661
                      name: ACPolicy
                      type: AccessPolicy
                    description: Example of a Device Template
                    firewallMode: ROUTED
                    id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                    name: DeviceTemplateExample
                    type: DeviceTemplate
              schema:
                $ref: '#/components/schemas/DeviceTemplates'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}:
    delete:
      deprecated: false
      description: '**Delete the device template with the specified ID. _Check the response section for applicable examples
        (if any)._**'
      operationId: deleteDeviceTemplates
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : DELETE /fmc_config/v1/domain/DomainUUID/templates/devicetemplates/objectId ( Test delete of device template )':
                  value:
                    accessPolicy:
                      id: 0050568A-02BD-0ed3-0000-008589934661
                      name: ACPolicy
                      type: AccessPolicy
                    description: Template description
                    firewallMode: ROUTED
                    id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                    name: DeviceTemplateExample
                    type: DeviceTemplate
              schema:
                $ref: '#/components/schemas/DeviceTemplates'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    get:
      deprecated: false
      description: '**Get the device template with the specified ID.**'
      operationId: getDeviceTemplates
      parameters:
      - description: Boolean indicating whether to include metadata in the response. Metadata includes associated variables,
          model mappins, and number of devices associated with the template.
        in: query
        name: addOnMetadata
        required: false
        schema:
          type: boolean
      - description: Allowed values are <code>{SNOnboarding|RegKeyOnboarding}</code>.
        in: query
        name: validateForRegistration
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/objectId ( Test GET of Device Templates )':
                  value:
                    accessPolicy:
                      id: 0050568A-02BD-0ed3-0000-008589934661
                      name: ACPolicy
                      type: AccessPolicy
                    description: Template description
                    firewallMode: ROUTED
                    id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                    links:
                      self: /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/objectId
                    name: DeviceTemplateExample
                    type: DeviceTemplate
              schema:
                $ref: '#/components/schemas/DeviceTemplates'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    put:
      deprecated: false
      description: '**Modify the device template with the specified ID. _Check the response section for applicable examples
        (if any)._**'
      operationId: updateDeviceTemplates
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/template/devicetemplates/objectId ( Test PUT of device template
                to update a template )'
              : value:
                  description: Template description
                  id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                  name: DeviceTemplateExample
                  type: DeviceTemplate
            schema:
              $ref: '#/components/schemas/DeviceTemplates'
              type: object
        description: Device template payload.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /fmc_config/v1/domain/DomainUUID/template/devicetemplates/objectId ( Test PUT of device
                  template to update a template )'
                : value:
                    accessPolicy:
                      id: 0050568A-02BD-0ed3-0000-008589934661
                      name: ACPolicy
                      type: AccessPolicy
                    description: Template description
                    firewallMode: ROUTED
                    id: 92424f38-ad34-11ed-a5e6-3b430e11c570
                    name: DeviceTemplateExample
                    type: DeviceTemplate
              schema:
                $ref: '#/components/schemas/DeviceTemplates'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/associations:
    get:
      deprecated: false
      description: '**Get the list of devices associated with device templates.**'
      operationId: getDeviceTemplateAssociation
      parameters:
      - description: Filter devices by template.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/associations
                  ( GET all devices associated with Device Template )'
                : value:
                    items:
                    - device:
                        id: cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                        name: FTD-2
                        type: Device
                      id: cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                      lastAppliedStatus: FAILED
                      lastAppliedTimestamp: 1706695164.0
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/associations/cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                      overriddenValues: {}
                      syncStatus: OUT_OF_SYNC
                      type: DeviceTemplateAssociation
              schema:
                $ref: '#/components/schemas/DeviceTemplateAssociationListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/associations/{objectId}:
    delete:
      deprecated: false
      description: '**Removes the template association with the specified device. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteDeviceTemplateAssociation
      parameters:
      - description: UUID of the device associated with the template.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/associations/{objectId}
                  ( DELETE method for deleting association of a device with the specifed device template )'
                : value:
                    device:
                      id: cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                      type: Device
                    id: cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                    lastAppliedStatus: SUCCESS
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/associations/cf7fa0b2-bf30-11ee-be1a-ab9df8d04efd
                    template:
                      id: b02a4b38-c000-11ee-b131-635e66f9d48b
                      type: DeviceTemplate
                    type: DeviceTemplateAssociation
              schema:
                $ref: '#/components/schemas/DeviceTemplateAssociation'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/defaultmodelmappings/{modelName}:
    get:
      deprecated: false
      description: '**Get the default model mapping for the specified device model name.**'
      operationId: getDeviceTemplateDefaultModelMapping
      parameters:
      - description: Name of the device model.
        in: path
        name: modelName
        required: true
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTemplateDefaultModelMapping'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/modelmappings:
    get:
      deprecated: false
      description: '**Get all model mappings associated with the specified device template.**'
      operationId: getAllDeviceTemplateModelMapping
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: Boolean indicating whether to list the validation information if the validation state is invalid.
        in: query
        name: showValidationInfo
        required: false
        schema:
          type: boolean
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings
                  ( Get all model mappings associated with Device Template )'
                : value:
                    items:
                    - id: 00000000-0000-0ed3-0000-004294967965
                      interfaceMappings:
                      - modelInterface: GigabitEthernet0/0
                        templateInterface: Ethernet1/1
                      - modelInterface: GigabitEthernet0/1
                        templateInterface: Ethernet1/2
                      - modelInterface: GigabitEthernet0/2
                        templateInterface: Ethernet1/3
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/modelmappings/00000000-0000-0ed3-0000-004294967965
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: admin1
                        modelName: Cisco Secure Firewall Threat Defense for VMware
                        timestamp: 1706786066192.0
                        validationState: VALID
                      name: vFTD
                      type: ModelMapping
                    links:
                      self: api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates{containerUUID}/modelmappings
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceTemplateModelMappingListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    post:
      deprecated: false
      description: '**Create a new model mapping for the specified device template. _Check the response section for applicable
        examples (if any)._**'
      operationId: createDeviceTemplateModelMapping
      parameters:
      - description: 'UUID of the ticket for tracking the configuration changes. '
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings
                ( Creates model mapping associated with Device Template )'
              : value:
                  interfaceMappings:
                  - modelInterface: GigabitEthernet0/0
                    templateInterface: Ethernet1/1
                  - modelInterface: GigabitEthernet0/1
                    templateInterface: Ethernet1/2
                  - modelInterface: GigabitEthernet0/2
                    templateInterface: Ethernet1/3
                  name: vFTD
                  type: ModelMapping
            schema:
              $ref: '#/components/schemas/DeviceTemplateModelMapping'
              type: object
        description: Model mapping payload.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings
                  ( Creates model mapping associated with Device Template )'
                : value:
                    id: 00000000-0000-0ed3-0000-004294967965
                    interfaceMappings:
                    - modelInterface: GigabitEthernet0/0
                      templateInterface: Ethernet1/1
                    - modelInterface: GigabitEthernet0/1
                      templateInterface: Ethernet1/2
                    - modelInterface: GigabitEthernet0/2
                      templateInterface: Ethernet1/3
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/modelmappings/00000000-0000-0ed3-0000-004294967965
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin1
                      modelName: Cisco Secure Firewall Threat Defense for VMware
                      timestamp: 1706786066192.0
                      validationState: VALID
                    name: vFTD
                    type: ModelMapping
              schema:
                $ref: '#/components/schemas/DeviceTemplateModelMapping'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/modelmappings/{objectId}:
    delete:
      deprecated: false
      description: '**Remove the model mapping for the specified model mapping identifier. _Check the response section for
        applicable examples (if any)._**'
      operationId: deleteDeviceTemplateModelMapping
      parameters:
      - description: Identifier of a model mapping resource.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings/{objectId}
                  ( Deletes the specified model mapping associated with Device Template )'
                : value:
                    id: 00000000-0000-0ed3-0000-004294967965
                    interfaceMappings:
                    - modelInterface: GigabitEthernet0/0
                      templateInterface: Ethernet1/1
                    - modelInterface: GigabitEthernet0/1
                      templateInterface: Ethernet1/2
                    - modelInterface: GigabitEthernet0/2
                      templateInterface: Ethernet1/3
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/modelmappings/00000000-0000-0ed3-0000-004294967965
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin1
                      modelName: Cisco Secure Firewall Threat Defense for VMware
                      timestamp: 1706786066192.0
                      validationState: VALID
                    name: vFTD
                    type: ModelMapping
              schema:
                $ref: '#/components/schemas/DeviceTemplateModelMapping'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    get:
      deprecated: false
      description: '**Get the model mapping for the specified model mapping identifier.**'
      operationId: getDeviceTemplateModelMapping
      parameters:
      - description: Identifier of a model mapping resource.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: Boolean indicating whether to list the validation information if the validation state is invalid.
        in: query
        name: showValidationInfo
        required: false
        schema:
          type: boolean
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings/{objectId}
                  ( Gets the specified model mapping associated with Device Template )'
                : value:
                    id: 00000000-0000-0ed3-0000-004294967965
                    interfaceMappings:
                    - modelInterface: GigabitEthernet0/0
                      templateInterface: Ethernet1/1
                    - modelInterface: GigabitEthernet0/1
                      templateInterface: Ethernet1/2
                    - modelInterface: GigabitEthernet0/2
                      templateInterface: Ethernet1/3
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/modelmappings/00000000-0000-0ed3-0000-004294967965
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin1
                      modelName: Cisco Secure Firewall Threat Defense for VMware
                      timestamp: 1706786066192.0
                      validationState: VALID
                    name: vFTD
                    type: ModelMapping
              schema:
                $ref: '#/components/schemas/DeviceTemplateModelMapping'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    put:
      deprecated: false
      description: '**Modify the model mapping for the specified model mapping identifier. _Check the response section for
        applicable examples (if any)._**'
      operationId: updateDeviceTemplateModelMapping
      parameters:
      - description: Identifier of a model mapping resource.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings/{objectId}
                ( Updates the specified model mapping associated with Device Template )'
              : value:
                  id: 00000000-0000-0ed3-0000-004294967965
                  interfaceMappings:
                  - modelInterface: GigabitEthernet0/0
                    templateInterface: Ethernet1/1
                  - modelInterface: GigabitEthernet0/1
                    templateInterface: Ethernet1/2
                  - modelInterface: GigabitEthernet0/2
                    templateInterface: Ethernet1/3
                  name: vFTD
                  type: ModelMapping
            schema:
              $ref: '#/components/schemas/DeviceTemplateModelMapping'
              type: object
        description: Model mapping payload.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/{containerUUID}/modelmappings/{objectId}
                  ( Updates the specified model mapping associated with Device Template )'
                : value:
                    id: 00000000-0000-0ed3-0000-004294967965
                    interfaceMappings:
                    - modelInterface: GigabitEthernet0/0
                      templateInterface: Ethernet1/1
                    - modelInterface: GigabitEthernet0/1
                      templateInterface: Ethernet1/2
                    - modelInterface: GigabitEthernet0/2
                      templateInterface: Ethernet1/3
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/modelmappings/00000000-0000-0ed3-0000-004294967965
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin1
                      modelName: Cisco Secure Firewall Threat Defense for VMware
                      timestamp: 1706786066192.0
                      validationState: VALID
                    name: vFTD
                    type: ModelMapping
              schema:
                $ref: '#/components/schemas/DeviceTemplateModelMapping'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/objectoverrides/{containerUUID}:
    get:
      deprecated: false
      description: '**Get the object overrides list associated with the specified device template.**'
      operationId: getDeviceTemplateObjectOverrides
      parameters:
      - description: UUID of the device template.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/objectoverrides/{objectId}
                  ( Get declared object overrides that are assigned to the device template )'
                : value:
                    declaredObjectOverrides:
                    - description: Host object description
                      id: 0050568A-7F07-0ed3-0000-021474837089
                      links:
                        self: /api/fmc_config/v1/domain/{domainUUID}/object/hosts/0050568A-7F07-0ed3-0000-021474837089
                      name: HostObj
                      type: Host
                    - description: Network object description
                      id: 0050568D-7F07-0ed3-0000-02147485670
                      links:
                        self: /api/fmc_config/v1/domain/{domainUUID}/object/networks/0050568D-7F07-0ed3-0000-02147485670
                      name: NetworkObj
                      type: Network
              schema:
                $ref: '#/components/schemas/DeviceTemplateObjectOverrides'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    put:
      deprecated: false
      description: '**Modify the object overrides list associated with the specified device template. _Check the response
        section for applicable examples (if any)._**'
      operationId: updateDeviceTemplateObjectOverrides
      parameters:
      - description: UUID of the device template.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/objectoverrides/{containerUUID}
                ( updates the declared object overrides list that is assigned to the device template )'
              : value:
                  declaredObjectOverrides:
                  - id: 0050568A-5389-0ed3-0000-025769803828
                    name: host1
                    type: Host
                  - id: cb7116e8-66a6-480b-8f9b-295191a0940a
                    name: any-ipv4
                    type: Network
                  id: faeccc4a-5787-11ee-9307-d93051c4a2c5
            schema:
              $ref: '#/components/schemas/DeviceTemplateObjectOverrides'
              type: object
        description: Input representation of device template object override model.
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : PUT /api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/objectoverrides/{containerUUID}
                  ( updates the declared object overrides list that is assigned to the device template )'
                : value:
                    declaredObjectOverrides:
                    - description: Host object description
                      id: 0050568A-5389-0ed3-0000-025769803828
                      links:
                        self: /api/fmc_config/v1/domain/{domainUUID}/object/hosts/0050568A-5389-0ed3-0000-025769803828
                      name: host1
                      type: Host
                    - description: Network object description
                      id: cb7116e8-66a6-480b-8f9b-295191a0940a
                      links:
                        self: /api/fmc_config/v1/domain/{domainUUID}/object/networks/cb7116e8-66a6-480b-8f9b-295191a0940a
                      name: any-ipv4
                      type: Network
                    links:
                      self: /api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/TemplateUUID/objectoverrides/objectId
                    metadata:
                      domain:
                        id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                        name: Global
                        type: Domain
                      lastUser:
                        name: admin
                      timestamp: 1687861274283.0
              schema:
                $ref: '#/components/schemas/DeviceTemplateObjectOverrides'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/operational/apply:
    post:
      deprecated: false
      description: '**Apply the given template resource on a list of devices. _Check the response section for applicable examples
        (if any)._**'
      operationId: createDeviceTemplateApply
      parameters:
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/{containerUUID}/operational/apply
                ( POST method for Device Template Apply on a list of devices )'
              : value:
                  applyToDevices:
                  - device:
                      id: 3cc4e158-9279-11ee-a018-648a1c6d9b87
                      type: DEVICE
                    overriddenValues:
                      fqdns:
                      - id: 0050568D-7F07-0ed3-0000-021474956484
                        name: FQDNObject
                        type: FQDN
                        value: abc.example.com
                      hosts:
                      - id: 0050568D-7F07-0ed3-0000-02147485670
                        name: HostObj
                        type: Host
                        value: 209.165.200.225
                      networks:
                      - id: 0050568C-0030-0ed3-0000-034359738418
                        name: NetworkObject
                        type: Network
                        value: 209.165.200.224/27
                      ranges:
                      - id: 0050568C-0030-0ed3-0000-034359787458
                        name: RangeObject
                        type: Range
                        value: 209.165.200.225-209.165.200.228
                    postApplyAction: DEPLOY
                    variableValues:
                    - key: bgpAsnumber
                      value: '4'
                    - key: insideIp4v
                      value: 1.1.1.1/25
            schema:
              $ref: '#/components/schemas/DeviceTemplateApply'
              type: object
        description: Input representation of device template apply model.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/{containerUUID}/operational/apply
                  ( POST method for Device Template Apply on a list of devices )'
                : value:
                    applyToDevices:
                    - device:
                        id: 3cc4e158-9279-11ee-a018-648a1c6d9b87
                        name: Device1
                        type: Device
                      overriddenValues:
                        networks:
                        - id: 0050568D-7F07-0ed3-0000-02147485670
                          name: HostObj
                          overridable: true
                          type: Network
                          value: 1.1.1.1
                        - id: 0050568D-7F07-0ed3-0000-021474956484
                          name: FQDNObject
                          overridable: true
                          type: Network
                          value: downloads.cisco.com
                        - id: 0050568C-0030-0ed3-0000-034359738418
                          name: NetworkObject
                          overridable: true
                          type: Network
                          value: 192.188.100.0/24
                        - id: 0050568C-0030-0ed3-0000-034359787458
                          name: RangeObject
                          overridable: true
                          type: Network
                          value: 10.4.30.40-10.4.30.50
                      variableValues:
                      - key: bgpAsnumber
                        value: '4'
                      - key: insideIp4v
                        value: 1.1.1.1/25
                    metadata:
                      task:
                        description: Template Apply has started
                        id: '25769804964'
                        links:
                          self: https://u32c01p06-vrouter.cisco.com:31016/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/job/taskstatuses/25769804964
                        status: '200'
                        taskType: DEVICE_TEMPLATE_APPLY
              schema:
                $ref: '#/components/schemas/DeviceTemplateApply'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/templateinterfaces:
    get:
      deprecated: false
      description: '**Get all physical interfaces associated with the specified device template.**'
      operationId: getAllFTDTemplatePhysicalInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/templates/devicetemplates/{containerUUID}/templateinterfaces
                  ( Get all method for retrieving all Template physical interfaces for a given container UUID )'
                : value:
                    items:
                    - id: 00000000-0000-0ed3-0000-004294967561
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/templateinterfaces?expanded=true/00000000-0000-0ed3-0000-004294967561
                      metadata:
                        physicalInterface:
                          id: 00000000-0000-0ed3-0000-004294967561
                          links:
                            self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b02a4b38-c000-11ee-b131-635e66f9d48b/physicalinterfaces/00000000-0000-0ed3-0000-004294967561
                          type: PhysicalInterface
                        state: COMMITTED
                        timestamp: 1706681990739.0
                      name: Ethernet1/1
                      port: 1
                      slot: 1
                      type: TemplateInterface
                    - id: 00000000-0000-0ed3-0000-004294967562
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/templateinterfaces?expanded=true/00000000-0000-0ed3-0000-004294967562
                      metadata:
                        physicalInterface:
                          id: 00000000-0000-0ed3-0000-004294967562
                          links:
                            self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b02a4b38-c000-11ee-b131-635e66f9d48b/physicalinterfaces/00000000-0000-0ed3-0000-004294967562
                          type: PhysicalInterface
                        state: COMMITTED
                        timestamp: 1706681990765.0
                      name: Ethernet1/2
                      port: 2
                      slot: 1
                      type: TemplateInterface
                    - id: 00000000-0000-0ed3-0000-004294967935
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/templateinterfaces?expanded=true/00000000-0000-0ed3-0000-004294967935
                      metadata:
                        physicalInterface:
                          id: 00000000-0000-0ed3-0000-004294967935
                          links:
                            self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b02a4b38-c000-11ee-b131-635e66f9d48b/physicalinterfaces/00000000-0000-0ed3-0000-004294967935
                          type: PhysicalInterface
                        state: COMMITTED
                        timestamp: 1706786065748.0
                      name: Ethernet1/3
                      port: 3
                      slot: 1
                      type: TemplateInterface
                    - id: 00000000-0000-0ed3-0000-004294967563
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/templateinterfaces?expanded=true/00000000-0000-0ed3-0000-004294967563
                      metadata:
                        physicalInterface:
                          id: 00000000-0000-0ed3-0000-004294967563
                          links:
                            self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b02a4b38-c000-11ee-b131-635e66f9d48b/physicalinterfaces/00000000-0000-0ed3-0000-004294967563
                          type: PhysicalInterface
                        state: COMMITTED
                        timestamp: 1706681990790.0
                      name: Management0/0
                      port: 0
                      slot: 0
                      type: TemplateInterface
              schema:
                $ref: '#/components/schemas/FTDTemplatePhysicalInterfaceListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    post:
      deprecated: false
      description: '**Add physical interfaces to the device template. _Check the response section for applicable examples
        (if any)._**'
      operationId: createFTDTemplatePhysicalInterface
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                ( POST method for Template physical interface for a given container UUID )'
              : value:
                  port: 4
                  slot: 1
              ? 'Example 6 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                ( FAILURE: Port is not provided in the payload )'
              : value:
                  slot: 1
              ? 'Example 7 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                ( FAILURE: Slot is not provided in the payload )'
              : value:
                  port: 4
              ? 'Example 8 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                ( FAILURE: An empty payload is provided )'
              : value: {}
            schema:
              $ref: '#/components/schemas/FTDTemplatePhysicalInterface'
              type: object
        description: The input representation of template physical interface model.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                  ( POST method for Template physical interface for a given container UUID )'
                : value:
                    id: 0050568A-3B37-0ed3-0000-103079215165
                    links:
                      self: https://u32c01p10-vrouter.cisco.com:30525/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b6ec89a2-1017-11ee-a1ae-dceab7cdbae5/templateinterfaces/0050568A-3B37-0ed3-0000-103079215165
                    metadata:
                      physicalInterface:
                        id: 0050568A-3B37-0ed3-0000-103079215165
                        links:
                          self: https://u32c01p10-vrouter.cisco.com:30525/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b6ec89a2-1017-11ee-a1ae-dceab7cdbae5/physicalinterfaces/0050568A-3B37-0ed3-0000-103079215165
                        type: PhysicalInterface
                      state: COMMITTED
                      timestamp: 1687861274283.0
                    name: Ethernet1/4
                    port: 4
                    slot: 1
                    type: TemplateInterface
              schema:
                $ref: '#/components/schemas/FTDTemplatePhysicalInterface'
                type: object
          description: Created
        '422':
          content:
            application/json:
              examples:
                ? 'Example 6 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                  ( FAILURE: Port is not provided in the payload )'
                : value:
                    error:
                      category: FRAMEWORK
                      messages:
                      - description: Port cannot be empty. Port should be in the range of 1 to 16.
                      severity: ERROR
                ? 'Example 7 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                  ( FAILURE: Slot is not provided in the payload )'
                : value:
                    error:
                      category: FRAMEWORK
                      messages:
                      - description: Slot cannot be empty. Slot should be either 1 or 2.
                      severity: ERROR
                ? 'Example 8 : POST /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces
                  ( FAILURE: An empty payload is provided )'
                : value:
                    error:
                      category: FRAMEWORK
                      messages:
                      - description: Both slot and port are empty. Slot and plot cannot be null.
                      severity: ERROR
              schema:
                $ref: '#/components/schemas/FTDTemplatePhysicalInterface'
                type: object
          description: Unprocessable Entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/templateinterfaces/{objectId}:
    delete:
      deprecated: false
      description: '**Remove the specified physical interface from the device template. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteFTDTemplatePhysicalInterface
      parameters:
      - description: UUID of the physical interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : DELETE /fmc_config/v1/domain/domainUUID/templates/devicetemplates/containerUUID/templateinterfaces/objectId
                  ( DELETE method for Template physical interface for a given container UUID and objectId )'
                : value:
                    id: 0050568A-3B37-0ed3-0000-103079215165
                    links:
                      self: https://u32c01p10-vrouter.cisco.com:30525/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b6ec89a2-1017-11ee-a1ae-dceab7cdbae5/templateinterfaces/0050568A-3B37-0ed3-0000-103079215165/0050568A-3B37-0ed3-0000-103079215165
                    metadata:
                      physicalInterface:
                        id: 0050568A-3B37-0ed3-0000-103079215165
                        links:
                          self: https://u32c01p10-vrouter.cisco.com:30525/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b6ec89a2-1017-11ee-a1ae-dceab7cdbae5/physicalinterfaces/0050568A-3B37-0ed3-0000-103079215165
                        type: PhysicalInterface
                      state: COMMITTED
                      timestamp: 1687861963615.0
                    name: Ethernet1/4
                    port: 4
                    slot: 1
                    type: TemplateInterface
              schema:
                $ref: '#/components/schemas/FTDTemplatePhysicalInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    get:
      deprecated: false
      description: '**Get the physical interface associated with the specified ID on the device template.**'
      operationId: getFTDTemplatePhysicalInterface
      parameters:
      - description: UUID of the physical interface.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/templates/devicetemplates/{containerUUID}/templateinterfaces/{objectId}
                  ( GET method for retrieving the specified Template physical interface for a given container UUID )'
                : value:
                    id: 00000000-0000-0ed3-0000-004294967935
                    links:
                      self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/devicetemplates/b02a4b38-c000-11ee-b131-635e66f9d48b/templateinterfaces/00000000-0000-0ed3-0000-004294967935/00000000-0000-0ed3-0000-004294967935
                    metadata:
                      physicalInterface:
                        id: 00000000-0000-0ed3-0000-004294967935
                        links:
                          self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/devices/devicerecords/b02a4b38-c000-11ee-b131-635e66f9d48b/physicalinterfaces/00000000-0000-0ed3-0000-004294967935
                        type: PhysicalInterface
                      state: COMMITTED
                      timestamp: 1706786065748.0
                    name: Ethernet1/3
                    port: 3
                    slot: 1
                    type: TemplateInterface
              schema:
                $ref: '#/components/schemas/FTDTemplatePhysicalInterface'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/variables:
    get:
      deprecated: false
      description: '**Get the variables associated with a given device template.**'
      operationId: getDeviceTemplateVariables
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/TemplateUUID/variables?offset=0&limit=25&expanded=true
                  ( Get all variables that are assigned to the device template )'
                : value:
                    items:
                    - description: test desc
                      id: 0050568A-C113-0ed3-0000-038654705733
                      links:
                        parent: /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/TemplateUUID/variables
                        self: /api/fmc_config/v1/domain/DomainUUID/object/variables/VariableUUID
                      metadata:
                        domain:
                          id: e276abec-e0f2-11e3-8169-6d9ed49b625f
                          name: Global
                          type: Domain
                        lastUser:
                          name: user
                        timestamp: 1681800760796.0
                      name: test
                      overridable: false
                      type: Variable
                      value: 1.1.1.1
                      variableType: IPV4_NETWORK
                    links:
                      self: /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/TemplateUUID/variables?offset=0&limit=25&expanded=true
                    paging:
                      count: 1
                      limit: 25
                      offset: 0
                      pages: 1
              schema:
                $ref: '#/components/schemas/DeviceTemplateVariablesListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/vpnsettings:
    get:
      deprecated: false
      description: '**Get the list of all VPN settings associated with a device template.**'
      operationId: getAllVpnSettingModel
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSettingModelListContainer'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    post:
      deprecated: false
      description: '**Create a new VPN setting for a device template. _Check the response section for applicable examples
        (if any)._**'
      operationId: createVpnSettingModel
      parameters:
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/vpnsettings
                ( Add a vpntemplatesetting )'
              : value:
                  protectedNetworks:
                  - id: f0ce41ae-6ee9-4e00-8762-da9370c4fee5
                    name: IPv4-Link-Local
                    type: Network
                  - id: 5622db1c-5cd5-4199-a4c8-d8f86dec3bd4
                    name: IPv4-Multicast
                    type: Network
                  s2sVpnSettings:
                    peerRole: SPOKE
                    s2sVpn:
                      id: 0050568C-430C-0ed3-0000-017179870036
                      name: vpn1
                      type: FTDS2SVPN
                  vpnConnections:
                  - ipAddrSelectionType: CONFIGURE_INLINE_PUBLIC_IP
                    ipv4Address:
                      variable:
                        id: 0050568C-430C-0ed3-0000-150323856281
                        name: ip4interfaceAddress1
                        type: Variable
                    localTunnelIdentity:
                      isLocalTunnelIdEnabled: true
                      localIdentityType: KEYID
                      localIdentityVariable:
                        id: 0050568C-430C-0ed3-0000-150323856263
                        name: ip4interfaceAddress1
                        type: Variable
                    vpnInterface:
                      id: 0050568C-430C-0ed3-0000-201863463048
                      name: Ethernet1/1
                      type: PhysicalInterface
            schema:
              $ref: '#/components/schemas/VpnSettingModel'
              type: object
        description: Request input of VPN Setting.
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSettingModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/vpnsettings/{objectId}:
    delete:
      deprecated: false
      description: '**Delete the VPN setting associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: deleteVpnSettingModel
      parameters:
      - description: UUID of the VPN setting.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSettingModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    get:
      deprecated: false
      description: '**Get the VPN setting associated with the specified ID.**'
      operationId: getVpnSettingModel
      parameters:
      - description: UUID of the VPN setting.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSettingModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    put:
      deprecated: false
      description: '**Update the VPN setting associated with the specified ID. _Check the response section for applicable
        examples (if any)._**'
      operationId: updateVpnSettingModel
      parameters:
      - description: UUID of the VPN setting.
        in: path
        name: objectId
        required: true
        schema:
          type: string
      - description: UUID of the ticket for tracking the configuration changes.
        in: header
        name: ticket-id
        required: false
        schema:
          type: string
      - description: The container id under which this specific resource is contained.
        in: path
        name: containerUUID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : PUT /fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/{containerUUID}/vpnsettings/{objectId}
                ( Update a vpntemplatesetting )'
              : value:
                  protectedNetworks:
                  - id: f0ce41ae-6ee9-4e00-8762-da9370c4fee5
                    name: IPv4-Link-Local
                    type: Network
                  - id: 5622db1c-5cd5-4199-a4c8-d8f86dec3bd4
                    name: IPv4-Multicast
                    type: Network
                  s2sVpnSettings:
                    peerRole: SPOKE
                    s2sVpn:
                      id: 0050568C-430C-0ed3-0000-017179870036
                      name: vpn1
                      type: FTDS2SVPN
                  vpnConnections:
                  - ipAddrSelectionType: CONFIGURE_INLINE_PUBLIC_IP
                    ipv4Address:
                      variable:
                        id: 0050568C-430C-0ed3-0000-150323856281
                        name: ip4interfaceAddress1
                        type: Variable
                    localTunnelIdentity:
                      isLocalTunnelIdEnabled: true
                      localIdentityType: KEYID
                      localIdentityVariable:
                        id: 0050568C-430C-0ed3-0000-150323856263
                        name: ip4interfaceAddress1
                        type: Variable
                    vpnInterface:
                      id: 0050568C-430C-0ed3-0000-201863463048
                      name: Ethernet1/1
                      type: PhysicalInterface
            schema:
              $ref: '#/components/schemas/VpnSettingModel'
              type: object
        description: Request input of VPN Setting.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSettingModel'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/devicetemplates/operational/generatetemplate:
    post:
      deprecated: false
      description: '**Generate a template based on a given device. _Check the response section for applicable examples (if
        any)._**'
      operationId: createDeviceTemplateConversionRequestModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      requestBody:
        content:
          application/json:
            examples:
              ? 'Example 1 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/operational/generatetemplate
                ( Post a device template generation request with proper payload )'
              : value:
                  description: Template generated from device
                  name: Generated template
                  source:
                    id: 9c5214e0-9e2e-11ee-8dba-9d2a196573a0
                    type: Device
              ? 'Example 2 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/operational/generatetemplate
                ( Post a device template generation request with non source device Access Policy with proper payload )'
              : value:
                  accessPolicy:
                    id: 00505686-726B-0ed3-0000-008589935794
                    type: AccessPolicy
                  description: Template generated from device
                  name: Generated template
                  source:
                    id: 9c5214e0-9e2e-11ee-8dba-9d2a196573a0
                    type: Device
            schema:
              $ref: '#/components/schemas/DeviceTemplateConversionRequestModel'
              type: object
        description: Template generation payload.
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ? 'Example 1 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/operational/generatetemplate
                  ( Post a device template generation request with proper payload )'
                : value:
                    description: template
                    metadata:
                      task:
                        description: Device to template conversion has started
                        id: '81604391786'
                        links:
                          self: /api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/job/taskstatuses/81604391786
                        status: '200'
                        taskType: DEVICE_TEMPLATE_CREATION
                    name: name
                    source:
                      id: a39251d2-2c9d-11ee-ac14-940709f5d2e6
                      type: DEVICE
                ? 'Example 2 : POST /api/fmc_config/v1/domain/DomainUUID/templates/devicetemplates/operational/generatetemplate
                  ( Post a device template generation request with non source device Access Policy with proper payload )'
                : value:
                    description: template
                    metadata:
                      task:
                        description: Device to template conversion has started
                        id: '81604391786'
                        links:
                          self: /api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/job/taskstatuses/81604391786
                        status: '200'
                        taskType: DEVICE_TEMPLATE_CREATION
                    name: name
                    source:
                      id: a39251d2-2c9d-11ee-ac14-940709f5d2e6
                      type: DEVICE
              schema:
                $ref: '#/components/schemas/DeviceTemplateConversionRequestModel'
                type: object
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                type: object
          description: Error
      tags:
      - Templates
    servers:
    - url: https://api.us.security.cisco.com/firewall
      description: US
    - url: https://api.eu.security.cisco.com/firewall
      description: EU
    - url: https://api.apj.security.cisco.com/firewall
      description: APJ
    - url: https://api.au.security.cisco.com/firewall
      description: AUS
    - url: https://api.in.security.cisco.com/firewall
      description: IN
    - url: https://api.int.security.cisco.com/firewall
      description: Staging
    - url: https://scale.manage.security.cisco.com/api/rest
      description: Scale
    - url: https://ci.manage.security.cisco.com/api/rest
      description: CI
    - url: https://manage.stg.secure.cisco/api/rest
      description: Stgf9
  /v1/cdfmc/api/fmc_config/v1/domain/{domainUUID}/templates/supporteddevicemodels:
    get:
      deprecated: false
      description: '**Get the list of supported device models.**'
      operationId: getAllSupportedDeviceModel
      parameters:
      - $ref: '#/components/parameters/domainUUID'
        name: domainUUID
      - $ref: '#/components/parameters/offset'
        name: offset
      - $ref: '#/components/parameters/limit'
        name: limit
      - $ref: '#/components/parameters/expanded'
        name: expanded
      responses:
        '200':
          content:
            application/json:
              examples:
                ? 'Example 1 : GET /fmc_config/v1/domain/domainUUID/templates/supporteddevicemodels ( Get all supported models
                  for device templates )'
                : value:
                    items:
                    - id: FTD_3105
                      interfaces:
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/1
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/2
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/3
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/4
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/5
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/6
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/7
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: Ethernet1/8
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/9
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/10
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/11
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/12
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/13
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/14
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/15
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: SFP
                        name: Ethernet1/16
                        poeSupported: false
                        supportedSpeeds: THOUSAND,TEN_THOUSAND,DETECT_SFP
                        switchPortSupported: false
                      links:
                        self: https://u32c01p12-vrouter.cisco.com:17701/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/templates/supporteddevicemodels/FTD_3105
                      modelName: Cisco Secure Firewall 3105 Threat Defense
                      name: FTD_3105
                      type: SupportedDeviceModel
                    - id: vFTD
                      interfaces:
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/0
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/1
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/2
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/3
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/4
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
                        switchPortSupported: false
                      - ftwSupported: false
                        mediaType: RJ45
                        name: GigabitEthernet0/5
                        poeSupported: false
                        supportedSpeeds: TEN,HUNDRED,THOUSAND,AUTO
[...]
