openapi: 3.2.0
info:
  title: Mesh Policy Engine API Entitlement API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: API Entitlement
paths:
  /security/roleassignments:
    get:
      description: 'Roles allowed: support'
      operationId: getAllRoleAssignments
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserToRole'
                type: array
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get roles assigned to all users
      tags:
      - API Entitlement
  /security/roleassignments/admin/{userId}:
    put:
      description: 'Roles allowed: all'
      operationId: addRoleAdmin
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Assign admin role to user
      tags:
      - API Entitlement
  /security/roleassignments/roles/{roleId}:
    get:
      description: 'Roles allowed: entitlements-manager,support'
      operationId: getUsersInRole
      parameters:
      - in: path
        name: roleId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get users in particular role
      tags:
      - API Entitlement
  /security/roleassignments/users/{userId}:
    get:
      description: 'Roles allowed: entitlements-manager,support'
      operationId: getUserRoles
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get roles of user
      tags:
      - API Entitlement
  /security/roleassignments/{roleId}/users/{userId}:
    delete:
      description: 'Roles allowed: entitlements-manager'
      operationId: deleteUserFromRole
      parameters:
      - in: path
        name: roleId
        required: true
        schema:
          type: string
      - in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Delete role of user
      tags:
      - API Entitlement
    put:
      description: 'Roles allowed: entitlements-manager'
      operationId: addUserToRole
      parameters:
      - in: path
        name: roleId
        required: true
        schema:
          type: string
      - in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Assign role to user
      tags:
      - API Entitlement
components:
  schemas:
    UserToRole:
      properties:
        createdTime:
          format: date-time
          type: string
        modifiedTime:
          format: date-time
          type: string
        roleId:
          type: string
        userId:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
