openapi: 3.2.0
info:
  title: Mesh Policy Engine System Info API
  version: 6.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Security Cloud Control
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    note: Published by Cisco. Retrieved unmodified except for this x-provenance block.
    provider_published: true
  x-evidence:
  - type: source
    url: https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/mesh-policy.yaml
  - type: raw
    url: https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/mesh-policy.yaml
servers:
- url: https://api.security.cisco.com/pinacl/api
security:
- BearerJWT: []
tags:
- name: System Info
paths:
  /support/backend-version:
    get:
      description: 'Roles allowed: all'
      operationId: getPinaclBackendVersion
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get backend version
      tags:
      - System Info
  /support/frontend-version:
    get:
      description: 'Roles allowed: all'
      operationId: getPinaclFrontendVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinaclVersion'
          description: Ok
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: Get frontend version
      tags:
      - System Info
components:
  schemas:
    PinaclVersion:
      properties:
        version:
          type: string
      type: object
  securitySchemes:
    BearerJWT:
      bearerFormat: jwt
      scheme: bearer
      type: http
