{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Provisioning APIs for activating and managing entitlements, subscriptions, and claim codes",
    "title": "Provisioning APIs",
    "version": "1.0.1",
    "x-provenance": {
      "method": "harvested",
      "authored_by": "Cisco Security Cloud Control",
      "harvested_by": "API Evangelist",
      "harvested_on": "2026-08-19",
      "first_party": true,
      "note": "Published by Cisco. Retrieved unmodified except for this x-provenance block.",
      "provider_published": true
    },
    "x-evidence": [
      {
        "type": "source",
        "url": "https://github.com/CiscoDevNet/scc-public-api-docs/blob/main/specs/provisioning.yaml"
      },
      {
        "type": "raw",
        "url": "https://raw.githubusercontent.com/CiscoDevNet/scc-public-api-docs/main/specs/provisioning.yaml"
      }
    ]
  },
  "servers": [
    {
      "url": "https://api.int.security.cisco.com/provisioning"
    }
  ],
  "paths": {
    "/claim-code/claim": {
      "post": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Process claim code to provision subscriptions and product instances for an enterprise",
        "tags": [
          "Claim Code"
        ],
        "summary": "Claim Code for Subscription",
        "operationId": "claim-code-subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.ClaimSubscription"
              }
            }
          },
          "description": "Claim code subscription details for processing",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully claimed and provisioned product instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input data, missing enterprise ID, or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - user is not admin of the enterprise or claim is blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - claim code or enterprise not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - claim code already used or provisioning conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during provisioning",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/claim-code/read": {
      "post": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Retrieve product instances associated with a specific claim code for an enterprise",
        "tags": [
          "Claim Code"
        ],
        "summary": "Get Product Instances by Claim Code",
        "operationId": "get-product-instances-by-claim-code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.ClaimCodeReadRequest"
              }
            }
          },
          "description": "Claim code read request containing claim_code and enterprise_id",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.ProductInstancesAndRegionsAndServices"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - user is not admin of the enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - claim code or enterprise not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/msp-claim-code/claim": {
      "post": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Process MSP-specific claim code to provision subscriptions and product instances for managed service provider environments",
        "tags": [
          "Claim Code"
        ],
        "summary": "MSP Claim Code for Subscription",
        "operationId": "msp-claim-code-subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.ClaimSubscription"
              }
            }
          },
          "description": "MSP claim code subscription details for processing",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully claimed and provisioned MSP product instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation errors, client-side errors, or invalid MSP configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token issues or admin permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rate limits, trials, or SKU restrictions for MSP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - MSP claim code or enterprise not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - MSP claim code already used or provisioning conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - database or provisioning failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Get all active Product Instance for a customer by Enterprise Id",
        "tags": [
          "Enterprise"
        ],
        "summary": "Get Customer's Product Instance By Enterprise Id",
        "operationId": "GetCustomerProductInstances",
        "parameters": [
          {
            "description": "Enterprise Id",
            "name": "enterprise_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product instances for the enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.ProductInstanceWithMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid enterprise ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not admin of the enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/region-hierarchy": {
      "get": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "API returns the regional hierarchy details of the enterprise",
        "tags": [
          "Enterprise"
        ],
        "summary": "Get Regional Hierarchy",
        "operationId": "GetEnterpriseRegionHierarchy",
        "responses": {
          "200": {
            "description": "Regional hierarchy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.RegionalHierarchy"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/{enterpriseId}/products": {
      "get": {
        "security": [
          {
            "ServiceTokenBearerAuth": [
              "security:provisioning:tenants:read"
            ]
          }
        ],
        "description": "Retrieve a list of product instances for a specific enterprise, including enterprise details and product information",
        "tags": [
          "Enterprise"
        ],
        "summary": "Get Product Instances for Enterprise",
        "operationId": "get-product-instances-for-enterprise",
        "parameters": [
          {
            "description": "Enterprise ID (UUID format)",
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved enterprise product instances with enterprise name, license state, and product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.EnterpriseProductInstances"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid enterprise ID format or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication credentials were missing or incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the request is understood, but access is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - enterprise or product instances not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/{enterpriseId}/platform-subscription": {
      "post": {
        "security": [
          {
            "ServiceTokenBearerAuth": [
              "security:provisioning:tenants:read"
            ]
          }
        ],
        "description": "Creates Customer Enterprise Record, Platform Bootstrap Subscription and provision Platform Bootstrap Products for given enterpriseId",
        "tags": [
          "Enterprise"
        ],
        "summary": "Creates Platform Bootstrap Subscription and provision Platform Bootstrap Products for given enterpriseId",
        "operationId": "PostPlatformRoute",
        "parameters": [
          {
            "description": "enterprise Id(uuid)",
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/routes.PlatformBootstrapRequest"
              }
            }
          },
          "description": "Platform Bootstrap Payload",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials were missing or incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{managerId}/entitlements": {
      "get": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Retrieves entitlements for a specific managed organization. User must be admin of the organization. Supports pagination and search.",
        "tags": [
          "MSP Entitlements Management"
        ],
        "summary": "Get organization entitlements",
        "operationId": "GetOrgEntitlements",
        "parameters": [
          {
            "description": "Manager Organization ID (UUID)",
            "name": "managerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of records to return (default: 10)",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of records to skip (default: 0)",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Search term for filtering entitlements",
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Managed organization ID for filtering",
            "name": "managedOrgId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.OrgEntitlements"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not admin of organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{managerId}/managed/{managedId}/entitlements": {
      "get": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "List all active entitlements at the SKU level between a manager and managed organization",
        "tags": [
          "MSP Entitlements Management"
        ],
        "summary": "Get Entitlements for Managed Organization",
        "operationId": "get-managed-entitlements",
        "parameters": [
          {
            "description": "Manager organization ID (UUID format)",
            "name": "managerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "Managed organization ID (UUID format)",
            "name": "managedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "Number of results per page (default 10)",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "description": "Pagination offset (default 0)",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved organization entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.OrgEntitlements"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid enterprise ID, limit, or offset value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - user is not admin of the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - access to entitlements is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - manager or managed organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ServiceTokenBearerAuth": [
              "security:provisioning:subscriptions:write"
            ]
          }
        ],
        "description": "Revoke all entitlemendts shared from a manager organization to a managed organization",
        "tags": [
          "MSP Entitlements Management"
        ],
        "summary": "Revoke entitlements for an organization",
        "operationId": "delete-managed-entitlements",
        "parameters": [
          {
            "description": "ManagerID(UUID)",
            "name": "managerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ManagedID(UUID)",
            "name": "managedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.RevokeAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Org ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not admin of the manager organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Updates the quantity of entitlements shared from a manager organization to a managed organization",
        "tags": [
          "MSP Entitlements Management"
        ],
        "summary": "Update entitlements between manager and managed organizations",
        "operationId": "update-managed-entitlements",
        "parameters": [
          {
            "description": "Manager Organization ID (UUID)",
            "name": "managerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Managed Organization ID (UUID)",
            "name": "managedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.UpdateEntitlementsRequest"
              }
            }
          },
          "description": "Request body containing subscription and SKU details to update",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.UpdateEntitlementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid UUID format, request body, minimum quantity not met, or managed org not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "User is not an admin of manager or managed org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "description": "Get Server Health by checking if db is active",
        "tags": [
          "Health"
        ],
        "summary": "Get Server Health",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Health"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{managerOrgId}/revoke-info": {
      "put": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "API for getting the revoked managed orgs info for a given manager enterprise and update the status as shown",
        "tags": [
          "MSP Organizations Management"
        ],
        "summary": "Get the revoked managed orgs info for a given manager enterprise and update the status as shown",
        "operationId": "HandleMspRevokedManagedOrgsInfo",
        "parameters": [
          {
            "description": "Id of the Manager Org whose Managed Orgs are revoked",
            "name": "managerOrgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.MspRevokedManagedOrgsInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid enterprise id provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed or user is not the admin of the enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/productInstance/{instanceId}/provision": {
      "post": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Provisions a product instance with the given ID",
        "tags": [
          "Product Instance"
        ],
        "summary": "Provision a product instance",
        "operationId": "provision-product-instance",
        "parameters": [
          {
            "description": "ID of the product instance to provision",
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.ProductInstanceProvisionRequest"
              }
            }
          },
          "description": "Provisioning request details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Provisioning completed successfully"
          },
          "202": {
            "description": "Accepted - Provisioning is in progress"
          },
          "400": {
            "description": "Bad Request - Invalid instance ID or request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not an admin of the associated enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Product is not provisionable via API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Product already exists for enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency - Error during provisioning",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error during provisioning",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/productInstance/{instanceId}/applyLicenses": {
      "post": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Applies licenses from a source product instance to a target product instance",
        "tags": [
          "Product Instance"
        ],
        "summary": "Apply licenses from a source product instance to a target product instance",
        "operationId": "apply-product-instance-licenses",
        "parameters": [
          {
            "description": "ID of the product instance to apply licenses to",
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/model.ProductInstanceApplyLicensesRequest"
              }
            }
          },
          "description": "Apply licenses request details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Licenses applied successfully"
          },
          "400": {
            "description": "Bad Request - Invalid instance ID, customer mismatch, or product mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Required - Customers do not match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Error applying licenses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    },
    "/productInstance/{instanceId}/reset": {
      "put": {
        "security": [
          {
            "EnterpriseAdminBearerAuth": [
              "security:enterprise:admin:{enterprise_id}"
            ]
          }
        ],
        "description": "Resets a product instance to NEW status, clearing external tenant ID and other provisioning data",
        "tags": [
          "Product Instance"
        ],
        "summary": "Reset a product instance",
        "operationId": "reset-product-instance",
        "parameters": [
          {
            "description": "ID of the product instance to reset",
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reset product instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.ProductInstance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid instance ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid scope or user not admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Error resetting product instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/model.Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "model.ClaimSubscription": {
        "type": "object",
        "properties": {
          "claim_code": {
            "type": "string"
          },
          "enterprise_id": {
            "type": "string"
          },
          "enterprise_name": {
            "type": "string"
          },
          "enterprise_type": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ClaimCodeProduct"
            }
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ClaimCodeServices"
            }
          }
        }
      },
      "model.ClaimCodeProduct": {
        "type": "object",
        "required": [
          "id",
          "region"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "is_use_existing_tenant_set": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/model.Region"
          }
        }
      },
      "model.ClaimCodeReadRequest": {
        "type": "object",
        "properties": {
          "claim_code": {
            "type": "string"
          },
          "enterprise_id": {
            "type": "string"
          }
        }
      },
      "model.ClaimCodeServices": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "is_use_existing_tenant_set": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "model.ProductInstanceWithMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_tenant_id": {
            "type": "string"
          },
          "provisioning_status": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/model.Region"
          }
        }
      },
      "model.RegionalHierarchy": {
        "type": "object",
        "properties": {
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.RegionalHierarchy"
            }
          },
          "description": {
            "type": "string"
          },
          "flat_priority": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "tier": {
            "type": "integer"
          }
        }
      },
      "model.EnterpriseProductInstances": {
        "type": "object",
        "properties": {
          "enterpriseName": {
            "type": "string"
          },
          "isLicensed": {
            "type": "boolean"
          },
          "productInstancesInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.MergedProductInstancesInfo"
            }
          }
        }
      },
      "model.MergedProductInstancesInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productName": {
            "type": "string"
          },
          "productType": {
            "type": "string"
          },
          "externalTenantId": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/model.Region"
          },
          "provisioningStatus": {
            "type": "string"
          },
          "isPlatformProduct": {
            "type": "boolean"
          }
        }
      },
      "model.OrgEntitlements": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/model.PaginationInfo"
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.SubnSku"
            }
          }
        }
      },
      "model.PaginationInfo": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "totalRecords": {
            "type": "integer"
          }
        }
      },
      "model.SubnSku": {
        "type": "object",
        "properties": {
          "endDate": {
            "type": "string"
          },
          "externalSubscriptionId": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "skus": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/model.MspSku"
            }
          }
        }
      },
      "model.MspSku": {
        "type": "object",
        "properties": {
          "availableEntitlements": {
            "type": "integer"
          },
          "minEntitlementsQuantity": {
            "type": "integer"
          },
          "productsList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProductConf"
            }
          },
          "reservedEntitlements": {
            "type": "integer"
          },
          "sharedEntitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.SharedEntitlement"
            }
          },
          "skuName": {
            "type": "string"
          }
        }
      },
      "model.ProductConf": {
        "type": "object",
        "properties": {
          "activationStatus": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "operand": {
            "type": "integer"
          },
          "operator": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "model.SharedEntitlement": {
        "type": "object",
        "properties": {
          "assignedEntitlements": {
            "type": "integer"
          },
          "managedOrgId": {
            "type": "string"
          },
          "productsList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProductConf"
            }
          }
        }
      },
      "model.RevokeAPIResponse": {
        "type": "object",
        "properties": {
          "revokedSubscriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "model.UpdateEntitlementsRequest": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.UserSubscription"
            }
          }
        }
      },
      "model.UserSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "skus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.SKU"
            }
          }
        }
      },
      "model.SKU": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "model.UpdateEntitlementResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "provisioningErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.SubscriptionProvisioningError"
            }
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProvisionedSubscription"
            }
          }
        }
      },
      "model.SubscriptionProvisioningError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          }
        }
      },
      "model.ProvisionedSubscription": {
        "type": "object",
        "properties": {
          "endDate": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "skus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProvisionedSKU"
            }
          }
        }
      },
      "model.ProvisionedSKU": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "productInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProductInfo"
            }
          }
        }
      },
      "model.ProductInfo": {
        "type": "object",
        "properties": {
          "assignedEntitlements": {
            "type": "integer"
          },
          "product": {
            "type": "string"
          },
          "productRegion": {
            "type": "string"
          }
        }
      },
      "model.Health": {
        "type": "object",
        "properties": {
          "currentTime": {
            "type": "string"
          },
          "healthStatus": {
            "type": "string"
          },
          "serviceName": {
            "type": "string"
          },
          "serviceStatus": {
            "type": "string"
          }
        }
      },
      "model.MspRevokedManagedOrgsInfo": {
        "type": "object",
        "properties": {
          "managedOrgs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ManagedOrg"
            }
          }
        }
      },
      "model.ManagedOrg": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ManagedOrgProductsList"
            }
          }
        }
      },
      "model.ManagedOrgProductsList": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "model.ProductInstanceProvisionRequest": {
        "type": "object",
        "properties": {
          "additional_metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProvisioningQuestionAnswer"
            }
          },
          "create_new_tenant": {
            "type": "boolean"
          },
          "initial_admin": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "model.ProvisioningQuestionAnswer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "model.ProductInstanceApplyLicensesRequest": {
        "type": "object",
        "properties": {
          "sourceInstanceId": {
            "type": "string"
          }
        }
      },
      "model.ProductInstance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "external_tenant_id": {
            "type": "string"
          },
          "provisioning_status": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/model.Region"
          }
        }
      },
      "model.ProductInstancesAndRegionsAndServices": {
        "type": "object",
        "properties": {
          "all_regions": {
            "$ref": "#/components/schemas/model.RegionalHierarchy"
          },
          "productInstances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.ProductInstance"
            }
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.Services"
            }
          }
        }
      },
      "model.Services": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "is_unified_onboarding_supported": {
            "type": "boolean"
          },
          "product_allowed_regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/model.Region"
            }
          }
        }
      },
      "model.Region": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "model.Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "routes.PlatformBootstrapRequest": {
        "type": "object",
        "required": [
          "enterprise_name"
        ],
        "properties": {
          "enterprise_name": {
            "type": "string"
          },
          "initial_admin": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "EnterpriseAdminBearerAuth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://id.cisco.com/oauth2/default/v1/token",
            "scopes": {
              "security:enterprise:admin:{enterprise_id}": "Grants enterprise admin access with dynamic enterprise ID validation"
            }
          }
        }
      },
      "ServiceTokenBearerAuth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://id.cisco.com/oauth2/default/v1/token",
            "scopes": {
              "security:provisioning:tenants:read": "Grants read access to provisioning tenants",
              "security:provisioning:subscriptions:write": "Grants write access to provisioning subscriptions"
            }
          }
        }
      }
    }
  }
}